[2017-11-03 08:52] mingchou commented on #222
[spec](http://w3c.github.io/html/editing.html#drag-and-drop-processing-model) says "From the moment that the user agent is to initiate the drag-and-drop operation, until the end of the drag-and-drop operation, device input events (e.g., mouse and keyboard events) must be suppressed." This answers my first question about when to continue firing pointer events.

Regarding boundary events, Edge fires

[2017-11-03 13:41] NavidZ commented on #222
Sorry. I missed this one too before. Alright. You are right. We recently started sending pointercancel after drag operation starts and I intentionally for the first round didn't send the boundary events. We already hit some regressions in some js library by sending pointercancel when mouse starts dragging and we send pointercancel for it. But now we solved them and didn't hear anything else so far

[2017-11-03 14:57] mingchou commented on #222
Edge doesn't fire pointercancel. It fires dragstart, pointerout, and pointerleave.

Since the [spec](http://w3c.github.io/html/editing.html#drag-and-drop-processing-model) already defines that input events must be suppressed when starting a dnd operation until it is finished. I think the behaviour is clear to me. But if we can have a link to that, it will be very helpful when reading the pointer e

[2017-11-08 11:28] felipenmoura opened #228 "Touch/Trackpad finger position"
Hi.
I hope this is the right place to mention this. If it is not, could you please point in the right direction?

What would it require for us to have an API to get the exact position of fingers/touches from the trackpad? I mean, touches even if not pressed, the equivalent to "mousemove" in the trackpad.

For example, let's say someone wants to write a WebApp in which you could sign something, or

[2017-11-08 21:19] sahel-sh opened #591 "Expose wheel event scrolling state to DOM events"
Scrolling on trackpads can give additional information about the state of scrolling that determines the first wheel event of a scrolling sequence (from the time that user starts scrolling till when they lift their fingers). This information helps with optimizations like async wheel events which lets preventDefault call only on the first wheel event of a scroll sequence to cancel the event and the

[2017-11-08 21:51] dtapuska commented on #591
These events are already detected as cancelable inside Event.idl

[2017-11-08 21:58] mustaqahmed commented on #228
So you are thinking something like `(rawX,rawY)`?  Do we have trackpads with hardware+driver support for it?

Moreover, we would need OS support to tie the mouse cursor position with the trackpad finger position because it would be a terrible UI if the drawing is off from visible mouse cursor position (`(rawX,rawY)` vs `(x,y)`).  Then there is the question of input/output precision because if the

[2017-11-09 00:39] RByers commented on #107
Yes, I think we should just test this here.

Ideally the the CSS OM View spec would have tests for fractional values passed to MouseEvent constructors (maybe it does already @zcorpan?). But regardless I thin it's fine to just update `pointerevent_constructor.html` for this.  It's already depending on the UI Events spec eg. for the test for `clientX`, no reason it can't depend on CSS OM View also.

[2017-11-09 00:41] RByers commented on #107
Note that testing that fractional co-ordinates get passed through the constructor isn't quite the same thing as testing real browser-generated events.  So ideally we'd also use our automation hooks to test that too.  But rather than create but-yet more -manual tests, I think it's fine to just block that on w3c/uievents#120 (which is hopefully happening soonish - at least for Chrome).

[2017-11-09 00:53] NavidZ commented on #120
Just to give an update here. We managed to get the [click API](https://web-platform-tests.org/writing-tests/testdriver.html) in wpt tests for the starter. I'll work with others to get the pointer action APIs in as well.

[2017-11-09 03:04] felipenmoura commented on #228
Very important point.
I will try and find out more on those native APIs, but as far as I can tell, we would need:

- **Track proportion:** How squared or rectangular is the trackpad
- **List of touches:** once it is not a click or mousedown, but the equivalent of a "mousemove"

Each touch would have:

- **x:** A spacial reference for x, in percentage
- **y:** A spacial reference for y, in percenta

[2017-11-11 18:42] RByers commented on #591
Here's my recollection of the state in various browsers:

- In Chrome wheel events (for which there's a non-passive listener) are always cancelable and synchronous, a big problem for scroll performance. Your change proposes making only the first wheel in a touchpad gesture cancelable, so the rest can be async.
- Edge doesn't fire wheel events at all for touchpads due to this perf issue.  I talked

[2017-11-13 08:52] lpd-au commented on #171
In addition to desktop touch, Chrome for Android seems to also fire `dblclick` events when the page isn't scrollable, ie a viewport is specified and the content fits on the screen. As Rick said, it doesn't fire otherwise. [The `touch-action` value seems to be irrelevant.](http://output.jsbin.com/rowuhe)

~~It seems sensible to me that adding a `dblclick` event handler would, if necessary to actual

[2017-11-13 15:54] staktrace commented on #591
Yeah, the behaviour is basically, "if content does preventDefault on a wheel event later in the transaction, then try to stop the scrolling ASAP and start a new transaction". It can result in non-deterministic behaviour, and we didn't really have specific use cases that drove this behaviour, it was more so just trying to get as much async scrolling as we could while still leaving an escape hatch f

[2017-11-13 17:09] dtapuska commented on #591
I'd much prefer if we detailed what we thought was necessary for wheel events and add a new pointerType == "touchpad" for PointerEvents with all the properties needed.

Since these phased wheel events generally come from touchpads I think it really is necessary to define the other things that are useful like the raw pointer co-ordinates.

[2017-11-13 19:59] sahel-sh commented on #591
Microsoft edge 42.17035.1000.0 sends wheel events while scrolling with touchpad but it doesn't support async wheel events.
A minor change in Safari's case: Only in case of scrolling on the mainframe the rest of the wheel events are skipped and otherwise they are all sent. While scrolling on a div it sends all wheel events and doesn't support async wheel events.

I used a simple scrollable div and

[2017-11-13 20:36] sahel-sh commented on #591
Edge version 42.17035.1000.0 fires wheel events for touchpad scrolling, while version 40.15063.674.0 doesn't fire wheel events as Rick mentioned.

[2017-11-16 00:56] bokand commented on #591
I like this, but would the behavior be the same as what we're doing for wheels? i.e. send first PointerEvent that's cancellable - if it's not preventDefaulted the rest are async? Would we still need to send a wheel event for compat?

[2017-11-16 17:06] felipenmoura commented on #228
So, does this make sense? :)

[2017-11-16 19:26] ChumpChief commented on #171
We fire a dblclick for double tap in Edge when it doesn't result in a zoom (e.g. `touch-action: manipulation`) as @patrickhlauke suggests.  The zoom isn't considered a default action for dblclick in Edge though, as the zoom initiates on the second pointerdown (whereas the dblclick doesn't fire until after the second pointerup).

Using `touch-action: manipulation` is the recommended way to explicit

[2017-11-20 22:10] dtapuska commented on #191
@smaug----  I believe on Windows you get a XBUTTON event if you don't indicate it is handled then it will send you an APPCOMMAND. Chrome doesn't follow this mode for context menus and I'm proposing Chrome doesn't follow it for these buttons either. This would be similar to how it works on X11.

See https://msdn.microsoft.com/en-us/library/windows/desktop/ms645601(v=vs.85).aspx#_win32_XBUTTONs

Whe

[2017-11-21 09:19] mingchou opened #229 "The behavior of getCoalescedEvent in pointerevent_constructor.html is inconsistent with the spec"
Spec says 'When the event is created by the user agent the following attributes of the coalesced events will always have the same value as the dispatched event'

The test case pointerevent_constructor.html dispatches a JS created event and expects that some attributes  (e.g. target, pointerId, pointerType, isPrimary) are set up as the same as the dispatched event. Looks like the test expects that

[2017-11-21 16:38] NavidZ commented on #229
No. The test is creating those coalesced events with the same dictionary. With the exception of target the rest of the attributes are being set of the same dictionary and hence are the same. However, I remember @smaug---- mentioning about the target and I did tell him that in Chrome we do set the target of all the events including the target. To me target is a little different as js doesn't set it

[2017-11-21 18:20] smaug---- commented on #229
I don't understand how the model Chrome has works if there is pointer event (A) being dispatched, then that pointer event is passed to a constructor of another pointer event (B). Then B is dispatched. Do you end up changing the target of A too, even though that is already being dispatched?

[2017-11-21 19:42] NavidZ commented on #229
You are right @smaug---- . We do that.

[2017-11-21 19:45] smaug---- commented on #229
You override .target of an event which is being dispatched? That sounds... weird.
I know, edge case, but still weird.

[2017-11-21 19:57] NavidZ commented on #229
I agree with you. It does. We didn't quite have this scenario in mind at the time. One solution to this would be us getting a dictionary for the events instead of actual pointerevents in the constructor for the coalesced events. This way developers can never pass the same dispatched events. Does that make it better?

[2017-11-21 20:08] smaug---- commented on #229
Or perhaps .target just shouldn't be changed if it already has non-null value? Or perhaps pointerevents passed in the ctor shouldn't have non-null target?

[2017-11-21 20:12] NavidZ commented on #229
We can do the first one. If we were to go with the second option how do we enforce it? like throwing an exception or something when the given pointerevents had some non-null target?

[2017-11-21 20:22] smaug---- commented on #229
yeah, ctor would throw.

[2017-11-21 20:25] NavidZ commented on #229
I cannot imagine any downside for either of these solutions. The first one might be easier and more silent and I'd be happy to fix the Chrome implementation whichever we choose. Anyone else has any comments about this? @RByers @dtapuska @mustaqahmed

[2017-11-21 22:43] jstenback commented on #191
I can't test current behavior right now but IIRC the default action of left click happens on button up rather than button down, which conceptually makes more sense to me given that just pushing the button down doesn't necessarily mean that that alone is the expected to do anything, I may push the button down, do a move operation followed by an eventual button up as opposed to actually clicking. Sa

[2017-11-22 09:56] smaug---- commented on #191
In general there isn't really consistency when default handling of mouse "actions" happens.
contextmenu for example is platform specific. On Windows it happens on mouseup, elsewhere it is mousedown. At least web extension authors prefer the Windows model.
If default action for pointerdown [buttons 4 or 5] was navigation, pointerup would easily end up to a different page (especially on browsers whi

[2017-11-22 14:20] dtapuska commented on #191
Personally I'd prefer to make this a default action of the auxclick as opposed to mouseup but I guess there are situations that the auxclick doesn't get dispatched? like if the clicked node is removed from the tree and is no longer connected to the document? Perhaps we do want that behavior?

[2017-11-22 17:14] mustaqahmed commented on #191
Navigation being a default action in `pointerdown` or `pointerup` narrows down the "scope" of canceling navigations, which could be better in terms of not breaking current users' expectations.  Otherwise, navigation would be cancelled through canceling any of {`pointerdown`, `pointerup`, `auxclick`}.

Between `pointerdown` and `pointerup`, `pointerup` seems a safer choice because it's perhaps reas

[2017-11-23 18:36] RByers commented on #591
I do think wheel events are required for compat.  Eg. Google sheets is basically unusable on Edge with a precision touchpad (except in the apparently unpredictable cases where Edge decides to send wheel events) because you can't scroll with wheel (they draw their UI manually into a canvas, can't rely on browser scrolling).

[2017-11-26 19:31] laukstein opened #230 "pointer-events for pseudo-elements"
https://w3c.github.io/pointerevents/ doesn't mention anything regarding `pointer-events` and pseudo-elements (`:before` and `:after`).

And currently seems no browser supports

[code]
testcase https://output.jsbin.com/telawab/quiet

Wouldn't `pointer-events` be expected to be supported also in pseudo-elements? In this case, means, link mustn't be clickable, right?

Maybe would be worth to mention

[2017-11-26 19:35] laukstein commented on #230
In case this issue isn't directly related to https://w3c.github.io/pointerevents/ spec then what one (where is CSS related spec for it)?

[2017-11-26 19:48] patrickhlauke commented on #230
this is the repo for the JS Pointer Events API. for the CSS one, you'll likely want to file something against CSS-UI-4 (though I don't think `pointer-events` is in there yet, but certainly discussed) https://github.com/w3c/csswg-drafts/ (see https://wiki.csswg.org/spec/css4-ui#pointer-events)

[2017-11-26 19:48] #230 closed, assigned to nobody

[2017-11-27 20:43] laukstein commented on #230
Thanks @patrickhlauke! I open https://github.com/w3c/csswg-drafts/issues/2012 for it.

[2017-12-01 20:54] dtapuska commented on #191
I think we need to update the UIEvent spec to contain these button definitions. And I don't see why putting it on `pointerup` is any better than `mouseup`. Cancelling the `pointerup` will still prevent the default behavior.

[2017-12-06 01:04] freshp86 commented on #75
Hi everyone. I would like to present a real world use-case from Chromium's codebase which is suffering from the fact that the 'cilck' event is fired on a non-capturing element.

Consider the following element, where a switcher UI control lies within a container row.
![switcher_in_container_real](https://user-images.githubusercontent.com/7547039/33638813-ed265c04-d9dc-11e7-923d-e8639d5a4dac.png)

R

[2017-12-06 04:12] NavidZ commented on #75
Hi @freshp86 .
I myself am a big fan of sending the click event to the captured node. I tried implementing it in chrome back then but we hit a few regressions and we couldn't ship it yet. We are still trying to ship that as that is a more predictable and consistent behavior IMO. But it might take a little longer.

However, I don't quite agree with your definition of hack.
Mainly because the logic

[2017-12-06 18:31] freshp86 commented on #75
@NavidZ: Agreed that I could modify the click handler of the clickable row to call a method on the toggle button itself, instead of comparing the timestamps. But it is worth noting that being able to toggle the switch by simply setting/unsetting the `checked` attribute, is kind of important. It makes the custom `<cr-toggle>` element more consistent with a native `<input type="checkbox">`, and easi

[2017-12-06 18:55] scottgonzalez commented on #75
Based on the previous resolution of this ticket, this seems like a browser bug. Both `pointerdown` and `pointerup` occur on the `cr-toggle` element because of pointer capture. As such, `click` should be fired on `cr-toggle` and not on `div.clickable-row`.

If the `click` event were fired on `cr-toggle`, then the `click` handler on `div.clickable-row` would be able to filter out events based on the

[2017-12-06 18:58] scottgonzalez commented on #75
And here is the Chromium bug: https://bugs.chromium.org/p/chromium/issues/detail?id=689158

[2017-12-06 22:11] freshp86 commented on #75
Actually `cr-toggle` itself calls `stopPropagation()` already, so if the event was fired on `cr-toggle`, the `div.clickable-row` click handler would not be triggered in the first place.

I did not realize that this discussion has concluded. Thanks.

[2017-12-06 22:31] scottgonzalez commented on #75
I thought we re-closed this [back in April](https://github.com/w3c/pointerevents/issues/75#issuecomment-294512689) but apparently not.

@NavidZ @patrickhlauke Is there still debate about this? I thought the conclusion was that this is all standard behavior and we didn't need any special mention for dealing with clicks and pointer capture.

[2017-12-06 22:34] scottgonzalez commented on #75
I don't think that's correct behavior if you're trying to build a drop-in replacement for a checkbox. It is the row's responsibility to handle the composition since it is the composed widget. You cannot expect your building blocks to anticipate every possible composition.

[2017-12-07 01:26] NavidZ commented on #75
@scottgonzalez your conclusion is totally right. I believe there is no need to change in the spec to address this.
The only problem was that when we wanted to have the change in Chrome there were some websites that stopped working correctly. So we had to revert it. I believe both Firefox and Edge do the same thing as current Chrome implementation (i.e. not honoring the capture when sending click).

[2017-12-07 10:11] mingchou commented on #229
Both solutions are good to me. I'm going to implement the getCoalescedEvents API with the first solution for Firefox. Would be happy to change it if we choose the other one.

[2017-12-08 00:55] NavidZ commented on #229
Sounds good. I'll change Chrome implementation as well to match.

[2017-12-08 03:07] RByers commented on #206
Note Edge is [shipping something kinda like this](https://blogs.windows.com/msedgedev/2017/12/07/better-precision-touchpad-experience-ptp-pointer-events/) where touchpad emulates a touchscreen, but without any of the API / spec changes we've discussed years ago.  @dtapuska and I expressed our reservations about this plan to @scottlow at TPAC.  Chrome has no intention of following this approach.

C

[2017-12-08 03:27] RByers commented on #206
A few questions for @scottlow on the design in Edge:
1. What does 'navigator.maxTouchPoints' return on a PTP device with no touchscreen?
2. Are the pointer/hover media queries impacted as if there was a real touch screen?
3. How are the co-ordinates scaled to map from the touchpad surface?
4. If I call 'releasePointerCapture' for one of these fake points, how will hit-testing behave?
5. For zoom o

[2017-12-08 16:29] mustaqahmed commented on #228
My opinion is that scaling trackpad rectangle onto screen rectangle (so that there's a 1:1 mapping between a trackpad position and a screen position) won't be useful because before actually making a tap, a user won't know where on screen the tap is going to land (since trackpad is an indirect manipulation device unlike a touchscreen).

It seems Edge is shipping something close, where (among other

[2017-12-11 03:47] felipenmoura commented on #228
I understand, but that is actually the point.

For example, on macbook's "preview" app, you can save your hand written signature.
The way you can sign is totally intuitive! You simply sign it in your trackpad. It doesn't matter where the pointer is. You have the area for you to write and that's all (you don't need to press the trackpad area, just touch it and move the finger, and you can even jump

[2018-01-08 21:04] mustaqahmed commented on #225
Returning `1` when the touch device _doesn't report a value_ looks like a more logical choice.  Having a default of `0` only for `pointerType=touch` would make life harder for developers IMO.

(Moreover, I see `TouchEvent.radiusX` too different from `PointerEvent.width` to justify copying their default value to here.)

[2018-01-11 17:28] scottlow commented on #206
1. In our current implementation, it returns 0 since we did not touch the logic in this area as part of our initial commit. I've opened a bug to change this behavior so that we return 2 in this case instead.

2. No. Since PTP is still a "fine" pointing device, we didn't think it made sense to update these media queries.

3. For zooming, there is no scaling; each contact’s relative position to the

[2018-02-09 19:34] patrickhlauke commented on #221
@mustaqahmed @NavidZ any thoughts on this? is it a chrome bug, or something wrong that needs specifying in the spec?

[2018-02-09 19:36] patrickhlauke commented on #215
@NavidZ are you able to have a look at this again?

[2018-02-09 20:05] patrickhlauke commented on #207
In short, I believe this doesn't need further spec work, as it's something handled by the OS/device (i.e. that if both pen contact AND button for left click are pressed, it counts as the same thing / there's no way to differentiate)

[2018-02-09 20:05] #207 closed, assigned to nobody

[2018-02-09 20:08] patrickhlauke commented on #197
@dtapuska @jakearchibald is there any need for a further change in the spec text here, or does https://w3c.github.io/pointerevents/extension.html#timing-of-coalesced-event-firing cover your concern sufficiently?

[2018-02-09 20:08] patrickhlauke commented on #571
@dtapuska @jakearchibald is there any need for a further change in the spec text here, or does https://w3c.github.io/pointerevents/extension.html#timing-of-coalesced-event-firing cover your concern sufficiently?

[2018-02-09 20:12] patrickhlauke commented on #9
@dtapuska @RByers @smaug---- do you think this needs any addition/note/clarification in the PE spec? and if so, any rough suggestion where and what? (happy to bash it into shape if you make a first attempt at putting it into layperson's terms)

[2018-02-09 20:44] mustaqahmed commented on #221
This looks like a crack in Chrome, we haven't been careful about Shadow DOM when we added the [check](https://cs.chromium.org/chromium/src/third_party/WebKit/Source/core/dom/Element.cpp?rcl=195db4ec8d8bc4fc650015fdd86de98ce81748d1&l=3372).

Thanks for noticing this.  I will file a chromium bug.

[2018-02-09 20:55] mustaqahmed commented on #221
[Here](https://crbug.com/810882) is the Chromium bug.  I don't think we need to change the spec, so closing the issue.

[2018-02-11 14:22] masayuki-nakano opened #592 "Needs alternative WheelEvent.deltaMode, WheelEvent.delta(X|Y|Z)"
Currently, unit of WheelEvent.delta(X|Y|Z) value is defined by WheelEvent.deltaMode in UI Events. However, Chrome and Edge almost always fire wheel events with WheelEvent.DOM_DELTA_PIXEL. Therefore, a lot of web sites are broken on Gecko which is the only browser firing wheel events with native event's units.

So, for backward compatibility, WheelEvent.deltaMode should return always WheelEvent.DOM

[2018-02-11 14:46] masayuki-nakano commented on #592
Bug of Firefox is here: https://bugzilla.mozilla.org/show_bug.cgi?id=1392460

If it'd be possible, there should've been:
* WheelEvent.pixelDeltaX
* WheelEvent.pixelDeltaY
* WheelEvent.pixelDeltaZ
* WheelEvent.rawDeltaMode
* WheelEvent.rawDeltaX
* WheelEvent.rawDeltaY
* WheelEvent.rawDeltaZ
However, we've met this issue with existing attributes, Wheel.delta*. We cannot rename them to pixelDelta*, u

[2018-02-11 22:47] smaug---- commented on #221
I'm pretty sure we want setPointerCapture to work in Shadow DOM too.

[2018-02-12 09:26] patrickhlauke commented on #221
@smaug @mustaqahmed do you think this needs to be explicitly spec'd in the PE spec? if so, any pointers where/how?

[2018-02-12 09:38] smaug---- commented on #221
Yes, it needs to be spec'ed explicitly in PointerEvents.
Right now the spec says
https://w3c.github.io/pointerevents/#dfn-pointer-capture
"If the Element on which this method is invoked does not participate in its ownerDocument's tree, throw an exception with the name InvalidStateError."
That needs to say something else than 'does not participate in its ownerDocument's tree

Maybe something like '

[2018-02-15 12:43] patrickhlauke commented on #228
Closing this for now as a possible future enhancement, but out of scope for v2.

[2018-02-15 12:43] #228 closed, assigned to nobody

[2018-02-15 12:58] patrickhlauke commented on #134
Due to lack of momentum (or implementation) on this, marking this as a potential future/v3 feature

[2018-02-15 13:00] patrickhlauke commented on #171
@smaug---- @NavidZ do you think this is something that needs to be addressed/mentioned (even if only in an informative/non-normative note) in the PE spec? if so, any suggestions?

[2018-02-15 13:09] patrickhlauke commented on #16
@RByers (mainly because you were so active on this, I know it's not directly your area anymore), @smaug---- @NavidZ any thoughts on this? any change required at the PE spec end?

[2018-02-15 14:42] patrickhlauke commented on #107
@RByers (or anybody else) ... anything more on this than can/needs to be done?

[2018-02-15 15:24] NavidZ commented on #171
IMO since it is related to touch events I suggest either following it in the touch event spec or maybe in ui events where it defines dbclick. Now that we know browsers fire that for double tap gestures it is better to be spec it there

[2018-02-15 17:21] RByers commented on #107
I believe it should now be possible to test this, but I'm not entirely up-to-date on the status.  Maybe @NavidZ can take a look?

[2018-02-15 17:22] RByers commented on #16
I think others convinced me it wasn't as serious of an issue as I feared.  I'd be OK calling this WontFix unless/until we see someone actually exploiting it...

[2018-02-15 17:23] NavidZ commented on #16
I agree.

[2018-02-15 17:23] RByers commented on #16
We could also really easily define a feature policy for this now - to at least allow embedders to turn this off.  /cc @clelland

[2018-02-15 17:35] NavidZ commented on #107
The current automation API only allows an element as the target and not the exact coordinates.
But I believe I should be able to make an element that the target coordinate lands on a fractional coordinate. I'll look into this.

[2018-02-20 01:44] jfirebaugh opened #608 "May the state of modifier keys influence MouseEvent.button?"
Consider:

[code]

On the Mac, with default system settings for modifier keys, depressing the primary mouse button with the control key simultaneously depressed produces output that varies between browsers:

* Chrome and Safari produce `0`
* Firefox produces `2`

Does the spec have an opinion on which behavior is correct, or is this left as unspecified platform-dependent/browser-dependent behavior

[2018-02-20 18:24] garykac commented on #608
The spec does not currently have an opinion about behaviors where different browsers have some historical implementation differences. In general, we're working toward having a more algorithmic approach to specs (which will prevent these differences in the future), but UIEvents is an old spec that covers features with a lot of baggage that will be challenging to clean up.

However, we do want to (a

[2018-03-14 15:30] NavidZ commented on #225
In the call we talked about this issue and we agreed to just report 1,1 for touch pointerup events. I will add a test for that.

[2018-03-14 15:35] NavidZ commented on #222
We talked about this in the call and we agreed since we don't specify when to continue sending events in scroll we leave this scenario to UA as well similar to scroll.

[2018-03-14 15:35] #222 closed, assigned to nobody

[2018-03-14 15:38] NavidZ commented on #221
In the call we agreed to follow the wording of other specs for this.

[2018-03-14 15:41] NavidZ commented on #220
In the call we talked about this and we are going to follow the same terminology as PointerLock spec which is the document instead of the page.

[2018-03-14 15:47] NavidZ commented on #219
We will follow the same wording as PointerLock spec saying restricting the capture to the active document.

[2018-03-14 15:51] NavidZ commented on #212
In the cal we talked about this and everyone agreed that this is UA specific and if UA supports such behavior as long as it reports the pointercancel and other related events correctly it should be fine.

[2018-03-14 15:51] #212 closed, assigned to nobody

[2018-03-14 16:21] patrickhlauke commented on #9
setting to future-v3 as the related #214 was also just set to that

[2018-03-14 16:23] patrickhlauke commented on #16
we'd need to decide if anything needs adding/mentioning (even in a non-normative note) in the spec, or if we want to defer this to future-v3

[2018-03-21 15:21] NavidZ commented on #177
We talked about this in the call and we agreed to have a test to expect pointerevents (down, up, move) but no click.

[2018-03-21 15:34] NavidZ commented on #173
We talked about this in the call and we agreed it makes more sense to send boundary events to the elements right after the capture release to kind of match the hover effect and what happens in scrolling. Let's add a test as well as a normative text to the spec for this.

[2018-03-21 15:36] NavidZ commented on #172
Duplicate of #219

[2018-03-21 15:36] #172 closed, assigned to nobody

[2018-03-21 15:40] NavidZ commented on #171
We talked about this in the call and since pointerevent spec doesn't mention anything about when to send click or dblclick it is outside of the scope for pointerevents. Maybe this issue is better to be moved to uievents (where dblclick event is defined) or touch events spec.

[2018-03-21 15:40] #171 closed, assigned to patrickhlauke

[2018-03-21 15:44] NavidZ commented on #167
We talked about this issue in the call and @mustaqahmed is going to look into the usecase and if we already support the usecase that fromElement/toElement are needed for in existing pointerevents then we just set them to default null in pointerevents.

[2018-03-21 15:48] NavidZ commented on #165
This issue is somewhat similar to w3c/pointerevents#226. @patrickhlauke does the pull request for that issue cover this? Do you think we can make that more generic to cover anything that is missing?
https://github.com/w3c/pointerevents/pull/233

[2018-03-21 21:23] mustaqahmed commented on #167
Looks like we have better (standard and consistent) alternatives for these fields even in `MouseEvent`: [`.target`](https://developer.mozilla.org/en-US/docs/Web/API/Event/target) and [`.relatedTarget`](https://developer.mozilla.org/en-US/docs/Web/API/MouseEvent/relatedTarget).

Given that browsers supported `fromElement`/`toElement` only to match an old IE behavior, and they are still [not consist

[2018-03-21 21:26] RByers commented on #167
Sounds perfect to me!  PE is our one chance this decade to weed out the legacy crap in input ;-)

[2018-03-23 11:53] annevk commented on #601
I think it's problematic that it's still somewhat optional for browsers to support this. I'd much prefer if we didn't use partial interfaces for the bits we don't think we can remove.

[2018-03-23 13:00] foolip commented on #601
Yeah, the "This section is non-normative. The following attributes are obsolete and should only be implemented by user agents that require compatibility with legacy software that requires these keyboard events." suggests that one might be able to get away with not supporting this, but if that were the case browsers could try to remove it instead, and that doesn't look doable.

[2018-03-23 15:51] mustaqahmed commented on #167
Oh, btw, Edge already returns `null` for these attributes in PointerEvents, as noted [here](https://github.com/w3c/web-platform-tests/pull/4529).

[2018-03-26 14:06] mustaqahmed commented on #167
Reopening since we need to new/updated tests.

[2018-03-28 10:07] smaug---- commented on #75
FWIW, current FF does not do the same thing. Since pointer/mouseup happen on different element than pointer/mouseup in capturing case, click isn't dispatched.
FF follows the current spec, but apparently the current spec isn't web compatible :/

Note, current Blink doesn't really seem to capture anything if one tries to capture pointer in a different document. Gecko has also an bug there, but diffe

[2018-03-28 10:21] smaug---- opened #236 "Clarify that canceling pointerdown shouldn't affect to scrollbar handling"
This is a bit weird case, since I guess scrollbar handling in general is not spec'ed.
Canceling pointerdown does prevent mousedown to fire, but should not affect to scrollbar scrolling.

Gecko bug https://bugzilla.mozilla.org/show_bug.cgi?id=1447196

[2018-03-28 15:12] NavidZ commented on #164
We talked about this issue. It is fair to say that it is impossible to always send the compat mouse events in a way that it matches all different pointers at the same time. As that whole section is optional we leave anything beyond the obvious cases which are mentioned in that section to UA.

[2018-03-28 15:12] #164 closed

[2018-03-28 15:12] NavidZ commented on #570
We talked about this issue. It is fair to say that it is impossible to always send the compat mouse events in a way that it matches all different pointers at the same time. As that whole section is optional we leave anything beyond the obvious cases which are mentioned in that section to UA.

[2018-03-28 15:12] #570 closed, assigned to patrickhlauke

[2018-03-28 15:17] NavidZ commented on #236
We talked about this issue in the call and we agreed to keep the pointerevents spec as is regarding the default actions of pointerdown here in this spec and not list the ones that are not. This issue might be better be discussed in uievents maybe.

[2018-03-28 15:17] #236 closed, assigned to nobody

[2018-03-28 15:24] patrickhlauke commented on #160
check to see if we can reference https://www.w3.org/TR/dom41/ / https://www.w3.org/TR/dom41/#composed-flag or whatever

[2018-03-28 15:24] NavidZ commented on #160
I'm going to talk to the person who added composed here in the spec and see whether it is okay whether to reference [this spec](https://github.com/w3c/dom) instead of whatwg.

[2018-03-28 15:30] NavidZ commented on #126
We talked about this issue and agreed that this doesn't quite belong to pointerevents. But let's keep this around and add future-v3 label for now and see what we can do about it in the future.

[2018-03-28 15:33] NavidZ commented on #125
We talked about this issue in the call and decided that we like to have such a feature. But since there might be some compat issues (as observed by the Chrome extension and some Gmail labels) we need to take more time and move more slowly for this.

[2018-03-28 15:39] NavidZ commented on #118
We talked about this and @patrickhlauke is going to add a informative text about this since it is hard to define normatively as underlying gestures are not well defined at this point.

[2018-03-28 15:42] NavidZ commented on #106
We talked about this in the call. There are some advantages to this such as having pointerId and pointerType for multiple dragging at the same time but there are also some complications like handling of setPointerCapture. Pushing this to V3 to further discuss this.

[2018-03-28 15:44] NavidZ commented on #100
We talked about this in the call and Similar to #106 there are some advantages to this as well as possibilities of compat issues. Pushing this to V3 to further discuss this.

[2018-03-28 15:51] NavidZ commented on #75
We talked about this issue in the call and we all agreed with the proposed solution here. Basically stick to sending click to the first common ancestor of pointerdown and pointerup targets and pointercapture might changed the targets of pointerup/down and consequently it might effect the click targets. Right now neither Chrome nor Edge is following this. But they are going to fix it. Adding a v3 t

[2018-03-28 17:54] #226 closed, assigned to NavidZ

[2018-03-29 15:42] NavidZ commented on #16
I talked again with the folks here and as I said in the call they don't see a security risk here (also mentioned in [that private chromium bug](https://bugs.chromium.org/p/chromium/issues/detail?id=606896) with MS people and others). There might be an abuse of the API that may cause some user annoyance but we suggest to keep things as is and if that becomes a thing then we add more restrictions to

[2018-03-29 19:06] NavidZ commented on #160
We have been referencing DOM4 in our document which apparently has the same entry as WHATWG-DOM in the reference. @patrickhlauke  do you think we should just switch them all to one? Say WHATWG-DOM? We'll see whether any objection rises from that. Note that TouchEvent spec has the same problem of referencing both and having the same entry twice in the reference section.

[2018-03-29 19:24] NavidZ commented on #177
The test is recently added for this [here](https://github.com/w3c/web-platform-tests/blob/master/pointerevents/pointerevent_disabled_form_control-manual.html). We need to update the w3c/test-results though to include the result for multiple vendors as well.

[2018-03-29 19:24] #177 closed, assigned to NavidZ

[2018-03-29 19:31] patrickhlauke commented on #160
to avoid politics - assuming DOM4 says the same now as WHATWG-DOM - i'd prefer just changing that tiny reference to DOM4. functionally the same, but avoids potential raised eyebrows and pearl-clutching at review time.

[2018-03-29 23:45] patrickhlauke commented on #160
Closed via #240 (and https://github.com/w3c/pointerevents/commit/e9bad530669af40ddf3ae5241c43c766da9d6dca)

[2018-03-29 23:45] #160 closed, assigned to patrickhlauke, NavidZ

[2018-03-30 08:10] #183 closed, assigned to patrickhlauke

[2018-04-03 00:25] #118 closed, assigned to patrickhlauke

[2018-04-03 00:25] #165 closed, assigned to patrickhlauke

[2018-04-03 00:26] #220 closed, assigned to patrickhlauke

[2018-04-03 14:25] #221 closed, assigned to patrickhlauke

[2018-04-03 14:27] #60 closed, assigned to nobody

[2018-04-03 23:10] patrickhlauke commented on #219
I believe this is addressed by #246 and #247 (@smaug---- feel free to reopen if you believe this needs further clarification)

[2018-04-03 23:10] #219 closed, assigned to smaug----

[2018-04-03 23:11] patrickhlauke commented on #15
I believe this is addressed by #145 (@scottgonzalez feel free to comment/reopen if you think there needs to be further changes to the spec text to cover this)

[2018-04-03 23:11] #15 closed, assigned to nobody

[2018-04-03 23:16] patrickhlauke commented on #225
As the spec already states that the default value for width/height is 1 (https://w3c.github.io/pointerevents/#dom-pointerevent-width / https://w3c.github.io/pointerevents/#dom-pointerevent-height) and we've had agreement on the call that diverging values in implementations are bugs, I'm closing this as resolved. @EiraGe feel free to comment if you feel this should be further clarified in the spec

[2018-04-03 23:16] #225 closed, assigned to NavidZ

[2018-04-03 23:23] patrickhlauke commented on #173
@smaug---- just checking if you'll be able to draft up something for this? happy to fine-tune / wordsmith it further.

[2018-04-04 09:19] smaug---- commented on #173
Feel free to take this. I won't get this to in couple of days.
(And there was Easter, which means some holiday in Finland ;) )

[2018-04-04 14:57] smaug---- commented on #173
But I'll try to get to this still this week. Sorry about delay.

[2018-04-04 15:46] patrickhlauke commented on #173
No worries. I'll have a think about it too (just didn't manage to get to it in the end last night as I was going through the last outstanding items)

[2018-04-05 07:42] WebReflection commented on #626
Dear all, is there any update on this? `layerX` and `layerY` are essential to simplify drawing on canvas and/or DOM elements used as drawing surface.

Thanks for moving eventually forward.

[2018-04-09 21:12] garykac opened #609 "Need algorithm for how mouse events are fired"
We need a algorithmic description of how mouse events are fired.

`mousedown`, `mouseenter`, `mouseleave`, `mousemove`, `mouseout`, `mouseover`, `mouseup`

See https://w3c.github.io/uievents/#events-mouseevent-event-order

Starting point:

[code]

[2018-04-09 21:15] garykac opened #579 "Need algorithm for how mouse click events are fired"
We need a algorithmic description of how mouse click events are fired.

`auxclick`, `click`, `dblclick`

See: https://w3c.github.io/uievents/#events-mouseevent-event-order

[2018-04-09 21:29] garykac commented on #579
This algorithm should probably include `DOMActivate` as well

[2018-04-10 03:02] domenic commented on #579
I'm not sure mice can be separated from other pointing devices, given that click (and dblclick maybe??) apply to all of them. I know this spec doesn't define touch and pointer events, but someone needs to define what happens when you "click", including those, and this seems like the right place.

It'll also be interesting to note how this interacts with focus. The spec currently states:

Due to a

[2018-04-10 03:13] domenic commented on #609
This runs into the tricky area of hit-testing, which we probably should leave for another time. But we'll want to at least roughly gesture in the direction of what "into element A" / "out of element A" mean.

For example, one interpretation is that given A nested inside B nested inside C, you're moving into A, B, and C, each of which fires a bubbling event, so that you get three mouseovers on C (1

[2018-04-10 13:54] nuragic opened #610 "Different mousedown behavior between Firefox and Chrome/Safari"
Hi,

After reading [this issue](https://github.com/facebook/react/issues/12584) and realizing that Chrome and Firefox handle the change event in different ways, I cannot find an answer to this one... I made a simple pen to illustrate the example (no React, just plain HTML): https://codepen.io/nuragic/pen/xWMaGN?editors=1011

### Steps to reproduce

Just click on the `select` and pick any value.

#

[2018-04-11 15:19] NavidZ commented on #173
We talked about this in the call today.
@mingchou @smaug---- what do you think of sending the pointerover/enter right after lostpointercapture without waiting for another move event? Does that sound reasonable? I believe this is not what Chrome does right now but we can change Chrome if we all agree on this behavior.

[2018-04-11 15:33] smaug---- commented on #173
yeah, that is fine. The most important is to have _some_ behavior defined.

[2018-04-13 19:03] mustaqahmed commented on #167
The test has landed.

[2018-04-14 00:55] cvrebert commented on #605
Given the >20% usage numbers from chromestatus, it seems **very** unlikely that these properties will be removable.

[2018-04-18 16:39] NavidZ commented on #107
We already have a [manual test](https://github.com/w3c/web-platform-tests/blob/master/pointerevents/pointerevent_fractional_coordinates-manual.html) for this usecase. I was going to use our click api but I realized it also expect the touch and pen inputs. I suggest waiting for this [PR](https://github.com/w3c/web-platform-tests/pull/10312/) to land to have synthetic pointer action API and then dir

[2018-04-18 16:39] #107 closed, assigned to NavidZ

[2018-04-26 01:16] #173 closed, assigned to NavidZ

[2018-04-27 02:00] patrickhlauke commented on #126
xref https://github.com/w3c/touch-events/issues/93#issuecomment-384822302

[2018-05-03 08:41] saschanaz opened #254 "Same table style for CSS touch-action property?"
It's harder to programmatically detect CSS property definitions in this spec than in CSSWG specs.

Comparing with [CSS Transitions](https://www.w3.org/TR/css-transitions-1/#transition-property-property) for example:

![image](https://user-images.githubusercontent.com/3396686/39566829-d69ebc98-4ef7-11e8-80c4-03381e4337fa.png)

We can use `dfn.css[data-dfn-type=property]` or `.propdef dfn` to get CS

[2018-05-17 04:30] jasonanovak opened #255 "Security & Privacy Section Removed Between April 4, 2018 and May 10th, 2018 Drafts"
In comparing the April 4, 2018 and May 10th, 2018 Drafts of the Pointer Events Level 2 Specification, it looks like the Security & Privacy Section was present in the April 4, 2018 draft and removed in the May 10, 2017 draft.

[Issue 252](https://github.com/w3c/pointerevents/pull/252) was meant to address some feedback from PING's review of the April 4, 2018, so unclear what happened between 252 an

[2018-05-17 14:29] patrickhlauke commented on #255
@plehegar any idea why the published version doesn't match https://w3c.github.io/pointerevents/ ?

[2018-05-17 14:30] patrickhlauke commented on #255
the published version is missing quite a few other minor changes/revisions present in the editor's draft from 26 April

[2018-05-22 13:54] patrickhlauke commented on #255
Fixed now. https://www.w3.org/TR/2018/CR-pointerevents2-20180522/ / https://www.w3.org/TR/pointerevents2/

Thanks for spotting and reporting it @jasonanovak

[2018-05-22 13:54] #255 closed, assigned to nobody

[2018-05-24 07:36] masayuki-nakano commented on #592
@garykac  Could you take a look? This is really annoying Spec issue. (Perhaps, some Chrome for Windows users have same issue as users of Firefox for Windows or Linux users since Chrome uses DOM_DELTA_PAGE if user sets per-page-scroll in the system settings.)

[2018-05-24 18:33] garykac commented on #592
To summarize the proposal:

Because many web developers don't respect the `deltaMode` setting and simply assume that `delta*` always returns pixel values, we're proposing changing `delta*` to always return pixel values.

* Change definition of `deltaMode` to always return DOM_DELTA_PIXEL
* Change definition of `delta(X|Y|Z)` to always return pixels values
   * This will be a change for Firefox, bu

[2018-05-29 04:16] masayuki-nakano commented on #592
FYI: As far as I've tested, deltaMode value of each browser:

- Windows (system setting is set to multiple line scroll)
  - Edge: `DOM_DELTA_PIXEL`
  - Chrome: `DOM_DELTA_PIXEL`
  - Firefox: **`DOM_DELTA_LINE`**
- Windows (system setting is set to per page scroll)
  - Edge: `DOM_DELTA_PIXEL`
  - Chrome: **`DOM_DELTA_PAGE`**
  - Firefox: **`DOM_DELTA_PAGE`**
- macOS (trackpad)
  - Safari: `DOM_DELT

[2018-06-05 22:36] garykac commented on #592
@rbyers @travisleithead Any thoughts on this proposal?

[2018-06-06 02:17] RByers commented on #592
I've seen this difference between Chrome and Firefox cause real compat problems on real sites, so I support trying to fix it.  I agree that delta is so often pixel that it's safer to require that it ALWAYS be pixel.

So the proposal seems reasonable to me, though I worry we might just have the same problem with `rawDeltaMode`.  It seems to me having any property whose units vary based on another p

[2018-06-06 12:33] yuki3 opened #256 "Concern about "InvalidPointerId" DOMException."
Web IDL defines DOMException with many kinds of names.  See [Web IDL 2.7.1. Error names](https://heycam.github.io/webidl/#idl-DOMException-error-names).

Except for obsolete web standards, all other web standards (AFAIK) are using DOMExceptions defined in Web IDL and do not define DOMExceptions with own names.  I think that it's better to use DOMExceptions already defined in Web IDL instead of def

[2018-06-27 14:22] flackr opened #611 "Need clarification for when mouseenter/mouseleave should be dispatched for moved elements."
mouseleave [must be fired "when a pointing device is moved off of the boundaries of an element and all of its descendent elements"](https://www.w3.org/TR/uievents/#event-type-mouseleave). However, if the element is moved, there is currently very inconsistent behavior. I put together a [demo](https://output.jsbin.com/cukicuq) showing this.

Chrome and Firefox immediately dispatch the mouseleave eve

[2018-06-27 21:00] #38 closed, assigned to nobody

[2018-07-02 19:46] smaug---- opened #259 ""When the pointer capture target override is removed from its ownerDocument's tree" should talk about target not being connected anymore"
I think we do want this work in Shadow DOM

[2018-07-10 22:59] smaug---- commented on #214
Limiting the raw data to capturing mode only feels like a hack.
(https://github.com/w3c/pointerevents/pull/260#issuecomment-403921272)
That could force a web page to use both types of pointer move events.
What is the reason to not have an API to let web page to hint whether to coalesce or not? It could be per browsing context.

[2018-07-10 23:51] NavidZ commented on #214
The use case of listening to both types of pointermove and pointerrawmove is quite valid. They serve different purposes.

The argument against having a "browser context"-wide api to enable/disable rAF-aligning is the use case of using other third-party libraries or just a big webpage which has a lot of components. With disabling rAF for the whole browsing context you are forcing all the other hand

[2018-07-13 15:32] NavidZ commented on #214
@smaug---- does this address your concerns? More explicitly not limiting the pointerrawmove to the capturing and also set the bubble to true.

[2018-09-06 14:24] RByers opened #263 "Remove myself as editor and add NavidZ?"
Hey all,
With my increasingly pointy hair, I haven't really spent any time directly on pointer events in the past year, I think it's misleading to continue to list me as an editor. So I propose removing myself.

@NavidZ has long been the one on the Chrome team really leading our pointer events efforts and proposing the most edits. I propose we add him as an editor to reflect that.

Please let me k

[2018-09-06 14:52] patrickhlauke commented on #263
i was pondering this recently. you HAVE been editor for a good chunk of 2.0, but yes @NavidZ has done stellar work as well as you moved into the shadows. Wonder if there'd be objections to listing you both (just as the spec is, hopefully, now pushing over the finish line shortly)?

[2018-09-06 15:03] RByers commented on #263
I have no objection to that - add Navid now, remove me after 2.0 goes out the door to reflect that I'm not active in post-2.0 work.

[2018-09-06 15:23] patrickhlauke commented on #263
@mbrubeck any objection?

[2018-09-07 00:11] mbrubeck commented on #263
No objection here! I have been an absentee editor myself...

[2018-09-07 00:13] patrickhlauke commented on #263
it's all good. will do the PR tomorrow :)

[2018-09-07 07:44] patrickhlauke commented on #263
@NavidZ could you let me know your w3cid? see https://github.com/w3c/echidna/wiki/How-to-use-Echidna-with-ReSpec-and-GitHub#the-editor-ids

[2018-09-07 07:56] #263 closed, assigned to nobody

[2018-09-07 07:57] patrickhlauke commented on #263
@NavidZ as you were...managed (via a circuitous route) to find your w3cid

[2018-09-07 14:04] NavidZ commented on #263
My id is 92361. But I can see you already found it. Thanks :)

[2018-09-07 14:13] RByers commented on #263
Awesome, thank you @patrickhlauke!

[2018-09-10 19:05] patrickhlauke commented on #259
@smaug---- is this something we want to do in v2, or is this a v3 thing? if the former, any suggestion how to do it / what you'd like to see in the spec?

[2018-09-10 19:06] patrickhlauke commented on #256
@NavidZ @mbrubeck as this is outside of my technical understanding/comfort zone, could you look into what's required here?

[2018-09-10 20:34] patrickhlauke commented on #256
I'll add that those exception names were defined way back in Pointer Events Level 1 https://www.w3.org/TR/pointerevents1/, and reflect implementation reality from that time. Not sure if/how we can square these off now with the (newer?) Web IDL error names convention

[2018-09-10 20:53] NavidZ commented on #256
I talked to @foolip as well about this. I believe following that format seems like a better idea. The only question is to whether add a new error or just reuse one. The closest one that caught my eyes was **NotFoundError**. I wonder what others think about it.

This should be an easy change in the browsers I guess as soon as we agree on an error. @smaug---- @patrickkettner WDYT?

[2018-09-10 21:02] patrickhlauke commented on #254
The CSS Transitions spec is generated using Bikeshed, which creates all those classes/ids. Pointer Events uses ReSpec, which is more limited in that regard. These would have to be added manually throughout the HTML for consistency - it's not just a case of doing it for this one special case and applying the same CSS as the Transitions spec. For the time being, I think we'll have to pass. In future

[2018-09-10 21:02] #254 closed, assigned to nobody

[2018-09-10 22:19] smaug---- commented on #259
I think v2.

https://fullscreen.spec.whatwg.org/#fully-exit-fullscreen is dealing with similar issue for fullscreen element, the part "Whenever the removing steps run with a removedNode, run these steps:" Something similar should be done for pointer capture target.

[2018-09-11 18:30] NavidZ commented on #256
I also checked the usage in http archive and it was about only 300 urls none of them I could recognized. Looking at some of their codes I realized they are all seem to be coming from jquery/pep anyway:
https://github.com/jquery/PEP/search?q=invalidpointerid&unscoped_q=invalidpointerid

and couldn't find actually catching the exception and handling it in any part of their code.

cc @scottgonzalez

[2018-09-11 19:05] scottgonzalez commented on #256
PEP itself wouldn't ever listen for the error because it wouldn't run a browser that supports Pointer Events.

[2018-09-11 19:09] NavidZ commented on #256
Yup. Exactly. I meant that those websites who do have InvalidPointerId are just using PEP which is firing that event and not an actual listener acting on it. This makes it easy to just change the error code. So we need to update PEP as well as the browsers after we land on a new error name.

[2018-09-11 19:10] scottgonzalez commented on #256
Gotcha. Sounds good.

[2018-09-12 17:50] patrickhlauke commented on #259
@smaug---- would you mind just having a punt at drafting what this could look like in practice? or perhaps @NavidZ ?

[2018-09-17 20:01] smaug---- commented on #256
NotFoundError should be fine.

[2018-09-17 20:50] patrickhlauke commented on #256
I too believe `NotFoundError` seems appropriate. Unless I hear strong opposition, I'd like to merge the above PR (and I made a matching PR for PEP)

[2018-09-18 10:26] #256 closed, assigned to nobody

[2018-09-18 10:28] patrickhlauke commented on #256
from the PEP PR discussion:

@NavidZ

https://github.com/web-platform-tests/wpt/blob/master/pointerevents/pointerevent_setpointercapture_invalid_pointerid-manual.html

[2018-09-21 13:26] NavidZ commented on #256
There were actually 2 tests that needed update. I fixed them both.

[2018-09-25 02:24] my2iu commented on #98
Was the `clickCount` idea added to the spec in the end? I'm encountering problems with using pointer events because I can't detect double-clicks without using mouse events, but having mouse events and pointer events coexisting causes problems too because some browsers send certain touch events twice--once as pointer events and again as mouse events--and all sorts of headaches like that.

[2018-09-25 07:30] patrickhlauke commented on #98
no, a new `clickCount` was deemed too low priority for PE Level 2. it may be revisited in future version of the spec though.

[2018-09-25 14:41] NavidZ commented on #98
Btw, if you care about the click action you should really listen to the click or auxclick events as well (and just check the detail field for click count). Sometimes UA suppress click event if they believe the user didn't mean to activate anything. We were thinking of adding pointer properties like type and whatnot to click event which is also under debate.

[2018-10-02 22:28] #259 closed, assigned to nobody

[2018-10-24 13:19] garykac commented on #609
TPAC discussion doc:
https://docs.google.com/document/d/1AoNnGTGabWOQoAH-M34Jdw2rbbwb_pSZz2-69mysx_U/edit

[2018-10-25 14:06] patrickhlauke opened #269 "Pointer Capture section marked as non-normative"
https://w3c.github.io/pointerevents/#pointer-capture (must be an error from `<section>` rejiggling)

[2018-11-27 21:08] patrickhlauke opened #271 "ReSpec complains about normative references in informative sections"
@plehegar @NavidZ @mbrubeck while we're looking at the normative/informative mixup, it's also worth noting that ReSpec warns of 3 normative references inside informative sections

[code]

I'll admit that I'm no expert on the matter of when a reference needs to be normative vs informative ... could somebody with a clearer idea of this take a look? (in fact, our current editor's draft has 4 such war

[2018-11-27 21:08] #269 closed, assigned to nobody

[2018-11-28 00:35] andreastt commented on #271
The issue is that the [Introduction](https://w3c.github.io/pointerevents/#intro) is marked as informative through `<section id=intro class=informative>`, and as the error indicates, informative sections cannot have normative references because they per definition are not implementation requirements.

Assuming HTML, UI Events, and Compat are referenced in another normative section, you can just cha

[2018-11-28 09:23] patrickhlauke commented on #271
thanks @andreastt - i was aware of the technical "why", but your explanation made it clearer for me as to the "if I change this in code, what does it actually *mean* from a spec standpoint". I've made the change here https://github.com/w3c/pointerevents/commit/d2779fe71e3b1c26d6b4657ad0330bed378b8b69 (only substantive change is that `[COMPAT]` is now only an informative, rather than normative, ref

[2018-11-28 09:23] #271 closed, assigned to nobody

[2018-11-28 16:42] jonjohnjohnson opened #272 "Add logical dimension values for touch-action property, since logical is/has shipped"
https://w3c.github.io/pointerevents/#the-touch-action-css-property
https://drafts.csswg.org/css-logical-1/
https://caniuse.com/#feat=pointer
https://caniuse.com/#feat=css-logical-props

With Webkit being the last major vendor to work on pointer events, initially deployed in STP Release 67, as well as Edge being the only vendor without impending support for logical properties and values, it seems t

[2018-11-28 17:36] patrickhlauke commented on #272
i assume you mean logical values for `pan-x`/`pan-y` in this case, right?

[2018-11-28 18:16] jonjohnjohnson commented on #272
@patrickhlauke yep and any specifics of logical/physical language in the examples.

[2018-11-28 18:48] NavidZ commented on #272
I guess this would also include pan-left/right/up/down in the extension doc.

[2018-11-28 20:31] patrickhlauke commented on #272
I'll note that this is probably not so much about replacing those values, but complementing them with some form of logical axis/direction type values (that adapt to different writing systems etc). certainly `pan-x`/`pan-y` seem fine to me as they, in my mind at least, relate to the x/y coordinate system (which does not change for different writing systems) (as i see those being more low-level rela

[2018-11-28 21:15] jonjohnjohnson commented on #272
@patrickhlauke of course I hope it's only adding values, not replacing. No physical property/value has been replaced, only added afaik.

Even if someone does want to use scrolling/panning/interactions in the physical mapping, that's fine, but we also have a bunch of new ways to provide scrolling/panning/interactions that are related to a logical mapping. Think `overflow-inline: scroll`, `scroll-sn

[2018-11-29 14:20] smaug---- commented on #214
@spanicker I think I mentioned this spec issue to you at some point, but if not here it is.
This may affect to how UAs align (or not align) input events to rAF.

[2018-12-14 01:32] karlcow commented on #605
@cvrebert looking at https://www.chromestatus.com/metrics/feature/timeline/popularity/507 about `toElement` which has 40% usage!!! I wonder why there isn't not that many webcompat reports for Firefox. It sounds like there's a hidden story behind this.

The only webcompat report I can track down for now is
https://bugzilla.mozilla.org/show_bug.cgi?id=1205244

where relatedTarget has to be used inst

[2018-12-14 07:01] foolip commented on #605
The usage will be dominated by code that copies events by enumerating all properties. The prevalence of this type of code makes use counters on many event properties totally misleading.

[2019-01-07 15:11] sigurdle commented on #22
Hi, I was told that feedback from developers is useful to further the standardization of certain api. The getCoalesced API I've found very useful. I'm making a a paint/art program and it should go without saying that any API that gives you more control over the pointer, movements etc. is very very useful for such a program. I'm very excited about several things that the chromedev team are doing, g

[2019-01-07 16:19] patrickhlauke commented on #22
thanks for the feedback @sigurdle - this has been initially spec'd out here https://w3c.github.io/pointerevents/extension.html and may find its way into future versions of the PE specification

[2019-01-17 17:30] mustaqahmed commented on #607
@EiraGe has created an extensive report on [PointerLock coordinate space](https://docs.google.com/document/d/1mYk4qMxBVsFweqFOku2FZvMajejp2Q7XWGIld9ivlXE/edit?usp=sharing) where we observe that all major browsers except Edge expose `screenX/Y` coordinate in DIPs (device independent pixels).  So changing the `screenX/Y` spec to match the reality seems to be the best way forward for this issue.

@sm

[2019-01-17 18:40] garykac commented on #607
Relevant table from @EiraGe's document:

ScreenX/Y | Edge | Chrome | Firefox | Safari | ChromeMobile | Firefox Mobile | Safari Mobile
-- | -- | -- | -- | -- | -- | -- | --
coordinate space | Physical pixel | DIP | DIP | DIP | DIP | DIP |  
Scaled by device-scale-factor(OS High DPI setting) | X | ✓ | ✓ | ✓ | ✓ | ✓ | ✓?
Scaled by browser zoom | X | X | X | X | No browserzoom |   | No browserzoom
pin

[2019-01-22 19:23] wffurr commented on #206
I'd love access to these for a drawing surface, e.g. the drawing notes in keep.google.com.  I don't have any way to differentiate between events from a mousewheel or a touchpad.  We previously had a default behavior of wheel would zoom and ctrl+wheel would scroll, as zooming was much more common, but this worked poorly with touchpad gestures.

Detecting rotation gestures would be a neat feature to

[2019-01-28 21:41] grorg opened #274 "tiltX and tiltY aren't as helpful as just having altitude angle"
Pointer Events for a stylus currently use `tiltX`, `tiltY` and `twist` to give the orientation of the stylus in space. I believe that just `twist` and `altitude` would be sufficient for most cases, and easier to understand.

`altitude` is the angle between the screen surface and the stylus, ignoring the rotation or twist. Many styluses don't have an "up" direction around the barrel (e.g. Apple Pen

[2019-01-28 21:49] grorg commented on #274
`twist` is defined as "The clockwise rotation (in degrees, in the range of [0,359]) of a transducer (e.g. pen stylus) around its own major axis".

Unless I'm misunderstanding, this value would always be zero for an Apple Pencil. The stylus's own major axis is irrelevant to this device - what's important is how the stylus is oriented to the surface.

I think polar coordinates make much more sense t

[2019-01-28 22:05] grorg commented on #274
This also means an app that expects to get values for `twist` (say with a stylus that does have an orientation around the Z axis when standing straight up), won't work correctly with an app that doesn't provide values. i.e. a painting app would orient the nib shape around the twist, but instead should use tiltX and tiltY.

I could be wrong! It's a bit confusing.

Either way, I still think the idea

[2019-01-28 22:09] dfleck commented on #274
There are two common APIs:
xTilt, yTilt, and twist
or
altitude (angle between stylus and surface), azimuth (“compass” direction of tilt), and twist

twist is axial rotation of the stylus, and is the least supported (it usually requires an additional electrode or coil). Twist is important for non-symmetrical brushes (think chisel tip marker where moving with the stylus vertical could result in a na

[2019-01-28 22:13] grorg commented on #274
Right. So why are we using `tiltX` and `tiltY`? Apps want altitude and azimuth. Why force the devs to do the trig?

[2019-01-28 22:34] dfleck commented on #274
The hardware reports xTilt and yTilt because doing floating point trig on an eight bit micro with no math coprocessor is very time consuming.
Some people want raw data so they can decide what processing and what precision is necessary (if you only want altitude and not azimuth you don't need to compute both).
Sometimes you want xTit and yTilt (such as correcting coordinates based on tilt).

[2019-01-28 22:45] grorg commented on #274
What hardware? iOS certainly does not provide xTilt and yTilt.

Not all hardware uses an eight-bit micro and, even then, every event here is going through the browser engine, where the overhead from the trig function is going to be negligible compared to the event dispatch, the call into JavaScript, and then the processing JavaScript will do. This is premature optimization to the extreme.

Again,

[2019-01-28 22:50] grorg commented on #274
https://developer.apple.com/documentation/uikit/uitouch

👆 An example of an API that gives the developers what they mostly want rather than the raw values.

[2019-01-28 23:27] dfleck commented on #274
The sensor hardware. Even with an Apple pencil the touch sensor measures xTilt and yTilt.

Everything going thru the browser engine went thru the OS first, and the low level native API is usually xTilt, yTilt (Windows, Mac, and Linux).
https://docs.microsoft.com/en-us/uwp/api/windows.ui.input.pointerpointproperties.xtilt

The Wacom Wintab API provides both and developers can choose. In this situat

[2019-01-28 23:37] patrickhlauke commented on #274
so, for both backwards compatibility and "giving developers what they want" (though, is this backed up by data on developer wants? or purely on "since on this platform there's only this type of data, this is what they want"?), would a way forward be to provide these as additional properties? which would then require browsers to backfill/calculate the data that isn't currently provided by the low-l

[2019-01-28 23:40] grorg commented on #274
Yes, but that's irrelevant. We don't provide the sensor data. We don't tell the app what the voltage measured in the sensor is, for example.

The Web exposes APIs that make sense to developers, and in this case the Pointer Events specification provides the less useful information.

This highlights my point. Apple doesn't expose that to the developer. It exposes azimuth and altitude, because that m

[2019-01-28 23:47] grorg commented on #274
This is a valuable question! Thanks for asking it. I didn't provide any data.

So let's think about the common apps that would use a stylus. We can ignore everything that only needs the x,y locations (which is probably the majority of apps... because the user is on a stylus and the app just treats it like a regular touch).

Of the "specialised for stylus" apps, I suggest the most common involve pa

[2019-01-29 00:12] dfleck commented on #274
Good question. I imagine there is a legacy bias "I wrote this decades ago on an SGI and X Windows has always provided tilt so I dealt with it".

Proving both has "pain equity" since both platforms need to calculate something. Platforms with tilt need to compute altitude azimuth, and platforms with altitude azimuth need to compute tilt. ;-)

[2019-01-29 00:28] dfleck commented on #274
Something else. The resolution on tilt is often only one degree (remember, this is the raw starting point in the hardware). So if you want to control two independent things you really need to use tilt (which gives you a clean +- 60 values for each - independently). With altitude and azimuth the resolution of azimuth depends on the altitude value. At one degree off vertical, azimuth can only repres

[2019-01-29 00:28] grorg commented on #274
I'm happy to include both. I'd send a pull request but I'm not officially allowed to contribute to the group at the moment :)

[2019-01-29 01:39] grorg commented on #274
(BTW, given that the spec produces values in degrees rather than radians, there is definitely a lot of calculation happening before it ever gets to the JS level. And since the sensors produce a busy stream of noisy data, the amount of computation happening for each event way more expensive than calculating azimuth and altitude if you don't get them from the platform)

[2019-02-04 07:49] jidanni opened #612 "mouseover/mouseout events can repeatedly causing infinite re-layout in some buggy content"
As per https://bugs.chromium.org/p/chromium/issues/detail?id=923760#c6
I hereby file a bug against the spec. That's all I know. Sorry.

[2019-02-11 11:12] nuragic commented on #610
Hello... just wanted to `ping` spec editors in the hope they could clarify 🙏 Thanks!

@garykac @travisleithead

[2019-02-15 15:05] graouts opened #276 "`touch-action: none` definition is too vague"
The spec for the [`touch-action`](https://w3c.github.io/pointerevents/#the-touch-action-css-property) property currently has this to say about its [`none`](
https://w3c.github.io/pointerevents/#details-of-touch-action-values) value:

The other values for the `touch-action` property concern themselves with panning and zooming, so it makes sense to conclude that those "default touch behaviors" may b

[2019-02-21 17:06] NavidZ opened #277 "Limit pointerrawupdate and getCoalescedEvents API to secure origins"
@thiemonagel FYI
Both of getCoaelscedEvents and pointerrawupdate APIs expose some high frequency input and might expose some fingerprinting possibilities to the app.

Limiting this API to the secured origins makes sure only the intended origin has access to this data and no other malicious party over the network.

[2019-02-22 18:14] ChumpChief opened #278 "Immediately firing coalesced events for enter/leave/over/out?"
The [section on coalesced event firing](https://w3c.github.io/pointerevents/extension.html#timing-of-coalesced-event-firing) specifies that the coalesced events will be fired before pointerdown/up/cancel.  Seems they should also be fired before pointerenter/leave/over/out?  I think perhaps this is a natural artifact that rAF-aligned input only included down/up/cancel as immediate-dispatching event

[2019-02-22 18:31] dtapuska commented on #278
I think this is awkward because in order to determine if it is a pointerenter/leave/over/out you need to do a hit test. Even if you kept the target at the time the event first was received what element it matched in an older DOM you'd still need to hit test against the current DOM and it might not match a enter/leave/out/over because the layout was manipulated in between then.

Associating them wi

[2019-02-22 19:27] ChumpChief commented on #278
How are the targets populated in the current list received from getCoalescedEvents?  Presumably a hit test must be done at some point in order to generate those (Deferred until the coalesced event is dispatched maybe?  Or until getCoalescedEvents is called?)

Perhaps an alternative middle-ground approach might be to not fire the events immediately (still defer until the next frame or down/up/cance

[2019-02-22 19:44] dtapuska commented on #278
I believe spec text Navid wrote is `Note that this rule doesn't apply to target and it should still be the same as the dispatched event's target.` So all coalesced events will have the same target. Each coalesced event doesn't have its target calculated it is just cloned from the parent event.

Yes you will still have the coalesced event problem even in the raw events scenario, so it further goes

[2019-02-23 00:36] ChumpChief commented on #278
Ah my mistake - I had forgotten that I worked around this issue by using document.elementFromPoint on each unpacked move event to get the target element.  The unpacked moves each have the same target as you say.

I'm also thinking about drawing scenarios, in particular scenarios where the canvas might be small (checkbox, signature field) and it's highly likely that a coalesced move may fall outsid

[2019-02-25 18:59] graouts opened #279 "Dispatch of pointerover+pointerenter and pointerout+pointerleave in relation to related mouse events is not clearly specified"
If I write a test that listens to `pointerover` and `pointerenter` as well as the mouse events `mouseover` and `mouseenter` I get this sequence in both Firefox and Chrome:

1. `pointerover`
1. `pointerenter`
1. `mouseover`
1. `mouseenter`

However, I'm not sure the spec says why this would be the correct behavior instead of:

1. `pointerover`
1. `mouseover`
1. `pointerenter`
1. `mouseenter`

Shoul

[2019-02-25 22:40] NavidZ commented on #279
The spec used to be similar to what you expected. But due to [this issue](https://github.com/w3c/pointerevents/issues/35) we had to change to make it to the current state. Can you take a look at that issue and let me know whether you have more concerns or not?

[2019-02-26 07:51] graouts commented on #279
Just to confirm @NavidZ, you're saying the spec does not mandate either of the cases I describe and both are accepted? I don't think it's a big interop issues because content using pointer events and content using mouse events will get a similar sequence of events in both cases.

If so, happy to close this issue as a duplicate.

[2019-04-11 18:39] #214 closed, assigned to nobody

[2019-04-15 10:18] hsivonen commented on #605
[Another Gecko bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1539619) (Assumes that these exist if `window.event` exists.)

[2019-04-15 15:10] foolip commented on #605
@miketaylr these two attributes came up in your analysis of APIs missing from Firefox but with high usage in Chrome, and you said it didn't seem like a compat problem because usage was driven by jQuery. Seems like maybe it is a problem after all?

[2019-04-15 15:17] foolip commented on #605
Here's the implementation in WebKit and Chromium:
https://trac.webkit.org/browser/webkit/trunk/Source/WebCore/dom/MouseEvent.cpp?rev=235865#L211
https://cs.chromium.org/chromium/src/third_party/blink/renderer/core/events/mouse_event.cc?l=367&rcl=d95c281fff5f43cc6fa7e728bb62b028ad3c9cc7

They haven't diverged in their observable behavior, and writing down + testing these steps should be straightfor

[2019-04-16 21:50] miketaylr commented on #605
Yeah, we didn't have any issues, but it looks like shipping `window.event` opened a possible can of worms. I would guess the bug linked by @hsivonen won't be a unique instance.

[2019-04-18 00:37] garykac commented on #605
I can certainly add this to the spec (or accept PRs, whichever).

Confirming that the consensus to:
* Keep `relatedTarget` spec unchanged
* Add `toElement`/`fromElement` spec based on Chrome/Webkit impl

AFAICT, only Mozilla will be impacted by adding that to the spec. If they are OK with that, then I have no problems with doing this.

[2019-04-18 01:14] karlcow commented on #605
if Mozilla engineers were to implement `fromElement`/`toElement`, it would require to understand the consequences of doing so. :) More or less breakages.

[2019-04-18 16:47] foolip commented on #605
@garykac is there a difference between the spec and implementations for `relatedTargets`, or why do you ask if that should remain unchanged? If there is a difference, then it's probably still fine to define `toElement` and `fromElement` in terms of `relatedTarget` and try to align `relatedTarget` separately.

[2019-04-18 18:16] garykac commented on #605
Not that I'm aware of.

I included that because to/fromElement are a alternates to relatedTarget, and I wanted to be explicit that no changes were planned to relatedTarget.

(sorry for any confusion)

[2019-04-18 20:16] foolip commented on #605
Alright! :) Also in the interest of being explicit, do you plan to write a PR?

[2019-04-18 20:40] garykac commented on #605
Yes!

[2019-04-19 06:36] foolip commented on #605
Sweet, thank you!

[2019-05-06 23:06] patrickhlauke commented on #279
The specific event sequence mentioned in the spec is only a suggestion (couched in MAYs and SHOULDs) per the section 11 intro https://www.w3.org/TR/pointerevents/#compatibility-mapping-with-mouse-events

The suggested order of events in https://www.w3.org/TR/pointerevents/#mapping-for-devices-that-do-not-support-hover is further inside a note, which in this spec is treated as non-normative.

[2019-05-07 07:54] #279 closed, assigned to nobody

[2019-05-07 14:19] NavidZ commented on #279
As @patrickhlauke said there is no mandate on that ordering. However, I can tell you some back history of what caused to do this. Basically depending on how the UA generates the compatibility mouse events the boundary events (say `mouseout` and `pointerout`) don't always come together. Sometimes there is a `mouseout` without any `pointerout` for example when there is multiple pointers on the scree

[2019-05-10 17:52] k3a commented on #274
I've made a script to do the conversion between the two which may be useful:
https://gist.github.com/k3a/2903719bb42b48c9198d20c2d6f73ac1

* **spherical to tilt** is from Qt code but is quite obvious (projection to axes and using arctan to find angles)
* **tilt to spherical** was done by defining normal vectors of tilted planes, making the cross product of them to find the pen direction, convertin

[2019-05-10 18:26] konard commented on #576
Looks like this issue also applies the usage of the `double click` event. WebKit browsers stop fire event, FireFox continues. [Example](https://jsbin.com/kudixijuzu/edit?html,js,console,output).

[2019-05-10 19:10] dfleck commented on #274
Actually, users hold the stylus more vertical than 45 degrees. More like 62.4 degrees:
http://www.xiaojunbi.com/pdf/pta.pdf

It’s 76.3 degrees for a left handed person. (XTilt of 13 from vertical - but YTilt is all over the place due to the wide variety of left handed grips).

[2019-05-13 13:12] NavidZ commented on #211
@appsforartists would overscroll/scrollend events [here](https://discourse.wicg.io/t/proposal-new-events-for-overscroll-and-scrollend/3481) would solve the issue here? If so you might want to take a closer look and suggest any modifications there in these early stages.

[2019-05-14 21:35] smaug---- opened #282 "It is unclear how predicted events' timestamps should relate to actual dispatched events"
Is it possible that there will be actual events dispatched sooner than what predicted events' timestamps hint?
Perhaps some small clarification in the spec would be enough.

[2019-05-15 15:28] NavidZ commented on #204
Discussed in today's group meeting and although [pointerrawupdate](https://github.com/w3c/pointerevents/issues/214) and [getPredictedEvents](https://github.com/w3c/pointerevents/issues/38) can reduce latency, based on Microsoft team testing the latency is still there and can hurt user experience. But it seems the API format proposed in this issue might not be the best fit for the use case. They wi

[2019-05-15 18:24] NavidZ opened #580 "Click targeting is inconsistent across different UAs and the spec"
@smaug---- @rniwa
Based on the current wording of the spec it seems that UA should send the click event to the first inclusive common ancestor of the down and up targets unconditionally. I added the following two wpt tests to cover this behavior:

[http://w3c-test.org/uievents/click/click_event_target_child_parent.html
](http://w3c-test.org/uievents/click/click_event_target_child_parent.html
)[htt

[2019-05-15 19:56] smaug---- commented on #580
Gecko moved to Blink's old behavior late last year, common ancestor is looked up until nearest [interactive content](https://html.spec.whatwg.org/#interactive-content-2).

Webkit has some different model, IIRC. Does it depend on whether some form element is implemented in shadow DOM or some such?

[2019-05-20 22:58] rniwa commented on #580
WebKit has a bunch of ad-hoc rules. It seems important for backwards compatibility unfortunately :(

[2019-05-21 19:02] NavidZ commented on #580
@rniwa do you think it is possible to revisit those hacks and see whether it is possible to remove them as much as possible? Some of them might not be that useful anymore with the current web.

I would love to achieve a uniform predictable behavior across browsers hopefully sometime in the future.

[2019-05-22 20:18] graouts opened #283 "pointerenter vs. pointerleave dispatch sequence"
I'm working on the WebKit implementation of Pointer Events and found this discrepancy in the tree order in which `pointerenter` and `pointerleave` events are dispatched between WebKit and Chrome/Firefox. See [WebKit bug #198036](https://bugs.webkit.org/show_bug.cgi?id=198036).

I couldn't find where the Pointer Events spec normatively defines the tree order for dispatch of those events. Could some

[2019-05-26 15:55] graouts opened #284 "Should pointer events and compatibility mouse events have the same timestamp?"
I'm asking this because one of the WPT tests ([pointerevent_suppress_compat_events_on_drag_mouse.html](https://github.com/web-platform-tests/wpt/blob/master/pointerevents/pointerevent_suppress_compat_events_on_drag_mouse.html)) expects it to be the case but I can't find anything in the spec to back that up. Either this should be made clear in the spec or that assertion should be removed. I've rais

[2019-05-26 17:02] patrickhlauke commented on #283
i don't believe the exact order is normatively defined beyond what it says in https://w3c.github.io/pointerevents/#compatibility-mapping-with-mouse-events (which itself is an optional feature). i think divergence in this case is reasonably safe as i would hope no code in the wild would rely/do anything with the exact order of pointer event and compat events

[2019-05-27 14:28] NavidZ commented on #284
I believe compatibility mouse events are the non-normative part of the spec. So in that sense we shouldn't even need to have the test for it. Having said that, there are some tests that just check the current common behaviors of the implementors without having the exact specification for it. Like the one you mentioned.
I would love to ask your opinion about the behavior first. Do you think that is

[2019-05-27 14:42] graouts commented on #284
I don't really see the value in ensuring that the timestamp is the exact same value, at least it doesn't seem like a good idea to me for an author to rely on this kind of data to make any kind of assumption. I might also be biased by the extra work required to make this work in WebKit :) So I would advocate that we remove the specific part of the test about equal timestamps.

[2019-05-27 14:52] NavidZ commented on #283
I'm not sure if I fully understood the title of this bug compared to what the [WebKit bug #198036](https://bugs.webkit.org/show_bug.cgi?id=198036) talks about. The Webkit bug talks about this other [spec issue](https://github.com/w3c/pointerevents/issues/279). I assume the discussion there was acceptable.
But if you are talking about sending pointerenter and pointerleave when we have nested elemen

[2019-05-27 15:00] graouts commented on #283
@NavidZ I see how this could be confusing. But this spec issue is indeed relevant, if I filter out the mouse events, the sequences are:

In STP 82:

    Received pointerenter on <div id="bottom">
    Received pointerenter on <div id="middle">
    Received pointerenter on <div id="top">

In Chrome and Firefox:

    Received pointerenter on <div id="top">
    Received pointerenter on <div id="middle

[2019-05-27 15:24] NavidZ commented on #283
@patrickhlauke was referring to the compatibility mouse events part of it and it should not matter.
@garykac FYI

In terms of the ordering of the enter and leave events when there is a nested set of nodes I believe the UI events spec [link](https://w3c.github.io/uievents/#events-mouseevent-event-order) I gave is normative. It seems Webkit doesn't follow that for mouse events either. I think whatev

[2019-05-27 15:26] graouts commented on #283
Thanks for the link @NavidZ, this makes me think that we should fix this in WebKit for both mouse events and pointer events.

[2019-05-27 18:44] NavidZ commented on #284
I don't mind removing that from the tests. @smaug---- WDYT?

[2019-05-28 08:45] graouts commented on #284
If we're in agreement, I have a PR to change the test at https://github.com/web-platform-tests/wpt/pull/17041.

[2019-05-28 14:34] RByers commented on #284
I agree the spec doesn't require this, so relaxing the tests seems fine.

That said, a couple years ago I believe we did [get agreement](https://github.com/whatwg/dom/issues/23#issuecomment-282708277) that `Event.timeStamp` was the right way to [measure input latency](https://developers.google.com/web/updates/2016/01/high-res-timestamps). So it would seem confusing to me for a `pointerdown` to hav

[2019-05-28 16:11] #284 closed, assigned to nobody

[2019-05-28 22:52] NavidZ commented on #283
@graouts if you are planning to fix Webkit here is there anything else remains for this issue? Can we close it?

[2019-05-29 08:17] graouts commented on #283
Yes.

[2019-05-29 08:17] #283 closed, assigned to nobody

[2019-06-04 14:36] graouts opened #285 "Changing the DOM hierarchy while handling a "pointerenter" event produces significantly different results across browsers"
Consider this example (which GitHub wouldn't let me attach):

[code]

If you move your mouse pointer over the black rectangle, which produces a "pointerevent" event that removes all of its content, the different browsers I've tested dispatch all different events.

Should the Pointer Events and/or UI Events specifications discuss what should happen in this situation?

## Safari (ToT build)

1. poin

[2019-06-04 15:10] NavidZ commented on #285
Thanks for catching this.
The only thing I found in UI event spec regarding this was:
"If the event target (e.g. the target element) is removed from the DOM during the mouse events sequence, the remaining events of the sequence MUST NOT be fired on that element."

It certainly doesn't seem very clear and isn't very specific particularly in examples like what you gave. I do think that UI events spe

[2019-06-12 02:20] BoCupp-Microsoft commented on #100
The open question on this thread seems to be about what use cases would require click, dblclick, and contextmenu to become a PointerEvent instead of a MouseEvent.

The use cases I know of involve detecting pointerType, but I don't think its fair to say that any of these cases actually "require" these events to be PointerEvents.  A developer could remember the pointerType of the last primary pointe

[2019-06-12 05:53] lknik opened #286 "Security & privacy considerations"
During 12.06.19 TAG telecon discussion we covered potential privacy footprint of this spec.
I wonder if you considered any implications of proposed changes, i.e. would pointerrawevent frequency be of particular difference to the non-raw mode? If so, did you consider what would be the potential change in risk, if any?

If you feel there are no particular issues, perhaps at least link tohttps://www.

[2019-06-12 16:05] patrickhlauke commented on #100
discussed on PEWG call today https://www.w3.org/2019/06/12-pointerevents-minutes.html

concerns about potential compat problems (including switch from integer to fractional coordinates in PE), and how to treat keyboard-generated events (invent new `pointerType`? just leave it empty/null?). historical issue of `click` etc being mouse event but triggered by keyboard too, more a generic `activate` ev

[2019-06-13 16:16] VeXell commented on #586
New version of windows also support change scroll direction and safari can provide this information on macOs with webkitDirectionInvertedFromDevice. Do we have any chance if it would be implemented ?

[2019-06-24 15:34] graouts opened #288 "Update the WebKit status in README.md"
Since Pointer Events are enabled by default in both Safari on iOS 13 and Safari 13.0 for MacOS Catalina and Mojave, I think the README.md should be updated to say that WebKit support is In Development, at least until those software releases ship to the wide public.

[2019-06-24 15:37] dtapuska commented on #288
A number of WPT tests are still failing.
https://wpt.fyi/results/pointerevents?label=master&label=experimental

What is the status of WebKit fixing them?

[2019-06-24 15:44] graouts commented on #288
For the tests that are expected to work on macOS (*_mouse.html), this status is quite old already since this STP release is a few releases behind. The pass rate is higher on a number of tests and I'm working on fixing a few remaining tests that are not passing 100%.

For the touch tests (*_touch.html), there is no relevant data on this page since these tests could not work on macOS, only on iOS. T

[2019-06-24 15:50] NavidZ commented on #288
I agree that the readme can be updated nevertheless. Definitely the "opposition" is not valid anymore. I suggest sending a PL and adding any links you see fit to the text similar to the other browsers.

[2019-06-24 15:53] dtapuska commented on #288
I thought that webkit didn't support any of the touch-action directives other than auto & manipulation, and that was where the opposition is. You need to do the manual tests to see that it passes them.

Perhaps iOS is only passing 100% of automated tests?

[2019-06-24 16:14] patrickhlauke commented on #288
it should support `touch-action: none` as well (not tested directly, but it's mentioned and used in the relevant demos on https://developer.apple.com/videos/play/wwdc2019/203/)

[2019-06-24 18:16] graouts commented on #288
We support every feature defined in the [Pointer Events specification](https://w3c.github.io/pointerevents), including the various `touch-action` values. We have also added further automated testing using testharness.js that we plan to submit once the dust settles.

At any rate, I think no matter what way one chooses to measure, our implementation should at least be considered "In Development". It

[2019-06-24 18:23] dtapuska commented on #288
Cool.. my mistake for some reason the github mirror of webkit on search wasn't showing the pan values. I checked trac and I see them there. That is great!

[2019-06-24 18:24] NavidZ commented on #288
@graouts sounds good. I forgot whether you guys could send pull requests or just review them (legally speaking). But let me know and I can send the pull request instead if you prefer.

Kind of tangent to this topic but since you brought up the link to the [main spec V2](https://w3c.github.io/pointerevents/) I wonder whether you have any comments about features in the [extension doc](https://w3c.gi

[2019-06-24 18:34] graouts commented on #288
I don't think I can file a pull request I'm afraid @NavidZ. If you don't mind, thanks for making one.

I have seen the extension document but have not researched it very much, not sure of where it stood in the context of the Pointer Events standardization process. When pull requests come up in this repository, I will take a look and comment.

[2019-06-25 13:38] #288 closed, assigned to nobody

[2019-06-25 23:49] gked opened #290 "Pen Button Events"
Today, it is impossible for a web app to detect when an user presses the top button on a surface pen. Native apps like PowerPoint can register for pen button events to, for example, advance a slide show. Web PowerPoint should be able to do the same.

Is there any opposition to standardizing events such as "penbuttonclick", "penbuttondblclick", "penbuttonpressandhold" to enable such scenarios?  Are

[2019-06-26 00:51] NavidZ commented on #290
What is the code of that button? Is that specified in this set:
https://w3c.github.io/pointerevents/#the-button-property

I assumed it was the barrel button. Is it not?

[2019-06-26 07:48] patrickhlauke commented on #290
the button on the shaft/barrel is, unsurprisingly, the barrel button (if you press the button and THEN touch the digitizer, `buttons` registers as `2` - it appears though that it doesn't register for a hovering stylus, nor does it register if you've already started touching the screen with the stylus, with `buttons` registering `1` regardless of whether or not you're then pressing the barrel butto

[2019-06-26 07:49] patrickhlauke commented on #290
randomly, this made me finally dust off my old https://patrickhlauke.github.io/touch/tracker/multi-touch-tracker-pointer-hud.html demo to verify, so i'm hoping my results above weren't somehow tainted by my primitive coding on that ;)

[2019-06-26 12:26] NavidZ commented on #290
I might still be a little confused what the problem is referring to. But this issue #134 might also be related. I feel like I might get the problem more during the call when we discuss this issue.

However as a side node, Assuming we go with eraser button route in #134, the way it seems it should work is that when you are hovering and pressing the eraser button it should send a pointerdown with er

[2019-06-26 12:45] patrickhlauke commented on #290
the confusion probably due to the fact that the surface stylus' eraser has, effectively, dual functionality. when you gently touch it to the screen, it registers as a pointer with button value `2`. but when you hold the stylus in the air and just gently touch the eraser, it doesn't register (believe this is hardware-based limitation). however, that same eraser when pressed hard with the thumb actu

[2019-06-26 12:46] patrickhlauke commented on #290
currently, when the eraser is touched to the screen, pointer events (`pointerdown` etc) are being generated, and the `buttons` indicates `32` [sorry, typo...originally wrote `2` but it IS `32` i just checked]

[2019-06-26 18:57] gked commented on #290
Yes, the scenario I am referring to is mainly about pressing the eraser button when the pen is not touching the screen nor it is hovering in the near proximity of the screen. I can definitely move this into UIEvents spec and let @garykac to weigh-in on this if it feels like just another input modality.

[2019-06-27 06:51] graouts opened #291 "Setting pointer capture on an element in a parent frame when the pointer was made active in a child frame"
The test [pointerevent_mouse_pointercapture_inactivate_pointer.html](https://github.com/web-platform-tests/wpt/blob/master/pointerevents/pointerevent_mouse_pointercapture_inactivate_pointer.html) specifically checks that handling a `pointerdown` event dispatched on a target element in a child frame and calling `setPointerCapture()` in the parent frame on an element contained in the parent frame sh

[2019-07-02 15:10] NavidZ commented on #291
@graouts You are right. It is not very clear how the active button state is defined with respect to the iframes. But how do you feel about the current behavior?

A little background on this. We realized if we had cross origin frames we didn't want the embedder or the embedded iframe call the setpointercapture if they didn't receive an active button state pointer before for security reasons. Not on

[2019-07-02 16:35] smaug---- commented on #291
Given the current spec, nothing prevents setPointerCapture to occur, so the test is invalid.

How did that happen, invalid test landed to wpt. Hmm, some Google internal thing... https://github.com/web-platform-tests/wpt/commit/9d19b76509703231f5449f72c1ebf8f8bbf1bb7d#diff-a7cee0688ae91de031e5f94fff49e332  linking to some non-open design doc :/

That test should be removed from wpt until we've deci

[2019-07-02 16:47] smaug---- commented on #291
I'm not against limiting setPointerCapture to current domain, although that does prevent certain use cases. And a question is that should it be limited to the current document, or current domain.

[2019-07-02 17:20] NavidZ commented on #291
I don't mind either moving the test to the extension folder until we agree on a behavior about this. Also I believe @EiraGe just made that document public.

Regarding the use cases, what did you have in mind @smaug---- ? I'd like to know whether those would encourage any of domain vs document level capturing or not.

[2019-07-02 17:39] EiraGe commented on #291
I'll have the test remove from WPT shortly. Sorry for the incorrect test :/

[2019-07-02 17:59] smaug---- commented on #291
Just some embedding scenario where some cross-domain widget would do something useful. One could pass pointerid via postMessage.
Same origin iframe case is probably more compelling, since there communication is synchronous.

Does Blink limit setPointerCapture to the document, or same origin iframes or what?

[2019-07-03 01:16] #290 closed, assigned to nobody

[2019-07-03 01:17] gked commented on #290
I created another issue on UI Events repo - https://github.com/w3c/uievents/issues/237. Hence, closing this one.

[2019-07-03 18:35] NavidZ commented on #291
Our plan was to limit it to the document. There might be some bugs here and there and edge cases that we haven't caught yet but that was our plan and the current state as far as our tests say.

[2019-07-03 19:36] EiraGe commented on #291
It may also have security concern for allowing capture in cross-domain widget: a frame may keep trying to capture mouse id or just random pointer ids without any postMessage.

[2019-07-03 22:36] smaug---- commented on #291
What does limiting to document mean? If an element with event listener for pointerdown is moved during event dispatch to another document and then handles the event, is it allowed to call setPointerCapture?
(Remember, event path is calculated before handling the event, so capturing event listeners for example can move targets in path to other documents)

[2019-07-10 16:04] patrickhlauke commented on #211
Discussed at today's PEWG meeting (see minutes https://www.w3.org/2019/07/10-pointerevents-minutes.html). Decided that at this stage, this may require further discussion, as it is potentially beyond just pointers/pointer events, and that the proposed behavior may bring up issues when apps and default browser action need to be handed off twice. Suggest discussion happens at the WICG https://discour

[2019-07-10 16:04] #211 closed, assigned to NavidZ

[2019-07-10 16:06] patrickhlauke commented on #203
Discussed at today's PEWG meeting (https://www.w3.org/2019/07/10-pointerevents-minutes.html) ... there's a desire to look at a more input-agnostic model (or at least a more neutral "naming", so we don't end up with lots of different `[pointertype]-action` css properties every time a new pointer type gets introduced. this feels most in line with the agnostic/generic idea of PE. keeping this open fo

[2019-07-10 16:07] patrickhlauke commented on #206
Closed (discussed in PEWG meeting today https://www.w3.org/2019/07/10-pointerevents-minutes.html) - concerns about being too low-level, crossing over with things such as sensor API, and - at least at this stage - few use cases/resources in this area.

[2019-07-10 16:07] #206 closed, assigned to nobody

[2019-07-11 14:59] NavidZ commented on #291
I believe from the Blink implementation we do limit it to the document that belongs to the event path calculation (i.e. the document that the target belonged to at the time of hit-testing). But we certainly are open to other interpretations and changing this behavior if there are use cases for them

[2019-07-11 23:35] patrickhlauke opened #292 "Expand note about `click` / `contextmenu`"
Based on questions/conversations with developers (e.g. a while back on twitter with @jakearchibald), make it clearer in https://w3c.github.io/pointerevents/#compatibility-mapping-with-mouse-events that it's still up to the UA to determine whether or not a `click` or `contextmenu` is fired. For instance, on a touch interface, UAs may decide *not* to fire a `click` in response to a second finger tap

[2019-07-21 02:31] wisniewskit commented on #592
Let's try to get some momentum going on this one again :)

@NavidZ, mind chiming in with your thoughts?

@masayuki-nakano, what do you think about the concern @RByers raised?

For what it's worth, I feel Rick has a good point and suggestion here. I feel that the default behavior should be consistent, as in my experience working on webcompat, web pages almost always presume pixel values and aren't

[2019-08-02 19:58] #213 closed, assigned to NavidZ

[2019-08-07 15:45] NavidZ commented on #285
Talked about this issue in PEWG bi-weekly call and we decided to follow up on this issue with UI events folks first. Hopefully, we can define things better when @garykac procedural rewrite of the UI events spec is done. Let's follow up on this after/during TPAC.

[2019-08-07 15:48] NavidZ commented on #291
This issue was discussed in today's PEWG call and we decided to add the restriction of the activeness to the target's associated document (@NavidZ to send a pull request and we can discuss further on that). Although this seems to be restricted we decided to go with that for now to make sure abusive behaviours are not possible. But we keep an eye on this in case any valid use case rises in future.

[2019-08-07 16:22] patrickhlauke commented on #274
discussed this in today's PEWG meeting - we're aiming to draft out something for v3 to include both sets of variables - will circle back to this once we have something tangible

https://lists.w3.org/Archives/Public/public-pointer-events/2019JulSep/0034.html

[2019-08-19 08:42] graouts commented on #291
@NavidZ That seems reasonable. Has a PR materialized yet? Feel free to Cc me.

[2019-08-20 21:11] LanWei22 opened #295 "Set touch-action to allow web pages opt out Android back gesture"
Android Q starts building fully gestural system navigation to replace navigation bar buttons, when we are doing horizontal edge swipe from left or right, the Android system will make Chrome go back. Android provides a Gesture Exclusion Rects API which sets a list of areas where the Android system should not intercept touch or other pointing device gestures, and instead the web pages will consume t

[2019-08-20 21:23] patrickhlauke commented on #295
This sounds like it's a user agent implementation choice, not necessarily something that would/should be covered by the spec itself (unless I'm missing something?)

[2019-08-20 22:18] LanWei22 commented on #295
We will add this into the touch-action's spec, even though this does not change the current behavior of touch-action.

[2019-08-20 22:20] patrickhlauke commented on #295
As a non-normative note, I'd assume?

[2019-08-20 22:30] LanWei22 commented on #295
Yes, as a non-normative note.

[2019-08-21 00:04] NavidZ commented on #295
There is a similar edge swipe gesture on iPhone as well and I was wondering whether Apple folks have any comments regarding exposing such a control to the web apps. @graouts WDYT?

[2019-08-21 14:02] graouts commented on #295
@NavidZ I don't think we'd be interested in this, application-level gestures should always be respected in my opinion.

[2019-08-22 08:25] Ms2ger opened #296 "Update spec to new IDL syntax for optional dictionaries"
See heycam/webidl#758

[2019-08-23 06:02] ExtAnimal opened #299 "Suggestion. pointer-events: disabled"
Or some similar property value name.

`disabled` would mean no events at all. Not event from ancestor elements. No `:hover` behaviour either. Unreactive.

`none` means that pointer events "see through" the element and just start their bubble and hover behaviour from the `parentNode`.

For some applications, you just want an element to be unreactive.

[2019-08-23 08:25] patrickhlauke commented on #299
`pointer-events` CSS property has, confusingly, nothing to do with the Pointer Events API. suggest you post this on https://github.com/w3c/csswg-drafts/issues

[2019-08-23 08:25] #299 closed, assigned to nobody

[2019-08-29 08:57] Ms2ger opened #301 "Update to constructor operations"
See https://github.com/heycam/webidl/issues/778.

[2019-08-30 13:20] graouts opened #303 "touch-action and scrolling directional lock"
I’m looking into an issue reported against Safari in iOS 13 related to Pointer Events. I've created a [test case](https://gist.github.com/graouts/e7390caa34f08549f95a0ae8b3d10a93) that reduces the issue to a simple usage scenario where a page is designed to only ever scroll vertically but contains an interactive area where the user may scroll horizontally to go through various panels (think an ima

[2019-08-30 20:33] NavidZ commented on #303
Yes. Chrome does do the direction locking for touch scrolling. It is called railing. However, it only holds it if the user doesn't move a substantial amount in other directions. If they do then railing breaks. Here is an [example](https://output.jsbin.com/cigobit). If you start scrolling horizontally if the finger moves slightly vertically we don't do vertical scroll. But if you move the finger en

[2019-08-30 20:51] NavidZ commented on #303
That is the touch-action role here. But touch action doesn't specify quite what the user agent does with that. So I wouldn't say that necessary only applies to the scroll. But we can say here is a new value for touch-action (say 'single-direction') that let the browser to do its own action (being scrolling or pull to refresh or anything else) only on the first direction that user moved their finge

[2019-08-30 20:59] NavidZ commented on #303
Apologies for the previous long comments. I posted them earlier before doing one the last clean up and hence it might have had some clutters in case you are reading them in email.

[2019-09-03 21:57] dlibby- commented on #204
Yes, it is true that even with pointerrawupdate and prediction, there is still a gap in latency. I like the simplicity of specifying a cursor-like image for the UA to draw trailing the pointer, but in practice it will lead to undesirable artifacts, mainly because the stroke that is drawn by the app would not be taken into account.

Inking applications on the web already follow the pattern of ‘cons

[2019-09-09 15:06] graouts commented on #303
Thanks for all this info @NavidZ. However, I'm still unclear how my [test case](http://output.jsbin.com/parufajoye) gets locked to horizontal scrolling in Chrome. Could you explain what Chrome uses to disable vertical scrolling when an horizontal panning gesture is initiated over the blue area, which is not a scroller but just an area listening to pointer events?

[2019-09-09 16:31] NavidZ commented on #303
Your example falls into the embedded scrollers on the page and the "scroll latching" case I mentioned.

So basically in your page there are two scrollers. The first one is the horizontal scroller which is embedded inside the document vertical scroller. So when you touch the horizontal scroller and move your finger Chrome calculates the scroll chain from where the touch started (basically two scrol

[2019-09-09 18:17] graouts commented on #303
Thanks for your patience @NavidZ :)

What I still don't understand is how Chrome determines that the horizontal scroller *is* a scroller. The scrolling logic is all implemented in JavaScript listening to pointer events, it's just an `overflow: hidden` container with content that is translated using a `transform` property that is modified by script.

[2019-09-10 10:20] graouts commented on #303
Removing the `touch-action: pan-y` property on the `.scrollable` element really affects Chrome's behavior…

[2019-09-10 12:29] graouts commented on #303
Actually, we can remove JS entirely from the equation, this simple code shows the behavior:

[code]

If you do a horizontal panning gesture over the black rectangle then you will never be able to scroll vertically with this finger in Chrome. If you remove the `touch-action` value then you can.

[2019-09-11 02:25] NavidZ commented on #303
My bad. I actually did build all those examples of mine based on your example but when replying to your last comment I just tried it on the phone and forgot what the code was doing. You are right that there is indeed no second scroller. Only the main document vertical scroller.

So Chrome in general decides to think about scrolling when touch point moves beyond slop region. At that point Chrome kn

[2019-09-11 16:29] graouts commented on #303
My interpretation of this paragraph does not relate to the issue here. To me, what this means is that a change to the `touch-action` value has no bearing during a given touch gesture.

I think we have two options:

1. Specify in Pointer Events that if a single panning direction is specified with the `touch-action` property that initially panning in a contrary direction should prevent scrolling in

[2019-09-12 21:39] gked commented on #204
creating a reference for RFC TPAC: https://github.com/w3c/webappswg/issues/10

[2019-09-15 03:01] BoCupp-Microsoft commented on #203
Here's a link to the [pen-action explainer](https://github.com/MicrosoftEdge/MSEdgeExplainers/blob/master/PenAction/explainer.md) that was discussed and resulted in the comment Patrick wrote above.

[2019-09-15 04:26] BoCupp-Microsoft commented on #203
Regarding a more generic proposal in response to the WG feedback, @gked and I played with some syntax and arrived at the same proposal by @NekR above.

pointer-action: pen(none) touch(pan zoom);

We like the future-proofing of this proposal.  Here are some additional specifics that I imagined were implied by it:

The type should parse correctly for any string that syntactically could be a valid fu

[2019-09-16 07:33] #301 closed, assigned to nobody

[2019-09-30 22:14] dlibby- commented on #204
We shared the following proposal at TPAC:

https://github.com/MicrosoftEdge/MSEdgeExplainers/blob/master/WebInkEnhancement/explainer.md

It's unclear whether this would fit under the PointerEvents WG charter, but we'd love to get this group of people's feedback on the proposal. I will post a link to WICG discourse thread once it is available.

Thanks!

[2019-10-01 16:27] NavidZ commented on #204
@dlibby- I'm not quite sure about the charter stuff. From our discussions at TPAC I do believe we need to somehow tie this to the pointerevents and pointerid. But whether it fits under current PEWG charter or not I leave it up to @patrickhlauke to decide.

Regarding a feedback on the proposal, could you link here or in the explainer the native Windows API that supports the feature. I'd like to fol

[2019-10-02 15:58] smaug---- opened #613 "Need clarification how mouseenter/leave should behave while modifying DOM tree during event dispatch"
It isn't clear which elements should get mouseenter/leave events if DOM is modified during dispatching one of the events.

Pointer events variant of this bug is https://github.com/w3c/pointerevents/issues/285

[2019-10-02 22:00] dlibby- commented on #204
The native Windows API does not yet exist and is currently work-in-progress &mdash; however, the proposed Web API exposure maps closely to how we expect this to be exposed for Windows (a method for setting 'style' properties, a method for communicating the last point rendered, and a method for communicating pen input points as they arrive).

The work to create a public API is about exposing this p

[2019-10-03 06:46] masayuki-nakano commented on #592
(Sorry, I didn't realize the mention here.)

Yes, sounds like that's great idea. I agree with it.

However, I have a concern about implementing it. For making it, each implementation should have computed value of `lineDeltaX/Y` and `pageDeltaX/Y` or line height or page height/width for computing them later since events may be stored with variables and may be referred later (i.e., after ending the

[2019-11-04 21:40] #291 closed, assigned to NavidZ

[2019-11-11 23:13] InstyleVII opened #593 "Change DOM_DELTA_PIXEL to be intended scroll distance instead of exact scroll distance"
In Edge when we scroll we actually scroll a percentage of the scroller's bounds for every wheel tick. We've found this leads to a more consistent scrolling experience and ensures that regardless of scroller size the user get's a proportionate scroll every time. When we did this in EdgeHTML we misreported the deltaY value to always be a percentage of the root scroller (we didn't account for sub-scr

[2019-11-19 16:18] CWies commented on #592
@masayuki-nakano could you add the unit in which the values(deltaX/Y/Z) are actually returned to your list above? I found that, on Windows, when set to multiple line scroll, the actual unit is always lines, and when set to pages it is always pages. Though I have neither a macOS nor a Linux device. Are they always returned in lines? I am especially wondering about macOS with trackpad, since firefox

[2019-11-20 00:56] masayuki-nakano commented on #592
@CWies Isn't you asking about what I commented in https://github.com/w3c/pointerevents/issues/592#issuecomment-3740725403 ?

[2019-11-20 07:42] CWies commented on #592
@masayuki-nakano As I understand, thats what deltaMode returns in each browser. Though I need to know in which unit deltaX/Y/Z are actually returned, because in my testing, both edge and chrome, while returning `DOM_DELTA_PIXEL` for deltaMode, only give values of 1 for deltaX/Y/Z every time i turn the scrollwheel to the next step, which is actually 1 Line and not 1 Pixel(as far as i understand)

[2019-11-21 05:02] masayuki-nakano commented on #592
The value can be checked with `deletaMode` as you know.

Don't you see a lot of `wheel` events in such case? If so, the device tries to scroll smoothly with splitting one action to multiple wheel events.

[2019-11-21 05:21] CWies commented on #592
No... both on edge and chrome not

Why the whole discussion then? Shouldnt something like
`  if (mode == 0) multiplier = 1;
  else if (mode == 1)
    multiplier = Number(
      window
        .getComputedStyle(document.body)
        .getPropertyValue("font-size")
        .match(/\d+/)[0]
    );
  else if (mode == 2) multiplier = window.innerHeight;
  else multiplier = 0;`
solve any problems? I mea

[2019-11-21 06:00] masayuki-nakano commented on #592
@CWies because we got some web-compat issues which some web apps don't check `deltaMode` even though they refer `delta(X|Y)`.

[2019-11-21 06:15] CWies commented on #592
Well but that should be their issue, right?

[2019-11-21 06:27] masayuki-nakano commented on #592
@CWies Right, but such web developers check only on Chrome typically (meaning which has most market share). Therefore, other browsers may need to use same behavior (i.e., using `DELTA_MODE_PIXEL`) for their users. However, if all browsers just do so, web developers who want raw delta value of native events cannot treat them anymore. Therefore, before switching Firefox's behavior, I suggest new API

[2019-11-25 22:04] #286 closed, assigned to nobody

[2019-11-25 22:41] patrickhlauke opened #311 "ReSpec error caused by MouseEventInit"
Doing a bit of cleanup of some errors that creeped in after the merge of the extension, but am stuck with the last one.

"The term "`MouseEventInit`" is defined in `cssom-view`, `ui-events` in multiple ways, so it's ambiguous."

I thought the `data-cite` attribute we use for the IDL takes care of this, but apparently not...

[code]

Anybody who's more ReSpec savvy than me have any pointers/ideas o

[2019-11-25 23:00] patrickhlauke opened #312 "CfC: Publication of PE3 as FPWD (ends 5 Dec 2019)"
This is a call for consensus for publication of the Pointer Events Level 3 specification as First Public Working Draft (FPWD).

Deadline for this call for consensus is 5 December 2019 9am Boston time.

While there are still open issues at present, the major additions that were planned (coalesced events, raw pointer data, additional `touch-action` values) have now been merged into the working draft

[2019-11-26 13:55] NavidZ commented on #312
+1

[2019-11-27 16:07] smaug---- commented on #311
I think https://drafts.csswg.org/cssom-view/#extensions-to-the-mouseevent-interface

[2019-11-30 21:16] #311 closed, assigned to plehegar

[2019-12-05 13:53] dmitryshimkin commented on #178
I have a similar issue when trying to implement a custom horizontal pan gesture. I have a `pointerdown` event handler that subscribes to `pointermove` and `pointerup` events once triggered. In the `pointermove` handler I check how far and in what direction the user has moved the pointer. If the direction is horizontal I "start" the gesture. At this moment I want to disable default behaviour such a

[2019-12-08 10:21] patrickhlauke commented on #312
Not having received any negative replies to this, the CfC is passed. Thanks all.

[2019-12-11 09:30] patrickhlauke commented on #312
Made the request for FPWD https://github.com/w3c/transitions/issues/201

[2019-12-11 09:30] #312 closed, assigned to nobody

[2019-12-23 15:46] mustaqahmed commented on #178
@dmitryshimkin: Does your custom behavior involve a press-and-hold gesture?  If not, please file a new issue to keep this issue focused on press-hold-drag.  And please also elaborate why `touch-action: pan-y` doesn't work for you.  Thanks.

[2020-01-08 09:12] masayuki-nakano opened #594 "`wheel` event listeners cannot prevent default scroll only along specific direction"
Coming from https://bugzilla.mozilla.org/show_bug.cgi?id=1599627

Even if web apps want to prevent default scroll of `wheel` events only vertical or horizontal axis, they cannot do it if both `deltaX` and `deltaY` are not 0 (i.e., when browser dispatches a `wheel` event as diagonal scroll).

I have no idea how to fix this in spec level. But it might be better that all browsers stop setting both `d

[2020-02-12 19:03] dlibby- commented on #204
We've updated the explainer based on some feedback from internal partners on the API surface, and would love to hear others' thoughts.

Updates include:
- The API now accepts a trusted PointerEvent, instead of x/y coordinates. This serves two purposes:
1. Remove a footgun for developers to send the wrong coordinates
1. Allow the User Agent to grab relevant properties off of the PointerEvent, in th

[2020-02-19 03:11] patrickhlauke commented on #274
@grorg see https://github.com/w3c/pointerevents/pull/316 ... does this initial naive PR sound appropriate/feasible?

[2020-02-19 09:37] patrickhlauke commented on #9
diving into some of these long-standing old issues...is this something we're still thinking might be necessary for the spec? or, if it's a good idea to define event order relative to RAF, would this be more appropriately housed in something more generic like UIEvents? it would seem odd if only PE did this sort of definition, and no other input events had this sort of info/clarification?

[2020-02-19 09:56] patrickhlauke commented on #126
as the referenced chromium bug has been fixed by now, is this aspect still relevant/something we need to do at the PE spec level?

[2020-02-19 13:24] smaug---- commented on #277
If we want to do this, better to do it sooner than later, before non-secure context web pages start to use the APIs heavily. I could imagine some script libraries use the APIs and then one just uses those also outside secure context.

[2020-02-19 13:27] smaug---- commented on #227
I think the spec is actually good enough here.

[2020-02-19 13:31] smaug---- commented on #223
The spec has changed but it is still wrong. Nothing says how the data from
PointerEventInit.coalescedEvents gets to the `coalesced event list ` .
And `coalesced event list ` is defined to be empty if event type is pointermove or pointerrawupdate.

[2020-02-19 14:13] smaug---- commented on #204
Given that there isn't even native API for this yet, this should probably be post-v3, or outside pointer events spec altogether.

[2020-02-19 16:53] patrickhlauke commented on #204
Decided in today's PEWG call/meeting https://www.w3.org/2020/02/19-pointerevents-minutes.html that this is slightly outside of the charter/scope of PEv3. May move to a separate/adjacent spec. Link here from any new spec that comes out.

[2020-02-19 16:53] #204 closed, assigned to nobody

[2020-04-14 21:31] liviutinta opened #319 "touch-action:none and overflow:auto"
In the following code:
[code]
If scroll action starts at `#target`, for the purposes of determining supported touch behaviour, should we consider `#intermediate` to be a scroller only if it is able to be scrolled (content is big enough) or in all cases?

This is in reference to [1]: _A touch behavior is supported if it conforms to the touch-action property of each element between the hit tested el

[2020-04-15 21:03] NavidZ commented on #319
@smaug---- from the FF side which I believe is very much the same as Chromium

In Chromium we consider something scrollable only if it has the content to be scrolled (i.e. as you mentioned content is big enough). Do you see a particular issue with that?

[2020-04-15 22:22] liviutinta commented on #319
I don't see an issue, just looking for clarification.
Now let's say that #target has content that is bigger than the screen (on a mobile phone). It does not overflow the #intermediate div. Should we allow default touch behaviour in this case? I tested on both Chrome and Firefox and I can scroll. Is that the correct behaviour based on the spec?

[2020-04-16 17:27] bokand commented on #319
Just FYI: the canonical way to say this is that "it has scrollable overflow". I.e. it's child content is larger than the box's padding rect

This is problematic because, in Blink, we compute the effective touch action during style recalc. We don't yet have (up-to-date) layout information at that point so we can't accurately tell whether or not `#intermetiate` actually has overflow. That seems to i

[2020-04-16 17:36] bokand commented on #319
So in this case `#target` doesn't overflow `#intermediate` but `#intermediate` overflows `#container`? Based on Blink's current implementation that shouldn't work, `#intermediate` doesn't have overflow so we have to look all the way up to `#container` to compute the touch behavior which will see `touch-action:none`. I'm guessing it does work because the stale layout data is actually correct so we

[2020-04-16 17:50] theres-waldo commented on #319
I think perhaps the more interesting case (and possibly what @liviutinta was getting at) is when `#target` does not overflow `#intermediate` and `#intermediate` does not overflow `#container` either, but `#container` overflows the visual viewport. Should the `touch-action: none` prevent scrolling the visual viewport within the layout viewport in that case?

A similar question [previously came up f

[2020-04-16 18:08] bokand commented on #319
Interesting. IMHO it should prevent scrolling for similar reasoning as was used in the `overscroll-behavior` issue. I think the argument for `touch-action` is actually stronger - consider a finger-painting app handling touches by setting touch-action none. If the user zooms in (e.g. by pinch-zooming over a non-painting-canvas part of the page), moving a finger over the canvas shouldn't now pan the

[2020-04-16 22:10] theres-waldo commented on #319
Thanks, that sounds reasonable to me (and I believe is in line with the current Firefox behaviour).

[2020-04-18 14:50] #277 closed, assigned to NavidZ

[2020-04-23 20:15] #274 closed, assigned to nobody

[2020-04-24 18:05] patrickhlauke opened #320 "should altitudeAngle default to 0 or pi/2 when not supported?"
splitting this off from https://github.com/w3c/pointerevents/pull/316#discussion_r413854172

in short: in Touch Events, if the current touch is *not* from a stylus that supports altitudeAngle/azimuthAngle, both values are `0`. the theoretical case of a stylus lying completely flat/horizontal on the screen does not seem to actually happen - the stylus tip does not touch the digitizer in that scenar

[2020-04-24 18:11] NavidZ commented on #320
Just to add one additional point. When the device doesn't support this stylus angle we set tiltX/Y to zero. Meaning we indicate the pen is straight. If we set altitude/azimuth to 0 as well it shows that the pen is parallel to the surface. Then these two coordinate system at least in the case of the device not supporting them are going to differ and show two different states of the pen.

[2020-04-24 18:17] patrickhlauke commented on #320
ah, good catch. this could at least be used as a sensible justification beyond "just because we don't like it / think it makes sense" in TE vs PE

[2020-04-29 15:42] NavidZ opened #321 "It is not possible to generate one set of angle values from other set"
@patrickhlauke @smaug---- @liviutinta

Based on the latest spec we have the following line:
"When an untrusted (synthetic) Pointer Event is created programmatically using the constructor, and only one set of values is provided, the complementary set of attributes MUST be calculated and initialized"

But apparently based on the current bindings and how the default dictionary values are set we canno

[2020-05-01 00:31] patrickhlauke commented on #321
this probably causes a little conundrum at least for `tiltX`/`tiltY` as `0`/`0` is a valid actual value (while, as discussed in the other thread, it seems that no device actually allows for/recognises a completely flat stylus, so `altitudeAngle`/`azimuthAngle` of `0`/`0` can be assumed to be default/not provided).

just spitballing, but some kind of wording that says that all values need to be pro

[2020-05-01 01:33] domenic commented on #321
I think it's worth taking a step back here and asking what you're trying to accomplish. The browser is never going to fire an event with inconsistent values, right? Because you specced it that way. That seems important.

But you're not working on the specification for browser-created events. You're working on the spec for author-created events. What are you trying to accomplish there?

In particul

[2020-05-01 07:41] patrickhlauke commented on #321
@domenic from my perspective, what I'd like to achieve is:
* we've crammed two different ways of describing a stylus/pen/pencil spatial orientation into the spec, because different authors will find either method easier/more aligned with what feels more natural to them (and it mirrors two different low-level APIs available on different platforms and the kinds of values they return)
* we want to av

[2020-05-01 14:02] domenic commented on #321
Can you say more about what the use cases are for synthetic events, and how they benefit from this convenience?

[2020-05-01 14:27] patrickhlauke commented on #321
well, what are the scenarios in general for any synthetic events being generated? (synthetic mouse events, synthetic touch events, etc)

[2020-05-01 14:53] domenic commented on #321
That's what I'm asking you...

[2020-05-01 15:11] patrickhlauke commented on #321
assuming that you ask the same question to UI Events folks etc for why THEY would want to synthesize events...but i'll take a first stab: when authors want to "fake" events (like in automated testing), simulate one type of device/input (e.g. a pen/stylus) when the user's actually using another input like a mouse, some form of remote control type application where inputs from one device are sent an

[2020-05-01 15:24] domenic commented on #321
OK. So, how do those cases benefit from this convenience? It seems like test code would not test the properties that it does not synthesize. (Doing so would just be testing the browser's conversion algorithm, which is not very useful.)

[2020-05-01 17:39] patrickhlauke commented on #321
tests are only one case (and browser tests themselves are arguably still a valid case?). and keeping in mind that this may not be happening in isolation: one developer may be generating synthetic events that may then be consumed by other scripts not in the author's direct control (which may expect/want the other set of values)

[2020-05-01 17:41] domenic commented on #321
Could you expand on the others, so we can figure out how to best serve them?

I'm not discussing browser tests (which are done in C++ and unrelated to synthetic events); I'm saying that it's not useful to test the browser's logic when writing tests for your web platform application.

Can you explain a use case where this might happen? So far you've mentioned tests, but that doesn't seem to meet th

[2020-05-01 17:53] patrickhlauke commented on #321
these weren't tests that i mentioned.

[2020-05-01 17:53] patrickhlauke commented on #321
web platform tests?

[2020-05-01 17:54] domenic commented on #321
I see! In that case, it sounds like it would be convenient to have a way to generate correct values for converting between the representations. Perhaps a separate utility class or namespace?

[2020-05-07 17:56] NavidZ commented on #321
@domenic do you have an example of such functions in other specs? Is that for example going to be a function in window.PointerEvent interface or something?

[2020-05-07 19:14] domenic commented on #321
Static functions on the `PointerEvent` interface make sense to me. I'm not aware off the top of my head of many other examples of unit conversion functions on the web platform, but perhaps something in CSS; I know they have a lot of units.

[2020-05-13 14:51] NavidZ commented on #321
@patrickhlauke do you think this is good enough of a solution? It is not as clean interface as just having an attribute on PointerEvent object similar to TouchEvent but at least that solved the issue we are having in implementation.

[2020-05-13 15:16] patrickhlauke commented on #321
@NavidZ sure, i'm just not quite sure how that would be documented/how it would manifest itself in the spec...and I guess then the conversion algorithm pseudocode section would/should be turned more into a suggested "how user agents should implement these conversion functions" section. in principle though yes, sounds reasonable.

[2020-05-13 18:38] NavidZ commented on #321
We would need to add those functions to the specification. Alternatively we can just have getAzimuth and getAltitude functions on PointerEvent which just returns its angle in these forms. So instead of saying PointerEvent.azimuth they'd have to call PointerEvent.getAzimuth and would get the same thing. But the attribute is not going to be in PointerEventInit dict anymore and no way for the develop

[2020-05-20 22:11] EdgarChen opened #581 "Clarify whether a click event should be dispatched for `control` + click in Mac OS"
In Mac OS, mouse click with `control` key pressed will bring up the context menu, it is a platform convention, all browser (Gecko, Blink, Webkit) dispatch a `contextmenu` event followed a `mousedown` event for this case in Mac OS.

But whether to dispatch a `click` event is not consistent, test script: https://codepen.io/edgarchen-the-decoder/pen/ExVGRxB
- Webkit: Do send a `click` event for mouse

[2020-05-27 15:56] patrickhlauke commented on #320
Decided on today's call https://lists.w3.org/Archives/Public/public-pointer-events/2020AprJun/0050.html that it does make sense to go for a value of `pi/2` for the `altitudeAngle` when no sensor is present/no value is provided by the platform (compared to `0` in Touch Events as the default value).

We should consider adding a prominent warning there in the spec so authors don't miss this divergenc

[2020-07-01 02:30] garykac commented on #581
Here is the behavior that I see on Mac (tested with https://domeventviewer.com/mouse-event-viewer.html):
Firefox = 77.0.1
Safari = 13.1.1 (14609.2.9.1.3)
Chrome = 83.0.4102.106

When the `contextmenu` handler calls preventDefault:

| Browser | Action | Events | Notes |
| --- | --- | --- | --- |
| Firefox | Click |  `mousedown`, `mouseup`, `click` | |
| Firefox | Ctrl+click |  `mousedown`, `context

[2020-07-01 10:52] EdgarChen commented on #581
Note that after https://bugzilla.mozilla.org/show_bug.cgi?id=1615732 Firefox dispatches mousedown/mouseup with button=0 (instead of button=2) for Ctrl+click, so we would dispatch `click` event then instead. 2-finger trackpad click behaves the same (mousedown/mouseup with button=2 and `auxclick`).

I test with https://domeventviewer.com/mouse-event-viewer.html on Firefox Nightly again.

Firefox = N

[2020-07-01 15:17] graouts opened #325 "The behavior of `touch-action: none` on <iframe> is unclear"
I just fixed a WebKit test ([bug 213846](https://bugs.webkit.org/show_bug.cgi?id=213846)) which made the assumption that interacting with the content of an `<iframe style="touch-action: none">` that is part of a scrollable document would prevent scrolling. As it turns out, WebKit's implementation did not prevent scrolling in this case and Chrome's behavior is similar. However, this does not match

[2020-07-03 17:24] abemilk commented on #228
Any updates to this?

[2020-07-09 18:59] mustaqahmed commented on #590
Apparently in Chrome we have been [misinterpreting wheelDelta sign](https://bugs.chromium.org/p/chromium/issues/detail?id=699865#c9), and nobody complained.

[2020-07-14 09:35] foolip commented on #590
Reposting my anecdote from that bug:

[2020-07-14 09:35] foolip commented on #590
Does someone have a test case for this?

[2020-07-14 15:03] mustaqahmed commented on #590
I was too concise, sorry: the double-negation bug in Chrome affects both wheelDeltaX and wheelDeltaY.

[2020-07-14 17:30] patrickhlauke commented on #320
Addressed in https://github.com/w3c/pointerevents/pull/323/

[2020-07-14 17:30] #320 closed, assigned to nobody

[2020-07-14 17:31] patrickhlauke commented on #296
@NavidZ do our recent changes cover this?

[2020-07-14 17:32] patrickhlauke commented on #321
@NavidZ do our recent changes cover this now?

[2020-07-14 18:16] NavidZ commented on #321
Yes. This should be all good now.

[2020-07-14 18:16] #321 closed, assigned to nobody

[2020-07-15 07:21] Ms2ger commented on #296
Seems fixed.

[2020-07-15 07:21] #296 closed, assigned to nobody

[2020-07-15 07:42] patrickhlauke commented on #296
thanks @Ms2ger @NavidZ

[2020-07-22 15:25] smaug---- commented on #613
@garykac, any comments?

[2020-07-22 15:59] mustaqahmed commented on #325
This is the repro from the webkit bug: https://codepen.io/mustaqahmed/full/yLeZKpP

[2020-07-22 16:17] patrickhlauke commented on #285
Discussed on PEWG call today https://www.w3.org/2020/07/22-pointerevents-minutes.html#item01 - @smaug---- to catch up with @garykac about the fundamental/underlying vagueness (or not, depending on reading) of UI events spec for a decision there - then see based on that what spec here should do/reference.

[2020-07-22 16:19] patrickhlauke commented on #303
Discussed on PEWG call today https://www.w3.org/2020/07/22-pointerevents-minutes.html#item02 - @NavidZ and @mustaqahmed to sync up and likely propose some note/wording for PE spec (option 1 from @graouts)

[2020-07-22 16:20] patrickhlauke commented on #325
Discussed on PEWG call today https://www.w3.org/2020/07/22-pointerevents-minutes.html#item03 - more investigation (to also see what Firefox Mobile currently does here). May lead to note about this apparently unintuitive behavior, or to a change in behaviour?

[2020-07-25 21:36] garykac commented on #613
I wrote up a proposed [algorithm for handling mouse events](https://docs.google.com/document/d/1AoNnGTGabWOQoAH-M34Jdw2rbbwb_pSZz2-69mysx_U/edit#heading=h.dk5myg1rxh22), but I haven't yet thought deeply about the best way to handle DOM mutations.

The proposed algorithm ensures that every element that receives a `mouseenter` will receive a `mouseleave` even if the element is moved, but there may b

[2020-07-25 21:46] garykac commented on #613
On this [mouseevents test page](https://domeventviewer.com/mouse-event-viewer.html), if you enter from the right side (where the 3 divs align), you do get 3 `mouseenter` events when you enter "C". This is similar to the other example, but without the DOM mutation.

It's a bit concerning that Chrome/Firefox apparently have different paths for the corresponding mouse and pointer events.

Even if you

[2020-07-25 23:01] garykac commented on #613
Another note: need to test DOM manipulations during Capture vs. AtTarget vs. Bubbling.

[2020-07-27 15:27] garykac commented on #579
[Draft algorithm for handling mouse clicks](https://docs.google.com/document/d/1_s1RYsy94TPWgA6mzZWztfSKvaPxJ-LbUJDFV_uDIW4/edit#heading=h.dk5myg1rxh22) (doc in progress)

[2020-07-28 23:44] grorg commented on #274
@patrickhlauke thanks for the ping and sorry for the delay.

Yep, this looks good.

[2020-07-29 00:27] patrickhlauke commented on #274
Perfect, thanks @grorg

[2020-08-05 13:27] smaug---- commented on #613
The problem with interleaving is that enter/leave happen because of reaction to some *over/*out. So if mouseover is dispatched, there should be corresponding mouseenter events. But I think whether or not to interleave should be left to w3c/pointerevents#285 or some other pointer events spec issue.

But for the overall enter/leave handling, the main worry I have is that leave event might happen way

[2020-08-05 14:11] garykac commented on #613
That works for me. I just need to know which way we go so that I can add appropriate hooks into the proposed algorithm.

I've added a note to the doc with a link to that PE issue.

[2020-08-05 14:13] NavidZ commented on #303
As @graouts mentioned his understanding of that paragraph is correct and that is normative. But maybe a note to give the same example as @graouts mentioned in his option 1 would be nice.

[2020-08-05 15:26] patrickhlauke commented on #9
Discussed in PEWG call today. This feels like it should be a more generic issue against UI Events, as it likely affects not just pointer events, but touch and mouse etc events as well.

[2020-08-05 15:26] #9 closed, assigned to RByers

[2020-08-11 21:03] msalsbery opened #327 "Release Implicit Capture, Capture at Ancestor Element"
Scenario: A parent and a child element, both with pointerdown event handlers. Depending on application's need, when a pointerdown occurs on the child, it should be ignored and the parent (when pointer down bubbles) will want to capture the pointer:

1. pointerdown on child
1. child calls hasPointerCapture and determines pointer is captured implicitly (touch)
1. child immediately calls releasePoint

[2020-08-11 21:19] NavidZ commented on #327
Actually the events always bubble regarding of the explicit/implicit capturing. So if the child really doesn't care about any event they could just not have a handler. In other words, your code should work even if you remove the first 3 steps. So for the touch case at first implicit capture goes to the child. Then when the event bubbles and parent calls setpointercapture it effectively steals the

[2020-08-11 22:21] msalsbery commented on #327
Right, got that, but note I'm not even trying to steal capture - step 3 (done by the child) is relinquishing implicit capture. My understanding of the W3C docs is that that's valid.

For context, I'm a maintainer (the "events guy") for [a well-used open source project](https://github.com/openseadragon/openseadragon) that makes heavy use of pointer events (converted to "gestures") and we're getting

[2020-08-12 00:37] NavidZ commented on #327
cc @mustaqahmed @liviutinta in case they have something to test this on like an Android phone or something to confirm it is working on Chrome on other platforms.

cc @graouts for Webkit

And we are very glad to see it being used.

[2020-08-12 03:33] msalsbery commented on #327
Tested on Chrome 84.0.4147.111 (Galaxy S7)...works fine (at least to my expectations) there. Capture is released by the child and set to the parent

[2020-08-12 15:55] liviutinta commented on #327
Tested on Chrome 84.0.4147.111 (Galaxy S7 and Pixel 3), Chrome 84.0.4147.110 on Google Pixelbook and it works fine.
I don't have access to an iOS device.
The test page I used is [here](https://liviutinta.github.io/pointerevents_issue327.html).

[2020-08-12 18:03] msalsbery commented on #327
I extended @liviutinta 's test page code to something very close to the real-life scenario that brought this issue to my attention:

[TEST PAGE](https://openseadragon-imaging.github.io/old-demo/test.html)

The grey box is the parent, green box is child (from my original description)

If the pointerdown is initiated on the child (green box) in a Webkit browser, the parent (grey box) doesn't truly g

[2020-08-12 21:26] smfr opened #328 "Specify exactly how event coalescing works"
The Pointer Events spec at https://w3c.github.io/pointerevents/#dfn-coalesced-event-list talks about coalesced event lists, but there's no description of exactly how event coalescing works.

What are the start/end points of coalescing in terms of the HTML event loop (https://html.spec.whatwg.org/multipage/webappapis.html#event-loop-processing-model)?

[2020-08-18 18:33] mustaqahmed commented on #325
I started working on a test for this and hit a test-driver hiccup.  So I made the test manual in my my CL pointed above.  I will try to make it automatic sometime next week.

[2020-08-19 15:19] patrickhlauke commented on #120
Discussed in today's PEWG meeting https://www.w3.org/2020/08/19-pointerevents-minutes.html. The situation has improved with WPT/WebDriver, and there's far less browser-specific work involved. Closing here, and if any issues remain they should be filed against WPT/WebDriver, whichever is more relevant.

[2020-08-19 15:19] #120 closed, assigned to NavidZ

[2020-08-19 15:29] patrickhlauke commented on #106
Discussed in the PEWG call today https://www.w3.org/2020/08/19-pointerevents-minutes.html. @smaug---- filed issue against HTML spec. Closing issue here.

[2020-08-19 15:29] #106 closed, assigned to nobody

[2020-08-19 15:31] patrickhlauke commented on #123
Discussed in PEWG call today https://www.w3.org/2020/08/19-pointerevents-minutes.html. It's something that should ideally be handled by CSS spec (as it will also apply to touch events, so not just a PE issue). Leaving this open for now to track initial reaction.

[2020-08-19 15:34] patrickhlauke commented on #124
Discussed in today's PEWG call https://www.w3.org/2020/08/19-pointerevents-minutes.html. leaving this open for now to see what #123 outcome is.

[2020-08-19 15:39] patrickhlauke commented on #126
Discussed today at PEWG call https://www.w3.org/2020/08/19-pointerevents-minutes.html. Agreed that this is out of scope for PEWG (and opens a potential can of UA specific / IPR worms). Closing.

[2020-08-19 15:39] #126 closed, assigned to nobody

[2020-08-25 23:05] garykac commented on #285
I have an early draft for some [proposed algorithms for UIEvents](https://w3c.github.io/uievents/event-algo.html).

This document is still very much a WIP and it's in a separate document for now until it matures and has some general acceptance. But I feel that it's a reasonable start for documenting the UIEvent algorithms.

Of interest to Pointer Events, is the [algorithm for handling mouse move e

[2020-08-29 17:13] lincolnthree commented on #303
Just joining this thread (as an end-developer). I've attempted to come up to speed on this topic, so please forgive me if I get any assumptions wrong. But I had a thought this morning that might be useful.

It seems like some type of spec'd "scroll-track-locking" API might be useful to control the track direction browsers allow, specifically, once a touch/scroll event has already been started.

Th

[2020-08-31 20:23] mustaqahmed commented on #100
I just realized that Chrome Experimental has click, auxclick and dblclick as PointerEvents for about a year now, without any issue.  @liviutinta is currently running a trail on Canary now, we will post the outcomes when available.

@NavidZ Wondering why the UI event change above didn't include context menu and dblclick.  Did we plan to cover them later or not?

[2020-08-31 22:25] NavidZ commented on #100
UI event doesn't define contextmenu event. As a matter of fact no spec defines it. WHATWG dom spec briefly mentions its existence with no actual definition. I believe I have a pull request to update that and left it unmerged until we are sure this change is okay and is here to remain.

As for the dblclick event it is already a legacy event. People should not rely on dblclick event and instead shou

[2020-09-01 23:25] porg commented on #206
@patrickhlauke As soon as web apps facilitate more and more touch gestures, this will become a necessity. 3D web apps are a good example. The mention above i.e. is a use case in ScrollMaps which is hindered by your limitation.

[2020-09-02 00:07] patrickhlauke commented on #191
@dtapuska mentions the UIEvent spec...is this a case where we can/should defer decisions here to that spec (i.e. not something to define directly in PE)?

[2020-09-16 13:12] smaug---- commented on #325
Firefox seems to behave the same way as Chrome when touch-action: none is on the iframe element.
I don't think there is anything unclear there. The contents of iframe is a separate browsing context after all, why would iframe affect to the behavior there.

[2020-09-16 13:28] smaug---- commented on #285
Thanks Gary. That algorithm looks quite reasonable to me. It seems to follow closer the model webkit has, and not the model blink and Gecko have (and even those have some differences.)
Would blink be ok to change the behavior?

[2020-09-16 13:39] staktrace commented on #325
It could be confusing/unclear because of the discrepancy with `pointer-events:none`, which *does* apply to the contents of the iframe when set on the iframe element.

[2020-09-16 14:29] patrickhlauke commented on #134
I don't think there's much appetite/movement on this even for v3. Current state of play - based on testing with Surface at least - seems to be that there's no differentiation between a stylus writing and erasing in terms of `pointerType`, but once the stylus eraser contacts the screen `buttons` is showing `32`. this leaves out the possibility of hovering eraser, but perhaps that's too much of an e

[2020-09-16 15:24] smaug---- commented on #325
That is true. I couldn't however find any definition how pointer-events: none; is supposed to work with nested browsing contexts. Is it just that browsers happen to work in a certain way or am I missing some spec?

[2020-09-16 15:28] patrickhlauke commented on #16
Discussed in PEWG call today. https://lists.w3.org/Archives/Public/public-pointer-events/2020JulSep/0062.html Closing this, with understanding that as it's in the security tracker, we'll get this flagged again if it's a concern.

[2020-09-16 15:28] #16 closed, assigned to NavidZ

[2020-09-16 15:42] smaug---- commented on #134
@BoCupp-Microsoft, we're thinking to close this issue.
Given https://github.com/MicrosoftEdge/MSEdgeExplainers/issues/324 and similar discussion, do you think MS will have a proposal which will require new pointerTypes? Or I guess we could close this and reopen or create a new issue if needed.

[2020-09-16 15:43] mustaqahmed commented on #325
Yesterday we landed a WPT for `touch-action:none` on `iframe` matching the common behavior in Chrome, Firefox and Safari.

For `pointer-events:none`, I suggest opening a new issue.  Regardless of what browsers do, I have a naive question: isn't an `iframe` supposed to be an "un-crossable" border for CSS rules?

[2020-09-16 15:51] smaug---- opened #632 "Mouse back/forward buttons: page navigation or JS events?"
See https://github.com/w3c/pointerevents/issues/191
The issue might be more an UI Events spec issue, if we want auxclick to handle back/forward buttons.

[2020-09-16 15:56] staktrace commented on #325
I'm not sure if it's specced; I did a quick search but didn't find anything.

[2020-09-29 14:31] annevk opened #333 "Please don't <dfn> Element"
This specification created a conflicting definition for the Element interface. Could you please remove that?

It's breaking build scripts from other specifications, e.g., https://github.com/whatwg/fullscreen/pull/187.

[2020-09-29 15:04] annevk commented on #333
This also applies to Navigator, see https://github.com/whatwg/storage/pull/114. :-(

[2020-09-29 15:08] patrickhlauke commented on #333
I have no idea what the expected format/markup should then be ... @plehegar any ideas?

[2020-09-29 15:16] annevk commented on #333
It seems this was caused by 598cbef3474b343c0926eca98881cbf5ff4fdf54 but I guess until recently this document did not get indexed so it didn't cause ecosystem-wide problems. Instead of using `<dfn>` for these interfaces locally, you want to use whatever mechanism ReSpec has for referencing terms in other specifications.

[2020-09-30 15:06] #325 closed, assigned to patrickhlauke

[2020-09-30 15:31] patrickhlauke commented on #333
@marcoscaceres wonder if you'd be able to help me out - admittedly I've only been cargo-culting respec and never really understood what it does/what it expects

[2020-09-30 15:33] patrickhlauke commented on #325
As discussed in meeting today, added a minimal note to the spec about this - hope that's sufficient (though admittedly very handwavy)

[2020-09-30 18:00] plehegar commented on #333
I poked at this but can't figure it out :(. The use of "partial interface Element" is appropriate as far as I can tell. Respec automatically exports WebIDL definitions so that's why sheperd sees it. We could drop data-dfn-fr but then I don't know how to reference it anymore.

[2020-10-01 08:54] annevk commented on #333
@plehegar the problem is not the partial, it's the heading above. I.e., "Extensions to the Element interface" contains a `<dfn>` that wraps "Element". Similar for Navigator.

[2020-10-01 09:25] marcoscaceres commented on #333
As a general rule, "if you don't own it, don't `dfn` it... you can {{Link}} [=to=] `<a>`it`</a>`".

[2020-10-01 13:50] #333 closed, assigned to nobody

[2020-10-12 12:41] EdgarChen opened #338 "How pointer capture should behave on draggable element?"
For example,
[code]
https://codepen.io/edgarchen-the-decoder/pen/wvWaNOd

Spec seems to not define how pointer capture should behave while setting pointer capture on a draggable element.
Both Chrome and Safari would stop pointer capture while dnd is triggered, Firefox basically does the same thing in most of the time, there is an inconsistency if we set pointer capture in `mousedown` handler, see

[2020-10-12 13:04] patrickhlauke commented on #338
wondering if this should be spec'd/defined in the PE spec, or in the relevant DND spec / living standard. @smaug---- @NavidZ thoughts?

[2020-10-12 20:10] NavidZ commented on #338
Latest version of Pointerevents does define that to behave as you see in Chrome and Firefox. It is defined [here](https://w3c.github.io/pointerevents/#the-pointercancel-event). Basically if browser/platform takes over input stream (in this case when dragging starts) you are not going to receive any more input events from that stream. This part is already defined in DnD spec. So here we would send

[2020-10-12 22:57] patrickhlauke commented on #338
oh, goodness, you're right...forgot we already mention drag operations (which explains why this topic rang a bell but i didn't find any open issues).

[2020-10-12 22:57] #338 closed, assigned to nobody

[2020-10-29 22:22] devongovett commented on #586
This would be useful for implementing number fields or other incrementable/decrementable value fields where scrolling over them increments/decrements the value. Ideally this would not be affected by natural scroll settings, so some way of knowing to flip the delta would be great.

[2020-10-30 15:28] liviutinta commented on #100
Clarification for @mustaqahmed's comment on Aug 31 [[4](https://github.com/w3c/pointerevents/issues/100#issuecomment-684017528)] above.

When using [[1](https://rbyers.github.io/eventTest.html)] for testing in Chrome with ClickPointerEvent flag enabled, contextmenu is a pointer event. This is corroborated by code [[2](https://source.chromium.org/chromium/chromium/src/+/master:third_party/blink/ren

[2020-11-02 08:51] annevk opened #638 "mousemove and preventDefault()"
Per https://bugzilla.mozilla.org/show_bug.cgi?id=1674658 and https://jsfiddle.net/zu0jpar2/ in particular this seems like some hacky way to prevent text selection in Chrome/Safari that does not work in Firefox. The specification just says that `mousemove` is cancelable, but doesn't describe what that means.

[2020-11-04 21:52] garykac commented on #100
Back in August, I started rewriting [1] parts of the UIEvent spec and included info about `contextmenu` along with hooks for PointerEvents in general.

[1] https://w3c.github.io/uievents/event-algo.html

[2020-11-11 03:28] samuelmtimbo commented on #285
I recently filled (what I found to be) a [bug](https://bugs.chromium.org/p/chromium/issues/detail?id=1147674#makechanges) on Chromium particularly related to this discussion (which I just found out about). It might be a good use case to watch for:

"It is a common practice to listen to "pointerenter" and "pointerleave" events to keep track of which pointers are currently "visible" on the screen, w

[2020-11-11 07:45] patrickhlauke commented on #139
@NavidZ @mustaqahmed any news on this? is it still relevant?

[2020-11-11 08:06] patrickhlauke commented on #295
Closing this based on the above discussion (that this is UA implementation, not directly related to PE) https://github.com/w3c/pointerevents/issues/295#issuecomment-523217128

[2020-11-11 08:06] #295 closed, assigned to nobody

[2020-11-11 10:20] patrickhlauke commented on #303
Circling back to the idea of adding a note in the spec, a la

still wondering - do we want to make this mandatory behavior? Or an non-normative note, couched in "user agents may choose to...", i.e. should it be left up to implementations (though it can cause interop issues)?

[2020-11-11 10:22] patrickhlauke commented on #285
@NavidZ @mustaqahmed any more thoughts on this issue?

[2020-11-11 10:32] smaug---- commented on #285
Not related to this issue, but comment https://github.com/w3c/pointerevents/issues/285#issuecomment-725120778, why are pointerenter/leave used for tracking pointers? Those are significantly less performant than pointerover/out/move.

[2020-11-11 14:26] lincolnthree commented on #303
@patrickhlauke I'm just an observer, but my inclination is to lean toward mandatory behavior. As you mentioned, inter-op issues are a concern of option 2. If exceptions need to be made, perhaps additional customization/flexibility can be added in once more use-cases or issues with the design become apparent?

[2020-11-11 15:06] samuelmtimbo commented on #285
@smaug---- the reason is that pointerover/out bubble so the container element will receive such events every time the pointer has entered/left a descendant, which would not make sense for the simple goal of tracking which pointers are currently visible on the container. This is particularly problematic (and less performant, depending on the handler logic) when the container has many children/grand

[2020-11-11 16:23] #123 closed, assigned to nobody

[2020-11-11 16:23] #227 closed, assigned to nobody

[2020-11-11 17:04] NavidZ commented on #285
Sorry I missed the couple last comments. While I agree that the problem of dangling active pointers needs a better way of addressing as @samuelmtimbo mentioned, I need to mention the issue is more complicated when it comes to mouse.

There was a reason that we switched to decoupling mouse boundary events and pointerevents boundary events. There was this issue #279 that @graouts previously filed th

[2020-11-11 22:51] msalsbery commented on #327
Since this seems to be a Webkit bug, is it something I should file, has it been filed, or is there someone here following who is much more qualified than me to file it?

[2020-11-14 04:19] aeharding commented on #206
I wish this would be reconsidered. 😊

Just as an example, MacOS has a scroll bounce/overflow effect used in every native app on MacOS.

Blink (and thus, electron) only support this effect on the main body of the HTML page.

This means its currently impossible to replicate this effect with web technologies. There are two possibilities to resolve this:

 1. Expose a more detailed, modern trackpad AP

[2020-11-14 18:24] aeharding commented on #587
I'm curious the status of this issue. ☺️

I've been playing around with [`scrollend`](https://wicg.github.io/overscroll-scrollend-events/), an experimental event under a flag in Chrome, to fix [this issue](https://github.com/atomiks/elastic-scroll-polyfill/issues/3) that could enable the macOS overscroll UX to be perfectly replicated with web technologies.

Unfortunately, `scrollend` doesn't fire

[2020-11-15 14:51] lorenbrichter commented on #587
Yeah, it's kind of nuts that it's been 5 years, I could have written my own browser by now :).

(Side note: elastic scrolling + rubberbanding works fine for me in Safari on overscroll elements natively, no JS or extra CSS needed...)

I cared about this more for doing things that aren't replicating scrolling (in general, best to defer to native facilities for that), but other interactions that happ

[2020-11-18 18:55] samuelmtimbo opened #339 "Proposal: a way of tracking pointer position on pan/zoom touch-action"
I understand one of the main purposes of "pointercancel" is to signal the user agent will handle panning/zooming/etc; and will no longer fire pointer events, which makes sense, but there are genuine situations where this might be limiting. Let me try to exemplify.

This might be a very particular scenario, but I would like to bring it to the table: some applications rely solely on Pointer Events t

[2020-11-25 16:23] patrickhlauke commented on #178
Mentioned briefly during today's PEWG call - will review this for next meeting, but personally get the feeling that this may not make it properly into v3. addition of a new `touch-action` may be something that could also be considered as addition to https://compat.spec.whatwg.org/#touch-action / may require some incubation/experimentation first

/cc @smaug---- @NavidZ @liviutinta

[2020-12-04 08:35] patrickhlauke commented on #327
@graouts not looked deeply into this myself, but ... does this sound/smell like a webkit bug?

[2020-12-14 22:29] mantou132 opened #614 "The order in which the `contextmenu` `auxclick` event is triggered"
https://codepen.io/mantou132/pen/NWNGPJL

When the right mouse button is clicked, the `contextmenu` `auxclick` event will be triggered.

But the trigger sequence is inconsistent in chrome and Firefox:

// macOS
Firefox: `auxclick` , `contextmenu`
Chrome: `contextmenu`, `auxclick`

[2020-12-15 18:00] patrickhlauke commented on #178
@NavidZ @liviutinta @smaug---- are we ok to close this, do you think?

[2020-12-15 18:09] NavidZ commented on #178
I agree that this is a real problem and needs a solution. But as you suggested in needs more experimentation and incubation first. So if we keep in more like in the backlog might be better than just closing it.

[2020-12-16 16:41] smaug---- opened #342 ""The pointerId value of zero is reserved to indicate events that were generated by something other than a pointing device." is backwards incompatible change"
https://github.com/w3c/pointerevents/pull/317 added the sentence, but it isn't backwards compatible.

Perhaps that should be just removed.

[2020-12-16 17:06] mustaqahmed opened #343 "Reserved pointerIds for special cases"
A recent [change](https://github.com/w3c/pointerevents/pull/317/) in the spec to support "click as a PointerEvent" assumed that a zero `pointerId` is reserved for non-pointing devices.  This is not backward compatible because we had no normative text in the spec about it.

A bit of history: several years ago we had added [this note](https://w3c.github.io/pointerevents/#dom-pointerevent-pointerid)

[2020-12-16 17:12] mustaqahmed commented on #343
I missed that @smaug---- has filed #342 for the same problem few minutes ago!

[2020-12-16 17:27] liviutinta commented on #343
I tested Safari Version 14.0 (15610.1.28.1.9, 15610) on macOS 10.15.7 and it uses `pointerId == 1` for mouse.

[2020-12-18 02:28] saschanaz commented on #614
Chrome on Windows fires auxclick before contextmenu as Firefox does. Perhaps a platform dependent bug from Chrome?

[2020-12-18 11:34] patrickhlauke commented on #342
superseded by #343 (as that has a bit more info)

[2020-12-18 11:34] #342 closed, assigned to nobody

[2020-12-18 11:39] patrickhlauke commented on #343
in theory, i thought we wanted to allow multiple mice to be used at the same time (or at least, not limit it) - though currently I think only something like X Window Manager actually allows this in practice (from what I heard, never tried it).

Instead of special-casing `pointerId == 1` for mouse (as I don't think it'd be good practice to encourage authors to start relying on *that* ... they shoul

[2020-12-18 11:42] patrickhlauke commented on #343
I would hope that changing Gecko's behaviour now (if that's possible of course ... I'm making assumptions here @smaug---- ) would have low risk, since I doubt (citation needed) many authors are using PE at this stage still, and of those that do, I would seriously hope none are doing an id check (since they'd currently already have to do some "either 0 if Firefox, or 1 if Chromium/Safari/legacy Edg

[2020-12-18 15:28] smaug---- commented on #343
That might be possible. Other option could be to return -1 for non-pointer types. The attribute has type 'attribute long' after all.

[2020-12-18 15:32] patrickhlauke commented on #343
Ah, good point. that may be even cleaner, conceptually?

[2020-12-18 15:36] smaug---- commented on #343
Yeah, I think it would be easier to understand. Negative values after all have been used often for "error" or "non-valid" cases in traditional APIs.

[2020-12-18 16:40] mustaqahmed commented on #343
@patrickhlauke: We investigated the multi-mouse scenario when we implemented (in Chrome) compat mouse event support for multiple active pointers (there can be at most 3 active pointers simultaneously, one per `pointerType`).  Every OS we tried shows a _single_ mouse pointer on screen if multiple mice are attached.  IIRC Windows is the only OS that actually "remembers" every mouse position even tho

[2020-12-18 17:04] smaug---- commented on #343
But obviously keyboard isn't a pointer, so having a pointerId is rather weird case. Why is 0 any better than -1?

[2020-12-18 17:06] smaug---- commented on #343
but yes, -1 isn't from spec point of view more backwards compatible than 0. But it is from implementation point of view.

[2020-12-29 21:13] joyzhong commented on #327
FYI we ran across something similar in https://github.com/material-components/material-components-web/issues/6715. I've filed https://bugs.webkit.org/show_bug.cgi?id=220196, please feel free to comment with additional info.

[2020-12-29 21:20] msalsbery commented on #327
@joyzhong great thank you!

[2021-01-04 21:49] smaug---- commented on #343
The more I think, the more I feel -1 would be better for the cases when the event isn't for any pointer.

[2021-01-04 21:50] smaug---- commented on #343
@mustaqahmed can you see any reason why to not make that change in the specs?

[2021-01-10 01:05] trusktr opened #344 "event.movementX is always zero in pointerup event."
No matter how fast I move my mouse, `event.movementX` (I haven't checked `movementY`) is always `0`. I get expected values in `pointermove` events, just not in `pointerup`.

Is this expected?

[2021-01-10 01:26] patrickhlauke commented on #344
As the PointerEvents spec itself doesn't deal with any of these properties, this sounds to me like either something that should be filed against a particular browser engine (or does it happen consistently in all engines?), or against the PointerLock spec that defines those properties https://w3c.github.io/pointerlock/ (but happy to open this issue again if it turns out I'm wrong)

Also, I've not l

[2021-01-10 01:26] #344 closed, assigned to nobody

[2021-01-10 01:37] trusktr commented on #344
Ah, interesting. I didn't look to see which spec the properties came, but I certainly would expect them to behave a certain way with pointer events. Namely in my case, I definitely expect movementX to have a value other than zero.

In order to work around the issue that I see (in Chrome at the moment), I need to ignore the `movementX` property, and instead I track deltas my self using only `client

[2021-01-10 01:44] trusktr commented on #344
I tried in both Chrome/Chromium and Firefox, and get the same result.

Here's a live demo (fling the cube):

https://codepen.io/trusktr/pen/rNMrvOY

Note in the console that the output on `pointerup` is the same in both browsers: `event.movementX` is always zero.

[2021-01-12 07:01] masayuki-nakano commented on #614
On Linux, both Firefox and Chrome fire `contextmenu` -> `auxclick`.

[2021-01-12 07:11] masayuki-nakano commented on #614
On Windows and macOS, a native event notifies applications of context menu open. It seems that GTK on Linux does not have it.
* https://docs.microsoft.com/windows/win32/menurc/wm-contextmenu
* https://developer.apple.com/documentation/appkit/nsview/1483231-menuforevent

And whether context menu should be opened at `mousedown` or `mouseup` depends on the platform manner. So, it might be difficult t

[2021-01-12 16:08] mustaqahmed commented on #343
Thanks @smaug---- for explaining your points.  Let's go ahead with `pointerId = -1`.

[2021-01-12 16:52] patrickhlauke commented on #343
Are we happy to leave the "reserve a specific value for mouse" aspect aside though? I'd be happier this way from a purity point of view, since we do want to allow - in theory at least - multiple pointers of the same type (otherwise we would need to likely also say something like mouse is always primary etc). If implementations in OS or browsers want to reserve a particular id, that should be up to

[2021-01-12 17:40] trusktr opened #346 "Should pointerover and pointerenter work on mobile?"
I can't seem to get them to work on mobile in Chrome (on Android, or in the desktop simulator in devtools).

This demo works on desktop:

https://codepen.io/trusktr/pen/898505353c12d3001b74ba0e2a0e5c72 (EDIT: it doesn't fully work. It has the issues described in the [below comment](https://github.com/w3c/pointerevents/issues/346#issuecomment-759211255))

(click on the grid cell that the cube is on

[2021-01-12 17:48] patrickhlauke commented on #346
You'll likely need to also add `touch-action` somewhere, as by default arbitrary `pointerover`/`pointerleave` will not be fired simply when a finger is moved over an area. https://w3c.github.io/pointerevents/#declaring-candidate-regions-for-default-touch-behaviors

[2021-01-12 17:48] #346 closed, assigned to nobody

[2021-01-12 18:16] NavidZ commented on #346
What Patrick mentioned is correct for most of the cases we see developers report. Actually that is what I suspected at first as well. But in your particular case there is another reason as you indeed keep getting the pointermoves so there is no pointercancel going on. So as far as I tested the touch-action none would not solve the issue for you.

You are seeing what is specified as an [implicit po

[2021-01-12 18:25] patrickhlauke commented on #346
ah, good catch @NavidZ - i should have checked more thoroughly

[2021-01-12 18:42] mustaqahmed commented on #343
Not reserving a specific value for mouse sounds good.  If Firefox ever discovers compat problems with `0` for mouse, we can always reopen this issue in future.

[2021-01-12 18:42] #343 closed, assigned to nobody

[2021-01-12 18:44] trusktr commented on #346
Wow. Thanks. That was not intuitive.

The document says it is in the name of performance. Are there benchmarks?

[2021-01-12 19:02] NavidZ commented on #346
There is no external benchmark that I'm aware of. The cost of the hit-testing certainly depends on your page structure and most certainly different browsers are doing it different. I remember EdgeHTML was claiming there were quite fast but well they switched to Blink these days.

[2021-01-12 19:06] trusktr commented on #346
Is this a premature optimization that is only making things confusing (i.e. people expect pointerover to happen like the name implies, but by default it doesn't)?

I have never experienced any performance issues with `mouseover`, so I assume `pointerover` would perform just as fast.

[2021-01-12 19:26] NavidZ commented on #346
It was years ago and obviously the numbers might have changed recently. Off the top of my head I remember the hit-testing cost considering the high sampling rate of touch screens on phones were high enough (we do have internal metrics on that) for us not wanting to introduce that regression. Note that it would have been a regression vs the state of the web at the time that `touchmove` events don't

[2021-01-12 22:24] trusktr commented on #346
Ah, I see. Thanks for explaining!

I believe there is no need to run the events any faster than the animation loops (requestAnimationFrame) can run. From what I've seen in Chrome, user events fire at most once between animation frames (in the testing I've done). Which makes sense: no need to calculate things more than once just to render it once. If rAF is 60fps, then events should be at most 60fp

[2021-01-12 22:37] trusktr commented on #346
Seems like we need it only for performance, but we already have performance options. For example, we can load a page with

[code]

and control which elements will be hit tested. Seems like it would lead to a more intuitive developer experience, _and_ people can optimize as needed.

I'm willing to bet that the vast majority of the time, hit testing won't be an issue (even if everything is hit teste

[2021-01-12 22:39] patrickhlauke commented on #346
CSS `pointer-events` has nothing to do with JS Pointer Events.

[2021-01-12 22:41] trusktr commented on #346
Seems like it does, because `pointer-events: none` disables JS pointer events, and  `pointer-events: auto` enables them.

Mozilla [docs say](https://developer.mozilla.org/en-US/docs/Web/CSS/pointer-events)

and `target` links to the docs on `Event.target`, which is a JavaScript API.

[2021-01-12 22:51] NavidZ commented on #346
Before we introduced getCoalescedEvents we had to actually send all the events (and maybe multiple in a frame) to the js (as say a drawing app wanted to see all the events to be able to draw a smooth(er) curve) and we couldn't just limit it to once per frame as calling the js event handler was the only way to deliver all the events back then and hence the hit-testing for all of them. But getCoales

[2021-01-12 23:01] trusktr commented on #346
Is there any hit testing at all with capturing?

[2021-01-12 23:17] NavidZ commented on #346
Theoretically no. When capture is in place the target of the event stream that is captured is always the capturing element and user agents can skip hit-testing.

That being said I remember in Chromium implementation we used to do the hit-test for mouse pointers even when are captured. I don't recall whether we fixed it or not.

[2021-01-12 23:26] trusktr commented on #346
Seems that:

- if `pointer-events` is configured such that one element has `pointer-events: auto` (all others are disabled because `html {pointer-events: none}` is in place),
  - If the element has no children, there should be zero hit testing.
  - If the element has any children, then only those children are hit tested (makes sense).

So, for an element with class `.container` that has no childre

[2021-01-13 00:26] trusktr commented on #346
I updated the pen in the OP, and that one works fine on mobile now.

But for the life of me, I just can't get it to work in the following fork of the demo, in which I want to start the `pointerdown` event on the `cube-` element instead of on the grid cells.

A `gotpointercapture` event never fires on the `lume-node`s (grid cells), or on the `.gridContainer` (MDN says the event bubbles).

https://c

[2021-01-13 02:59] trusktr commented on #346
Looks like browsers are buggy with Pointer Events still, or the specs don't specify enough for them. The problems I described do not happen for me in Firefox, but only in Chrome.

Firefox on the other hand has a different issue where it is impossible to drag the cube to the top-right cell of the grid. Other than that, no issues dragging the cube over and over.

[2021-01-13 04:15] saschanaz commented on #638
I feel it shouldn't be cancelable because, as a comment in the bug says, the mouse move itself can't be canceled.

[2021-01-13 05:17] trusktr commented on #346
I updated the original demo so it works perfectly (in Chrome) by not using `pointerover` and instead coupling `pointermove` events to the size of the grid and grid cells:

Fully working (drag works perfectly every time, Chrome):

https://codepen.io/trusktr/pen/eYdPOKb

Broken (drag fails sometimes, try multiple times until it fails):

https://codepen.io/trusktr/pen/OJRBQWX

After much fiddling, I

[2021-01-13 07:10] annevk commented on #638
Agreed, but that would require Chrome and Safari to change their implementation.

cc @rniwa @NavidZ

[2021-01-13 15:10] NavidZ commented on #638
cc @mustaqahmed

[2021-01-13 19:17] mustaqahmed commented on #638
We (Chromium) attempted to fix this behavior [twice](https://crbug.com/346473) already, in 2015 and 2018!  Compat problems forced us to revert in both cases!!

Interestingly, Safari didn't allow canceling mousemove until 2015 (or may be later), see the bug I linked above.  Curious what motivated Safari to introduce this.

[2021-01-13 23:11] saschanaz commented on #638
It seems [the second revert](https://bugs.chromium.org/p/chromium/issues/detail?id=878392) was due to Chrome's internal use, though.

[2021-01-20 13:21] danburzo commented on #41
I was just reading through the spec and had the same reaction to the _pull-to-refresh_ example. The explanation on how to interpret direction-specific _touch-action_ values seems to have disappeared in the meantime (probably part of [this PR](https://github.com/w3c/pointerevents/pull/238/files)). Can we reinstate that para?

[2021-01-20 13:26] patrickhlauke commented on #41
afraid not, as it was moved out of the normative spec itself, since there was not sufficient consensus on it.

[2021-01-20 13:32] danburzo commented on #41
Got it. Thanks for the pointer!

[2021-01-31 00:23] trusktr commented on #346
^ Can you help me determine why the broken example doesn't work, or if there is in fact browser bugs?

[2021-02-01 03:16] RByers commented on #123
Anyone know if there's an issue open on any CSS spec for this?
Note [related twitter discussion](https://twitter.com/RickByers/status/1356078914498658306) and
[open chromium issue](https://bugs.chromium.org/p/chromium/issues/detail?id=306581).

[2021-02-01 08:37] trusktr commented on #206
It is impossible to make *proper* custom intertial scrolling based on current `wheel` events.

The closest I could get is the following, but because there's no way to detect start/end of interaction, the janky inertial scroll happens even when fingers are still on the trackpad (tested in Chrome):

https://codepen.io/trusktr/pen/YzGbeKG

The jank intertia is my fault: I could probably average a few

[2021-02-01 08:41] patrickhlauke commented on #123
@RByers see above https://github.com/w3c/csswg-drafts/issues/5454

[2021-02-03 16:06] smaug---- commented on #328
Some of the coalescing could happen outside HTML event loop, for example in a different process, so I'm not sure whether this can be defined in terms of  the HTML event loop.

[2021-02-03 16:07] smaug---- commented on #75
I'm in process of backing out a hack which was added to be compatible with Blink's old behavior.
Gecko's original behavior seems to follow what Blink does now.

[2021-02-03 16:13] smaug---- commented on #328
What kind of clarification would be useful in the spec (assuming it doesn't rely on HTML event loop or such)?

[2021-02-03 16:24] patrickhlauke commented on #125
Discussed at PEWG meeting today. In summary, feels like a breaking change that may be too late to do now. Current implicit capture just for touch makes sense due to touch interface problems of single finger used for activation and scrolling etc. Authors used to it from touch events. But for mouse, this implicit capture would be unusual. Not a big ask for mouse to require authors to explicitly capt

[2021-02-03 16:31] patrickhlauke commented on #191
Discussed in PEWG today. Decided to close this for now, as this feels out of scope purely for PE. There's inconsistency at the moment between platforms on when things happen when these buttons are pressed (on the down, or on the up), and they don't currently fire any other events like mouse events(?). So this needs to be discussed more fundamentally first (in UI Events?). If something comes from d

[2021-02-03 16:31] #191 closed, assigned to nobody

[2021-02-03 18:35] smfr commented on #328
Too long ago; I've lost context.

[2021-02-04 15:34] mustaqahmed commented on #125
We all suspected this as a risky change, and we seem to have _some_ evidence supporting our suspicion.  It makes perfect sense to trust our indirect knowledge and close this bug now because we couldn't prioritize the investigation in the last 4+ years!  We can always revisit the problem if "no default capture for mouse" ever becomes a problem for developers (I don't think it will happen).

[2021-02-04 17:58] patrickhlauke commented on #125
perfect, thanks for confirming @mustaqahmed

[2021-02-04 17:59] #125 closed, assigned to nobody

[2021-02-11 10:15] mbrodesser commented on #638
According to the spec, a "mousemove" event has no default action. But a "mousedown" event has.
For the former to be consistent with the latter, the former should get a default action consisting of  _extending_ a possibly started selection.

That would match Chrome's and Firefox's behavior when `preventDefault()` is **not** called. Firefox would then have to follow Chrome's behavior of not extendin

[2021-02-16 04:46] Thaina opened #631 "[feature request] Standardize long press touch event"
In mobile device it was common for application to handle long press as context menu or simulated right click. We can simulate it with start and timer. But it not standard so we have to reimplement it. The threshold also actually varied between platform and could be customized from OS setting for each user's preference

For consistent experience, I would like to have standard long press event that

[2021-02-16 07:57] patrickhlauke commented on #631
I'm afraid that, certainly for Touch Events, there won't be any further features added, as all major engines have now moved towards work on https://w3c.github.io/pointerevents/

as this request is more fundamental than just pointer events - and effectively touches on gesture handling, which is outside of the scope of pointer events - I would suggest raising this issue under UI events https://githu

[2021-02-16 08:48] Thaina commented on #631
@patrickhlauke This was already moved from https://github.com/w3c/input-events/issues/116

Can you transfer this instead of closed it?

[2021-02-16 12:30] patrickhlauke commented on #276
Sorry Antoine, only getting to this now. I've proposed a rewording/clarification here now, but - to give a bit of history - the vagueness of the definition came down to walking the fine line of IPR on what could and couldn't be directly stated in the spec (in terms of particular gestures that this CSS property tried to prevent). Hoping to provide some more clarity though if #349 is ok'd and merged

[2021-02-16 12:47] #292 closed, assigned to patrickhlauke

[2021-02-16 14:27] patrickhlauke commented on #139
Is this still valid?

[2021-02-16 14:38] patrickhlauke commented on #75
Do we need to add anything specific in the spec that defines/clarifies this @smaug---- ?

[2021-02-16 17:26] mustaqahmed commented on #139
Looks like the test mentioned here was replaced by pointerevent_attributes_hoverable_pointers.html, which doesn't have "position: absolute".

[2021-02-16 17:26] #139 closed, assigned to NavidZ

[2021-02-16 20:11] patrickhlauke commented on #139
Perfect, thanks for checking @mustaqahmed

[2021-02-22 20:56] smaug---- commented on #75
Blink does seem to fire lostpointercapture at odd time, but that isn't about this bug.
And how click is dispatched is defined in Pointer Events spec as
"the dispatch process is going to match that of the original specification. ".
So I guess nothing needs to happen here.

[2021-02-22 22:50] patrickhlauke commented on #75
so, just checking scenario 2 from the OP.

Chrome fires:

* green pointerdown
* Set pointer capture to blue div
* blue gotpointercapture
* blue pointerup
* _grey click_
* blue lostpointercapture

Firefox currently fires:

* green pointerdown
* Set pointer capture to blue div
* blue gotpointercapture
* blue pointerup
* blue lostpointercapture
* _green click_

but based on what @smaug---- is saying,

[2021-02-22 22:58] smaug---- commented on #75
Aha, I hadn't tested Safari. I was planning to revert the change which was added to Firefox to follow Chrome's old behavior.
Could you paste here what Safari does in 3 and 4?

[2021-02-22 23:24] patrickhlauke commented on #75
Safari/MacOS

1.

* blue pointerdown
* Set pointer capture to blue div
* blue gotpointercapture
* blue pointerup
* blue lostpointercapture
* blue click

2.

* green pointerdown
* Set pointer capture to blue div
* blue gotpointercapture
* blue pointerup
* blue lostpointercapture
* green click

3.

* Set pointer capture to blue div
* blue gotpointercapture
* blue pointerup
* blue lostpointercapture

[2021-03-02 04:48] scottlow opened #353 "Multi-pen support and persistent pointerId"
After digging around in issues for a while, I don't believe this has been raised before, but please feel free to dupe if so.

Lately, we at Microsoft have been thinking a bit about multi-pen scenarios for devices like Surface Hub. In cases like these, it is sometimes desirable to assign a pen a unique `pointerId` per top-level browsing context that remains static for the duration of the session re

[2021-03-02 08:13] patrickhlauke commented on #353
Personally, I think it would make sense to have this as part of the PE spec, rather than a separate one. My very naive take would be that this is already possible/allowed by that "MAY" sentence you mention, and that it can be expanded to mention this particular scenario as a rationale for the "MAY".

I do wonder if there's privacy concerns though, and if this may need some opt-in on the part of th

[2021-03-04 21:16] jimmywarting opened #582 "Differentiate single click event and double click event"
I found [this](https://stackoverflow.com/a/60177326/1008999) solution to work <s>the best</s> okey among a few answer on [SO](https://stackoverflow.com/q/5497073/1008999)

[code]

However it isn't perfect. it can still log both click and dbclick sometimes if you click somewhat slow & fast. The problem with all of the other solution i found where that they use a custom setTimeout delay.

if you can

[2021-03-05 23:13] saschanaz commented on #638
Seems the Firefox behavior has changed to match others 🙂

[2021-03-08 15:49] mustaqahmed commented on #638
@saschanaz Your comment on Jan 13 is correct, and I convinced myself we should retry removing the `mousemove` default in Chrome!  Do we know why Firefox decided to match Chrome???

[2021-03-08 16:02] saschanaz commented on #638
I think it was per https://github.com/w3c/pointerevents/issues/638#issuecomment-3868239647. I still think it's hacky and `selectionchange` should be preferred instead 🤔. @mbrodesser

[2021-03-09 22:07] karlcow commented on #592
See also [Intent to ship: Return pixel deltas in wheel event if deltaMode is not checked by authors](https://groups.google.com/g/mozilla.dev.platform/c/fUXLgaSoeLI)

( s/WheelEvent.delat/WheelEvent.delta/ in the title )

[2021-03-11 10:51] mbrodesser commented on #638
Yes.

Sure, this can be changed. I agree that it would be cleaner. @rniwa: any concerns from your side?

[2021-03-12 05:18] rniwa commented on #638
Change what?

[2021-03-12 09:09] mbrodesser commented on #638
What's mentioned in https://github.com/w3c/pointerevents/issues/638#issuecomment-3868239661.

[2021-03-12 09:13] rniwa commented on #638
What does "removing `mousemove` default" mean in this context? Making preventDefault on `mousemove` a no-op?

[2021-03-12 10:02] annevk commented on #638
Yeah.

[2021-03-23 23:27] msalsbery commented on #327
@joyzhong

I'm finally digging into trying to figure out a workaround for this bug, since unfortunately there's a few devices that use Webkit browsers ;)

This doesn't help my use case necessarily, but for use cases like your CodePen (linked to in your bug report) where there's a child element that doesn't do any pointer event handling, you can try setting ```pointer-events: none;``` in the css. T

[2021-03-23 23:55] msalsbery commented on #327
@NavidZ

Just an update, as I'm now trying to figure out a workaround for this Webkit bug.

Although your suggestion _sounds_ good, and I mentioned I may have to recommend that to users, it doesn't work. Even without handlers on the child element, the result is the same: the parent calls getPointerCapture successfully, a gotpointercapture is fired for the parent, but the parent doesn't actually ge

[2021-03-29 02:57] TurnerXi opened #634 "Different click event order behavior between Firefox , ie , edge and Chrome/Safari"
Hi，I found the different trigger order  in different browser when I click the target element which bounded with useCapture=false first and then bounded with useCapture=true .

**Steps to reproduce**
[code]
**Results**
Chrome / Safari:
[code]
Firefox / IE / Edge:
[code]

according to the spec [https://w3c.github.io/uievents/#event-flow](https://w3c.github.io/uievents/#event-flow)

When I click the

[2021-03-29 05:02] masayuki-nakano commented on #634
ccing @smaug----

[2021-03-29 17:34] mustaqahmed commented on #634
The details of event dispatch as defined in [DOM](https://dom.spec.whatwg.org/#dispatching-events) doesn't seem to provide a specific order in which multiple event listeners should be called, right?  In particular, the [inner invoke step](https://dom.spec.whatwg.org/#concept-event-listener-inner-invoke) goes through the event listeners at a particular target using "for-each", not sure if that defi

[2021-03-30 13:59] liamdebeasi opened #358 "touch-action: disable webview swipe back behavior"
## Problem

On platforms such as iOS, web apps installed to the home screen have swipe gestures that allow users to navigate back and forth between pages. Many Single Page Apps (SPA) implement their own transitions or manage their own stack based navigation. As a result, the default swipe gesture gets in the way of these custom solutions.

When using webviews like WKWebView directly, developers ca

[2021-03-30 22:05] fantasai commented on #358
This appears to be specced in https://www.w3.org/TR/pointerevents3/#the-touch-action-css-property whose GH repo is https://github.com/w3c/pointerevents/ ; would you like me to ask to transfer the issue, or did you want to raise this with the CSSWG?

[2021-03-30 22:09] liamdebeasi commented on #358
If the issue could be transferred, that would be great! Apologies, I did not realize that pointer events repo existed.

[2021-03-30 23:19] patrickhlauke commented on #328
@smaug---- do you think it's worth attempting some form of definition, or is this outside of the scope of the spec (in which case we should explicitly say that it's not defined here, possibly point to some other event handling spec?)

[2021-03-30 23:29] patrickhlauke commented on #229
@mustaqahmed @NavidZ @smaug---- what's the status on this ... has it been done? is it blocked on anything?

[2021-03-31 10:09] smaug---- commented on #229
Looks like the constructor handling in the spec is still rather bogus.
We really can't change the target of coalesced events or predicted events if those are being dispatched.

[2021-03-31 15:00] liviutinta opened #355 "Order of pointer events across frames when using pointer capture"
Regarding https://wpt.fyi/results/pointerevents/pointerevent_pointercapture_in_frame.html%3Fpen?label=experimental&label=master&aligned, in test 4 (Test penpointer capture in same-origin frame: Pointerdown with set capture at outer frame, then release on next pointermove).

There are two frames, outerframe and innerframe. The inner frame is a same-origin frame.
At pointerdown we call setPointerCap

[2021-03-31 16:16] smaug---- opened #356 "Clarify what the target of the click event should be after capturing pointer events"
This is split from https://github.com/w3c/pointerevents/issues/75
[Testcase](https://output.jsbin.com/zuwiwep)

We need some table here to compare the current behavior of various browser engines.
1. Mousedown on blue. Mouseup on blue.
2. Mousedown on green. Mouseup on green.
3. Mousedown on blue. Move to green. Mouseup on green.
4. Mousedown on green. Move to blue. Mouseup on blue.

[2021-03-31 16:21] smaug---- opened #357 "Clarify when lostpointercapture should fire"
This is split from https://github.com/w3c/pointerevents/issues/75
The spec is contradicting itself whether lostpointercapture should fire before or after click.
[implicit-release-of-pointer-capture](https://w3c.github.io/pointerevents/#implicit-release-of-pointer-capture)

"if in an implicit release scenario both click and lostpointercapture events are fired, click SHOULD be fired before lostpoint

[2021-03-31 23:22] fantasai commented on #358
Neither did I. :) @svgeesus @xfq Do either of you have the ability to transfer this issue? I think it needs someone with permissions in both repos.

[2021-03-31 23:29] svgeesus commented on #358
I just tried and I don't. I will need to get admin on that other repo first.

[2021-03-31 23:51] svgeesus commented on #358
@plehegar you have admin on both groups, could you do the move?

[2021-04-01 10:29] patrickhlauke commented on #356
| https://output.jsbin.com/zuwiwep | Gecko (Firefox 87.0) | Chromium (Chrome 89.0.4389.114) | Webkit (Safari 14.0.3 (16610.4.3.1.4))|
|-- | -- | -- | --|
|1. Mousedown on blue. Mouseup on blue. | blue pointerdown<br>Set pointer capture to blue div<br>blue gotpointercapture<br>blue pointerup<br>blue lostpointercapture<br>blue click | blue   pointerdown<br>Set pointer capture to blue div<br>blue got

[2021-04-04 07:55] xfq commented on #358
Done.

[2021-04-07 21:12] #276 closed, assigned to patrickhlauke

[2021-04-13 14:16] lincolnthree commented on #358
As a PWA and hybrid mobile app developer, I don't have much to offer on this issue other than, "Yes, 100%, we need this."

The inability to tame the browser's native transitions for installed websites is one of the biggest ways in which PWAs break the "third wall" and reveal their true nature to users. It screams "This is a website!" when you swipe back and the whole app shudders backwards in stra

[2021-04-13 14:49] NavidZ commented on #358
We have an issue (#295) similar to this but Apple folks weren't happy with adding something like that.

[2021-04-13 15:20] lincolnthree commented on #358
@NavidZ Sad. Well perhaps they'd be willing to compromise and at least fire an event that lets the application provide its own transition...

In my opinion, NOT doing this simply creates lots of awkward experiences. And does not really always result in working applications (or gestural controls). E.g. It's easy to get apps to totally break down when you go back in some critical places.

[2021-04-13 15:26] liamdebeasi commented on #358
The scope of this feature seems to be a bit narrower than #295. Additionally, WKWebView already provides this functionality (https://developer.apple.com/documentation/webkit/wkwebview/1414995-allowsbackforwardnavigationgestu), so I would be interested in hearing the WebKit team's perspective on this.

[2021-04-13 15:29] lincolnthree commented on #358
Agreed.

@liamdebeasi Ah interesting they provide the feature in WKWebView specifically. That's useful knowledge. Seems odd they would decline for home-screen installed apps. I'll decline to speculate more on that though.

[2021-04-13 16:25] mustaqahmed commented on #100
In Chrome we encountered a few regressions in the wild in the last few weeks (while slowly ramping up our experiment on Stable channel since January this year).  All of the regressions are with fractional coordinates in `click` where the event's `clientX/Y` are compared directly with those of the last `mousedown` event to detect/ignore "dragged clicks".
- In some cases (like [crbug.com/1182909](ht

[2021-04-14 12:06] EdgarChen commented on #357
My two cents: if the pointer capture affects the click targets, it seems to make sense to fire `click` event before `lostpointercapture`.

[2021-04-14 15:32] patrickhlauke commented on #75
Closing as this will be superseded by w3c/pointerevents#356 and w3c/pointerevents#357

[2021-04-14 15:32] #75 closed, assigned to smaug----

[2021-04-14 16:04] patrickhlauke commented on #357
Mentioned briefly in today's call. Parking this issue until #356 has been fleshed out more

[2021-04-14 16:23] flackr commented on #356
My intuition is that because the pointer capture effectively targets all events at the captured element, it should at least override the target of the up event when determining the common ancestor for the click. This seems to match chrome's current behavior, specifically,
1. blue click
2. grey click
3. blue click
4. grey click

However, I think we may want to go further and consider setting captur

[2021-04-14 17:32] flackr commented on #203
A possibly simpler option that I don't think has been mentioned yet is to declare which devices are direct manipulation (defined in #350) devices and thus produce direct manipulation (i.e. touch) actions. E.g.

[code]

However, I like that the suggestion from @BoCupp-Microsoft also serves to deprecate the use of touch-action and be more fine grained for future actions.

[2021-04-14 19:01] flackr opened #359 "Implement penover / pendown / penmove / penup events and similar for other new pointer types."
#203 proposes being able to assign different touch-action values by pointer type, however I think that the idea of telling the browser not to handle pen inputs, and adding a passive pointerevent listener to filter on pen events is a bit inefficient and also not as ergonomic as directly expressing what you want, which is to handle (and block) pen events.

I propose that we allow developers to inste

[2021-04-14 19:19] smaug---- commented on #359
This is kind of the opposite what pointerevent have been trying to do. We have hoped to get rid of the legacy events - that is where the name 'legacy' comes from after all ;)

[2021-04-14 19:34] flackr commented on #359
I totally understand, but we've lost the ability to know what type of events the developer wants to handle. The nice thing is that we wouldn't need to introduce new type specific events and developers could always expect to see them show up as pointer events - i.e. they don't need to add a new set of handlers each time a new input device type shows up.

[2021-04-14 19:43] patrickhlauke commented on #359
yeah i'll admit that to me this would feel like a step back, philosophically - as we're trying to get devs to think in more device/input agnostic ways first and foremost. and if they *want* to handle events differently, it doesn't seem to onerous for them to switch/case when they get a pointer event to then have different behaviour at that point. also *if* new classes/types of pointer become popul

[2021-04-14 20:40] flackr commented on #359
I agree it's not hard for developers to have a switch on pointerType, the problem is that the browser can't know that they only care to handle a certain pointer type (e.g. pen for a drawing application) so the natural way of adding a listener like the following will slow down touch scrolling as well:

[code]

Without input type specific handlers, the developer has to work around this by defining a

[2021-04-14 20:59] NavidZ commented on #359
@flackr pointerevent listeners are passive by default. So even in your first example that listener is passive and that prevent default does not (should not) prevent scrolling. Although that is what I recall from all the discussions in the PEWG.
But I don't see it mentioned in the spec. Maybe I'm not searching for the right term.

[2021-04-14 22:26] patrickhlauke opened #360 "Clarify that pointer event listeners are passive by default"
Split from https://github.com/w3c/pointerevents/issues/359#issuecomment-819828218

[2021-04-15 00:04] flackr commented on #359
Thanks @NavidZ, that certainly makes it less likely devs will accidentally added blocking listeners, though I still contend that blocking listeners is the most natural way for a developer to take over handling input on a certain element.

[2021-04-15 03:24] flackr commented on #359
Just to respond directly to this point. I don't think this is necessarily a step back as we would still require that all new events are also pointer events and so in most cases (and recommended practice) devs would handle them using the pointer* event handlers. It would only be in special cases where they wanted to handle a certain type differently that they may choose to add a specific type handl

[2021-04-16 11:14] patrickhlauke opened #361 "Add section explaining what coalesced and predicted events actually *are* in layperson's terms"
While the spec explains the functions and the lists of events, if doesn't have any kind of soft introduction/explanation of what these actually *are*, maybe with a few tiny graphics/examples. Explaining how user agent/OS does this coalescing/predicting internally, that particularly for drawing/high precision applications authors will want the non-coalesced events, how the predicted events can help

[2021-04-16 19:36] patrickhlauke commented on #361
just dropping a few thoughts here - the section doesn't have to be long or extensive, but just explain briefly what these events are. My understanding (and please jump in if I'm incorrect) is along the lines of:

Then perhaps adding a graphic to illustrate the point - a smooth curve, indicating the actual `pointermove` points as well as any `getCoalescedEvents` "in-between" points that help draw a

[2021-04-16 19:40] patrickhlauke commented on #361
It probably also needs a very clear note there that explains that

And I believe this also obviates the issue https://github.com/w3c/pointerevents/issues/328 as the spec doesn't actually try to define the process of coalescing, only how the non-coalesced/raw movement events can be accessed.

[2021-04-16 19:42] patrickhlauke commented on #328
I believe this can be closed / is superseded by this https://github.com/w3c/pointerevents/issues/361

[2021-04-16 19:42] #328 closed, assigned to nobody

[2021-04-17 11:38] patrickhlauke commented on #361
![close-up showing the difference in smoothness between unique points and raw non-coalesced points](https://user-images.githubusercontent.com/895831/115111751-b31fd880-9f79-11eb-8c9c-f318c4c1536b.png)

[2021-04-17 11:51] patrickhlauke commented on #361
(cross-referencing https://github.com/w3c/pointerevents/issues/38 and https://www.raywenderlich.com/1407-apple-pencil-tutorial-getting-started#toc-anchor-013)

[2021-04-17 19:14] patrickhlauke opened #362 "Move glossary to the end of the spec"
Traditionally, a glossary comes at the end of a piece of writing/book. Currently, we have it right at the start, which is a bit unusual. I'd propose moving it to the end, after "Converting between `tiltX`/`tiltY` ..."

[2021-04-17 19:15] patrickhlauke commented on #362
See for instance other specs like https://www.w3.org/TR/WCAG/#glossary