[2016-08-08 20:33] RByers commented on #8
Landed, and added a note to the [README](https://github.com/w3c/pointerevents/blob/gh-pages/README.markdown)

[2016-08-09 17:54] smaug---- commented on #32
What should happen if in a pointerdown listener one first sets pointercapture to the element foo and then removes foo from document? Should got/lostpointercapture be dispatched and where and when?
Are got/lost dispatched when there is next pointermove or pointerup for that particular pointer?

[2016-08-09 18:39] NavidZ commented on #32
I have a feeling that no one should get anything (either got or lostpointercapture) based on the current spec. Do you think it is an acceptable behavior?

[2016-08-09 18:50] teddink commented on #32
I agree with Navid - if the element is no longer in the DOM, then the `got/lostpointercapture` events should get dropped. I guess we could fire them at the next ancestor of the removed node, but that seems odd.

Is there a scenario that we would be breaking by not firing these events in that situation?

[2016-08-10 08:04] mingchou opened #132 "Should Element.hasPointerCapture return true or false in the listener of pointerup or pointercancel?"
Spec says hasPointerCapture return true immediately after call to setPointerCapture. Looks like the return value of hasPointerCapture is determined by current pointer capture override and pending pointer capture override. So can I expect hasPointerCapture return false in the following conditions?
1) immediately after call to releasePointerCapture
2) in the listener of pointerup or pointercancel (w

[2016-08-10 14:24] NavidZ commented on #132
Return value of hasPointerCapture is only determined by pending pointer capture override.
So that would return false in 1) and true in 2). The reason 2) is true is because implicit capture happens immediately **after** pointercancel/up which means after their handlers return as far as I understand.

[2016-08-10 16:14] mustaqahmed commented on #132
Navid is right: implicit release of capture happens [after firing pointerup or pointercancel](https://w3c.github.io/pointerevents/#implicit-release-of-pointer-capture). So at pointerup/cancel handlers, hasPointerCapture has to be true.

@mingchou, does it answer your queries?

[2016-08-10 22:29] mingchou commented on #132
Yes, it's clear and thanks.

[2016-08-11 16:58] #132 closed, assigned to nobody

[2016-08-17 04:41] mingchou opened #133 "Should Element.hasPointerCapture return true when set pointer capture to another element and release it immediately?"
In the case that element A already received gotpointercapture then
B.setPointerCapture
B.releasePointerCapture
Should A.hasPointerCapture return true or false?

I tested Chrome Canary and Edge, hasPointerCapture return false and element A will receive lostpointercapture. Finally no elements capture the pointer. Is it as expected?

[2016-08-17 14:24] NavidZ commented on #133
Yes. It is.
After B.setPointerCapture A definitely doesn't have the capture. At this point hasPointerCapture returns true because B is set in pendingPointerCaptureTarget. Having pendingPointerCaptureTarget==B allows B to release the pointer capture. Now that B also released the capture the pendingPointerCaptureTarget is null and as the result hasPointerCapture should return false.

[2016-08-18 00:53] mingchou commented on #133
Just a little bit confused when I was thinking about this question and reading the words in spec. For me, [1] looks like setPointerCapture only take effect when firing next pointer event. But now the behavior looks like setPointerCapture take effect immediately but only postpone gotpointercapture and lostpointercapture.

[1] https://w3c.github.io/pointerevents/#process-pending-pointer-capture

[2016-08-18 01:47] NavidZ commented on #133
You understanding is correct regarding postponing got/lostpointercapture and immediately taking effect in hasPointerCapture.
As you can see in [this section](https://w3c.github.io/pointerevents/#dom-element-haspointercapture) "hasPointerCapture" returns true or false only based on pendingPointerCaptureTarget which immediately gets updates as the result of call to setPointerCapture and releasePoint

[2016-08-22 19:23] mustaqahmed commented on #133
@mingchou, closing the issue assuming the clarification answers your query. Feel free to reopen if not.

[2016-08-22 19:23] #133 closed, assigned to nobody

[2016-08-24 20:41] mustaqahmed opened #134 "Stylus eraser: should it be a new pointerType instead of a button state?"
I couldn't locate the motivation in the spec for treating "eraser" as a button state instead of a pointerType. Have we ever considered adding a new pointerType="eraser"?

Below are my thoughts about why pointerType="eraser" seems to be a better idea. To ease the discussion, I will use "eraser mode" to mean the physical orientation of a pen that is flipped to become an eraser, and "pencil mode" to

[2016-08-24 21:45] scottgonzalez commented on #134
I think the spec only talks about buttons in the location that a standard pencil's eraser would be in, not about pens that have been inverted to use as an eraser.

I agree that it makes sense to treat an inverted stylus that supports the flipped behavior as being a different pointer type.

[2016-08-24 22:43] RByers commented on #134
Interesting.  Maybe the biggest question here is "should pressing the eraser button be distinguishable from using a pen inverted".  I assume there are art use cases where the user does really expect for these to be different operations, right?  Does anyone know if apps like Photoshop these differently today?

If we did introduce a new "eraser" `pointerType`, would we also use a different `pointerI

[2016-08-24 23:17] patrickhlauke commented on #134
(accidentally answered by email on the PEWG list rather than here/to the github email, so copying the relevant part of my message)

I admit to not having played around with this too much with my Wacom tablet, but fundamentally I would still perceive the pen as being a single "pen" type even when flipped. Whether it's a flipped pen (like the Wacom stylus) or the pen in the same orientation but with

[2016-08-25 08:42] mingchou opened #135 "What is the relationship between setPointerCapture, PointerLock, and browser default behaviors?"
[Here](http://jsbin.com/masuya/2/edit?html,output) is the first test. It setPointerCapture to another element when mousedown on a input element with type=range. setPointerCapture works on Chrome Canary and the slider doesn't move. But the behavior is strange after pointerup and releasePointerCapture. Edge handles it as setPointerCapture doesn't be called.

[This](http://jsbin.com/giqopi/edit?html,

[2016-08-25 18:02] mustaqahmed commented on #134
I completely agree that from the usability standpoint, it should behave as a single pen. But the "active button state" is what gives me worries, see below...

Again, I agree that for both cases, the user _wants_ to erase something. The follow-up action is more important here: when should the user _start_ to erase something? I argue that erasing while hovering seems too destructive, erasing should

[2016-08-25 19:07] RByers commented on #135
This is a great set of tests, thank you!
@mustaqahmed / @NavidZ can you take a look at our behavior vs. Edge for each of these and make a proposal for which you think is right?

Ideally I think we should try to say something about them (and have WPT tests for them) here in the PE spec for now, although ultimately the right long-term may be to make some updates to the HTML and PointerLock specs.

[2016-08-25 19:16] RByers commented on #131
I think it's a bug that `movementX`/Y is different between the compat mouse events and pointer events.  In general the whole reason `PointerEvent` derives from `MouseEvent` is that you want to be able to easily upgrade existing code designed for `MouseEvent` to use work with `PointerEvent`.  So we should file bugs against Chrome and Edge for this and write an WPT for it.

In terms of the larger in

[2016-08-25 19:16] RByers commented on #567
I think it's a bug that `movementX`/Y is different between the compat mouse events and pointer events.  In general the whole reason `PointerEvent` derives from `MouseEvent` is that you want to be able to easily upgrade existing code designed for `MouseEvent` to use work with `PointerEvent`.  So we should file bugs against Chrome and Edge for this and write an WPT for it.

In terms of the larger in

[2016-08-25 20:05] patrickhlauke commented on #134
To clarify the current behavior:
- for Wacom-style pen with eraser at the other end / with stylus flipped, the eraser end itself is pressure sensitive just like the regular tip. hovering the pen (even when flipped) over the digitizer surface registers no active buttons; once you touch the eraser tip to the digitizer, you get `buttons==32` and the relevant `pressure`, so this scenario is not a conc

[2016-08-25 20:10] patrickhlauke commented on #134
oh i should probably clarify i'm testing here using https://patrickhlauke.github.io/touch/tracker/multi-touch-tracker-pointer-hud.html in Edge

[2016-08-25 21:22] scheib commented on #131
I'm happy to chime in from the PointerLock perspective, but generally agree with points made already.

- [x]  movementX/Y should provide positive values for mouse move events whenever possible from any input device or modality. (Subtle exceptions noted in [PointerLock spec](https://w3c.github.io/pointerlock/#extensions-to-the-mouseevent-interface))
- [x]  Relative motion input modalities should wo

[2016-08-25 21:22] scheib commented on #567
I'm happy to chime in from the PointerLock perspective, but generally agree with points made already.
- [x]  movementX/Y should provide positive values for mouse move events whenever possible from any input device or modality. (Subtle exceptions noted in [PointerLock spec](https://w3c.github.io/pointerlock/#extensions-to-the-mouseevent-interface))
- [x]  Relative motion input modalities should wor

[2016-08-26 16:19] mustaqahmed commented on #134
I tested the low-level events from a Wacom Intuos Pro through Pixel evtest tool. A flipped ("eraser mode") pen appears as BTN_TOOL_RUBBER even when hovering.

@patrickhlauke: Does your test above use the same Wacom digitizer?

[2016-08-26 16:45] patrickhlauke commented on #134
Yes, Wacom Intuos Pro with default stylus

[2016-08-27 11:42] patrickhlauke commented on #134
Cross-posting Dave Fleck's response on the mailing list https://lists.w3.org/Archives/Public/public-pointer-events/2016JulSep/0290.html here:

[2016-08-27 11:49] patrickhlauke commented on #134
So if I understand the current situation correctly: in Windows/Edge, erasing has been implemented/forced as a modifier key that's tied specifically to pressure on the digitizer (in the case of the Surface Pen, pressing eraser button while hovering has no effect, and it only acts as modifier once the tip touches the screen; in the case of the Wacom stylus, having the stylus flipped - which at low l

[2016-08-27 11:53] patrickhlauke commented on #134
also, based on dave's other message concerning USI https://lists.w3.org/Archives/Public/public-pointer-events/2016JulSep/0293.html

would this mean that instead of doing any special-casing with `buttons == 32`, we could instead add a new property `inverted` or similar, which is set when either the eraser switch on the barrel is pressed or the stylus is flipped, but still treat it as `pointerType==

[2016-08-29 14:08] #113 closed, assigned to nobody

[2016-08-29 17:22] smaug---- opened #136 "releasePointerCapture right after setPointerCapture is no-op"
setPointerCapture sets 'pending pointer capture target override', but
releasePointerCapture doesn't clear it if 'pointer capture target override' isn't set.

[2016-08-29 20:10] #136 closed, assigned to nobody

[2016-08-30 17:52] mustaqahmed commented on #134
Cross-posting Dave Fleck's [recent response](https://lists.w3.org/Archives/Public/public-pointer-events/2016JulSep/0300.html) that I missed:

[2016-08-31 20:56] mustaqahmed commented on #134
Just realized that @RByers's questions went unanswered. I will draw others attention through my two cents:

If a pen has both an eraser button and a flipped eraser mode, IMO it's the job of the driver/OS to let us distinguish between them. I think @patrickhlauke once posted a screenshot of Wacom settings which even allows associating a button to "touching the screen", right?

An analogous example

[2016-09-01 08:15] patrickhlauke commented on #134
so what would happen if a stylus is either hovering or touching the digitizer, and then the eraser barrel button is pressed? does it need to pretend that the pen left (so firing off `pointerout`, `pointerleave`), and the new eraser pointer entered (`pointerover`, `pointerenter`)? or are we talking about having two separate models for pens with eraser button and pens which can be flipped (which is

[2016-09-01 19:58] mustaqahmed commented on #134
I see that pointerType="eraser" model will have to pretend pen leaving-and-entering, which will be terrible! Thanks for the catch.

It seems to me that adding a Boolean property <code>IsInverted</code> works (as in the Windows case Dave Fleck mentioned):
- If distinguishing between the two eraser states (flipped vs buttoned) is important, we can leave the current eraser button as is. "Inverted pen

[2016-09-06 17:49] RByers opened #139 "Some tests don't work properly with mobile-sized viewports"
Due to `position:absolute` boxes.  Eg. [this test](http://w3c-test.org/pointerevents/pointerevent_attributes_mouse-manual.html):

![w3c-test org-pointerevents-pointerevent_attributes_mouse-manual html nexus 5x](https://cloud.githubusercontent.com/assets/1280419/18284613/a4bed2e4-7438-11e6-8681-28c47b34fc10.png)

[2016-09-07 15:18] RByers commented on #29
Agreed in PEWG call today that this doesn't need to be v2-blocking.  Implementations are expected to have this as "a defacto standard" based on existing Edge support.  Spec status is secondary to that.

[2016-09-07 15:18] RByers commented on #565
Agreed in PEWG call today that this doesn't need to be v2-blocking.  Implementations are expected to have this as "a defacto standard" based on existing Edge support.  Spec status is secondary to that.

[2016-09-08 15:29] NavidZ opened #140 "Need a test for releasing pointer capture while element.hasPointerCapture is false"
When element.hasPointerCapture is false element.releasePointerCapture is a no-op which we have no test for it.

[2016-09-08 15:45] #140 closed, assigned to nobody

[2016-09-08 18:27] RByers commented on #6
web-platform-test added in https://github.com/w3c/web-platform-tests/commit/f690b6f2f942de267c560f1066c0fb3225dac980, I think we can now call this done.

[2016-09-08 18:27] #6 closed, assigned to dtapuska

[2016-09-08 20:13] NavidZ opened #141 "Add attribute tests for nohover pointer events like touch"
Adding a similar test to
https://github.com/w3c/web-platform-tests/blob/master/pointerevents/pointerevent_attributes_hoverable_pointers-manual.html

for touch like pointer events. With this we can remove a lot of other tests that these two tests will cover most of the basic usecases.

[2016-09-08 20:13] NavidZ opened #568 "Add attribute tests for nohover pointer events like touch"
Adding a similar test to
https://github.com/w3c/web-platform-tests/blob/master/pointerevents/pointerevent_attributes_hoverable_pointers-manual.html

for touch like pointer events. With this we can remove a lot of other tests that these two tests will cover most of the basic usecases.

[2016-09-14 19:23] mustaqahmed commented on #134
It seems pointerType="eraser" model is not as terrible as I commented above, see [Dave Fleck's reply](https://lists.w3.org/Archives/Public/public-pointer-events/2016JulSep/0327.html) in the list.

[2016-09-15 20:39] #141 closed

[2016-09-15 20:39] #568 closed, assigned to nobody

[2016-09-19 14:44] RByers opened #142 "Define ordering of lostpointercapture and pointerout/leave for touch"
Current Chrome (55.0.2865.0): pointerup lostpointercapture pointerout pointerleave
Edge: pointerup pointerout pointerleave lostpointercapture

Spec (and tests) should say which it should be.
One benefit of the Chrome model is that it's consistent with what web developers would expect for a hovering pointer (like mouse).
But Edge has probably always done it this way for touch, so that in theory cou

[2016-09-19 14:47] NavidZ commented on #142
Just to add when using button like in this example:
http://output.jsbin.com/wahawofufe

Edge does generate the same order of the events as Chrome. However in this example which the element is div what Rick said happens.
http://output.jsbin.com/fiyoqok

[2016-09-19 14:47] teddink commented on #142
Here is a test page that shows the difference in behavior between Chrome Canary and Edge with our current implicit capture implementation.

[http://jsbin.com/fiyoqok/3/edit?js,output](http://jsbin.com/fiyoqok/3/edit?js,output)

[2016-09-19 15:54] RByers opened #143 "Consider having explicit capture (sometimes) include boundary events"
In the TPAC F2F we agreed to resolve w3c/pointerevents#566, but for now Edge is still sending boundary events for explicit pointer capture (just suppressing them for implicit pointer capture).  We agreed we'd follow up with a plan to address this difference, but that explicit capture is rare enough that it shouldn't block Chrome's plans to ship according to the current `reduce-hit-tests` model.

I

[2016-09-19 15:55] RByers commented on #61
In the meeting at TPAC we agreed that for now we're OK with not sending boundary events by default - as written in the reduce-hit-tests branch.  We've got an open question about what is the best behavior for explicit capture (and whether the capture API should change) - filed #143 for that.

[2016-09-19 15:55] RByers commented on #566
In the meeting at TPAC we agreed that for now we're OK with not sending boundary events by default - as written in the reduce-hit-tests branch.  We've got an open question about what is the best behavior for explicit capture (and whether the capture API should change) - filed w3c/pointerevents#143 for that.

[2016-09-19 15:58] NavidZ commented on #143
Here is a [doc](https://docs.google.com/document/d/1zYiqIuzChk5W2KqqMoS6bUJJD51mPhEbBXDtstSZZJ4/edit#heading=h.llkhi72d2wn5) containing some complications I faced while trying to send boundary events while the pointer is captured.

[2016-09-19 16:09] #8 closed, assigned to RByers

[2016-09-19 16:09] #61 closed

[2016-09-19 16:09] #566 closed, assigned to nobody

[2016-09-19 16:11] teddink commented on #142
External Bug for Edge: [https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/8974782/](https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/8974782/)

[2016-09-19 16:22] scottgonzalez commented on #143
What is the motivation behind adding a flag as opposed to being consistent?

[2016-09-19 23:46] RByers commented on #143
Well, our motivation for not wanting explicit capture to send boundary events all the time is the same as w3c/pointerevents#566: we don't want developers to be hit with the hit-test costs on every pointermove unless they've explicitly opted-in to a feature that fundamentally requires it (eg. releasing pointer capture, or asking specifically to be notified when a captured pointer is no longer over

[2016-09-20 08:31] RByers commented on #22
Discussed at TPAC f2f, we think we should have an API something like:

[code]

Properties:
- Some of the properties would be redundant with the primary event.  Eg. `pointerId`, `pointerType`, `target` would always match exactly
- `getCoalescedEvents` method on each such object would return an empty sequence (but perhaps could throw)
- The primary event always has a timestamp greater than every eve

[2016-09-20 08:40] teddink commented on #22
Windows API that could provide the raw data for this API: [https://msdn.microsoft.com/en-us/library/windows/desktop/hh454880(v=vs.85).aspx](https://msdn.microsoft.com/en-us/library/windows/desktop/hh454880%28v=vs.85%29.aspx)

There are similar API's in Windows for both pen and touch - so a UA may need to use multiple all of them to get all of the relevant data to fill in the full pointer event obj

[2016-09-20 15:22] mustaqahmed opened #145 "Need to clarify what triggers boundary events when releasing a capture"
When a pointer capture is released from an element A while the pointer is over a different element B, we expect <code>pointerout</code>/<code>pointerleave</code> events for <code>A</code> and <code>pointerover</code>/<code>pointerenter</code> events for B before sending out future events (say a <code>pointermove</code>) to the hit-test node B. The current spec wording covers this through the Note

[2016-09-20 16:52] NavidZ commented on #145
Isn't this the same issue as issue #15 ?

[2016-09-20 22:32] appsforartists opened #146 "pointerup pressure should always be 0"
`pointerup` is defined to be when a {finger,stylus} loses contact with the screen or when mouse buttons are no longer being pushed.  Therefore, I'd expect the pressure value of every `pointerup` event to be 0.  Moreover, the spec requires pressure to be 0 if the hardware doesn't support it and no buttons are active (that is, the pointer is up).

Maddeningly, its actual value is different across im

[2016-09-20 22:37] NavidZ commented on #146
Thanks for the complete analysis. I'm going to work on the Chrome bug and will take care of that. It does seem that the pressure 0 for pointerup might be good to added as Note in the spec. I wonder what others think about it.

[2016-09-21 14:31] mustaqahmed commented on #146
The definition of pressure in the spec seems to have another crack here:

So in this case, a hovering barrel button press on a stylus would report a pressure of 0.5, which seems counter-intuitive. Same is true for a stylus that is flipped to eraser mode, see #134.

So instead of adding a Note, I prefer fixing the definition .

[2016-09-21 17:29] NavidZ commented on #146
Posting Dave Fleck's reply to github:

I would recommend that a stylus without pressure should report 1.0 not 0.5. The thinking goes like this:

In an application I choose a line width. If I draw with a mouse this is the width that will be drawn.

With a pressure stylus I will draw a percentage of that width (assuming pressure modulates width not opacity or some other characteristic) up to full pr

[2016-09-21 17:30] NavidZ commented on #146
With that reasoning I have the feeling that it should be 1 for mouse or any other device that doesn't pressure either. Because as the handler you just check for the pointermove and draw it. Why would you care about whether pointerType was pen or mouse? Anybody knows why it was 0.5 in the first place?

[2016-09-21 19:55] appsforartists commented on #146
_aside:_ It's really confusing that there are e-mail threads and GitHub issues discussing the same thing.  I keep seeing "Posting Dave Fleck's reply to GitHub" messages.  It would be great if he would just comment here himself.

---

I didn't have anything to do with the current spec, but I suspect the motivation is that 1 is pressing really hard with a tablet, where .5 is closer to the amount of

[2016-09-21 23:02] dfleck commented on #146
aside aside: Sorry - I don't quite know the protocol here. Hopefully I got it right now?

Some users have a soft touch and some have a heavy touch. To accomodate this the hardware needs to be able to handle a heavy touch (you can make it softer in software, but you can't make it heavier if you don't have the range to sense it). A control panel is provided to make the touch lighter for those with a

[2016-09-21 23:12] appsforartists opened #147 "Should pressure be set to 1 or .5 on devices that don't report it?"
Continuing a tangent from #146.

The spec currently prescribes `.5` as the pressure value for devices that don't report granular pressure.  Should it be changed to `1`?

Though we haven't yet learned how that came to be, the hypothesis is that users on a pressure-sensitive device apply less-than-maximum pressure in normal usage.  (Personally, I seem to apply somewhere in the range of .3 - .5 on a

[2016-09-21 23:13] appsforartists commented on #147
@dfleck's input from #146:

[2016-09-21 23:13] appsforartists commented on #146
@dfleck Thanks for commenting here! :smiley:

I broke this thread out into #147 to avoid distracting from the `pointerup` issue

[2016-09-21 23:41] dfleck commented on #134
(adding this here from discussion thread)

Here’s the Windows requirement that the pen leave and re-enter in eraser mode - from:
https://msdn.microsoft.com/en-us/library/windows/hardware/mt604235(v=vs.85).aspx

While the pen is within detection range of the digitizer, but not in contact with the screen, activation/deactivation of the erase affordance should be honored. However, direct transitions

[2016-09-22 00:00] appsforartists commented on #146
I've written tests asserting that `pointerup` has 0 pressure:

https://github.com/w3c/web-platform-tests/pull/3794

[2016-09-22 08:56] RByers commented on #145
I think this probably includes the discussion in #15, but is more than just that.  There's other ways that the boundary event behavior around capture is currently imprecise.  Eg. see [this suggestion](https://github.com/w3c/pointerevents/pull/138#r77877674).

[2016-09-22 08:57] RByers opened #148 "Update tests for reduce-hit-tests changes"
We merged #129 and #138 to gh-pages, but still need to update the web-platform-tests to handle implicit capture and the lack of boundary events during capture.

[2016-09-22 09:10] NavidZ commented on #147
I wonder if we better expose the fact that the pressure is not supported by the underlying device somehow. I believe I suggested this before and I was told that for some compat reason we should have a sensible value for pressure. So uninitialized value for pressure wouldn't work. Then maybe having another field saying whether pressure is supported or not? So that we go with value 1 or 0.5 either w

[2016-09-23 13:28] staktrace commented on #29
FTR the comments above address my concerns, so +1 for pinch-zoom from me as well.

[2016-09-23 13:28] staktrace commented on #565
FTR the comments above address my concerns, so +1 for pinch-zoom from me as well.

[2016-09-23 21:34] RByers commented on #29
Also, as discussed in the web-platform-test meeting at TPAC, "defacto" tests are welcomed in WPT (as long as they are clearly labeled somehow as reflecting defacto interop, not some spec).  So (unless there is objection here) we can take the tests @dtapuska is [landing in blink](https://codereview.chromium.org/2126323002/) and move them to web-platform-test/pointerevents (eg. with a 'defacto-' fil

[2016-09-23 21:34] RByers commented on #565
Also, as discussed in the web-platform-test meeting at TPAC, "defacto" tests are welcomed in WPT (as long as they are clearly labeled somehow as reflecting defacto interop, not some spec).  So (unless there is objection here) we can take the tests @dtapuska is [landing in blink](https://codereview.chromium.org/2126323002/) and move them to web-platform-test/pointerevents (eg. with a 'defacto-' fil

[2016-09-25 10:10] patrickhlauke commented on #147
I could live with the decision to change default pressure value for an active pointer to `1.0` rather than `0.5`, as long as it's consistent (meaning that Edge would need to harmonize to this, as they're the one stable shipping implementation at this point). /cc @teddink

[2016-09-25 10:13] patrickhlauke commented on #147
As for being able to differentiate if an input actually has `pressure` support at all, or if the value received by the application is simply the default value, I would lean more towards having that as part of InputDeviceCapabilities (as otherwise authors would have to add special casing logic for the likely more common situation where they want to just do the same regardless of whether it's non-pr

[2016-09-25 10:44] patrickhlauke commented on #147
As an additional, though rather bizarre/confusing, parallel: a while ago, I tested touch events `force` and the mouse events-specific `webkitForce` on non-3D-touch iPhone and in non-pressure-sensitive trackpad on Mac. the results (at least at the time) are that `force` on non-3D-touch iPhone always reports `0`, BUT the mouse compat events that are fired have `webkitForce == 1`; for non-pressure tr

[2016-09-25 12:12] NavidZ commented on #147
I also agree with having another field to express the pressure not supported instead of polluting the range of valid values for the attributes which makes it harder to write code in general. I wonder if @dfleck and @appsforartists think this is a useful field to have based on their discussion for issue #146 so that if the app so desires can check for that pressureSupported field.

[2016-09-25 12:26] patrickhlauke commented on #147
assuming you meant this field should be in the separate InputDeviceCapabilities, right? because we'd probably also want an equivalent for something like `tiltSupported`, `twistSupported`, `tangentialPressureSupported`, `contactGeometrySupported` etc

[2016-09-26 18:02] RByers opened #588 "Reduce scroll performance impact of `wheel` listeners"
`wheel` events are a big problem for scroll performance.  Eg. using [timestamps to monitor latency](http://rbyers.github.io/scroll-latency.html) @n8schloss has found that `wheel` listeners are a real problem for scroll performance in Facebook.  There are a number of incubation-style efforts underway to try to improve this, which if successful should probably make it back into the UI Events specifi

[2016-09-26 18:27] dfleck commented on #147
InputDeviceCapabilities would be useful (and should have all capabilities as @patrickhlauke suggests) - but my guess is with good defaults less than 5% of developers would use it. If I can pick up Tilt and use it as is, supported or not (no tilt support means the stylus is reported as vertical), then I won't look at tiltSupported to do something special.

With some defaults, InputDeviceCapabilitie

[2016-09-27 21:33] teddink commented on #29
Sounds reasonable to me.

[2016-09-27 21:33] teddink commented on #565
Sounds reasonable to me.

[2016-09-27 21:42] teddink commented on #147
Regarding the default pressure part of the discussion - Edge simply plumbs through what the underlying OS platform gives us. In the case of pressure, the default that the OS provides is .5 [PointerPointProperties.Pressure](https://msdn.microsoft.com/en-us/library/windows/apps/windows.ui.input.pointerpointproperties.pressure.aspx). If needed, I can ask around to try and dig up any logic behind why

[2016-09-28 16:39] RByers commented on #147
IMHO this argument is compelling.  We should define a default value that best matches the typical usage. If pressure is often mapped to opacity and pressure-sensitive stylus users already know to press hard to get an opaque line, then a default of '1' makes sense.  In contrast, if pressure is more often mapped to line width and pressure-sensitive stylus users know to use a moderate touch to get a

[2016-09-28 16:41] RByers commented on #147
But if we change this, then we should probably also permit values >1 (so that "above normal" pressure has some representation).  Maybe the mapping for Windows is just to always multiply pressure by 2?

[2016-09-28 16:54] appsforartists commented on #147
I've never maintained a popular drawing program, so I don't know what the typical relationship is between reported pressure and opacity; however, modulating line width with pressure is a near-ubiquitous pattern in tablet-based drawing apps.  In fact, the way you know if you're using an app that supports pressure is to press very lightly and see if the line width shrinks.

As far as Android and iOS

[2016-09-28 21:44] RByers commented on #147
Thanks Brenton.  That sounds like an argument for 0.5 being the default to me.  Dave?

I don't think that's really true for Android.  "MotionEvent.pressure" on Android is there primarily for styluses (and there are lots of Android devices with a stylus - eg. SPen), and needs some default value for touch when there is no native notion of pressure.  Eg. I see '1' reported on my Nexus 6p (via `TouchE

[2016-09-28 22:17] dfleck commented on #147
Note taking apps. and annotation apps. modulate width with pressure, but over a very narrow range (minimum and maximum brush size aren't very different for an ink pen). If it's a pencil tool then pressure usually modulates both width and opacity, also over a narrow range (there's a minimum density that's already fairly dark, but the darkest still isn't a solid line).
Drawing apps. modulate width w

[2016-09-28 22:19] dfleck commented on #147
Regarding "more than 1.0" the Apple pencil is 0 to 4.17 where, per Apple documentation, 1.0 represents the force of an average touch.

[2016-09-28 22:54] appsforartists commented on #147
That makes me wonder what the role is of the PointerEvent spec in asserting some consistency across implementations.  Presume I'm applying enough pressure on a Wacom tablet for it to report `pressure:1`.  Would the same amount of pressure yield the same measurement on an Apple Pencil?  If I multiplied the amount of pressure being applied by 4, would Apple report `pressure:4`?

Perhaps we should sp

[2016-09-28 23:22] patrickhlauke commented on #147
As Apple are not participating in Pointer Events, for the spec to assert consistency would mean: do what Apple does...

As for standardising actual pressure in real-world units: as this is hardware-dependent, I doubt this would be feasible for browser vendors to do, as they rely on whatever numbers they receive from the hardware/OS.

[2016-09-28 23:27] teddink commented on #147
@patrickhlauke took the words right out of my mouth. I would not want us to get into the business of standardizing based on real pressure. The HW capabilities can evolve more quickly than we can change our specs and myriad of implementations. Let the HW vendors figure out how to make their HW work with the operating systems - we should then ride on the coattails of the operating systems.

If anyon

[2016-09-28 23:28] cynthia commented on #147
Since it would be impossible for a device that supports pressure to report 0, wouldn't 0 be a more likely value for devices with no pressure support? (I recall doing this for a quick hack implementation POC for some tablet device a while ago.)

[2016-09-28 23:41] appsforartists commented on #147
There's a compatibility risk there: if applications are using `pressure` as a sentinel for "any button is down", they would break.  Since PointerEvents aren't yet widely-utilized, the risk is probably low (and `buttons` can be used to serve that same purpose).

[2016-09-29 02:37] cynthia commented on #147
Considering the adaptation rate of PE as of today, it's probably easier to introduce any compatibility breakages now rather than later. (That said, I'm not saying my suggestion is great, I recalled doing that in a propreitary PE-like event model a while ago and figured it was worth sharing)

[2016-09-29 16:54] mustaqahmed commented on #147
If we think about the _range_ of pressure values first, the problem becomes simpler IMO:

A. First, the current range [0, 1.0]  seems natural & convenient, definitely more so than [0, 2.0] or [0, 4.xyz]. Agree/disagree?

B. We need the ability to distinguish between "normal" vs "hard" pressure, right? Then "normal" has to be less than range max (="hard"), and "normal"=0.5 makes the most sense as t

[2016-09-29 21:04] dfleck commented on #147
If you choose a 20 pixel wide line from the palette - how wide should it draw - 50% or 100%?

[2016-09-29 21:16] appsforartists commented on #147
[code]

[2016-09-29 21:56] dfleck commented on #147
@appsforartists if defaultPressure =  1.0 this simplifies to: actualBrushSize = selectedBrushSize;

It's common for an artist to draw constant width lines with a pressure stylus by maxing out pressure (it's the only pressure value that can easily be held constant while moving the stylus). So they should choose a brush size in the palette half of what they actually want? Usually the brush size is t

[2016-09-30 01:17] #148 closed, assigned to NavidZ

[2016-10-02 04:26] cvrebert commented on #605
Chrome usage metrics:
- `fromElement`: https://www.chromestatus.com/metrics/feature/timeline/popularity/506
- `toElement`: https://www.chromestatus.com/metrics/feature/timeline/popularity/507

[2016-10-05 15:16] mustaqahmed commented on #147
Correct me if I am missing something here but if I choose a 20 pixel wide line, I don't see why a "normal" pressure should draw a 10 pixel wide line.

Consider a physical drawing tool (e.g. a paintbrush or a [soft-tip pen](http://www.jetpens.com/Pilot-Brush-Pen-Small-Soft-Tip-Fine/pd/2480) or even a paint-roller): one picks a specific width for normal usage, and can normally expect a wider line fo

[2016-10-05 16:00] appsforartists commented on #147
This feels like it's veering a bit into app design territory.  It will always be up to application developers to map inputs in a way that makes sense for their apps - that's true whether default pressure is 0, .5, or 1.

We should pick a default that makes it easy for users to switch between {mouse, pen, touch} with a consistent experience.  .5 wasn't my decision, but since that's pretty close to

[2016-10-05 23:09] dfleck commented on #147
To the best of my knowledge EVERY desktop app treats max pressure = max brush size (and I have seen a lot of apps.) And if you're delving into physical parallels - I've never used a paint roller that changes width the harder I press, and especially not by 50% (pressure not affecting width is the case for almost all physical artist tools, pencil, pen, marker, charcoal, chalk, with the exception of

[2016-10-12 17:10] mustaqahmed commented on #147
Thanks @dfleck for your comments from the perspective of existing apps. If Wacom products replace unknown pressure with sensible values to make apps work, it is reasonable to assume that any other competitive products will do the same, right? The same argument holds for OS-level normalization too I guess. This implies that a new InputDeviceCapabilities entry is the best (and only?) way to expose m

[2016-10-12 17:46] appsforartists commented on #147
I'm down with `supportsPointerPressure`.  Definitely seems more reasonable than trying to guess here what the right default would be.

I didn't pick .5 - I was just trying to empathize with whoever set it to understand why it might be a good choice.  Sounds like @dfleck is the expert in this area, so I'm happy to defer to him.

[2016-10-12 17:46] #147 closed, assigned to nobody

[2016-10-19 20:37] NavidZ commented on #22
Do you think we should have a way for js to be able to populate this list for an untrusted PointerEvent (which is created in js)?

[2016-10-20 18:17] NavidZ commented on #146
This issue seems to be easy to fix. Aside from Chrome bug, is everybody okay with having 0 for pointerup? I wonder if we need to explicitly call it out in the spec or would the exiting text imply this clearly enough?

[2016-10-20 18:21] NavidZ commented on #125
Is it safe to give up on this idea because of the mouse event impact?

[2016-10-20 18:23] NavidZ commented on #98
I believe I updated the test for this issue. I'll close it then.

[2016-10-20 18:23] #98 closed, assigned to nobody

[2016-10-20 18:24] NavidZ commented on #145
We should be able to make the definition a little more precise to include this case as well. Since it was originally hand-wavy definition I guess it is better to fix it in V2.

[2016-10-20 18:34] NavidZ commented on #142
@teddink I remember you told us @jacobrossi might have had some reason on why touch is different from mouse here. I was wondering if that reason still exists or are you guys going to make touch and mouse similar regarding this issue? If so can we just create a PR and a test and close this issue?

[2016-10-20 18:38] NavidZ commented on #39
I believe this can be closed looking at the latest spec as we changed that part of the spec that explains this.

[2016-10-20 18:38] #39 closed, assigned to nobody

[2016-10-20 18:39] NavidZ commented on #117
This should be something easy to fix I believe. Right?

[2016-10-20 18:45] NavidZ commented on #62
This issue doesn't apply anymore after the implicit capture and not hit-testing to the current spec. If #143 discussion ends up sending boundary events we need to make it clear what is defined as the boundary of the capturing node.

[2016-10-20 18:45] #62 closed, assigned to nobody

[2016-10-20 18:48] NavidZ commented on #32
I updated the test in this [PR](https://github.com/w3c/web-platform-tests/commit/09907a9c4bcee14986431d53e4381384c7c69107). As everybody agreed on delaying got/lostpointercapture all the time I close this issue.

[2016-10-20 18:48] #32 closed, assigned to teddink

[2016-10-20 18:56] NavidZ opened #150 "How should touch-action behave for span?"
I believe this test
https://github.com/w3c/web-platform-tests/blob/master/pointerevents/pointerevent_touch-action-span-test_touch-manual.html

is designed for the old days that touch-action was working on span. Can someone confirm that touch-action should have no effect on spans?
Do you think I should just remove the test or should we change the test in a way to make sure scrolling still works eve

[2016-10-20 18:59] NavidZ commented on #150
This is a test related issue that we need to fix before v2. I wonder if it is better to have a "test" label for all issues that are related to tests only or need some test updates as well.

[2016-10-20 19:03] dfleck commented on #146
Yes! Zero pressure during pointerup. It wouldn't hurt to make this clearer in the spec.

[2016-10-20 19:18] patrickhlauke commented on #125
Personally, I think so, yes

[2016-10-20 20:40] scottgonzalez commented on #125
😢 I'll hold on to my dreams that one day this will happen...

[2016-10-20 22:06] mustaqahmed commented on #150
The test seems stale. Since <span> is a "non-replaced inline element", the touch-action property is not applicable here.

+1 for a new label for all issues blocking only on tests.

[2016-10-22 19:17] teddink commented on #142
If we did have a reason, we could not figure out what it could be. We intend for mouse and touch to have the same behavior here.

[2016-10-27 02:24] RByers commented on #125
Personally I was shocked that I didn't come across a single site impacted by this by running with Scott's extension enabled for a month or so.  Maybe it's not so hopeless?  Or at least if we're going to close it, we should perhaps have at least ONE example of a real-world website that's significantly broken by it?  Thoughts?

Regardless it's definitely NOT v2 - more crazy idea to consider for the

[2016-10-27 03:19] RByers commented on #22
Yes, absolutely!  JS should always be able to generate events just like the UA (except `isTrusted` of course).  Thanks for catching that I missed that.

[2016-10-27 14:24] mustaqahmed commented on #125
You are right: without a concrete example of a broken site, I shouldn't have closed the issue. Even though we agreed during the hackathon that the risk seems big, we also agreed that a pointer-type-independent behavior would be a great.

[2016-10-31 16:19] appsforartists opened #152 "pointerType: 'dial'"
@jacobrossi, do you know if there are plans for the [Windows Wheel](https://msdn.microsoft.com/en-us/windows/uwp/input-and-devices/windows-wheel-interactions) devices to emit pointer events?

This question may be a bit premature, since the [three presently-defined `pointerTypes`](https://w3c.github.io/pointerevents/#dom-pointerevent-pointertype) have all been commercially successful for quite some

[2016-10-31 23:04] shepazu commented on #152
I agree that it may be useful for us to define a set of events related to a dial input, and adding a "dial" `pointerType` seems reasonable to me.

Most of the specific functions are already defined using pre-existing events, though, and we should only define those things that are unique to the dial, or define a dial's characteristics in existing terms. Effectively, it's a mouse with rotation, much

[2016-10-31 23:18] dtapuska commented on #152
How would you support haptic feedback?

[2016-10-31 23:57] shepazu commented on #152
Maybe the [Vibration API](https://www.w3.org/TR/vibration/)?

[2016-11-01 00:16] dtapuska commented on #152
That is a terribly abused API. Chrome is trying to limit it's use. My main concern is what is the target latency of haptic feedback and whether a web browser can actually hit it. Or whether it is a described API of when haptic feedback is applied at certain steps.

[2016-11-01 00:27] appsforartists commented on #152
Based on [the PointerEvent interface](https://w3c.github.io/pointerevents/#pointerevent-interface), I'd expect:
- dial rotation to be reported as `twist`
- contact size to be reported as `width` and `height` on the event
- contact with the screen being equivalent to the primary button being pressed/a pen making screen contact (`buttons: 1`)
- pressing the dial to be the equivalent of pressing a pe

[2016-11-02 04:58] shepazu commented on #152
@dtapuska wrote:

How do you mean? Using it for haptic feedback is precisely what it's intended for, per the spec abstract: "Vibration is a form of tactile feedback."

You may have reason to believe the Vibration API is ineffective or suboptimal, but it's clearly intended for haptic feedback.

That seems like a reasonable concern. Also, how quickly can you turn off a vibration / haptic pattern onc

[2016-11-02 11:42] patrickhlauke commented on #152
Dropping this here for reference:
- RadialController class API https://msdn.microsoft.com/en-us/library/windows/apps/windows.ui.input.radialcontroller.aspx
- Surface Dial Interactions https://msdn.microsoft.com/en-us/windows/uwp/input-and-devices/windows-wheel-interactions

[2016-11-02 14:02] dtapuska commented on #152
It appears the haptic API is declarative...

A haptic event is defined when a rotationchanged event is broadcast.

You control it via controlling the resolution and setting. This gets around the latency problem by being declarative instead of event driven.

https://msdn.microsoft.com/library/windows/apps/windows.ui.input.radialcontroller.rotationresolutionindegrees
https://msdn.microsoft.com/libra

[2016-11-04 21:35] mustaqahmed commented on #152
PointerEvents can be tweaked to represent a "dial" (Windows Wheel) for sure. But before we commit to changes in this direction, we should discuss the pros & cons of other comparable alternatives. Here are my thoughts on one such alternative: WheelEvents could also be tweaked to represent the device too---is it really bad compared to PointerEvents?

Both PointerEvent and WheelEvent (each of them is

[2016-11-06 12:30] lpd-au commented on #152
The video on the docs page linked above does mention around 18:30 that the dial's menu could/should contain different items depending on where it's placed on the screen [(link)](https://youtu.be/2tajuOfs9p0?t=18m30s). It is also my understanding that only the black circle with the white menu icons is painted by the OS, other widgets such as colour sliders are painted by the app. Although it may be

[2016-11-07 20:08] patrickhlauke commented on #152
Looking at https://www.youtube.com/watch?v=lwsu6lN5M8k, the position of the dial is relevant/important.

it should be primary if it's the first `dial` type pointer. primary doesn't mean "primary input mechanism". a `pen`, `mouse`, `touch` can also be primary at the same time.

[2016-11-08 09:32] lpd-au commented on #152
I understand, but this presents two potential negative implications:
- The dial may produce compatibility mouse events.
- Contrary to the note in the spec, "Authors who desire single-pointer interaction can **not** achieve this by ignoring non-primary pointers," because the dial is inherently not supposed to be used as a standalone single-pointer.

In my opinion there needs to be some distinction

[2016-11-08 10:08] patrickhlauke commented on #152
I can't locate the video just now, but I have seen the demo of using the dial when editing music notation where the dial itself is used as an actual pointer to click/select part of the music sheet to highlight it for editing. So I don't think that statement is necessarily true.

@teddink @jacobrossi or any other MS folks... any thoughts on this?

[2016-11-08 11:02] patrickhlauke commented on #152
I would strongly advise against this sort of approach - related, trying to tackle exactly this sort of "one input is more important than others" philosophy over here https://github.com/w3c/csswg-drafts/issues/690

[2016-11-08 17:36] NavidZ commented on #22
As discussed previously in the mailing list I removed the v2-blocking from this issue.

[2016-11-08 20:47] #117 closed, assigned to mustaqahmed

[2016-11-08 20:57] patrickhlauke commented on #125
Coming back to this, what about a non-normative note that gives UAs the freedom to choose to do this if they want (i.e. that it's up to the implementations)? Or is that too lax?

[2016-11-09 15:22] #146 closed, assigned to NavidZ

[2016-11-09 15:25] NavidZ commented on #145
I'm going to add a test for this as well after the spec PR for this lands.

[2016-11-13 07:59] masayuki-nakano opened #589 "WheelEvent.intDelta(X|Y|Z) might be useful for some web apps which cannot scroll its contents smoothly"
When I work on reimplementing legacy mouse scroll event handlers to standardized wheel event handles, I thought that if there are WheelDelta.intDelta(X|Y|Z) or something, some web apps may handle wheel events easier.

My proposal is, WheelEvent.intDelta(X|Y|Z) is set to an non-zero integer value when accumulated delta value is over 1 or less -1, sets the corresponding intDelta value to the integer

[2016-11-13 08:06] masayuki-nakano commented on #589
I mean, "low resolution" delta value might be useful for some application. So, the proposal new attribute name could be roughDelta(X|Y|Z) or something.

[2016-11-13 14:38] smaug---- commented on #589
I wonder if script libraries already do have something like this implemented on top of the current wheel events.

[2016-11-21 23:53] RByers commented on #22
Landed [here](https://w3c.github.io/pointerevents/extension.html#dom-pointerevent-getcoalescedevents) via #149 (looks like this didn't auto-add due to "Addresses" instead of "Fixes" in the commit description).  As usual, we'll leave the issue open until tests land.

[2016-11-22 21:04] NavidZ opened #156 "Fire pointerover/enter before gotpointercapture"
Following this comment:
https://github.com/w3c/pointerevents/issues/39#issuecomment-193966884

I believe there was an agreement on sending pointerover/enter before gotpointercapture. This is not reflected in the tests though.

[2016-11-23 15:53] mustaqahmed commented on #156
Yes, we already agreed, see [this comment](https://github.com/w3c/pointerevents/issues/39#issuecomment-216951227).

[2016-11-24 18:40] NavidZ commented on #150
Looking again at the test it seems it correctly expects the scrolling work on the span. Not sure what I saw back then that I thought it expects the scrolling offsets as 0. Anyhow, closing this for now as it no longer applies.

[2016-11-24 18:40] #150 closed, assigned to nobody

[2016-12-06 21:26] NavidZ opened #157 "Should on(got/lost)pointercapture be in GlobalEventHandlers?"
Similar to other onpointer"event" handlers, should we also have on(got/lost)pointercapture handlers added to GlobalEventHandlers instead of Element interface?

[2016-12-07 15:29] NavidZ commented on #157
@teddink @jacobrossi
I was wondering if there was a particular reason that Edge puts on(got/lost)pointercapture for Element instead GlobalEventHandlers along with others on"event" handlers and whether you think it is okay to put on(got/lost)pointercapture beside the others for consistency.

[2016-12-07 15:33] RByers commented on #157
`setPointerCapture` is on `Element` so doesn't that mean only an `Element` can ever receive `gotpointercapture` / `lostpointercapture` events?  I think all implicit capture scenarios should be to `Element` also, right?  In particular, `GlobalEventHandlers` also applies to `Document` and `Window`.

[2016-12-07 15:36] dtapuska commented on #157
the events bubble

[2016-12-07 15:37] NavidZ commented on #157
Sure. I agree that those capturing API should remain in an Element. But on(got/lost)pointercaptures bubble up so they can be handled with something on the window presumably.

[2016-12-07 15:42] RByers commented on #157
Duh, good point :-).  I can imagine event delegation frameworks really wanting to listen on window.  I assume you see the events bubble up to `window` on Edge when using `addEventListener`, right?  Assuming that's the case, then I agree the `ongotpointercapture` etc. properties should be consistent and live in `GlobalEventHandlers` also.

[2016-12-07 16:03] NavidZ commented on #157
Yes. Both on Edge and Chrome, when you add a gotpointercapture listener via addEventListener to the window it does get triggered when an element inside gets the capture and yet neither of browsers have ongotpointercapture defined on window.

[2016-12-07 16:35] teddink commented on #157
I am following up with dev and spelunking through the code a bit to see if there is a reason.

[2016-12-09 22:10] mustaqahmed opened #159 "Touch-action should distinguish between single- vs multi-finger panning"
What happens when an app wants to handle two finger panning in JS but let the browser scroll the page?  I think the current definition of touch-actions is ambiguous, hence we have difference in implementations.

[Here is a demo](http://mustaqahmed.github.io/web/image-panning.html) that shows that a one-finger-browser-action plus two-finger-JS-action is possible in Edge but not in Chrome!  We think

[2016-12-10 03:19] lpd-au commented on #159
I very recently switched mouse events for pointer events in a legacy project with a use case just like you describe, a large pannable map on a zoomable (and hence scrollable) page. The ability to treat single and double finger panning separately would have been extremely useful to me. In the end, also lacking consistent `pinch-zoom` support, I just disabled dragging on mobile browsers and provided

[2016-12-12 12:52] patrickhlauke commented on #159
Wondering how much of this is down to user agent/os though. Some UAs may implement a "pan is always two fingers", while others may pan on single finger. I'd keep the `touch-action` values rooted in what the outcome is (panning, zooming) rather than anything more specific about the action/gesture itself. (unless I completely misunderstood the point here)

[2016-12-14 15:31] RByers commented on #100
@teddink Can you look into what special cases / hacks you have for `click` etc?  Rounding the co-ordinates to integers seems like a good idea (at least when pointerType=mouse).  Is that it?

[2016-12-14 19:29] #145 closed, assigned to NavidZ

[2016-12-14 19:30] #156 closed, assigned to NavidZ

[2016-12-14 20:02] NavidZ commented on #157
@teddink were you able to get any updates on this one?

[2016-12-14 20:54] teddink commented on #157
Yes I was - there is no specific reason why, we intend to make the same change.

[2016-12-14 21:35] NavidZ commented on #157
So does [this PR](https://github.com/w3c/pointerevents/pull/158) sums up all the changes needed?

[2016-12-14 21:41] teddink commented on #157
The PR looks good to me. We should add a test as well :-)

[2016-12-14 21:42] NavidZ commented on #157
Yup. I have the test ready as well actually. I'm going to send it as soon as the spec PR lands.

[2016-12-19 17:27] mustaqahmed commented on #142
Ooops, closed accidentally.

[2016-12-19 18:55] NavidZ commented on #157
The test landed as well and this issue can be closed now.

[2016-12-19 18:55] #157 closed, assigned to NavidZ

[2016-12-19 20:17] bzbarsky commented on #157
@dtapuska Not per the spec as currently written, right?

[2016-12-19 20:38] RByers opened #160 "Spec references both W3C DOM4 and WHATWG-DOM"
The definition of `composed` needed to reference WHATWG-DOM (since it's a new feature not yet reflected in the W3C copy).  IMHO we should just be consistent and reference WHATWG-DOM instead of DOM4 everywhere to avoid confusion about which algorithms exactly we were referring to (eg. see [this thread](https://groups.google.com/a/chromium.org/d/msg/blink-dev/T_amUSoAzHA/J2QsfpGKDwAJ))

[2016-12-19 20:41] NavidZ commented on #157
In the [Pointer Event types](https://w3c.github.io/pointerevents/#pointer-event-types) section it is specified that the got/lostpointercapture events bubble. Also both the Edge and Chrome implementations do that.

[2016-12-19 20:49] bzbarsky commented on #157
@NavidZ The actual processing model fires a non-bubbling event.  Specifically, https://w3c.github.io/pointerevents/#the-gotpointercapture-event says to https://w3c.github.io/pointerevents/#firing-events-using-the-pointerevent-interface which will call into https://dom.spec.whatwg.org/#concept-event-fire which by default fires a non-bubbling event.  There is no mention of setting "bubbles" to true

[2016-12-19 20:52] bzbarsky commented on #157
Ah, I see.  There's the "whose attributes are set as defined in PointerEvent Interface, and Pointer Event types." bit @RByers pointed out.

I think saying "whose 'bubbles' and 'cancelable' attributes are initialized as defined in ..." would help clarity a lot here.

[2016-12-19 20:53] bzbarsky commented on #157
And specifically, from the current wording it's not clear that the "Sync/Async" column does _not_ correspond to an IDL attribute, but the Bubbles and Cancelable columns _do_.

[2016-12-19 20:58] NavidZ commented on #157
This is not only about that table. That section has a whole bunch of attribute initialization for different events. The firing section used to list them all but as they got bigger in one of the pull requests we changed it to just point to that section. Regarding Sync/Async I agree with you. But what do you suggest?

[2016-12-19 21:08] bzbarsky commented on #157
I think it would make sense to explicitly say that bubbles/cancelable are set per the table and the other IDL attributes are set per the prose in https://w3c.github.io/pointerevents/#pointer-event-types though the indirectness of needing to know which event caused the algorithm to run (but that event not being an argument to the algorithm) is pretty unfortunate.  Being more explicit there would ha

[2016-12-20 03:01] NavidZ commented on #157
@bzbarsky do you mind filing another issue for that so we can track it separately?

[2016-12-20 05:42] bzbarsky opened #161 "Would be good to better clarify pointer event firing"
See https://github.com/w3c/pointerevents/issues/157#issuecomment-268078918 and preceding discussion.

[2016-12-20 05:42] bzbarsky opened #569 "Would be good to better clarify pointer event firing"
See https://github.com/w3c/pointerevents/issues/157#issuecomment-268078918 and preceding discussion.

[2016-12-20 18:59] RByers commented on #29
It sounds like we're unlikely to get permission to add this here.

For now I've defined it in [the compat spec](https://compat.spec.whatwg.org/#touch-action) - whose whole purpose is to describe the real world of implementations when (for whatever reason) the official specs do not.  I [propose](https://github.com/w3c/pointerevents/issues/162) adding a note referencing the compat spec from the PE s

[2016-12-20 18:59] RByers commented on #565
It sounds like we're unlikely to get permission to add this here.

For now I've defined it in [the compat spec](https://compat.spec.whatwg.org/#touch-action) - whose whole purpose is to describe the real world of implementations when (for whatever reason) the official specs do not.  I [propose](https://github.com/w3c/pointerevents/issues/162) adding a note referencing the compat spec from the PE s

[2016-12-20 20:49] #142 closed, assigned to mustaqahmed

[2016-12-21 18:55] RByers opened #163 "New respec warnings about missing dfns"
I don't remember seeing this before - perhaps a respec update?

[code]

[2016-12-23 07:37] mingchou opened #164 "Simultaneously move / drag with multiple pointer devices"
Wondering if spec should say something about the behavior of controlling multiple input devices simultaneously? For example, what is expected when dragging some item with mouse then click the button on pen?

Tested OSs behaviors (with mouse and pen), and the results are
1) Windows 10
   The dragging item can be moved by another input device
   Button down & up from another input device can cancel

[2016-12-23 07:37] mingchou opened #570 "Simultaneously move / drag with multiple pointer devices"
Wondering if spec should say something about the behavior of controlling multiple input devices simultaneously? For example, what is expected when dragging some item with mouse then click the button on pen?

Tested OSs behaviors (with mouse and pen), and the results are
1) Windows 10
   The dragging item can be moved by another input device
   Button down & up from another input device can cancel

[2016-12-23 10:47] patrickhlauke commented on #164
I believe some of the behavior will be dependent on OS/device-specific settings (such as palm rejection). In principle, each input should act independently and fire the relevant pointer events. Whether it then also fires other events like `click` seems to conceptually be left open to the OS/UA at this point?

[2016-12-23 10:47] patrickhlauke commented on #570
I believe some of the behavior will be dependent on OS/device-specific settings (such as palm rejection). In principle, each input should act independently and fire the relevant pointer events. Whether it then also fires other events like `click` seems to conceptually be left open to the OS/UA at this point?

[2016-12-23 10:53] patrickhlauke commented on #160
Potentially political minefield? Personally, I would say only do it for those cases where currently WHATWG-DOM is more accurate than DOM4?

[2016-12-23 10:56] patrickhlauke commented on #29
SGTM and as https://github.com/w3c/pointerevents/issues/162 is merged, i'll close this.

[2016-12-23 10:56] #29 closed

[2016-12-23 10:56] patrickhlauke commented on #565
SGTM and as https://github.com/w3c/pointerevents/issues/162 is merged, i'll close this.

[2016-12-23 10:56] #565 closed, assigned to RByers

[2016-12-23 11:14] chaals commented on #160
Actually, we are working on updating the W3C DOM spec. So please [file issues](https://github.com/w3c/dom/issues) for anything that you're missing and need so we can prioritise it.

In the next few days we'll give some more concrete information about the plans. I know the timing for explaining stuff is horrible for some places, but I have been working in countries where Christmas is either in Janu

[2016-12-23 13:19] mingchou commented on #164
How about the compatibility mouse events? Simultaneously controlling multiple input devices could generate more than 1 mousedown with same button value before receiving mouseup events.

[2016-12-23 13:19] mingchou commented on #570
How about the compatibility mouse events? Simultaneously controlling multiple input devices could generate more than 1 mousedown with same button value before receiving mouseup events.

[2016-12-23 13:35] patrickhlauke opened #165 "Should spec mention OS/UA features like palm rejection?"
Looking over https://w3c.github.io/pointerevents/#the-primary-pointer (in relation to https://github.com/w3c/pointerevents/issues/570#issuecomment-268988711) we have information such as

and

One thing the spec doesn't mention is that some OS/UAs may have additional built-in features like palm rejection (where once you use a pen/stylus, touches are ignored) or similar (e.g. on Surface 3, while you

[2016-12-23 13:38] patrickhlauke commented on #164
You're right, the spec does explicitly say that multiple simultaneous primary inputs will all fire compatibility mouse events. Hmm, this is certainly something worth specifying (at the very least in a non-normative note). @rbyers @teddink (because i seem to remember you talked about d'n'd at some point in relation to PE) et al, any thoughts?

[2016-12-23 13:38] patrickhlauke commented on #570
You're right, the spec does explicitly say that multiple simultaneous primary inputs will all fire compatibility mouse events. Hmm, this is certainly something worth specifying (at the very least in a non-normative note). @rbyers @teddink (because i seem to remember you talked about d'n'd at some point in relation to PE) et al, any thoughts?

[2016-12-23 15:42] RByers commented on #29
Thanks.  Yeah this isn't idea but I think it's likely to be about as good as it gets.  We've also updated the [MDN entry](https://developer.mozilla.org/en-US/docs/Web/CSS/touch-action) to describe `pinch-zoom` and also reference the compat spec.  So hopefully there's little risk of developers not being aware of this option due to us not being able to write it down in the official spec.

[2016-12-23 15:42] RByers commented on #565
Thanks.  Yeah this isn't idea but I think it's likely to be about as good as it gets.  We've also updated the [MDN entry](https://developer.mozilla.org/en-US/docs/Web/CSS/touch-action) to describe `pinch-zoom` and also reference the compat spec.  So hopefully there's little risk of developers not being aware of this option due to us not being able to write it down in the official spec.

[2016-12-23 22:53] RByers commented on #160
Ok, filed [this issue](https://github.com/w3c/dom/issues/13).

[2016-12-29 18:19] cvrebert commented on #605
Proposed tests: https://github.com/w3c/web-platform-tests/pull/4408
(Doesn't cover the `click` case)

[2017-01-03 20:47] RByers commented on #165
I definitely don't think we want anything normative here (it's just a feature of the hardware/OS in how it interprets physical stimuli like many others like smoothing).  But I can see how developers could be surprised by this, so a note could potentially be helpful.

Though in general I wonder if we weren't better off putting stuff for helping web developers to understand into a place like MDN tha

[2017-01-04 15:48] RByers commented on #131
Here's a [chromium bug](https://bugs.chromium.org/p/chromium/issues/detail?id=678258).  We plan to just ensure PointerEvent instances for pointerType=mouse have their movement values equal to those reported via mouse events, while (for now) remaining 0 for the other (absolute) input devices.

It seems to me like we should eventually apply [the algorithm from PointerLock](https://w3c.github.io/poin

[2017-01-04 15:48] RByers commented on #567
Here's a [chromium bug](https://bugs.chromium.org/p/chromium/issues/detail?id=678258).  We plan to just ensure PointerEvent instances for pointerType=mouse have their movement values equal to those reported via mouse events, while (for now) remaining 0 for the other (absolute) input devices.

It seems to me like we should eventually apply [the algorithm from PointerLock](https://w3c.github.io/poin

[2017-01-04 15:54] NavidZ commented on #131
Do we need a web platform test for this under pointerevents?

[2017-01-04 15:54] NavidZ commented on #567
Do we need a web platform test for this under pointerevents?

[2017-01-04 15:59] RByers commented on #131
I think we should add a test, yes (probably less weird to check movementX/Y in a PointerEvent test then to listen to pointer events in a PointerLock test).

Just [tested](http://rbyers.github.io/eventTest.html) in EdgeHTML 14.14393 on a Surfacebook and I see reasonable movementX/Y values on `pointermove` for mouse, touch and stylus.  So perhaps we should just follow that in blink?  If we do that,

[2017-01-04 15:59] RByers commented on #567
I think we should add a test, yes (probably less weird to check movementX/Y in a PointerEvent test then to listen to pointer events in a PointerLock test).

Just [tested](http://rbyers.github.io/eventTest.html) in EdgeHTML 14.14393 on a Surfacebook and I see reasonable movementX/Y values on `pointermove` for mouse, touch and stylus.  So perhaps we should just follow that in blink?  If we do that,

[2017-01-04 17:14] NavidZ commented on #100
@teddink, did you get a chance to follow up on this? Does @RByers [suggestion](https://github.com/w3c/pointerevents/issues/100#issuecomment-267064341) look reasonable and enough?

[2017-01-04 17:18] smaug---- commented on #100
Curious, if we need to add special cases for click being a pointer event, would it make sense to just keep click as mouse event?
(Adding more and more special cases to the platform just makes it weaker and harder to maintain.)

But perhaps having .pointerType especially (since that is probably rather useful) is strong enough reason to add special case for click.
One option is to add/move .pointerT

[2017-01-05 13:12] RByers commented on #159
I think the most important thing here is that implementations of 'pan-x pan-y' disallow two-finger panning for scenarios like the above.  Now that we have a [formal pinch-zoom definition](https://compat.spec.whatwg.org/#touch-action) that says explicitly "two finger panning and zooming" I think this is covered by a spec, and Chrome is just in violation of it.  We should add a test that Chrome fail

[2017-01-05 15:39] mustaqahmed commented on #159
I didn't realize the out-of-PE-charter-scope problem when I filed this issue. It makes sense to defer it unless we have a concrete use-case for the current Chrome behavior (which we will [change](crbug.com/632525) to match Edge).

I will file a separate bug for adding the 'pan-x pan-y' test, to avoid confusion.

[2017-01-05 15:39] #159 closed, assigned to nobody

[2017-01-05 15:56] mustaqahmed opened #166 "Need a test for 'touch-action: pinch-zoom` and `touch-action: pan-x pan-y' behavior for multi-finger panning"
Since both two-finger panning & zooming is included in the [formal definition of pinch-zoom](https://compat.spec.whatwg.org/#touch-action), a 'pan-x pan-y' region should disallow two-finger panning. Edge behaves correctly, Chrome [doesn't](http://crbug.com/632525).

We need to add a test for this behavior.

[2017-01-06 16:31] RByers commented on #166
See some relevant discussion in #159.

For tests that test a combination of stuff defined by the pointer events spec and the whatwg compat spec, I propose we create a "compat" sub-directory within the pointerevents web-platform-test directory.  This will make it easy to get a complete picture of pointer events interop generally, while still being able to easily focus just on PEL2 spec conformance

[2017-01-06 16:31] RByers commented on #159
Sounds good, thanks Mustaq!

[2017-01-06 16:33] NavidZ commented on #166
I personally love the idea of the subfolder for the interaction between pointerevents and other specs instead of only a naming convention.

[2017-01-06 16:34] RByers commented on #166
Perhaps this test should also test the `pinch-zoom` property?  Alternately that could of course be a separate test, but since they're technically still manual tests it's nice to keep the number of separate test files to a minimum (ideally each operation we ask a user to do would occur in no more than a single test file which would validate everything we care about for that interaction).

[2017-01-06 16:42] mustaqahmed commented on #166
Yes, I was also thinking of a single test where the user will do two-finger swipes twice (in a 'pan-x pan-y' region and then in 'pinch-zoom').

[2017-01-06 16:43] RByers commented on #166
Sounds perfect, thanks!

[2017-01-09 15:11] RByers commented on #100
Moving `pointerType` up to `MouseEvent` would work for me.  But I assumed that would be contentious / difficult since we'd have to move the definitions of different pointing devices up (perhaps evoking IP concerns around talking about touch screens in the WPWG).  But perhaps it's no worse than trying to update specs to change the type of `click` and ultimately more useful?

Note that there'd be so

[2017-01-11 16:16] RByers commented on #100
On the call today @teddink said he'd get us details of what exactly Edge is doing for click (is it just truncating co-ordinates to integers).

More fundamentally, the question was raised of what specifically is the value of making `click` a `PointerEvent`.  Ted said he'd see if he can find out why that was done - get a concrete use case.  Is it just for `pointerType`?  What would be the harm in Ed

[2017-01-11 16:32] RByers commented on #131
Discussed on the call - Navid is fixing blink to match edge and will add a test.  Probably no spec change required.

[2017-01-11 16:32] RByers commented on #567
Discussed on the call - Navid is fixing blink to match edge and will add a test.  Probably no spec change required.

[2017-01-11 16:37] RByers commented on #135
Discussed in the call today that we need to at least understand the differences in behavior today around these questions.  Then we can decide what changes specifically are required for V2.

[2017-01-11 16:40] RByers commented on #152
In the call today @teddink says there are no plans in the immediate term to add support for the dial to Edge.

[2017-01-11 16:54] RByers opened #167 "Behavior of PointerEvent.fromElement/toElement"
fromElement/toElement [are being spec'd](https://github.com/w3c/pointerevents/issues/605) and it [looks like](https://github.com/w3c/web-platform-tests/pull/4408#issuecomment-271921770) there are some oddities in the implementation of these properties for pointer events in both Chrome and Edge.  Once the UI Events spec text has landed, does PointerEvents need to override it at all?  Even if not, w

[2017-01-11 16:57] RByers commented on #161
@NavidZ @patrickhlauke WDYT, is there something we could say to clarify this?

[2017-01-11 16:57] RByers commented on #569
@NavidZ @patrickhlauke WDYT, is there something we could say to clarify this?

[2017-01-11 17:18] RByers commented on #16
I think the main thing we need to do here is have setPointerCapture fail by default inside a sandboxed iframe, and have a new `allow-pointer-capture` option to re-enable it if needed.  Filed https://github.com/whatwg/html/issues/2259 for HTML.  Then we can add some text (in Level 2 or extension.html for Level 3) similar to that in [requestPointerLock](https://w3c.github.io/pointerlock/#extensions-

[2017-01-11 18:28] scheib commented on #16
I would suggest that element.setPointerCapture(id) should only be possible in response to an event dispatched to that element from pointer#id.

This solves the iframe and even same document issues ensuring that capture is only occurring for elements that are being interacted with. In the rare cases where a developer may need to capture events from an area distant from the control they are conceptu

[2017-01-11 18:57] RByers commented on #107
In our call today I said I'd file a bug on UI Events to adopt the `double` values.  There's already a bug at https://github.com/w3c/pointerevents/issues/602, but I don't think we can quite claim that implementations match this yet.

In Chrome, `(new MouseEvent('mousedown',{clientX:5.5})).clientX` still returns 5 (though @mustaqahmed is [fixing this](https://bugs.chromium.org/p/chromium/issues/deta

[2017-01-11 20:35] RByers commented on #16
@schieb: thanks for the suggestion.  We discussed a much more permissive (but more hacky) form of that restriction in [the chromium bug](https://bugs.chromium.org/p/chromium/issues/detail?id=606896) and Microsoft folks were concerned that it would break some legitimate use cases (eg. where one frame `postMessage's` to another to tell it to capture a pointer).  For example, there's a scenario in Go

[2017-01-11 22:28] scheib commented on #16
I do think the cross frame capturing will be a concern (certainly spammy advertisements would love to be obnoxious to containing frames, there's ample evidence of them doing anything possible). So I support closing that.

Using the sandbox tag is a solution, but seems heavier weight than necessary, and won't solve non-sandboxed iframes. It passes complexity to the web app developers and in some ca

[2017-01-12 10:23] patrickhlauke commented on #163
Fixed the last 5 fairly straightforwardly https://github.com/patrickhlauke/pointerevents/commit/8286af433e8ed791529b15002e69b5d1fa55c389 but the first 10 warnings stumped me - see https://github.com/w3c/respec/issues/1027

[2017-01-12 17:31] #166 closed, assigned to mustaqahmed, NavidZ

[2017-01-16 07:25] patrickhlauke commented on #163
The current workaround for the remaining warnings is very awkward and unnecessarily wordy https://github.com/w3c/respec/issues/1027#issuecomment-272771174
I think I'd rather live with having some ReSpec warnings than doubling up on the definitions just for the dictionary. Going to merge in my changes above and then close this if that's ok...

[2017-01-16 07:31] #163 closed, assigned to patrickhlauke

[2017-01-17 10:23] maxired opened #575 "Element for dblclick when dblclick results of two clicks on different elements"
Hi,

When reading the current working draft, it it not clear to me,
how elements receiving `dblclick` events are choose.

Specifically, my question is, what should happen when we have two consecutive clicks on two different elements ?

From what I see :

As an example, you can check https://jsfiddle.net/phaox653/
Currently, implementation of browser ( chrome, firefox, Edge, IE11) seems to trigger

[2017-01-18 15:20] mustaqahmed commented on #161
It seems that most of Sec 5.2 (excluding the subsections) talks about setting attribute values, which logically belongs to Sec 5.1.3 "Firing events". I would move most of Sec 5.2 (more precisely the table plus the following two paras) into a new subsection 5.1.3.1.

Another catch is the sync/async column in the table: the spec says nothing else about these, which needs to be fixed. All we need is

[2017-01-18 15:20] mustaqahmed commented on #569
It seems that most of Sec 5.2 (excluding the subsections) talks about setting attribute values, which logically belongs to Sec 5.1.3 "Firing events". I would move most of Sec 5.2 (more precisely the table plus the following two paras) into a new subsection 5.1.3.1.

Another catch is the sync/async column in the table: the spec says nothing else about these, which needs to be fixed. All we need is

[2017-01-18 17:01] mustaqahmed commented on #161
[Here](https://rawgit.com/mustaqahmed/pointerevents/gh-pages/index.html) are the changes I suggested above. PTAL.

[2017-01-18 17:01] mustaqahmed commented on #569
[Here](https://rawgit.com/mustaqahmed/pointerevents/gh-pages/index.html) are the changes I suggested above. PTAL.

[2017-01-19 15:34] IvanSanchez opened #171 "Behaviour of dblclicks is not specified"
I'm a maintainer of Leaflet, and after fixing bug https://github.com/Leaflet/Leaflet/issues/5180 , I must complain about `dblclick`s in browsers which support `PointerEvent`s.

As far as I'm aware, the current state of affairs when it comes to firing `dblclick` events is:

| Browser        | Fires `dblblick` when double-clicking with a mouse  | Fires `dblclick` when double-tapping a touchscreen |

[2017-01-19 15:57] RByers commented on #171
Thanks for raising this!  I'm not sure if this issue belongs here or UI Events, but for now let's not worry about that.  /cc @garykac @travisleithead.

I'm the one who pushed for sending `dblclick` for touchscreen in Chrome (which BTW we used to do ONLY on desktop not mobile - yuck).  My argument was that we want to allow developers to use high-level abstractions where appropriate for maximum UI c

[2017-01-19 16:11] RByers commented on #171
Note that technically whether `click` is fired for touchscreens isn't even specified anywhere!  There's some encouraging notes [here](https://w3c.github.io/pointerevents/#compatibility-mapping-with-mouse-events), but nothing normative (although I think some of our tests depend on this).  Happily implementations agree (Safari's weird special case of "clickability" not withstanding).

So for now let

[2017-01-20 09:52] smaug---- opened #172 "Should pointer capture work when element is in non-browsing-context"
Per spec the following should work:

var b = document.implementation.createHTMLDocument().body;
b.setPointerCapture(id);

but why is that any different to "If the Element on which this method is invoked does not participate in its ownerDocument's tree"

[2017-01-23 14:56] mingchou opened #173 "Should spec defines what triggers pointerover and pointerenter when implicitly releasing pointer capture?"
I knew this had been discussed in #145, but I'm still not sure about what triggers pointerover and pointerenter when implicit releasing pointer capture.

When the pointer is captured, hit test target is the pointer capture target override object. That means UA won't run the normal hit test algorithm. When implicitly releasing pointer capture, the hit test target is changed, and UA must fire bounda

[2017-01-26 16:24] mustaqahmed commented on #172
Are events even dispatched to the created document? Or orphaned nodes in general?If it is the case, I think we shouldn't allow capturing.

The following case is similar but trickier:
target.setPointerCapture(id);
document.body.removeChild(target);
document2.body.appendChild(target);
Should we release the capture when target is orphan?

I checked it in Chrome, with document2=document. The capturing

[2017-01-26 16:37] mustaqahmed commented on #172
The case I mentioned is already covered in Section 10.4, so removed my last post.

I don't know if the created document even receives any events. Does event dispatching mechanism already cover this case?

[2017-01-26 17:12] smaug---- commented on #172
Normal dom event dispatch doesn't care about whether node is in document or is in browsing context document. It just deals with EventTarget objects and their possible ancestors.

[2017-02-03 05:03] #131 closed

[2017-02-03 05:03] #567 closed, assigned to NavidZ

[2017-02-13 20:01] mustaqahmed commented on #135
To make the discussion more focused, I suggest splitting this issue.

I will create a new issue now to cover the PointerLock-vs-setPointerCapture problem (the fourth test in @mingchou's post) about which @NavidZ  and I had a quick discussion few hours ago.

[2017-02-13 20:19] mustaqahmed opened #176 "How should PointerLock vs setPointerCapture work together?"
This issue covers the PointerLock part of #135. Here is the original comment in that bug (by @mingchou):

In Chrome, pointer-capture comes after pointer-lock in the event flow just because we chose not to worry about both together in our initial implementation. We need to fix it for sure.

As for Edge, @NavidZ observed that it doesn't allow a requestPointerLock() after a setPointerCapture() but a

[2017-02-13 20:45] NavidZ commented on #176
I was playing with different scenarios and interactions of these APIs. Particularly the fact that `requestPointerLock` is an async API and it is not in effect until user accepts that.
I found that defining the interaction based on which call was first seems more confusing.

Note that `requestPointerLock` is a more specific API (as it is only for mouse). I would say something that is more specific

[2017-02-13 21:33] mustaqahmed commented on #176
Yes, the model "<code>requestPointerLock</code> dominates over pointer-capture" is simple and intuitive IMO.

- When PointerLock becomes effective while the mouse is captured, the capture would be implicitly released. So PointerEvent spec needs one more condition in the [Implicit Release section](https://w3c.github.io/pointerevents/#implicit-release-of-pointer-capture), which could be made generic

[2017-02-17 10:32] jakearchibald opened #177 "Pointer events & disabled form elements"
http://jsbin.com/botohet/edit?js,output

Neither Edge or Chrome fire pointer events when the mouse is over disabled form controls. This isn't the form control preventing propagation - it also prevents capturing listeners at the window level.

This seems to be mirroring mouse events, but this behaviour isn't in the spec (and isn't how Firefox behaves), and appears to be legacy.

Given that pointer

[2017-02-17 17:40] RByers opened #178 "touch-action doesn't allow for press-hold-drag UX"
In some mobile UX the user can scroll by swiping and also hold their finger for awhile to "pick up" an item which they can then drag around.  Since you can't change`touch-action` after the `pointerdown` (but before the finger has moved enough to actually scroll), this sort of UX can't be built with pointer events.

I suppose one answer is that such UX should just be built using HTML5 DnD primitive

[2017-02-22 19:53] staktrace commented on #178
Allowing the touch-action rule to change later would be a fairly involved change in Gecko. Would it be possible to instead add another touch-action value that explicitly designates this as the desired behaviour? e.g. `touch-action: pan-x pan-y draggable` would allow panning normally, but if a long-press is done it goes into "draggable" mode and disallows panning.

[2017-02-22 20:46] RByers commented on #178
@staktrace thanks, yeah I was starting to think in that direction too.  It's also pretty hard for developers to reason about when a touch-action change will and will not take effect.

I like the idea of `draggable` - it's consistent with touch-action talking about "actions" not the "gestures" that trigger them. Still the app needs to know when exactly that kicks in. Would we want to define a new `

[2017-02-22 22:37] staktrace commented on #178
I don't have a strong feeling either way with respect to firing a new event vs saying it triggers immeditaely after a canceled `contextmenu` event. I slightly prefer the former as it is more explicit and doesn't bake in an implicit assumption about what touch-gesture triggers the contextmenu.

[2017-02-22 22:55] RByers commented on #178
Yeah baking in an assumption that the same gesture triggers `contextmenu` and touch dragging probably isn't ideal (though I expect it to be true on all browsers / platforms).

Anyway I don't think this is urgent - I'll add links here as a discover people needing to use (non-passive) touch events for such cases instead of pointer events (or passive touch events).  It seems like it shouldn't be too

[2017-02-23 14:42] RByers commented on #177
Wow, this is crazy - I was not aware of it.  Jake's [blog post](https://jakearchibald.com/2017/events-and-disabled-form-fields/) does a good job articulating why this is bad (breaks some drag and drop scenarios).  @tkent-google @garykac @dtapuska @mustaqahmed @patrickkettner @smaug---- WDYT?

Unless we can find some compelling reason why this weird behavior is important, IMHO we should just try re

[2017-02-23 15:15] dtapuska commented on #177
I agree this is a wart. I've looked at the chromium code and I don't fully understand where this is coming from. I see some special code around not activating the active css state for disabled form controls on mouse move. But will need to debug.

[2017-02-23 15:24] smaug---- commented on #177
Hmm,  I wonder which crazy behavior we're talking about there, since Gecko certainly has rather ad-hoc crazy behavior. It used to be even crazier.
http://searchfox.org/mozilla-central/rev/b1044cf7c2000c3e75e8181e893236a940c8b6d2/dom/html/nsGenericHTMLElement.cpp#2264

[2017-02-23 15:51] mustaqahmed commented on #177
Chromium drops mouse events for disabled form controls here:
https://cs.chromium.org/chromium/src/third_party/WebKit/Source/core/dom/Node.cpp?rcl=cb12cafde748de82eb55f491054eb2cd84fed63c&l=2075
Not sure why PointerEvents are also affected.

[2017-02-23 18:24] dtapuska opened #626 "Standardize layerX/layerY on MouseEvent"
Being that layerX and layerY are available on all browsers for MouseEvent we should standardize it.

@smaug---- perhaps FireFox should move it from UIEvent to MouseEvent solely?

Edge, IE, Chrome all have it only on MouseEvent

[2017-02-23 18:25] dtapuska commented on #626
@foolip @garykac

[2017-02-23 18:28] smaug---- commented on #626
oh, they aren't in https://drafts.csswg.org/cssom-view/#extensions-to-the-mouseevent-interface

[2017-02-23 19:08] foolip opened #606 "Specify the arguments of initMouseEvent()"
https://w3c.github.io/uievents/#idl-interface-MouseEvent-initializers

Combining Blink and Gecko's IDL would give us something like this:

[code]

(It would also be good to spell out that removal is not on the table. HTML calls such things [obsolete](https://html.spec.whatwg.org/multipage/obsolete.html) instead of deprecated, which is more in line with how deprecation is used in at least Blink.)

[2017-02-23 19:34] foolip commented on #626
Is the returned value also interoperable? It looks like it's not an alias of anything else, so maybe it's complicated?

[2017-02-24 05:45] tkent-google commented on #177
This ```disabled``` behavior is a source of some bugs in Chromium. I'd like to remove it if possible.

[2017-02-24 12:54] scottgonzalez commented on #177
I recall this behavior causing bugs in jQuery UI as well. I'd like to see it go away.

[2017-02-24 18:25] garykac commented on #177
+1 to making things sane

[2017-02-24 19:41] dtapuska commented on #177
So FireFox doesn't fire pointerdown and pointerup but does fire pointermove. What should Chrome do?

I found the code that makes pointer events not be dispatched to disabled form controls. https://cs.chromium.org/chromium/src/third_party/WebKit/Source/core/events/PointerEvent.cpp?q=PointerEvent.cpp&l=86

I've removed the line locally and all is well. We do send pointerdown, and pointerup. I presum

[2017-02-24 19:43] domenic commented on #177
It seems definitely bad to fire click events. It seems definitely good to fire (mouse/pointer)move events. I don't know what should be done about (mouse/pointer)(up/down) events.

[2017-02-24 19:44] dtapuska commented on #177
Chromium issue filed [here](https://bugs.chromium.org/p/chromium/issues/detail?id=695979)

[2017-02-24 19:46] dtapuska commented on #177
I'd like to treat pointer and mouse as completely separate issues. I don't want to make the waters murky by making both decisions/changes together.

[2017-02-24 19:59] domenic commented on #177
That seems really bad for a rational, predictable platform :(

[2017-02-24 20:01] dtapuska commented on #177
I think the interop issues for pointerevents will be non-existent. But perhaps there are interop issues that might be difficult to do this for mouse events. But from a rationality point of view I think we should make the change without prejudice for pointer events; mouse events requires more investigation/experimentation.

[2017-02-24 20:09] jakearchibald commented on #177
The "up" event is important for drag&drop. You need to know when the drag ends.

[2017-02-25 13:32] dmethvin commented on #177
The pointerover and mouseover events are also important for things like tooltips where you'd like to notify someone why a button is disabled. jQuery has received complaints about this behavior for years.

https://bugs.jquery.com/ticket/7359

We actually removed some of the restrictions we had on delegated events, which gives inconsistent cross-browser results but at least lets it work right in som

[2017-02-27 19:56] dtapuska commented on #177
@jakearchibald  Fix in chrome https://codereview.chromium.org/2716063002/

[2017-02-27 21:32] smaug---- commented on #177
Hmm, well, it isn't even agreed how pointer events and disabled form elements should work.
Do we want to allow all the pointer events or everything else but down/up?

[2017-02-27 21:54] dtapuska commented on #177
This spec issue is still open. We have to collectively decide what we want to do. Chrome's model closer matches FireFox's model for pointer events (it now fires pointermove, pointerout, pointerover, pointerenter, pointerleave). But chrome does fire pointerup and pointerdown which FireFox does not.

[2017-02-27 22:01] RByers commented on #177
@smaug---- do you have a reason why we wouldn't want to fire `pointerdown` and `pointerup`?  Certainly consistency between mouse and pointer events is one argument.  But is there any reason (other than annoying web compat legacy) why disabled form controls should swallow `mousedown` and `mouseup`?

It looks like Firefox also suppresses `touchstart` and `touchend` on disabled form controls where Ch

[2017-02-27 22:04] smaug---- commented on #177
Mainly because of backwards compatibility with mouse event handling.

[2017-02-28 14:59] RByers commented on #177
I verified Safari fires touch events on disabled form controls, so Gecko's deviation there definitely seems like [a bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1343228) to me.

If the only concern is web compat, then it seems to me like Pointer Events is the best chance we'll ever get to fix this and we should at least try.  It seems unlikely that sites will depend on the pointer and mouse e

[2017-02-28 15:32] jakearchibald commented on #177
I don't see why we'd want compatibility with mouse events here given they're *weird*, and Firefox does something different (well, better) anyway.

We should *always* fire pointer-based events regardless of element, it should be the developer's decision how to react to it. Why shouldn't I be able to drag & drop a disabled button?

The `click` event is different, as it's related to "activation" rath

[2017-02-28 18:55] smaug---- commented on #177
There is the bug about possibly making click a pointer event. click must not do anything with disabled form elements (that sure would regress stuff). https://github.com/w3c/pointerevents/issues/100
Even just having capture phase for click sounds very regression risky.

But for pointerdown/up... I guess we can try to have normal event dispatch for those.

[2017-03-01 09:53] patrickhlauke opened #183 "ReSpec warning on "Privacy and Security""
New ReSpec warning "This specification doesn't appear to have any 'Privacy' or 'Security' considerations sections. Please consider adding one, see https://w3ctag.github.io/security-questionnaire/"

[2017-03-01 16:55] #161 closed

[2017-03-01 16:55] #569 closed, assigned to mustaqahmed

[2017-03-06 13:21] smaug---- opened #184 "The spec doesn't define the values for relatedTarget"
Per current spec relatedTarget should be null (since nothing sets it), but implementations sure are setting it to some value with pointerover/out etc.

[2017-03-06 21:50] patrickhlauke commented on #184
do you mean spec'ing this for touch/stylus? for mouse, it should behave the same as mouse events, and that part is inherited from the extended mouse event behavior

[2017-03-06 21:59] smaug---- commented on #184
Nothing in any spec defines what .relatedTarget should be for any pointer event.

UI Events spec explicitly defines what relatedTarget should be for mouseover/out etc. and otherwise null:
"The relatedTarget should be initialized to the element whose bounds the mouse pointer just left (in the case of a mouseover or mouseenter event) or the element whose bounds the mouse pointer is entering (in the

[2017-03-07 00:46] patrickhlauke commented on #184
as pointer events extend mouse events, and UI Events defines relatedTarget (for mouse), would it stand to reason that (for pointerType mouse) pointerevents behaved the same way? i.e. explicitly state this in the PE spec (and what would sensible value for touch/stylus be...same?)

[2017-03-07 00:53] smaug---- commented on #184
Oh, sure, pointer events should definitely behave the same way as mouse events. It is just that it is not defined anywhere.

Meaning that if one currently wants to implement pointer events per spec, .relatedTarget should be always null. But that is not what implementations do.

[2017-03-07 15:47] smaug---- opened #185 "The spec is unclear whether boundary events should fire while pointer is captured to a certain target"
setPointerCapture says: "For subsequent events of the pointer, the capturing target will substitute the normal hit testing result as if the pointer is always over the capturing target"

pointerleave (as an example): "A user agent MUST fire a pointer event named pointerleave when a pointing device is moved out of the hit test boundaries of an element and all of its descendants, including as a resul

[2017-03-08 21:41] NavidZ opened #187 "Set coalesced events isTrusted flag to false"
@dtapuska @smaug---- @RByers
I was wondering if it is alright to leave the isTrusted flag to be false instead of setting it from the original event. I believe since these coalesced events are not the events to be fired or maybe handled by themselves having the isTrusted bit doesn't convey much of a meaning.

[2017-03-09 04:37] foolip commented on #601
@garykac, is this something you might find time for? I made [a bit of a mess](https://bugs.chromium.org/p/chromium/issues/detail?id=692717) in Chromium that would be nice to clean up by aligning with the spec once done.

[2017-03-09 04:44] foolip opened #590 "Add WheelEvent#wheelDelta/wheelDeltaX/wheelDeltaY"
These three attributes exist in Chromium, EdgeHTML and WebKit, but not in the spec:
https://w3c.github.io/uievents/#interface-wheelevent

[2017-03-09 04:44] foolip commented on #590
@garykac

[2017-03-09 04:49] foolip commented on #590
Usage is high enough that removing wouldn't be straightforward:
https://www.chromestatus.com/metrics/feature/timeline/popularity/491
https://www.chromestatus.com/metrics/feature/timeline/popularity/492
https://www.chromestatus.com/metrics/feature/timeline/popularity/493

These numbers may be inflated by event copying patterns (enumeration) though. Still, support in three engines is by itself a str

[2017-03-09 05:15] masayuki-nakano commented on #590
I don't think that they can be standardized. See following document, these attribute values are really different between browsers:
https://developer.mozilla.org/en-US/docs/Web/Events/mousewheel#wheelDelta_wheelDeltaX_and_wheelDeltaY_value

That's the reason why Gecko doesn't support them.

[2017-03-09 05:35] foolip commented on #590
Does content depend on these attributes behaving differently in Chrome, Edge and Safari, and do they actually? If those three are well enough aligned, are there additional compat constraints that Gecko would run into if trying to add them?

As a last resort, it's possible to do something like the [navigator compatibility mode](https://html.spec.whatwg.org/multipage/webappapis.html#concept-navigato

[2017-03-09 05:52] masayuki-nakano commented on #590
I don't know, but in my experience, most web apps which handle wheel event directly have bugs with various situations. For example, not supporting high resolution scroll, not supporting page scroll.

It's difficult to say now. The attributes are designed before high resolution scroll, so, I'm not sure if these values can make sense even with modern devices.

The meaning of these attributes are rea

[2017-03-09 08:46] OliverJAsh commented on #177
Hey. After reading Jake's blog post I found some more weird behaviour to add to the confusion:

Child elements of disabled buttons (and perhaps other disabled elements) do receive mouse events (only tested in Chrome). Demo: http://jsbin.com/zufotac/2/edit?html,js,console,output

[2017-03-09 13:05] foolip commented on #590
OK, sounds like we have a bit of a mess. @garykac, do you think this situation can be salvaged? If not, is there any plausible path to removing these attributes?

[2017-03-09 13:15] smaug---- commented on #187
If UA has created the event, it should have isTrusted=true. Events created explicitly from JS have isTrusted=false. (element.click() is a special case for these rules)

[2017-03-09 13:33] dtapuska commented on #187
It creates special rules around dispatch. For example if you redispatch an trusted event then you need to walk all the coalesced events and update them to match isTrusted of the parent to be false no? I wondered if we could avoid this by just saying all the fields on the base Event aren't really useful.

[2017-03-09 13:39] smaug---- commented on #187
of the parent? Why would you need to update anything? The coalesced events are there without any dispatching. One could also just put some expando js property to an event with some trusted events and those wouldn't get updated.

[2017-03-09 14:06] dtapuska commented on #187
Because then you'd be in a situation whereby
parent.isTrusted == false
parent.getCoalescedEvents(0).isTrusted == true

And you can't really determine the case whereby a person held onto coalesced events and re-dispatched them at you. isTrusted communicates whether the UA really dispatched this event or not. And if we are populating the event it should really convey the correct meaning.

I'd honest

[2017-03-09 14:15] smaug---- commented on #187
yeah, dictionaries might make this simpler.

Trying to recall why events are used...

[2017-03-09 14:18] smaug---- commented on #187
Iif web app wants to handle those coalesced events after all, it might be simpler to reuse PointerEvents. But then, if values in the events are bogus...

[2017-03-09 14:21] dtapuska commented on #187
On the converse of my point... I could do something like:

var a = event.getCoalescedEvent(0);
foo.dispatchEvent(event);
console.log("isTrusted " + a.isTrusted);

It is odd that the isTrusted changes even though you didn't do something to the child object itself. That is why I had a discussion with Navid about whether we just say isTrusted is bogus like the rest of the fields we said were bogus, t

[2017-03-09 14:27] garykac commented on #590
You mean remove from the browsers? I don't see that happening for backward-compat reasons.

They're already not in the spec because of the issues mentioned above.  If we want to fix this issue in the spec, we'd probably need to introduce new attributes that were clearly defined to handle the different meanings currently assigned to `wheelDelta*`. We haven't had a lot of push for that however.

Alt

[2017-03-09 14:33] RByers commented on #187
I don't have a strong opinion on the bigger picture question of whether it's better to use `Event` instances or dictionaries with a subset of the properties - they each have their tradeoffs.  We discussed it at TPAC and I believe @smaug---- said he preferred Events which is why we chose that.  And I know this shouldn't really matter relative to the other concerns, but I don't think any of us reall

[2017-03-09 14:50] dtapuska commented on #187
If you are trying to do this at object creation time you can't (inheriting from your parent). Because isTrusted is always initialized to true according to the spec event for; isTrusted is supposed to be true until they are dispatched (https://dom.spec.whatwg.org/#interface-eventtarget).

Whereas I was just saying lets default it to false always and forget about it. So really we are debating whethe

[2017-03-09 15:22] RByers commented on #187
I see. Yeah either of those options is fine with me.

[2017-03-09 15:57] #185 closed, assigned to NavidZ

[2017-03-10 12:00] foolip commented on #590
Yes, I mean removing from browsers, and I also think that's fairly unlikely to work out.

If it's still possible that picking one behavior and trying to align on that would work out, that would be a good plan A, but failing that, documenting what the options are would be good, I agree.

[2017-03-12 21:02] #88 closed, assigned to nobody

[2017-03-14 12:50] smaug---- commented on #177
Related to this is also audio/video handling. https://html.spec.whatwg.org/#user-interface vaguely says that some events (but which?) should be suppressed. Blink at least eats some of the events when on top of video.

[2017-03-14 16:41] mustaqahmed commented on #166
The fix in Chrome has just [landed](https://chromium.googlesource.com/chromium/src/+/16ce460b6793b9fff0c1d4cc72deab60b921a159), yayy!

@NavidZ, we need to update the test status dashboard.

[2017-03-14 16:44] NavidZ commented on #166
Thanks for letting me know about this test. I will update the test results once again before the end of the quarter.

[2017-03-22 19:14] #184 closed, assigned to nobody

[2017-03-22 19:17] #187 closed, assigned to nobody

[2017-03-24 00:38] patrickkettner commented on #100
Hey eveyone
I am taking over pointer events from @teddink and am digging internally to find out what the differences are. Will update the thread with the results as soon as I get replies from the right folks.

[2017-03-24 21:40] patrickkettner commented on #100
The only difference is the coordinates representation. And obviously the additional props that are exposed on pointers
[code]

[2017-03-27 17:42] lpd-au commented on #100
Fwiw, as a dev, making click/non-pointer* event coordinates integers for all pointer types seems like less of a badly explained hack than a touch generating a mouse event with a strange property called pointertype. After all, it could happen by chance to have no non-zero digits after the decimal point anyway. The spec could be written as a MAY so browsers can drop the rounding if it proves feasibl

[2017-03-28 16:28] mustaqahmed opened #191 "Mouse back/forward buttons: page navigation or JS events?"
In all browsers I tested (Edge, FF on Linux, Chrome on Linux/Android), the back/forward button-downs in a 5-button mouse performs backward/forward page navigation. This is true even in full-screen mode for FF & Chrome (Edge doesn't seem to have the mode).

So the X1(back) and X2(forward) <code>button</code>/<code>buttons</code> values in the spec seem useless in all current implementations!

If we

[2017-03-28 17:27] NavidZ commented on #75
@patrickkettner we talked about this issue before with Ted. You and Andrew were also on that thread. The last decision was to stick to what UI event spec says and follow the behavior that is explained in this [chrome bug](https://bugs.chromium.org/p/chromium/issues/detail?id=689158). I remember Ted mentioning you guys are implementing that solution as well for this [Edge bug](https://developer.mic

[2017-03-28 19:06] NavidZ commented on #135
Regarding the slider (1st paragraph) we match the behavior of Edge and use the pointer capture for the slider thumb pointer capturing. This way this is as if the thump is calling pointer capture in its pointerdown handler. Here is the [chrome bug](https://bugs.chromium.org/p/chromium/issues/detail?id=701058) and it should be fixed in Canary.

Regarding the DnD issues (2nd and 3rd) I believe what E

[2017-03-28 19:06] #135 closed, assigned to NavidZ

[2017-03-28 20:31] NavidZ commented on #100
@patrickkettner so going back to the original question and the necessity of exposing this. The original question was whether this is something that you guys can change back in Edge and leave the click events as MouseEvents as they used to be or are there blockers for you guys that we need to work on standardizing them and making click events pointer events or moving pointerType up in mouse events

[2017-03-29 10:51] mingchou commented on #135
So UA calls setPointerCapture to capture the pointer to drag the slider when pointerdown on the input element with range type. Calling preventDefault and setPointerCapture to another node can stop dragging the slider and pointer events can be received by the captured node. Is my understanding correct?

I have no questions about the cases of DnD and pointerlock. Thanks for clarifying these.

[2017-03-29 14:35] NavidZ commented on #135
Yup. That is what I saw in Edge and what we did in Chrome.

[2017-04-04 08:35] patrickhlauke opened #192 "tangentialPressure support in browsers"
Wondering if there's any plans for browsers to actually implement `tangentialPressure` https://w3c.github.io/pointerevents/#dom-pointerevent-tangentialpressure - we've always looked at this as a nice-to-have for completeness' sake, but to my knowledge there's currently no real-world implementation of it.

If there's no desire/appetite for this to be implemented any time soon, I fear we're probably

[2017-04-04 08:38] patrickhlauke commented on #171
Assuming that `dblclick` for two taps would only be allowed to fire in case of `touch-action:manipulation` / `touch-action:none`, as otherwise it's a gesture that the UA will likely have a default behavior for?

[2017-04-04 08:42] patrickhlauke commented on #115
Would be good to get something roughed out for this (likely as part of the overall `touch-action` definition, rather than repeating it for each directional value)

[2017-04-04 08:43] patrickhlauke commented on #152
@patrickkettner any thoughts on this?

[2017-04-04 08:44] patrickhlauke commented on #143
@patrickkettner et al...any more thoughts on this?

[2017-04-04 08:46] patrickhlauke commented on #139
anybody got some availability to look at this issue? maybe do at least an initial list of which tests specifically have problems (so they can be tackled separately)?

[2017-04-04 09:04] patrickhlauke commented on #183
/cc @marcoscaceres any good example out in the wild of a spec that has such a section? i'm guessing (please anybody else chime in if you think i'm talking rubbish) that this spec does not have any such potential concerns, so am i right in thinking we'd just need a section with the correct heading text and then a short para basically saying that there's nothing to be concerned about here in this re

[2017-04-04 09:19] marcoscaceres commented on #183
I cant think of any really good ones ... which is sad 😭

Go through:

https://www.w3.org/TR/security-privacy-questionnaire/

It's actually super enlightening. You should be able to construct a paragraph from answering those questions.

[2017-04-04 09:47] patrickhlauke commented on #183
@marcoscaceres well i gave it a shot https://github.com/w3c/pointerevents/pull/193 ;)

[2017-04-04 17:42] dfleck commented on #192
If anyone needs hardware for testing I might be able to help.

[2017-04-04 19:17] mustaqahmed commented on #192
Chrome is [shipping](https://www.chromestatus.com/features/5765742146355200) tangential pressure & twist with complete low-level plumbing in Mac on M58 (expected end of this month).

We tested the implementation with Wacom tablet plus INTUOS4/CINTIQ21 DTK2100 Airbrush Pen.

[2017-04-04 19:18] patrickhlauke commented on #192
whoah there, out of left field there @mustaqahmed ... i was already thinking we'd have to axe this.

[2017-04-04 19:18] patrickhlauke commented on #192
assuming Windows will also follow at some point?

[2017-04-04 19:27] mustaqahmed commented on #192
On Chrome for Windows, "twist" should be visible soon but not sure about "tangentialPressure" since Windows WM_POINTER API doesn't seem to support the latter.

Here is the [chromium bug](https://bugs.chromium.org/p/chromium/issues/detail?id=367113) for this work in progress by @SummerLW.

[2017-04-04 20:30] NavidZ opened #194 "Should DnD release pointer capture?"
Following #135 I believe there was an agreement that when DnD starts it should release the pointer capture of the pointer that initiated the DnD. I faced another question while implementing this in Chrome.

**Should the lostpointercapture be sent after dragstart event or right before?**

Testing [this example](http://jsbin.com/giqopi/edit?html,output) on Edge it seems that if fires the lostpointer

[2017-04-06 15:55] NavidZ commented on #194
@patrickkettner is this alright from your side in Edge?
@mingchou does this sound reasonable since you are implementing it in Firefox?

[2017-04-08 10:19] lpd-au commented on #191
B is already the current behaviour for middle click and autoscroll, so that would seem consistent to me.

[2017-04-09 01:24] smaug---- commented on #191
doesn't the OS send back/forward command to the browser in this case, so there isn't really much pointer events related happening? (I should re-check the implementation.)

[2017-04-12 21:53] patrickkettner commented on #75
So the reason for our implementation was around the expected behavior for click interactions with buttons. If you click without releasing on an intractable element (e.g. button, anchors,etc), then drag off and release, the button does not trigger a click event. We can obviously special case for the literal &lt;button&gt;, elements, but we get into weird behavior when you are dealing with sites tha

[2017-04-12 22:13] patrickkettner commented on #100
@NavidZ we want to work on standarizing PointerEvents as the type for clicks in general. Ill work on PRs the the appropriate specs

[2017-04-13 19:51] mustaqahmed commented on #191
Chrome gets regular mouse events from OS but back/forward button presses are not forwarded to the content layer.

[2017-04-14 20:53] patrickkettner commented on #152
@patrickhlauke we still don't have plans to add it in the shortterm

[2017-04-14 22:14] patrickhlauke commented on #152
@patrickkettner shame, there goes my excuse to pester you for a test device ;)

seriously though, looks like this issue should be closed for now then as it won't happen for v2 in any case?

[2017-04-14 22:16] patrickkettner commented on #152
_might_ be able to make that happen still. I see what I can dig up.

I don't think it makes sense for v2 since we are so close to having it be cr-able

[2017-04-16 10:25] patrickhlauke commented on #152
agreed. closing this for now

[2017-04-16 10:25] #152 closed, assigned to nobody

[2017-04-17 04:05] RByers commented on #100
From the earlier discussion here (eg. with @smaug----) it seems likely such PRs will be contentious.  So that's why we came back to "WHY".  What's the important use case that makes moving `click` from `MouseEvent` to `PointerEvent` compelling?

[2017-04-17 15:45] scottgonzalez commented on #75
We spent a long time discussing this specific scenario. We could not come up with a reason to use pointer capture on a button.

[2017-04-18 10:04] patrickhlauke commented on #100
spitballing here...are there use cases for authors wanting to listen for `click` etc, but also wanting to know the exact `pressure`, `tiltX`, `tiltY` etc at the time when the event happened? which, come to think of it, wouldn't make sense since the `click` is sent after touch/stylus left the digitizer already, and there's no more interesting attributes (except perhaps `pointerId`) for the mouse ca

[2017-04-18 10:06] saschanaz commented on #100
If someone wants to emulate double-tap-to-zoom I think this may help.

[2017-04-18 10:07] patrickhlauke commented on #100
@SaschaNaz

how would it help if the events were pointerEvents, compared to the events being mouseEvents?

[2017-04-18 10:11] lpd-au commented on #100
As an idea for a use case: what about differentiating between ordinary and force clicks using the pressure value?

[2017-04-18 10:51] patrickhlauke commented on #100
but `click` is sent after `pointerup` (generally anyway), so unless we spec further magic behavior that says the click event must retain the last known good values of the last `pointermove` or some such, it won't work?

[2017-04-18 11:16] saschanaz commented on #100
Mouse events does not have type="touch" thing. Zooming by double mouse clicking is generally not expected.

[2017-04-18 11:18] lpd-au commented on #100
The click event is a magic event of convenience, it seems reasonable to me that it'd return average/maximum/last values of some kind. Fwiw Edge is returning 0.5 for click on my non-pressure sensitive touchscreen laptop, not 0.

**Edit:** It is 0 for mouse, only touch is 0.5 (can't test pen).

[2017-04-18 16:23] mustaqahmed commented on #100
I suspect this is an implementation crack in Edge because this behavior doesn't conform to the spec: since the <code>click</code> is fired after the <code>pointerup</code>, the touch pointer is not in active button state here, so the pressure has to be zero. @patrickkettner, am I right?

[2017-04-18 17:20] saschanaz commented on #100
Pen also gives 0.

[2017-04-19 16:06] mustaqahmed commented on #115
We also need to fix the computation of effective touch-action:

Perhaps defining the computation "recursively" is the simplest option, after mentioning the coordinate space above it.

[2017-04-20 19:53] patrickkettner commented on #100
Yep, the pressure issue is a bug in Edge. Will fix asap

[2017-04-20 21:07] patrickhlauke commented on #100
@patrickkettner so with `pressure` gone, what are the advantages/rationales for upgrading `click` to be a pointerevent? any hints why Edge did it?

[2017-04-21 13:43] jakearchibald opened #197 "Should events queue a task?"
https://w3c.github.io/pointerevents/#the-pointermove-event - because the event is dispatched when "a pointer changes coordinates", it doesn't really fit in with the event loop.

Ideally the spec should queue a task for event dispatching, which clarifies:

* What happens if there are many pointer events in the queue - can the browser update rendering in between them? If not, the spec should queue a

[2017-04-21 13:43] jakearchibald opened #571 "Should events queue a task?"
https://w3c.github.io/pointerevents/#the-pointermove-event - because the event is dispatched when "a pointer changes coordinates", it doesn't really fit in with the event loop.

Ideally the spec should queue a task for event dispatching, which clarifies:

* What happens if there are many pointer events in the queue - can the browser update rendering in between them? If not, the spec should queue a

[2017-04-21 13:47] dtapuska commented on #197
This sounds like you want to specify the lifecycle of dispatching input events.  For Chrome we are working on dispatching the pointer events just before the rAF signal.  M58 has touch events dispatched before the rAF signal, mouse is an an experiment.

[2017-04-21 13:47] dtapuska commented on #571
This sounds like you want to specify the lifecycle of dispatching input events.  For Chrome we are working on dispatching the pointer events just before the rAF signal.  M58 has touch events dispatched before the rAF signal, mouse is an an experiment.

See issue w3c/uievents#23

[2017-04-21 14:05] jakearchibald commented on #197
For move events, does that mean one move per raf signal, or would you get a batch of them? The downside of one-move you may lose some fidelity in a painting application, eg if the user moves faster than the display refresh rate. I guess that could be fixed later by calling something like `pointerEvent.superHighFrequencyPlease()` during the `pointerdown` event.

If syncing to raf becomes the right

[2017-04-21 14:05] jakearchibald commented on #571
For move events, does that mean one move per raf signal, or would you get a batch of them? The downside of one-move you may lose some fidelity in a painting application, eg if the user moves faster than the display refresh rate. I guess that could be fixed later by calling something like `pointerEvent.superHighFrequencyPlease()` during the `pointerdown` event.

If syncing to raf becomes the right

[2017-04-21 14:08] dtapuska commented on #197
I think you need to read this: https://w3c.github.io/pointerevents/extension.html#timing-of-coalesced-event-firing

[2017-04-21 14:08] dtapuska commented on #571
I think you need to read this: https://w3c.github.io/pointerevents/extension.html#timing-of-coalesced-event-firing

[2017-04-21 14:12] jakearchibald commented on #197
Haha seems everything I'm thinking of is in-progress.

[2017-04-21 14:12] jakearchibald commented on #571
Haha seems everything I'm thinking of is in-progress.

[2017-04-21 14:13] dtapuska commented on #197
One better it is shipped in Chrome M58 for touch. I was waiting to write a dev rel article on it until we shipped mouse.

[2017-04-21 14:13] dtapuska commented on #571
One better it is shipped in Chrome M58 for touch. I was waiting to write a dev rel article on it until we shipped mouse.

[2017-04-23 22:09] patrickhlauke commented on #197
x-ref https://github.com/w3c/pointerevents/issues/9 ?

[2017-04-23 22:09] patrickhlauke commented on #571
x-ref https://github.com/w3c/pointerevents/issues/9 ?

[2017-04-24 16:01] NavidZ commented on #194
@patrickkettner does the proposal sound reasonable?

[2017-04-24 17:38] patrickkettner commented on #100
The thought process was that given touchscreens, a "click" event isn't a mouse event as much as it is an activation of interactivity event. Having `{touch,mouse,pointer}tap` events seems redundant, so we upgraded the click event to pointer with the additional metadata of device type

[2017-04-25 16:55] mustaqahmed commented on #115
Here is the [Chrome bug](https://crbug.com/715148).

[2017-04-26 19:04] mustaqahmed commented on #115
Let's leave this open:
- The part on touch-action value changes during an ongoing action may need some attention.
- We need to add tests, better to track it here.

[2017-04-26 19:30] mustaqahmed commented on #115
While rearranging the touch-action section (Sec 9) of the spec to bring all coordinate space related text close together (in my last pull request above), I also moved the Note on dynamic changes to touch-action values into a non-Note para (the third bullet in Sec 9.2). I will request a closer look just in case.

[2017-04-26 19:48] patrickhlauke commented on #115
moving the dynamic changes bit out into an actual bullet looks good to me.

[2017-04-26 20:50] RByers commented on #115
I think this is normally called "local" co-ordinate space, right?  I.e. this is NOT what `clientX` and `clientY` events do (they are unaffected by rotated DIVs, just rotated iframes) IIRC.  I think the non-standard `MouseEvent.layerX/layerY` properties may behave this way.

Can someone verify what Edge and FF do in the case of a rotated DIV?  Does touch-action operate in client or the element-loca

[2017-04-26 20:52] RByers commented on #115
Oh also we should think about how we can best test this.  The touch-action tests today aren't very scalable (one test per gesture - a lot of boilerplate to add a few new test cases like the ones discussed here).  I wonder if now is the time to rewrite them with an assumption of having automation driving them?  Or at least using some generic framework in a single (or few) test file which can either

[2017-04-27 05:57] patrickkettner commented on #194
lgtm

[2017-04-27 15:09] NavidZ commented on #22
I believe this can be closed as we are done with both the tests and the spec in the extension doc.

[2017-04-27 15:09] #22 closed, assigned to NavidZ

[2017-04-27 15:10] NavidZ commented on #192
Just to follow up on this blocking issue since we need to decide whether to keep this attribute in v2 or not.
@patrickkettner @smaug---- @mingchou Do you think this feature will be available in Edge/FF anytime soon?

[2017-04-27 15:31] patrickhlauke commented on #22
yup, good catch

[2017-04-27 16:06] mustaqahmed commented on #115
For all of Edge, FF and Chrome, a rotated div filters touch-actions the same way as a rotated frame. [Here](http://output.jsbin.com/vodiyas/) is a repro that has "pan-y" in a rotated div.

**Edge**: Works perfectly: only horizontal (along screen x-axis) swipes can scroll the div along local y-axis direction.
**FF**: Semi perfect. Horizontal (along screen x) swipes scroll the div along local y-axis

[2017-04-27 16:57] mustaqahmed commented on #115
Looks like @staktrace's repro link in the original post is also for a rotated div. Then so far we don't know what happens to a rotated iframe, right?

[2017-04-27 19:58] mustaqahmed commented on #601
Here is what each of the following browsers currently return on <code>.prototype.hasOwnProperty("which")</code>. Hopefully the "perfect inconsistency" here will motivate us to converge to the right solution:

Browser | UIEvent | MouseEvent | KeyboardEvent
-- | -- | -- | --
Chrome* | Y | Y | Y
Edge | n | Y | Y
FF | Y | n | n
Safari | Y | n | Y

*Chrome [will match FF](http://crbug.com/692717) soon.

[2017-04-27 20:30] mustaqahmed commented on #115
[Here](http://output.jsbin.com/pitaja/) is a rotated subframe repro. Looks like I was (blindly) right above: div and subframe behave similarly for each of the three browsers.

[2017-04-27 21:31] garykac commented on #601
Curious. @travisleithead's comments earlier indicate that Edge was moving |which| up into UIEvent.

@travisleithead, can you comment on the current status with Edge.  I was expecting agreement from all browsers about |which| living in UIEvent (rather than Mouse/KeyboardEvent).

[2017-04-27 22:09] garykac commented on #601
I updated the Legacy Appendix to reflect the discussion here.

Please review https://w3c.github.io/uievents/#legacy-key-attributes

[2017-04-27 23:47] RByers commented on #115
Thanks Mustaq!  Ok then, documenting what Edge is already doing (and Firefox is mostly doing) seems indeed to be the way to go.  Thanks for double checking!

[2017-05-02 16:04] NavidZ opened #576 "Click event is not fired when the node is removed and then added back"
Looking at [this example note](https://w3c.github.io/uievents/#example-60eb6b28) in the spec it is not very explicit what should happen when a node is removed and then added back in the mousedown handler and we don't have any wpt test for it either. [This example](http://jsbin.com/tepihex/edit?html,js,console) shows the behavior.
Particularly it seems that Edge, Safari, and the latest version of C

[2017-05-02 16:33] smaug---- commented on #576
Do other browser fire click targeted to some ancestor?

Since mousedown is dispatched, click should be dispatched too. The spec talks about the case when element is not added back to the document.

Why did Chrome change its behavior?

[2017-05-02 17:45] NavidZ commented on #576
No. None of the other browsers except FF send the click event even to any ancestor.

Regarding the mousedown and when an element is removed, just because a mousedown is there doesn't mean that there should also be a click. User might have changed the location to another iframe or other window and stuff like that. However, spec does say the mouseup should still be fired on the element that the mous

[2017-05-03 13:55] dtapuska commented on #576
I do think that an end developer doesn't expect that performing an appendNode to move an item in DOM order amongst siblings (which is defined to do an adoptNode, which does a remove and then an insertion) a click event won't fire.

The fundamental principle is that Chrome, Edge, and Safari all seem to listen to DOM mutations and if the node is removed from the document the click node is cleared.

[2017-05-03 15:52] domenic commented on #576
This seems very related to work @annevk has been doing recently per https://github.com/whatwg/html/issues/2615, which includes some interop research.

[2017-05-03 16:31] annevk commented on #576
Looking through this I don't think it's related. This bug is just a symptom of UI event dispatch being poorly defined.

[2017-05-04 13:38] dtapuska commented on #9
Now that coalesced events is spec'd as an extension and shipped in Chrome. I've proposed us to implement [rAF aligned mouse events](https://groups.google.com/a/chromium.org/d/msg/blink-dev/Y9BrlDeS3x4/Q5pzV3R1CgAJ).

There is some desire in getting FireFox's and Microsoft's position on these. As the comments on this issue are quite old before we made changes to ship the coalesced points API.
@patr

[2017-05-04 15:17] smaug---- commented on #9
this is super vague. Like when are those events actually dispatched. So if something is spec'ed, better to spec it properly. But are we sure the same setup is what we want in all the contexts? Say, very high performance desktop could perhaps dispatch more events at any time during a frame, or UA could perhaps adapt dispatch time based on the time executing event listeners take.

But we are current

[2017-05-04 15:27] dtapuska commented on #9
Should this really be specified in UIEvents and HTML Spec? I thought about adding a phase where the request animation frame is executed. I think it is important to identify that calling requestAnimationFrame inside an event handler will execute right away after the input is essentially dispatched. So it is really important to modify the [requestAnimationFrame](https://html.spec.whatwg.org/#animati

[2017-05-05 06:50] ConradIrwin commented on #604
I think it also focuses things with tabindex, and presumably any other "focusable areas?" https://www.w3.org/TR/html51/editing.html#focusable

I ran into this because I was trying to find reference to this behaviour:

[code]

Clicking on the span generates:

[code]

[2017-05-05 15:36] NavidZ commented on #176
Reopening the issue until the test is also added.

[2017-05-05 18:14] RByers opened #202 "Normatively make touch-action apply for direct-manipulation pen devices"
We have this note at the top of [section 9](https://w3c.github.io/pointerevents/#declaring-candidate-regions-for-default-touch-behaviors):

We discussed [the PR](https://github.com/w3c/pointerevents/pull/188) a bit [on Twitter](https://twitter.com/patrick_h_lauke/status/841028283533799425).  I think there should be normative text that REQUIRES that touch-action apply to a device if and only if  [I

[2017-05-05 18:23] RByers opened #203 "Enable direct pen and touch to have different touch-action behavior"
Today a stylus in Chrome Android behaves as a direct manipulation input device (with the implications on touch-action discussed in #202).  This works well in practice except for one special case:

In some situations like note taking applications, you might want the pen to draw by default, while still allowing a finger to scroll.  That's not possible to express with `touch-action` today.

I propose

[2017-05-05 18:48] patrickhlauke commented on #202
i was going to ask "can we require something in this spec when a property of a WICG proposed spec thing is true?" but I see 10.3 already references that WICG spec...so i guess that's kosher?

by refactoring i assume you mean moving the "direct manipulation pointing device" bit into the glossary https://w3c.github.io/pointerevents/#glossary and then reworking both 10.3 and the top of section 9 acco

[2017-05-05 18:51] patrickhlauke commented on #202
oblique question: if you had a device where you use a mouse to move a visible pointer on screen, and then clicking-and-dragging also resulted in scrolling...would you call that a direct manipulation pointing device" too? that's the scenario i was thinking about when i added the "(direct or indirect)" bit (and as an example: Chrome on desktop with DevTools in mobile emulation mode)

[2017-05-05 18:58] patrickhlauke commented on #203
would we consider this for v2 still? concerned about this (and the 2 implementation requirement) potentially prolonguing the path to TR (which we've not embarked on yet).

with that out of the way, this sounds reasonable. it's another "why are we doing this in CSS if it's about behavior?" one, but that boat already sailed with `touch-action` and the unrelated `pointer-events` properties I guess...

[2017-05-05 19:03] scottgonzalez commented on #203
Have you considered extending `touch-action` to allow values based on pointer type?

Perhaps something similar to `linear-gradient`:

[code]

Not sure what would be a good name for `some-other-keyword`, but the idea is that it would take the `touch-action` value and then a list of pointer types. Some other syntax could be used as well. I'm just a little nervous about adding a type-specific propert

[2017-05-05 19:37] RByers opened #204 "Consider a simple API for low-latency pointer trails"
In drawing scenarios, having low input->screen latency is extremely important.  In some cases it may be possible for the UA to draw from input to screen faster than an application will ever be able to (even with APIs like offthread canvas which can reliably draw at 60fps).

I wonder if it's worth exposing a declarative API similar to the CSS `cursor` property which can specify an image for the UA

[2017-05-05 19:53] RByers commented on #204
We'd probably want a size restriction on these - maybe 32x32px is more than enough?

We'd probably want to make sure these images could be efficiently generated from a canvas.  Since they're required to be small, perhaps canvas toBlob and using data URIs is good enough?

[2017-05-05 20:07] RByers commented on #203
Nah, not worth delaying v2 for to me.  I'd be fine considering it for level 3 (an extension for now).

Yeah my concern with that is just around web compat.  That rule will fail to parse in browsers that don't support it, so developers will end up having to specify two rules for at least the next 5 years anyway.  I think it makes such compat bugs less likely if we just introduce a new property.

Th

[2017-05-05 20:14] RByers commented on #202
I don't see why not.  REC specs can reference ED specs if necessary, right?  It probably needs to be clear what the behavior is supposed to be when that API isn't supported (as I think it is in this case).

The glossary is non-normative to help readers understand the meaning of terms.  Is that good enough here?  Or do we need some normative section like one that's defining an algorithm?  Personall

[2017-05-05 20:17] RByers commented on #202
Right, good question.  I think we'd want to treat such a device exactly as we're saying direct devices should be treated, but I see the argument that it's potentially confusing to call it "direct" (so I think what we're debating here is just terminology, not behavior).  The devtools case is maybe misleading because it's definitely aiming to emulate a touch as closely as possible, so from a spec/pl

[2017-05-05 20:33] RByers commented on #22
[This](https://w3c.github.io/pointerevents/extension.html#dom-pointerevent-getcoalescedevents) is [now shipping](https://www.chromestatus.com/feature/5853451217010688) in Chrome 58 (stable).

@NavidZ has updated my [eventRate](https://rbyers.github.io/eventRate.html) demo to draw smaller dots representing the points that come from `getCoalescedEvents`.  Here's a screenshot from a [Samsung Chromebo

[2017-05-05 20:36] mustaqahmed commented on #203
I think <code>touch-action-pointers</code> is a cleaner solution.

I have different concern though: any of these ideas (<code>touch-action-pointers</code> or <code>pen-action</code>) adds another dimension to how pens behave, on top of [InputDeviceCapabilities.pointerMovementScrolls](https://wicg.github.io/InputDeviceCapabilities/#dom-inputdevicecapabilities-pointermovementscrolls). I have a feeli

[2017-05-05 20:39] patrickhlauke commented on #203
the danger i see here is that `touch-action` is becoming a bit of a clown-car of values, personally...

[2017-05-05 20:56] RByers commented on #203
It's definitely complicated but I think they represent different thing.  `touch-action` is an API from the developer to the browser saying where they do and do not want scrolling.  `pointerMovementScrolls` is an API from the browser to the developer saying which devices support `touch-action` at all.  Maybe there's a better name for that?  I'm also not convinced `pointerMovementScrolls` is that va

[2017-05-05 21:20] NekR commented on #203
I actually thought about something similar as @scottgonzalez suggested, but kind of in revers:

[code]

`touch()` and `pen()` functions here are corresponding to supported/possible `pointerType`. Why it might be good:
* Future compatible: with any future type like `dial`
* Backwards compatible: the new property. Doesn't break anything, can support touch and mouse
* Allow rich customization for dif

[2017-05-06 02:17] NekR commented on #22
@RByers can you confirm that mouse events aren't limited to 60hz on WIndows (just curious)?  I have I a 1000hz mouse which produces a lot more mouse events than say Macbook's touchpad.

[2017-05-06 04:05] RByers commented on #22
@NekR, we [plan to soon](https://www.chromestatus.com/feature/6192761317359616), but it's only a trial now (1% of users or something).  Use the above test pages to see.

[2017-05-06 21:08] dori4n commented on #22
@NekR I can confirm, that the mouse events are limited to the monitor background refresh rate on Windows 10 1703, as I've just tried it. That is typically capped at 120Hz (often some not as exact but odd value, resulting in 119Hz measured). The mouse I have used can do 1000Hz refresh, but I have set it to 800. The monitor I used was set to 144Hz refresh rate. The events measured were between 117 a

[2017-05-09 18:05] patrickkettner commented on #203
I love the concept of allowing for different `touch-action` like behaviors for each type of pointer, but am opposed to having new `*-action` values because of the unbounded nature of future pointer types.

This feels like the exact sort of reason `@media` blocks were invented. What about

[code]

[2017-05-09 23:06] NekR commented on #203
@patrickkettner I thought about this, but we already have `@media(pointer: coarse)` which was made abstract on purpose, `@media(pointer-type: touch)` will destroy any purpose of `@media(pointer: coarse)`.

Also problem here is to ably 2 different pointer-actions (one per pen, other per touch) at the same time. I'm not sure how media query would help with that. Do you mean that media query will be

[2017-05-09 23:08] NekR commented on #203
If something, I also feel that `pointer-action: touch(pan-y), pen(none);` syntax doesn't look quite right. Maybe it's possible with CSS grammar to have a better one?

[2017-05-09 23:34] patrickkettner commented on #203
its solving a completely different problem. you could very much want a different `*-action` of input on something like a trackpad than you would a mouse (e.g. locking panning or scrolling) and both would be `fine`. Not to mention the idea that other potential pointer types like dials don't fit into either `fine` or `coarse`.

firmly disagree. even if it did, a more useful interface shouldn't be st

[2017-05-09 23:48] NekR commented on #203
I didn't mean it solves this problem. I mean that `pointer-type` media query could be started used instead of `pointer` media query and the idea of `pointer` media query was to abstract types from concrete, like `touch`. But yes, `pointer` media query is unrelated to the problem in this issue. I'm just worried about its future.

Sorry, I don't get. Having element background property set to `red` a

[2017-05-09 23:57] patrickkettner commented on #203
Sure, I am just saying that that is tangential to this issue

That's exactly my point. If someone sets conflicting pointer-action values, we have known ways of handling the conflicts - source order.

The media block activates when the input type is either pointer 0 or an active pointer on the document. the specific pointer-action, like all CSS properties, apply on a per selector basis

[2017-05-10 02:25] appsforartists opened #205 "Add OS image dragging to non-normative reasons for pointercancel"
The nonnormative reasons for `pointercancel` include a bunch of scenarios where a browser default action (like panning) took over in the middle of a gesture.  A common, but unmentioned, scenario is browser/OS-level drag-and-drop.  Like when panning, I believe this should cause a `pointercancel` to be dispatched when the browser stops sending PointerEvents.  Unfortunately, this doesn't seem to curr

[2017-05-10 03:28] NekR commented on #205
What if one wants to track mouse position during dnd and highlight some
things?

On May 10, 2017 5:25 AM, "Brenton Simpson" <notifications@github.com> wrote:

[2017-05-10 03:55] appsforartists commented on #205
That's what the `drag` event type is for.

Currently, you will stop getting `pointermove` as soon as `drag` begins (in every browser).  The bug is that there's no notification that you're going to stop getting events - they just stop.  For instance, if you wanted to know how many pointers were currently down, you may increment a counter on `pointerdown` and decrement it on `pointerup` or `pointerc

[2017-05-10 14:37] NavidZ commented on #205
This is also related to #194 . I [tried](https://github.com/w3c/pointerevents/pull/201) having `dragstart` as an event that cause the capturing to go away. If we fire `pointercancel` right before the `dragstart`then it would cover both this and the capturing scenario. Is this solution somewhat reasonable and address the concerns?

[2017-05-10 14:41] NekR commented on #205
I see, sounds like a bug indeed.

[2017-05-10 15:16] appsforartists commented on #205
I have updated the reduction.  It now includes a second image that calls `event.preventDefault()` on `dragstart`.  When that happens, `pointermove`s and eventually `pointerup` continue to be dispatched correctly, as if `dragstart` never happened.

`pointercancel` should only happen if the browser is taking over the pointer events and stopping the stream.  Therefore, I think `pointercancel` should

[2017-05-10 15:22] NavidZ commented on #205
I don't think you can quite rely on that. If I recall correctly you can even prevent default the drag event and that would stop the drag as well. Also `Esc` key can stop the drag. So the drag doesn't necessary stops when the mouse is released.
Looking at the spec it is mentioned that after `dragstart` event there should be only drag events fired to the elements and not mouse/touch events. So maybe

[2017-05-10 15:34] appsforartists commented on #205
Sounds like that may be a bug/oversight in their spec as well.  If a browser behavior interrupts a pointer stream, `pointercancel` should be sent.

Perhaps the right solution is to fire `pointercancel` after `dragend` if the drag was never prevented or cancelled (e.g. with esc).  That would ignore any drags that the author/user prevented, but still ensure `pointercancel` fires in cases where the b

[2017-05-10 15:46] NavidZ commented on #205
I personally don't think delaying pointercancel until after dragend is the right approach. It is the same as saying delaying pointercancel until the scrolling is finished.
I don't know why it matters whether drag is canceled or not. The stream of input was interrupted for some amount of time during the drag and pointercancel should have been sent before right before that interruption.
I noted that

[2017-05-10 16:29] appsforartists commented on #205
I can see the argument for either sending it after a non-prevented `dragstart` or `dragend`.  I'd be OK with either.

[2017-05-10 17:42] NavidZ commented on #205
If we were to be compatible with DnD spec we should not be sending any event after `dragstart` and before `dragend`. Although the pointerevents are new anyways and violating that may not break any website.
Do you have any scenario that might fail if we always send a `pointercancel` or `lostpointercapture` (if necessary) right before `dragstart`?

[2017-05-10 19:47] appsforartists commented on #205
The scenario I have in mind is draggable on-screen elements.  It ought to be reasonably simple to build basic drag and drop with `pointer{down, move, up, cancel}`.  Inside `down`, I can register a listener for `move`.  I can remove that listener on `up` or `cancel`.

If the [Observables proposal](https://github.com/tc39/proposal-observable/) lands, it would be effectively this:

[code]

An author

[2017-05-10 20:43] NekR commented on #205
@NavidZ

That's weird. Why isn't that guaranteed? How someone should be able to implement multi-touch events if `pointerup` may not be called? I thought that the purpose of `pointercancel` -- if `pointerup` cannot be sent because finger/mouse/whatever is interrupted or out of surface then `pointercancel` is guaranteed to be called. Also many scripts indeed register `pointermove` on `pointerdown` a

[2017-05-10 20:52] appsforartists commented on #205
@NekR I think his point was that if I `pointerdown` outside an element (which doesn't capture), and then `pointerup` on the element with the counter, the counter will be off.

[2017-05-11 15:19] NavidZ commented on #205
@NekR

So the discussions on this issue are not only for touch. You can drag and drop mostly with mouse. Chrome does trigger drag action with long press touch as well. I don't know how Edge or other browsers do it. Regarding the matching there are quite a few scenarios that the assumption of matching pointerdown with up or cancel is wrong. Say you are in an iframe and somebody mousedown on your if

[2017-05-11 15:26] appsforartists commented on #205
Looks like `draggable=false` only works on the element itself; whereas, dragstart bubbles.

If I'm listening to pointer events on a container, I ought to be able to reject drag on any of its children.

[2017-05-11 15:33] RByers opened #206 "Extend pointer events to support raw trackpad data"
From [old bug tracker](https://www.w3.org/Bugs/Public/show_bug.cgi?id=20218):

I still don't think this is at all urgent, but I'd like to have a place in GitHub to refer to for this possible future scenario.

[2017-05-11 15:35] RByers commented on #206
Note that there is presumably still a connection to the screen in this case - the normal co-ordinates, and event targeting would presumably all represent the mouse cursor location.  So it's not an entirely "off screen pointing device".

[2017-05-11 17:02] NavidZ commented on #205
'dragevent' should be kind of the default action of `pointerdown`. So if you preventDefault `pointerdown` that would prevent any drag from happening in the future as the result of that `pointerdown`. Doesn't it?

[2017-05-11 17:52] NekR commented on #205
Works for mousedown at least.

[2017-05-11 20:38] LanWei22 opened #207 "Should the spec defines how to handle when the pen's left button and the pen tip both are pressed?"
One of the Wacom pens has two buttons on the side, the above one is configured as left button, which is the same as when we press the tip on the tablet. We should define how we handle the case when the tip is pressed the tablet and the button is also pressed. Should we ignore the button when the tip is pressed the tablet? Also, when we press the tip and we press other buttons, should we consider i

[2017-05-11 21:48] dfleck commented on #207
Here's some background on how the side switches work:
The buttons are configurable by the user. By default the tip is left click, and the side switches are right click and left double click.
There are two situations regarding cording (pressing more than one) settable by the user:
1) "TabletPC" bahaviour (click and tap). In this case the side switches don't activate until the tip is clicked (so sid

[2017-05-11 22:18] scottgonzalez commented on #207
I agree with @dfleck. For the scenario reported by @SummerLW, I would not expect anything to happen when the "left" button is pressed while the tip is already in contact. If two buttons represent the same thing, they should share an active state. In terms of events, you cannot press down on a button that is already down, even if there are multiple physical buttons to press.

[2017-05-11 23:10] appsforartists commented on #205
Hmmm…  I was afraid `downEvent.preventDefault()` would suppress `pointermove`, but it doesn't seem to.

Still, when `pointerdown` fires, I don't know enough about the user intent yet to know if I should cancel.  By the time I do, [it's too late](https://codepen.io/appsforartists/pen/zwWMKe0).  Calling `downEvent.preventDefault()` after I have measured that the cursor has moved far enough to know I

[2017-05-12 16:48] RByers opened #209 "offsetX/offsetY is confusing for GetCoalescedEvents"
See [this chromium bug](https://bugs.chromium.org/p/chromium/issues/detail?id=721485) and the [definition](https://drafts.csswg.org/cssom-view/#dom-mouseevent-offsetx) of `offsetX`/`offsetY`.

Since an important use case of `GetCoalescedEvents` is to re-use (and share) existing code, perhaps we really should try harder to make these events look just like normal events?  Eg. copy the `target`, and

[2017-05-12 16:51] NavidZ commented on #209
That's correct. At the time we didn't have any use case in mind and we set the target to null to indicate we do not do hit-testing for those events. That bug seems a valid use case. Just one thing that we need to make sure it is clear that we don't hit-test those events. For example in that case offsetX/Y could be negative for those coalesced events as well which essentially means the events are o

[2017-05-12 17:38] RByers commented on #209
Yep, I think that's the right trade-off.  Some risk that the negative values could be confusing, but practically it should be very rare and fine when it occurs.  Worst case and we see it cause confusion in the future, we could probably safely clamp to 0.

[2017-05-15 17:26] mustaqahmed commented on #205
One key advantage of PointerEvents is that default actions are never blocked on script execution, to guarantee responsive browser behavior even with a slow script.  This essentially means a script has less granular control over browser actions (vs TouchEvents): either the script declares beforehand (though `touch-action`) that it wants to handle the input event stream itself, or it has to take ove

[2017-05-15 18:36] appsforartists commented on #205
@mustaqahmed I'm not sure I'm following your points.  It sounds like you disagree with my objections about using `downEvent.preventDefault()` to prevent `dragstart` from triggering `pointercancel`,  but I'm not sure you understand my concerns.

It sounds to me like the @NavidZ's recommendation so far is:

- `pointercancel` will be dispatched immediately before `dragstart`.
- If the author doesn't

[2017-05-15 19:12] NavidZ commented on #205
@appsforartists your point is certainly valid and we have this case in other situations as well. Basically there might be multiple behaviors as the default action for some events and you either can preventDefault to prevent them all or not to call preventDefault and keep them all.
Regarding this particular behavior discussed in this issue, do you have a sample page that preventDefaulting on down w

[2017-05-15 20:24] appsforartists commented on #205
@NavidZ thanks for challenging me to make a reduction - it's hard to keep track of which events do what sometimes in these threads. 😃

Here's the test you requested:

https://codepen.io/appsforartists/full/xdzBqy

scrolling and clicking both appear to still work, even when `downEvent.preventDefault()` is called, so perhaps that is also an acceptable strategy for disabling native drag-n-drop.

[2017-05-16 14:34] NavidZ commented on #205
So are there any scenarios anyone can imagine that the following solution would fail:

- `pointercancel` (and `lostpointercapture` if needed) will be dispatched immediately before `dragstart`.
- If the author doesn't like that, the author ought to `downEvent.preventDefault()` to prevent drag from occurring.

@patrickkettner @smaug---- are you guys also happy with this solution?
I'll give it a few

[2017-05-16 15:19] smaug---- commented on #205
dispatching pointercancel before dragstart sounds reasonable.

In which case would lostpointercapture be dispatched? I'd assume drag operation doesn't start if we're capturing.

[2017-05-16 15:22] NavidZ commented on #205
We can go either way. The initial discussion was that drag operation will take priority over pointercapture (similar to pointerlock) and will cancel capture. At the same time you can always disable DnD using other ways and keep the pointercapture.

[2017-05-16 15:31] smaug---- commented on #205
Hmm, dragging takes priority over pointerlock?

[2017-05-16 15:42] NavidZ commented on #205
No. I meant both dragging and pointerlock take priority over pointercapture.

[2017-05-16 15:52] appsforartists commented on #205
I didn't realize pointer capture taking priority over dragging was an option: I like that idea.

Can you think of cases where someone would want both to set pointer capture _and_ to have `dragstart` take it away?  My hunch is that if someone has explicitly assumed pointercapture, they probably don't want it stolen back by DnD.

[2017-05-16 15:59] smaug---- commented on #205
yeah, I would assume the same. If one uses pointer capture, why would anyone expect dnd to occur?

[2017-05-16 16:01] NavidZ commented on #205
That makes it slightly inconsistent. Because pointercapture is just a mechanism to reroute the input. Now if you capture the input to a draggable element what should the browser do? From the page perspective the draggable element is getting all the events and just doesn't get dragged? Doesn't this sound inconsistent?

[2017-05-16 16:09] appsforartists commented on #205
I hear what you're saying, but I'm still having a hard time thinking of a practical reason to use pointercapture but also expect DnD.

[2017-05-16 16:21] NavidZ commented on #205
I don't have any scenario in mind for expecting both capture and DnD at the same time. Also I don't have any strong feeling either way regarding priority of capture over drag or vice versa. The only thing I have for having drag taking priority over capture is the fact that currently Edge does that. So we just followed what we did for pointerlock in issue #194 .

Instead, we can have:
- `pointercan

[2017-05-16 18:54] wffurr commented on #209
I would fully expect negative offset values, especially when using the pointer capture feature to make sure I get the pointerup events to match the pointerdown events.

I was very surprised to find that the coalesced events didn't have the same target as the parent event.

[2017-05-16 19:27] patrickkettner commented on #203
After speaking with Matt Rakow about this more, due to the number of potential edge cases with my proposal, I withdraw my complaints about pen-action. I am fine with it

[2017-05-16 19:59] mustaqahmed commented on #626
Looks like in Firefox, `layerX`/`layerY` have meaningful (non-zero) values only for MouseEvents and its descendants. For all other UIEvents, the values are always zero.

[Here](https://output.jsbin.com/vehixi) is a quick demo. It checks the following events: `blur`, `focus`, `focusin`, `focusout`, `input`, `compositionstart`, `compositionupdate`, `keydown` and `keyup`.

So, any sites relying on th

[2017-05-24 15:13] #209 closed, assigned to nobody

[2017-05-25 02:58] appsforartists opened #211 "touch-action: scroll || scroll-x || scroll-y"
A common interaction pattern that is not well-addressed by the pointer events spec is overscroll; that is, trying to scroll beyond the bounds of a scroll pane.  For instance, dragging a message in Inbox adjusts the scroll position until it's 0.  Dragging further will begin a gesture to close the message (while leaving scroll position at 0).  Another common example is pull-to-reload.  These interac

[2017-05-29 19:54] foolip commented on #626
Having them on MouseEvent might be web compatible for Gecko as well then, seems reasonable to try that first. If it doesn't work out for them, then putting them on UIEvent but returning 0 for non-MouseEvent instances might be a backup plan.

In any event, trying to standardize *something* seems like a very good idea.

[2017-05-30 16:57] mustaqahmed commented on #100
I agree with @patrickkettner that `click` has evolved into a user activation (or interactivity) event, so it is no longer a strict mouse event.  But from the same perspective, it is not a pointer event either, right?

Since almost the entire discussion revolved around the need for PointerEvents properties, let's summarize key points into a few buckets:

- **Fractional coordinates:**  The compat ri

[2017-05-31 16:04] NavidZ commented on #176
The tests have been landed ([[1](https://github.com/w3c/web-platform-tests/blob/master/pointerevents/pointerlock/pointerevent_pointerlock_after_pointercapture-manual.html)] and [[2](https://github.com/w3c/web-platform-tests/blob/master/pointerevents/pointerlock/pointerevent_pointerlock_supercedes_capture-manual.html
)]).

[2017-05-31 16:04] #176 closed, assigned to NavidZ

[2017-06-01 18:57] RByers commented on #178
Talked about this on the Chrome team with @dtapuska @flackr @NavidZ and @tdresser.  We agree that the touch-action keyword should be a flag, eg. so that you can have both `touch-action: pan-x pan-y draggable` and `touch-action: pan-y draggable` (eg. in case you have a horizontal image carousel that also supports from drag-and-drop case).

However we'd rather use a term like `unless-long-press` (or

[2017-06-01 19:02] RByers commented on #178
I should add that this seems important for Facebook.  They've had to go back to using non-passive touch listeners in order to support their "Like" button where you can still scroll by starting on the button, but if you long-press it you get additional options for your "reaction". That's apparently the only case keeping Facebook from getting non-blocking scrolling, and (given the large amount of sc

[2017-06-05 16:10] NavidZ commented on #192
@smaug---- @mingchou I was reading the [MDN for pointerevents](https://developer.mozilla.org/en-US/docs/Web/API/PointerEvent) and realized these are implemented since FF54. Can you confirm this? If you guys having this as well I guess we should be good with including this in V2. Right?

[2017-06-06 13:39] mustaqahmed commented on #115
The test has got merged.

[2017-06-06 13:39] #115 closed, assigned to mustaqahmed

[2017-06-07 05:27] mingchou commented on #192
We just added the attribute since FF54 but not yet give it a real value.

[2017-06-08 19:42] NavidZ commented on #192
@mingchou do you think you can manage to get it in sometime in the near future? I'm asking to see whether we would like to include this in V2 or not.
@patrickkettner do you know about Edge regarding this issue?

[2017-06-08 19:43] NavidZ commented on #205
@patrickkettner ping. Can you take a look at this issue?

[2017-06-11 23:34] patrickkettner commented on #205
Sorry, having a hard time following the thread here. What are you asking for my opinion on?

[2017-06-12 14:18] NavidZ commented on #205
I tried to some up the decision that the people were inclined to in my last comment. Basically we would like to have:

- `pointercancel` will be dispatched immediately before `dragstart`.
- If there was a pointer capture in place drag operation never starts (i.e. `dragstart` is never dispatched)

However, this is not what Edge does. I believe in Edge if drag starts there will be a lostpointercaptu

[2017-06-14 07:33] mingchou commented on #192
I created a patch (to support tangentialPressure on Mac) but I'm waiting for a device to test it. Hopefully, land it in FF 56 or 57. Btw, we only enable PE on the nightly build and so far we don't have a concrete schedule to enable it in the release.

[2017-06-14 14:36] NavidZ commented on #192
I believe as long as there is a version of the browser that supports the feature and pass the tests that will be enough as it is a proof of concept that the implementation is possible and not vendor dependent. So even nightly builds would be fine. @patrickhlauke am I right?

[2017-06-14 14:56] patrickhlauke commented on #192
yes, and the requirement of 3 interoperable implementations is only really important once we want to fully move to REC (related, I know I've been super-slack with keeping on top of things here, will set some time aside to see where we're up to in that respects soon)

[2017-06-14 21:13] RByers commented on #100
Thanks for the summary @mustaqahmed.  I agree that we don't yet have a compelling use case (certainly no concrete example of a real site that expects the Edge behavior).  I'm OK removing the v2-blocking label and keeping this around as a bug that is a known interop difference between Edge and other implementations until at least one real-world site / scenario impacted by this materializes.

[2017-06-14 21:36] RByers commented on #205
What about mouse event compatibility?  Is `mouseup` delivered reliably at the end of a drag sequence today?  If we `pointercancel` then presumably we won't send `pointerup` at the end (which could be confusing for existing code looking for `pointerdown` and `pointerup` pairs).  But would we still send a `mouseup`?

This conceptually makes sense to me but I wonder about the web compat implications.

[2017-06-15 14:37] NavidZ commented on #205
Currently in both Edge and Chrome when drag starts there will be no more mouse events including move during the drag and the up that cancels the drag. Although if you cancel the drag with Esc you would get a mouseup event.

Regarding the capturing use cases, even if we ignore the pointercancel, when capturing is active and drag starts Chrome is broken in terms of sending correct capturing events a

[2017-06-16 18:06] RByers commented on #205
Ah, OK so then there shouldn't be a compat problem sending `pointercancel` - sounds good to me!

I don't have a strong opinion on the interaction between capture and DnD.  It sounds like you, @smaug---- and @appsforartists are on the same page that capture should take priority over DnD, and @patrickkettner hasn't provided a reason for why the Edge behavior is the opposite so capture taking priorit

[2017-06-18 07:59] patrickkettner commented on #100
I have not been able to find any websites that require this behavior. When the change was made, it was more of the fact that it seemed more useful and there was no breakage when it was introduced.

[2017-06-22 19:12] NavidZ commented on #205
@dtapuska mentioned a scenario that I missed earlier. @smaug----  @appsforartists, the long press touch causes the drag to start and since we have an implicit capturing for touches then if we were to give priority to capture over drag then the drag can never possibly start with touch on the web pages that don't know about pointer events and don't explicitly release the capture on touches! I don't

[2017-06-22 21:42] appsforartists commented on #205
@NavidZ do you have a demo?  I don't think I've ever seen a long press drag interaction: only a long press context menu.

Moreover, this repo is explicitly for pointer events.  I'm not sure that the existing behavior for touch events should necessarily block doing the best thing here: you can't call `setPointerCapture` in a browser they doesn't support pointer events.

[2017-06-22 22:34] NavidZ commented on #205
Demo for what? For long press drag? You can do it with any draggable tag. Like this:
http://jsbin.com/giqopi/edit?html,output
Just long press on the text. The implicit capture of touch pointer events are part of the pointerevents pec. I'm sorry that I wasn't clear in my previous comment but whenever I said touch I meant pointerevents generated by touch.

[2017-06-22 23:54] appsforartists commented on #205
I see.

Would it be too complex to have pointer capture trump dragstart unless the draggable attribute is set?

[2017-06-23 14:29] NavidZ commented on #205
I believe that if we design a consistent and predictable behavior it makes more sense to the developers.
"When to drag" is a browser decision and you can disable those behaviors with some other means (as discussed earlier). But if I just give one out for draggable attribute to the pointer capture seems inconsistent to me.

[2017-06-23 20:17] RByers commented on #205
Yeah this is what I was wondering about when I said:

I agree we don't want the priority to be conditional.  Edge already makes DnD take priority over capture, I think being consistent with that is the best choice.  So your plan SGTM.

[2017-06-26 15:23] appsforartists commented on #205
I definitely hear the arguments for simplicity and consistency with existing APIs.  There's a counterargument for explicitness and obviousness: I don't think I've ever seen HTML5 drag-and-drop used in a touch UI.  Gestural interaction is the natural modality of touch UI.  Favoring drag-and-drop at the expense of pointer events makes the common case harder to get right in order to support a feature

[2017-06-26 17:27] NavidZ commented on #205
Can you go over the simple use case once again so we can focus on that part of the problem rather than introducing edge cases?

You are now differentiating between explicit and implicit capture which we wanted to indeed avoid. Now just getting `gotpointercapture` might mean either implicit or explicit which makes the prediction of the behavior that much harder.

This whole drag action and how it s

[2017-07-06 21:13] NavidZ commented on #205
To push the issue forward and also address the use cases that @appsforartists brought up without adding more complications and edge cases I sent this [pull request](https://github.com/w3c/pointerevents/pull/201). This should be addressing all the usecases you had in mind @appsforartists. Right?

[2017-07-06 22:55] nicholaswmin opened #212 "Would pointerType === 'pen' events participate in HTML5 Drag & Drop?"
## Overview

Would `PointerEvent` events sent by a `pointerType === 'pen'` still be able to participate in [HTML5 Drag & Drop][1] behaviours?

## Use case

A user is using his Pen tablet to draw doodles in a canonical HTML5 Canvas whiteboard-style app. The app also has a Shape library where users can drag/drop shapes from onto the canvas. Would `pen` events still participate in that behaviour?

##

[2017-07-06 23:25] NavidZ commented on #212
I believe we matched Edge's behavior regarding DnD for PointerEvent type pen. Do you see the same behavior in Edge that you see in Chrome 61 (which is not doing DnD with pen)?

[2017-07-06 23:42] nicholaswmin commented on #212
@NavidZ Yes, DnD doesn't work on Edge either with a `PointerEvent` type pen.

I'm using [this demo][1] for the test

[1]: https://www.w3schools.com/html/html5_draganddrop.asp

[2017-07-06 23:44] NavidZ commented on #212
I recall we had some problems getting DnD to work with WM_POINTERs for pen on Windows. That's why we just went with matching Edge's behavior. Perhaps they had the same problem or something. Maybe @patrickkettner can comment better here.

[2017-07-06 23:52] nicholaswmin commented on #212
Yeah thanks, pushing this because creating synthetic `DragEvent`s is out of the question.

Setting `dataTransfer` poses a security risk which is AFAIK the only way to transfer data between a draggable and it's dropzone.

So while we can simulate `MouseEvent`s from `PointerEvent`s (which partly fixes buggy behaviour in Chrome 59.x.x), there's no way to simulate a `DragEvent`.

**Cutting to the chas

[2017-07-11 19:03] NavidZ opened #607 "MouseEvent.screenX/Y coordinate space is not clear"
@bokand @smaug---- @garykac @RByers @dtapuska @eirage

It is not very clear what the coordinate space of screenX/Y attributes is.
Is that the correct that is it in css pixels? In other words if screenX/Y of the events is increased by 1 does that mean it has moved 1 css px? So if I have a full screen browser and I set the left/top of a div to the screenX/Y of events should it follow the mouse point

[2017-07-17 14:18] NavidZ commented on #607
Anyone knows the answer?

[2017-07-17 14:49] bokand commented on #607
I'm not an expert here but according to https://drafts.csswg.org/cssom-view/#dom-mouseevent-screenx, it seems that this should be in CSS pixels (since "Web-exposed Screen Area" is defined in CSS Pixels) though that's still an ED. That seems to match both Firefox and Chrome's implementations. In general, all coordinates I know of in the browser are in CSS pixels. Though for screenXY it does seem a

[2017-07-17 18:05] bokand commented on #607
Sorry, I have it backwards above - it appears that browser-zoom doesn't affect screenX/Y in practice so they're *not* in CSS pixels

[2017-07-17 18:36] NavidZ commented on #607
So I assume the goal was to have screenX/Y match the css pixels. Particularly both Chrome and Firefox do that when dsf changes but none of them do that when page zoom (i.e. browser zoom) changes. However, changing either dsf or page zoom in both browsers will change `window.devicepixelratio`. @bokand, do you think that is a reasonable approach to have page zoom match the dsf behavior here?
@smaug-

[2017-07-17 19:23] smaug---- commented on #607
(It is Firefox, not FireFox ;) )

https://bugzilla.mozilla.org/show_bug.cgi?id=809788 has some background information.
See comment 26 for example.

[2017-07-18 00:54] bokand commented on #607
Looking at the history on that bug and roc's [thread](https://lists.w3.org/Archives/Public/www-style/2012Nov/0144.html) on www-style, it seems that we eventually aligned with Firefox on how `devicePixelRatio` should behave. That is, ctrl+/- does affect `devicePixelRatio`. I have tried this out and Chrome, Firefox, and Safari all share the same behavior. (according to www-style, IE did as well so I

[2017-07-18 13:48] RByers commented on #607
I agree we want DSF and browser zoom treated the same.  Assuming it's web compatible I'd prefer if `screenX/Y` were in CSS pixels for consistency with other APIs (it's rare for a developer to need to think in physical pixels).  Of course what's most web compatible and interoperable is probably what will primarily determine what exactly we need to do here.

[2017-07-19 18:57] appsforartists opened #213 "Too many other behaviors interrupt pointer events (dragstart, touch-action)"
This is a continuation of #205.

The developer ergonomics of building a gesture recognizer with pointer events now are painful, because there are too many things you need to know and remember to do it correctly.  For instance:

- If you forget to set `touch-action: none`, `pointermove` won't be dispatched from a touch screen.
- If the user has a mouse/pen and starts a gesture on a link or image, `

[2017-07-20 18:53] NavidZ commented on #607
Just to get everyone on board with this. @smaug----, @patrickkettner do you also agree having the screenX/Y in CSS pixels is okay (assuming there isn't many compat issues)? Particularly what I have in mind is changing the page zoom logic to also change screenX/Y range similar to what device scale factor does.

[2017-07-24 08:03] smaug---- commented on #607
It is now in CSS pixels, but sounds like your asking about zoom behavior.
How should things like window.inner* work, or window.screenX/Y work?
Changing any of this is rather regression prone.  What is the issue you're trying to solve?

(Is dsf commonly used acronym?)

[2017-07-24 14:27] bokand commented on #607
If the property doesn't react to ctrl+/- zooming then it isn't in CSS pixels since that increases/decreases the size of a CSS pixel. Other properties like window.innerWidth do change as the user zooms in and out.

DSF = device scale factor. It's the zoom applied by the browser to compensate for a high pixel density display (i.e. so that the UI doesn't look tiny). That's what we call it on Chrome,

[2017-07-24 14:42] smaug---- commented on #607
Are mouseevent.screenX/Y the only properties which don't scale?

In general I do support the change, but I would assume some pages will be broken. Like, they could currently try to convert mouseevent.screenX/Y to something reasonable using other coordinates like clientX/Y and properties of screen object.

[2017-07-26 19:55] #205 closed, assigned to nobody

[2017-07-28 17:36] NavidZ commented on #194
Note that following the discussion on another issue #205 we went with sending pointercancel (and if necessary the lostpointercapture) after the drag operation starts which could be prevented by calling preventDefault on dragstart.
The test [here](https://github.com/w3c/web-platform-tests/blob/master/pointerevents/html/pointerevent_drag_interaction-manual.html) expects this behavior.

[2017-07-28 17:36] #194 closed, assigned to nobody

[2017-07-28 17:38] NavidZ commented on #192
I assume we can close this one as we will have the implementations ready. Feel free to open this again if you think otherwise. I'm going to follow up with other vendors and send an updated test results to the working group mailing list so we can see where all browsers stand in terms of the tests.

[2017-07-28 17:38] #192 closed, assigned to nobody

[2017-08-01 20:03] dtapuska opened #214 "Define a low latency event that isn't occur in the document lifecycle"
Chrome has experimented in shipping events relative to rAF. pointermove is only sent once for every rAF callback and occurs just before the rAF callback. Specifically this was done for touch in Chrome 59 and mouse in Chrome 60. See some discussion here #9.

With pointerevent dispatched at rAF time it is useful for some apps that don't produce any in the normal document lifecycle (see issue whatwg/

[2017-08-02 19:51] dtapuska commented on #214
@patrickkettner @smaug---- @scottgonzalez Any thoughts on this?

[2017-08-02 20:02] scottgonzalez commented on #214
Is there a reason that the much higher frequency is beneficial as opposed to just dispatching at a predefined rate closer to the desired rAF frequency, such as 60Hz? If not, then we could just continue to use the existing events.

[2017-08-02 20:08] smaug---- commented on #214
I think we should try to use the same events, but possibly let the web page to hint that it wants high precision events.

[2017-08-02 20:23] dtapuska commented on #214
It is all about latency as you might need to wait like 16ms for a rAF call to come around. This is a very limited use case but has the potential to deliver a good user experience for apps that use it correctly.

That was my [initial approach](https://cdn.rawgit.com/dtapuska/lowlatency/master/index.html) where I specified an event listener option.

@RByers said the problem with that approach is tha

[2017-08-02 20:45] scottgonzalez commented on #214
But what are the events being used for? Why does drawing to an offscreen canvas faster than rAF improve the user experience? I assume the rendered canvas is then being injected into a visible location; but that should be done inside rAF, right?

[2017-08-02 20:51] dtapuska commented on #214
We are working on having an on-screen canvas actually get a hardware layer (like video). Chrome has like a multi-frame swap so you can avoid the frame swaps with the direct hardware layer. So you can get an onscreen canvas swapping in a single frame.

[2017-08-05 16:56] RByers commented on #214
Here's another use case that (while less compelling) is a lot simpler and easier to reason about IMHO: a music synthesizer / DJ application that creates/modifies sound somehow in response to touch position.  In that case high frequency and low latency can be very important, while aligning with any form of visual output is unimportant (though there's probably still some visual feedback somewhere, t

[2017-08-10 14:48] Rycochet commented on #214
I'd add a third suggestion to @RByers list there -

3. Add an Observer API for the raw events as they come in. Make use of the high precision `performance.now()` timestamp within it - that way the observer has the exact time it came in synchronised with the rAF clock. Apologies for the TypeScript, but easier to show structure:

[code]

...One potential benefit of this would be the ability to add t

[2017-08-10 17:12] gsnedders opened #215 "Difficulty understanding getCoalescedEvents definition"
To me, the paragraph defining `getCoalescedEvents ` seems like a bit of mess. It makes a lot of statements without clearly delineating between them, and without defining what events get coalesced (and hence what properties they have are essentially undefined) and hence doesn't really define what the coalesced events even are. I'm also not clear on which sentences are declaring something normativel

[2017-08-11 20:35] dtapuska commented on #214
@Rycochet  event.timestamp is relative to the Performance.now() in Chrome.

This is an interesting idea. It definitely gets rid of the problems with hit testing that would dominate a high frequency mechanism.

[2017-08-12 12:43] patrickhlauke commented on #215
@RByers et al, mind having a closer look at this proposed rewrite suggestion?

[2017-08-14 10:06] smaug---- commented on #214
But ends up copying lots of event handling mechanism. And hit-testing is rather useful thing to have, since that gives you also proper event propagation.
And hit testing doens't need to be slow for example when events are dispatched all the time to a <canvas>.

[2017-08-14 10:41] Rycochet commented on #214
It's always possible to get the element under the pointer via `window.elementFromPoint` (which could be caching if it's the current mouse pointer position on a per-mouse-move bases) - if someone is wanting a really high speed from the mouse then it's more likely that it'll be using WebGL or Canvas, or interested in the delta rather than the element under it (which is unlikely to change much betwee

[2017-08-14 10:48] smaug---- commented on #214
Curious, why pageX/Y? I would assume clientX/Y.

Event propagation let's one to add event listeners to different places and using normal event handling mechanisms. Inventing something totally new is possibly a bit heavy (and complicates the already complicated platform even more).

But I don't have a strong opinion yet. I'd prefer to try to reuse the existing mechanisms if possible.

[2017-08-14 11:07] Rycochet commented on #214
`pageX` / `pageY` are just the ones I tend to use the most - `clientX` and `clientY` are just as useful - and both can be used happily enough. Thinking about it I'd be almost convinced to keep this as simple and fast as possible and just use `screenX` / `screenY` and possibly add a `deltaX` and `deltaY`. I think what coordinates are included would depend on the most likely uses for it...

Observer

[2017-08-14 14:33] NavidZ commented on #215
@gsnedders the way you wrote it here sounds much better and clearer that it is now. Thanks. The only problem is that I'm not sure what we should use for the **XXX** part in _Events must be coalesced into a single dispatched event grouped by [XXX]_. The coalescing generally happens for all the events that happened since the last animation frame. However, if the main thread is busy or something they

[2017-08-14 14:39] dtapuska commented on #215
You might want to refer to something in here: https://html.spec.whatwg.org/#event-loop-processing-model

[2017-08-15 15:02] gsnedders commented on #215
@NavidZ I think you need to refer to what @dtapuska linked to, and probably need to file a bug on HTML to make sure there's some way to reference it (or for it to reference pointer events); and you also need to, I think, say that you coalesce where they share pointerId, pointerType, isPrimary, isTrusted, and target attributes (AIUI).

[2017-08-31 14:23] mstange commented on #587
From the Firefox side I'd also be interested in adding APIs for this.

An `isEnding` flag is only equivalent to a `scrolling-gesture-end` event if you also allow firing wheel events with zero deltas. You want to be able to detect the moment at which the fingers are lifted from the touchpad, even if they're lifted without any further scrolling.

[2017-09-08 13:59] RByers opened #216 "Imperative API to request suppression of panning and zooming"
The only way to suppress panning and zooming with Pointer Events (or passive Touch Events) is via the declarative `touch-action` API.  This works great in most cases, but occasionally there are special cases (like #178) which can't be solved with touch-action.  We certainly don't want to re-introduce all the performance problems of `TouchEvent.preventDefault`, but chatting with @mdittmer this morn

[2017-09-08 14:02] RByers commented on #178
#216 suggests what seems like both a simpler and more powerful solution this class of "dwell gesture" problems.  Please weigh in there.

[2017-09-08 14:06] RByers commented on #178
One potential advantage to sticking with `touch-action` for this problem is that it may be easier to adopt for sites using passive Touch Events without switching to Pointer Events.  But since we concluded above we'd really need a new event type anyway, I'm not sure there's really much benefit.

[2017-09-08 14:13] flackr commented on #216
Would having something like preventDefault on a passive event return a Promise be a reasonable workaround here? I.e. until the panning has started calling preventDefault on a passive touchmove event listener event will resolve the promise and prevent panning?

[2017-09-08 14:13] RByers commented on #216
Note that this API would obviously be required to work beyond long after the associated `PointerEvent` had been dispatched.  I imagine developers would save the "current pointer" from a `pointerdown` listener, and invoke `tryDisableTouchActions` on it in a timer callback.  One downside to this is that it could lead to developers keeping `PointerEvent` instances alive longer than necessary (eg. not

[2017-09-08 14:16] RByers commented on #216
That's conceptually the idea.  We can't change the return value of `Event.preventDefault` so we need some new API.  And panning/zooming is intentionally not the "default action" of a pointer event, so to solve this for pointer events it shouldn't be associated with `preventDefault`.

[2017-09-08 14:27] flackr commented on #216
I like the idea, I think it works well for these scenarios.

Is there any chance we may also want to allow setting another touch-action rather than just consuming the active event stream?

[2017-09-08 14:31] dtapuska commented on #216
Isn't the Promise really just a proxy for allowing a delayed touch-action to be set? I still don't like the unpredictability of these approaches. I'd prefer a css driven approach where we indicated that say a touch-action: none is applied after x milliseconds if the gesture hasn't started. That is an exact definition of the problem we are trying to solve.

[2017-09-08 15:47] mustaqahmed commented on #216
I also think a CSS based approach is better. But adding millisecond-level granularity seems too much because we really don't want to allow an arbitrary delay for hold-drag or anything else, right?

The `unless-long-press` idea proposed in #178 seems cleaner from that perspective: there is only a single (and "established") delay threshold to worry about.

If we go for a Promise-based approach, the

[2017-09-08 16:01] flackr commented on #216
The issue with either specifying a timeout or having a fixed timeout is the lack of flexibility. It may turn out not to matter, but the developer may want a custom timeout - or may even want to make the decision based on the events seen so far.

I don't think a promise makes any guarantee about timing, just as a request promise will come later. The advantage is that you can have complex logic deci

[2017-09-08 16:02] mustaqahmed commented on #216
Since we are discussing imperative APIs here, a non-Promise-based solution could be considered: after the call  `event.disableTouchActionOnHold()`, the browser would fire a `touchactioncancel` event with the same `pointerId`.

[2017-09-08 16:54] mdittmer commented on #216
I was actually thinking of this as being less constrained than @RByers suggests. If I understand correctly, Rick suggested that the promise resolves true iff pan/zoom have not been active since the touch gesture began. What I had in mind was ... iff pan/zoom is not currently in progress. That seems like it would be useful for more gestures than just long-press (which was the example use case we ha

[2017-09-08 20:09] RByers commented on #216
I'm actually proposing it DOES disable immediately if possible.  In practice it should resolve very quickly (in chromium it's just an async mojo call to the browser process, so latency really depends only on the availability of the main thread when the call completes - should often be sub-1ms).

That's what makes this approach more flexible - the app can decide itself when and under what condition

[2017-09-08 20:14] RByers commented on #216
What do you mean by "not currently in progress"?  You mean maybe the user started moving their finger, then held still for awhile?  I don't think there would really be a well-defined concept there - once a pan or zoom has started at all, there's likely to always be a little bit of finger movement that continues to affect the position (even if the user thinks they're holding their finger still).  O

[2017-09-15 16:27] annevk opened #217 "Add [Exposed] to all interfaces"
Needed for https://github.com/heycam/webidl/issues/365.

[2017-09-21 20:56] patrickhlauke commented on #217
assuming (naively) that pointer events are only exposed on window?

[2017-09-22 08:15] annevk commented on #217
Yeah.

[2017-09-22 08:35] patrickhlauke commented on #217
@annevk cool so assume https://github.com/w3c/pointerevents/pull/218 will address this then

[2017-09-22 08:45] #217 closed, assigned to nobody

[2017-09-28 17:45] NavidZ opened #577 "Can any code be run between mouseup and click handlers?"
This issue is raised in a [chromium bug](https://bugs.chromium.org/p/chromium/issues/detail?id=18833) and shows some behavioral difference among browsers:

When the mouseup happens and click is fired right after that is it guaranteed that click handler will be right after mouseup handler? Can a promise get resolved in the mouseup handler and be run before click handler? How about style changes? I

[2017-10-02 11:03] smaug---- commented on #176
What does "If this method is invoked while the page has a locked element ([PointerLock]), throw an exception with the name InvalidStateError." mean? What is a "page"?
Does it contain top level document and documents in iframes or what? The spec doesn't explain this.

[2017-10-02 11:09] smaug---- opened #219 "Should "Setting Pointer Capture" with elements which are in document, but doesn't have associated browsering context"
The spec has just "If the Element on which this method is invoked does not participate in its ownerDocument's tree, throw an exception with the name InvalidStateError."
That means that document.implementation.createHTMLDocument().body.setPointerCapture(id) should work, which is rather surprising. If that works, why the need for element to be in any document?

[2017-10-02 11:11] smaug---- opened #220 "It isn't clear what "page" means in "Setting Pointer Capture""
What does "If this method is invoked while the page has a locked element ([PointerLock]), throw an exception with the name InvalidStateError." mean? What is a "page"?
Does it contain top level document and documents in iframes or what? The spec doesn't explain this.

See #219

[2017-10-02 11:16] smaug---- opened #221 "Should setPointerCapture work in Shadow DOM"
Per spec setPointerCapture shouldn't work in Shadow DOM, but f I read for example Chromium's source code right, it doesn't use "does not participate in its ownerDocument's tree", but Shadow including connected() check.

[2017-10-02 11:55] smaug---- commented on #131
How is this fixed? Per spec "movementX/Y must be zero for all mouse events except mousemove." and since PointerEvents are MouseEvents, but not "mousemove", movementX/Y should be 0.

[2017-10-02 11:55] smaug---- commented on #567
How is this fixed? Per spec "movementX/Y must be zero for all mouse events except mousemove." and since PointerEvents are MouseEvents, but not "mousemove", movementX/Y should be 0.

[2017-10-03 06:39] mingchou opened #222 "When to continue firing pointer events after a drag operation?"
Follow #194, spec says UA must fire pointercancel immediately before drag operation starts. Spec also says UA must also fire pointerout and pointerleave after pointercancel. But spec doesn't mention when to continue firing pointerevents (e.g. after drag operation ends or something).

Tested with hoverable device, Chrome and Edge continue firing pointer events when the drag operation ends. But Chro

[2017-10-03 18:28] scheib commented on #607
Would someone research & post the current state of implementations?

[2017-10-05 10:14] piotr-cz commented on #178
I'm facing exactly same problem, as @RByers described:
In the app I'm working on users should be able to move elements inside a scrollable container.

As soon as touchstart fires, container should lock it's position so user is able to drag elements, without panning around.

It's not possible to achieve by adding the `touch-action: none;` property - it has no effect after touchstart.
Two possible w

[2017-10-06 19:53] smaug---- opened #223 "How is pointer event ctor supposed to work when coalescedEvents is passed using the PointerEventInit"
It isn't clear what is supposed to happen when coalescedEvents is passed using the PointerEventInit.
Does the event have some internal array of pointer events or what? Does coalescedEvents work only when type is pointermove?

Gecko bug related to this: https://bugzilla.mozilla.org/show_bug.cgi?id=1303957.
I guess we'll implement some guess what the spec might try to say

[2017-10-06 20:04] dtapuska commented on #223
Most Event ctor generally take the arguments as the user has specified even if they logically don't make sense. I'd expect pointer event to be like this.

[2017-10-06 20:48] smaug---- commented on #223
yeah, I'd expect that too, but the explanation of getCoalescedEvents() says
"Returns a sequence of all PointerEvents that were coalesced into the dispatched pointermove event."

What if the event wasn't dispatched at all? What if one just creates a pointer event and passes coalescedEvents in the init. What should getCoalescedEvents() return?
I'd expect the array which was passed in, but per spec t

[2017-10-06 21:11] dtapuska commented on #223
Feel free to make a pull request with some alternate text. This really shouldn't be around the getCoalesecedEvent call but really how the coalescedEvents is initialized by the user agent by default.

[2017-10-06 23:30] NavidZ commented on #223
Regarding the event that are being created in js I remember talking to @RByers and he was saying the ctors usually don't do any checks and just initialize properties from the stuff in the dictionary. So we went with that idea and whatever you put inside the initialization dictionary will be inside the pointerevent object regardless of what js set the type of the event be or what no.
We have [a tes

[2017-10-07 16:29] smaug---- commented on #223
Yeah, that sounds reasonable, but can we get that also to the spec?
Currently getCoalescedEvents() is limited to pointermove + event dispatch, and I don't understand why.

[2017-10-13 14:16] mustaqahmed commented on #107
Looks like we can partially test fractional coordinates even without w3c/uievents#120 , through trivial changes in the web-platform-test [pointerevent_constructor.html](https://github.com/w3c/web-platform-tests/blob/master/pointerevents/pointerevent_constructor.html).

@RByers: Do you think it's a reasonable thing to do even without a change in spec wording?   I am assuming that PointerEvents can

[2017-10-19 09:23] mingchou commented on #222
I'm going to implement the behavior of firing pointercancel immediately before drag operation starts for Firefox. But I'm blocked by this question about when to continue firing pointer events and what are the expected boundary events. Wondering whether Edge or Chrome's behavior is expected?

[2017-10-19 17:39] bzbarsky opened #578 "Activation behavior and click interaction is not specified"
https://w3c.github.io/uievents/#event-type-click says:

But https://w3c.github.io/uievents/#event-flow-activation doesn't actually describe how to dispatch said click events.  That is, hitting "Enter" on a link should presumably dispatch a click event, but it's not defined anywhere how this works (e.g. what the properties of this event are, where it's dispatched to, etc).

[2017-10-20 11:35] smaug---- opened #224 ""This API always returns at least one coalesced event for pointermove events and an empty list for other types of PointerEvents.""
So, if one creates new pointermove event using JS (but passes empty array as coalescedEvents), does getCoalescedEvents really return non-empty array?

Also, the spec contradicts itself.
"None of the events in the sequence will have (nested) coalesced events, so getCoalescedEvents returns an empty sequence for them."

So, empty sequence for the _pointermove_ events in the list, but

"This API alway

[2017-10-20 19:13] EiraGe opened #225 "What should be the width/height of touch pointerUp?"
Edge used to have touch pointerup width/height as 0, but it's not anymore.  Edge seems returning some interger between 1 to 5 now. Is it an implementation change?
Also Firefox, it seems randomly have 0 and 1.
What do you think about pointerup width/height for touch? Should it be 0 as the pressure?
@patrickkettner @smaug---- @mingchou

[2017-10-20 23:51] mingchou commented on #225
We generate pointer events from touch events on Firefox. Width and height come from touch radius, which is fetched from OS. Checked [touch event spec](https://w3c.github.io/touch-events/#touch-interface), it says "The radius of the ellipse which most closely circumscribes the touching area along the axis indicated by rotationAngle, in CSS pixels of the same scale as screenX; 0 if no value is known

[2017-10-21 02:30] RByers commented on #205
Chrome 62 has just rolled out to stable and there's a (google internal) report of at least one site being broken by the `pointercancel` that occurs during a drag.

@NavidZ @appsforartists can you summarize why you believe `pointercancel` is better than just what Edge is doing with `lostpointercapture` and `pointerleave` in this scenario?  It seems reasonable to me that DnD would behave like some o

[2017-10-21 03:49] NavidZ commented on #205
The solution you are saying which was only sending the **lostpointercapture** was the one we explored here at first #194 . But then @appsforartists mentioned [here](https://github.com/w3c/pointerevents/issues/205#issuecomment-300366762) in this comment that **pointercancel** is reasonable to be there. I couldn't argue against that as it also does sound reasonable to me due to the stream of events

[2017-10-21 12:56] patrickhlauke commented on #205
for logical consistency it would make sense to fire `pointercancel` when the browser takes over the gesture (as happens, for instance, when the browser scrolls and that scrolling was not suppressed via `touch-action`).

[2017-10-21 14:44] appsforartists commented on #205
I'm on the road this week, so slower to respond to GH issues.  Sounds like @NavidZ has it covered though.

Feel free to ping me the issue if it's something I can take a look at.

[2017-10-28 07:45] phistuck commented on #203
Looks like EdgeHTML 16 shipped pen-action.
https://codepen.io/MicrosoftEdgeDocumentation/pen/jLGZZY

[2017-10-30 15:46] mustaqahmed opened #226 "Can one active pointer cancel other pointers of different types?"
The spec should be clear if a touch-action initiated by one pointer cancels all other pointers or not.

The model Chrome (and perhaps Edge also) supports today is that any scroll/zoom caused by _some_ active pointers triggers firing of `pointercancel` for _all_ active pointers.  This works great for multiple touch pointers because all our fingers on the touchscreen effectively define a single gest

[2017-10-31 14:31] EiraGe commented on #225
Thanks for the reply @mingchou. Sorry that I'm slow in replying. It's not causing any problem, I just want to make it clear before we work on Chrome's implementation.
We are thinking that when pointerup, there is no touch in contact with the screen. Similar to ``pressure``, the spec specified that  **all pointerup events will have pressure 0**, should we have the same thing for ``width``/``height`

[2017-11-01 02:49] mingchou commented on #225
Sounds reasonable to me. Is this also applied to pointerup with a stylus?

[2017-11-01 19:35] smaug---- commented on #224
@NavidZ right now it is rather impossible to follow the spec when trying to implement getCoalescedEvents. Any chance you could take a look at this?
How does this all work in Chrome currently?

[2017-11-01 19:46] mustaqahmed commented on #225
Whatever we do, all pointer types should reflect it.  We shouldn't treat "touch" in a special way.

This is somewhat related to #65 where we discussed hovering width/height for mouse.  The discussion there suggests to me that _not_ resetting width/height on `pointerup` is a better option:
- For paint apps that would possibly care the most about width & height (e.g. Rick's [paint.html](https://rbye

[2017-11-01 19:47] NavidZ commented on #224
Sorry for the delay. Apparently I missed this issue before.

Yes. They can also create a pointerdown event and pass a non-empty array as coalescedEvents and they will get the same array from that object. In general the constructor doesn't modify what is fed by the developer. Whatever guarantee you will see in the spec is for the trusted events. I believe that is the same pattern in other places as

[2017-11-01 19:55] smaug---- commented on #224
I don't understand this.
window.addEventListener("pointermove", function(e) { console.log(e.getCoalescedEvents()); } ); window.dispatchEvent(new PointerEvent("pointermove"));
prints empty list in Chrome.

[2017-11-01 19:58] NavidZ commented on #224
You are firing an un-trusted event. When the spec talks about the guarantees it implies that they hold for the trusted events (fired by the browser). Does that make it better?
Instead of using window.dispatchEvent, move your mouse around so browser fires the events itself and you will see a non-empty list all the time.

[2017-11-01 20:02] smaug---- commented on #224
Yes, I know I'm firing un-trusted event, but the spec needs to be clear what happens when such event is fired. So yes, being explicit with when the array is guaranteed to be non-empty is needed in the spec.

[2017-11-01 21:02] NavidZ commented on #224
I totally agree with you myself. So I can add a trusted restriction somewhere. But just to make sure we are on the same boat here. What do you think about guarantees in the other specs? For example this in the original PointerEvent spec:

Do you agree this and a lot of other instances fall into the same bucket and are inaccurate the same as this issue here? Because a non-trusted pointerup event ca

[2017-11-01 21:24] smaug---- commented on #224
oh, it does fall into the same bucket yes. But somehow the issue was more visible in this extension spec text.

[2017-11-01 23:18] mingchou commented on #225
So width and height are not really "contact" geometry, they are more like the geometry of the input device?

[2017-11-02 15:27] smaug---- opened #227 "Should getCoalescedEvents() return always the same objects or new instances with same data?"
I didn't test yet what Blink does.
Need to test this during event dispatch, and also after event dispatch if JS keeps a ref to the event.

@NavidZ

[2017-11-02 15:33] NavidZ commented on #227
Blink returns the same object. What do you think is better?

[2017-11-02 15:38] smaug---- commented on #227
Blink's behavior sounds reasonable.

[2017-11-02 15:39] smaug---- commented on #227
Does it return the objects also if the event  has been dispatch and getCoalescedEvents is called way after the event dispatch? So the event does keep the coalesced events alive, right?

[2017-11-02 15:45] NavidZ commented on #227
Yes. It does keep them alive for as long as the event itself is alive.

[2017-11-02 20:48] NavidZ commented on #225
@mingchou to my understanding yes. But more accurately we report what the device reports us. So the device is in charge of translating that geometry to a number. If it can report a valid width and height for a hovering pointer we should be using that.

@mustaqahmed I believe the decision for the width/height=1 for mouse was that if we had a device that doesn't support reporting the width/height we

[2017-11-02 20:51] NavidZ commented on #225
Also a compatibility note. The same unknown value in the [touch event spec](https://w3c.github.io/touch-events/) is set to 0 for touch points.

So if we were to be consistent are we okay with reporting 0 for touchend touch points as well?