[2015-04-10 10:34] AFBarstow opened #4 "Value of button in a chorded pointerdown event"
This Issue captures the following email from  Stuart P. Bentley stuart@testtrack4.com on 16 Mar 2015

[[
https://lists.w3.org/Archives/Public/public-pointer-events/2015JanMar/0029.html

It's not clear in the 24 February 2015 draft - what is the value of
`button` supposed to be when multiple buttons are pressed in a
`pointerdown` (or `pointerup`) event (as the current spec says only one
event will

[2015-04-10 10:51] NekR commented on #4
I believe this means what `buttons` are bitmask since behavior of `buttons` is not overridden by PE spec, but only `button` behavior.

Does some one think it should be explicitly redefined? Are there case in other specs when some interface inherits from another in remote spec and then redefines unchanged-inherited properties at new interface?

[2015-04-17 15:30] RByers opened #6 "Touch-action isn't flexible enough for direction-specific behavior"
See https://lists.w3.org/Archives/Public/public-pointer-events/2015JanMar/0033.html

[2015-04-17 15:32] RByers opened #7 "Mouse Event compatibility model for touch is incompatible with current practice"
Existing web code expects mouse events for touch only after the end of the event sequence ("gesture based mouse event compatibility").  The model defined by pointer events is incompatible with this.  This is especially problematic on a page that has components which both use touch and pointer events.

IE is already exploring doing this.  See "simplify mouse events for touch" in this [IE blog post]

[2015-04-17 15:33] RByers opened #8 "Pointermove should not require a hit-test by default for touch"
From https://lists.w3.org/Archives/Public/public-pointer-events/2015JanMar/0041.html:

[2015-04-17 15:35] RByers opened #9 "Define event order relative to RAF?"
Some developers / frameworks that prefer to operate on all touch points at once (like TouchEvents TouchList API style).  I'd like to be able to recommend a simple library for doing this conversion.  Unfortunately today it would probably depend on a particular browser implementation detail for great smoothness / performance - namely that pointer events are dispatched (for all touch points) shortly

[2015-04-17 16:15] patrickhlauke commented on #7
For info, I've (as ever) documented the event sequence here http://patrickhlauke.github.io/touch/tests/results/#desktop-touchscreen-events

Windows 8/IE 11: `mousemove > pointerover > mouseover > pointerenter > mouseenter > pointerdown > mousedown > (gotpointercapture) > focus > pointermove > mousemove > pointerup > mouseup > (lostpointercapture) > pointerout > mouseout > pointerleave > mouseleave

[2015-04-17 16:19] RByers commented on #7
Thanks Patrick!  When we talked to Jacob about this on a call it sounded like they wanted some more implementation experience with this approach first before he really wanted to commit to it.  I'm fine waiting for this (we'll proceed in Chrome implementing the new model and can gain some experience with it ourselves, I have no plans ATM to implement the model as currently spec'd).

[2015-04-17 16:25] patrickhlauke commented on #7
Sure, sorry...not trying to jump the gun here...just making sure I put my current knowledge/thoughts "on paper" here :)

[2015-04-17 16:37] RByers commented on #7
Not at all - that's perfect, thanks!  Just wanted to avoid you burning a bunch of time potentially trying to come up with a pull request only to have Jacob ask us to wait :-)

[2015-04-17 18:56] scottgonzalez commented on #9
I think it's reasonable to include this in the spec.

[2015-04-17 18:59] scottgonzalez commented on #8
This would only apply while a pointing device is down, correct? In the case of touch, you don't get move events unless there's a down action, so this would cover the existing Touch Events API scenarios. However, when using a mouse, or hovering with a stylus, you need hit tests to determine enters and leaves.

[2015-04-17 19:22] patrickhlauke commented on #8
I think it should also apply to mouse (when a mouse button is pressed) and stylus (when a button is pressed/it touches the screen), as otherwise you'd end up with automagic pointer capture/different pointermove behavior based on input device, which would make writing input-agnostic code more challenging...

[2015-04-17 19:36] scottgonzalez commented on #8
Yes, it would apply to all pointing devices. I was just clarifying that this is only the case when the device is "down." When the device is "up" we will default to a hit test on every move so that hover works correctly.

[2015-04-17 19:47] RByers commented on #8
Right, sorry I should have clarified - what I really care about is touch dragging (since that's where direct manipulation style UIs are most natural, plus is the case that tends to matter most for performance).  I agree it would make the most sense for stylus and mouse to be consistent with touch but if necessary for compatibility I could be convinced to give that up (and just encourage developers

[2015-04-17 20:07] scottgonzalez commented on #8
It should definitely be consistent. I think a more accurate title would be something like "ponterdown should apply an implicit capture."

[2015-04-17 20:13] RByers commented on #8
Unfortunately there's a little more to a solution than an implicit capture (even when captured, hit tests are required to send the pointerover/pointerout events).

[2015-04-17 21:32] patrickhlauke commented on #8
So are these potentially two separate issues? An implicit capture, and then a change to pointerover/pointerout when captured (implicitly or explicitly)?

[2015-04-17 21:43] scottgonzalez commented on #8
I recall discussions about wanting the over and out events during capture so that you can implement a button that captures, but changes state when you move out of it. This is generally how standard buttons work today.

[2015-04-17 21:44] scottgonzalez commented on #8
So I guess the implicit capture needs to be defined differently than the explicit capture.

[2015-04-19 16:47] AFBarstow opened #10 "Mirror Github activity to public-pointer-events"
@dontcallmedom  @shepazu  - the Pointer Events WG would like all activity at github/w3c/pointerevents (new Issues and subsequent discussion, Pull Requests, commits, etc.) to be mirrored to the group's Public mail list (public-pointer-events). Would you please configure the github/w3c/pointerevents repo to do this or let us know who we should contact to do this mirroring?

[2015-04-20 07:40] dontcallmedom commented on #10
done

[2015-04-20 07:40] #10 closed, assigned to nobody

[2015-04-20 10:27] AFBarstow commented on #10
TY @dontcallmedom !

[2015-04-20 14:04] AFBarstow opened #11 "Configure this repo to use gitbot and the #pointerevents channel"
Want to use gitbot with the #pointerevents channel, so that, f.ex., PRs and commits are dumped to the channel.

[2015-04-20 14:10] RByers commented on #4
I know there was some debate over whether it was OK to a add new (negative) value to button, I'll try to dig up the references.

As for what should happen, it looks like IE updates 'button' to indicate the most recent button change (eg. on chorded button press, there's a pointermove event with button representing the new button being pressed).

The [MouseEvent spec says](http://www.w3.org/TR/DOM-L

[2015-04-20 14:16] RByers commented on #4
Note I think there is no such thing as a "chorded pointerdown".  One button is always considered to have been pressed before another (with order being irrelevant since it's indistinguishable from arbitrarily-fast hardware).

I think the only real question here is how 'button' behaves on the pointermove events that occur while multiple buttons are down.

[2015-04-20 20:07] RByers commented on #8
Yes, that's the direction I'd like to try (or maybe instead of treating implicit capture differently, setPointerCapture lets you specify whether you want over/out and implicit capture never asks for over/out).  But this might be too breaking, and there are other possible solutions (I believe Jacob has some ideas of his own).  So we probably want to keep this issue described in terms of the outcome

[2015-06-16 15:53] RByers commented on #6
Landed in df02c702b8e35b646a8ce054dc0f2db2116f5d2e
Tweaked in 8548506a7db4de67fa6b8ca997887fdb6a0c8056

Let's keep the issue open until we have consensus that we feel this is ready to ship though.  We owe the group some demos, etc.

[2015-06-17 17:52] jacobrossi opened #14 "Support hovering button states"
[Originating thread](http://lists.w3.org/Archives/Public/public-pointer-events/2015AprJun/0080.html)

The latest proposal looks something like this:
- Allow `buttons` to change while hovering
- Restrict pointerdown/up to only be for left buttton, touch, and stylus tip on screen (e.g. `button` value of 0)

We should also consider:
- should `click` fire for hovering button presses?
- should there be

[2015-06-17 20:58] patrickhlauke commented on #14
Expanding the thought, though, we could also consider a hovering left-click or menu/context click (but not an erase button press) as an actual (faked) sequence of `pointerdown` > `pointerup` > `focus` > `click` sequence, i.e. making it equivalent to the user actually tapping the screen surface briefly. I assume that this would improve compatibility for scripts that are listening out for (some of)

[2015-06-17 22:25] jacobrossi commented on #14
See me last mail to the list. But hover barrel button presses don't map to right-click usually (at least they don't in Windows).  For that reason and for compatibility, I don't think we fire click in this scenario.  But a new event, like `pointerbuttonschange` might be a good addition.

I don't want to add a non-normative note of that type as it just promotes browser behaving differently. We shoul

[2015-06-17 22:41] patrickhlauke commented on #14
oh, my mistake...I could have sworn in some of my early testing on Surface 3 it did, but rechecking it now you're of course right.

Wondering though about the Wacom Bamboo, which does seem (at least from its documentation) to have both left- and right-click when hovered, and whether or not this sort of feature would be expected/desired - which brings us back to the original question, I guess

[2015-06-17 22:44] patrickhlauke commented on #14
Regarding `pointerbuttonschange` type event - would that then supercede the

bit in https://w3c.github.io/pointerevents/#the-pointermove-event ?

[2015-06-18 00:17] jacobrossi commented on #14
Probably not just out of the sake of compat. I think we could fire both
without issue.
On Jun 17, 2015 3:44 PM, "Patrick H. Lauke" notifications@github.com
wrote:

[2015-06-18 15:44] scottgonzalez opened #15 "Determine when boundary events are fired after capture is released"
If an element has pointer capture enabled and you move out of the element into another element, then release the button, what is the expected series of events after releasing the button?

In IE11, you only get a pointerup event on the capturing element. The pointer must then be moved again in order to get pointermove, poinerover, and pointerenter on the element that's currently hovered.

There was

[2015-06-22 17:59] RByers opened #16 "setPointerCapture should be disabled in sandboxed iframes by default"
The [algorithm for setPointerCapture](https://w3c.github.io/pointerevents/#setting-pointer-capture) says nothing about different iframes.

If, for example, code running in some iframe happens to call setPointerCapture for a pointer ID that would otherwise have its events sent to another frame, then setPointerCapture should presumably fail somehow (eg. to prevent input stealing).  How exactly shoul

[2015-06-22 18:02] RByers commented on #16
This is related to [this discussion](https://lists.w3.org/Archives/Public/www-dom/2015AprJun/0072.html) about the correct default behavior for Mouse Events

[2015-06-25 02:51] jacobrossi commented on #16
I suppose the reason the spec doesn't say this is because there isn't any specialized limitations that I'm aware of.  This happens to work because:
1. the API requires it be called while the pointer is down.
2. the API is called off an element, which means you have to have access to that element to call it. This means the same-origin policy applies.
3. the target property is fixed for the events o

[2015-06-25 03:26] RByers commented on #16
Thanks, this mostly sounds good to me (I love the lack of special cases here).  But I'm worried it's not quite enough to maintain security properties I thought were important (so figured there was probably some special case in implementations here).  In particular, if the assignment of pointer IDs is predictable, then this allows an iframe to steal input events for touches that are nowhere near it

[2015-06-25 04:08] jacobrossi commented on #9
We don't throttle our pointer events today. So they get put in our queue as soon as the device driver and OS send it to us. That gets dispatched when the message loop is pumped.  Our touch events are throttled to the vsync (like RAF), however.

The difference here is a tradeoff between performance and fineness of detail.  A painting app might prefer more events per frame for finer detail. A game j

[2015-07-02 23:54] RByers opened #17 "Latest published spec link is wrong"
It points to [http://www.w3.org/TR/pointerevents-level-2/](http://www.w3.org/TR/pointerevents-level-2/) because we changed the short-name from pointerevents to pointerevents-level-2.  Do we really want to change the shortname for a new version of the spec?

[2015-07-08 20:45] jacobrossi commented on #17
Yeah, since this spec isn't errata but a new REC-track spec it needs a separate shortname.  This is like CSS3 Selectors versus CSS4 Selectors.

That said, we haven't published a WD of the new spec yet. So we could probably hide this link until we do (since it 404s right now).

[2015-07-09 01:21] RByers commented on #17
Ok.  Looks like there's no easy way to do that (latestVersion is [supposed to be always auto-generated](https://github.com/w3c/respec/blob/1bba41b914f7186eb4968599bd2b4c15edbe94df/js/w3c/headers.js#L72) and there's no ID to style).  Presumably this is normal for new EDs - published version is just 404.  I'll just ignore it :-)

[2015-07-09 01:21] #17 closed, assigned to nobody

[2015-07-09 03:24] RByers commented on #9
Interesting, thanks.

For maximum smoothness we've found it valuable to [align input with vsync, using interpolated positions](https://docs.google.com/document/d/1L2JTgYMksmXgujKxxhyV45xL8jNhbCh60NQHoueKyS4/edit#heading=h.30fbj1j9p434).  You can see this in practice on [this demo page](http://rbyers.github.io/event-timing.html).  Without this even a 60hz touchscreen can trigger occasional jank whe

[2015-07-09 13:43] tdresser commented on #9
[This](http://jsbin.com/yavuto/quiet) page graphs the horizontal (red) and vertical (green) separation between two fingers during a two finger scroll.

In current Chrome, there's an ugly alternation between a large delta and a small delta on the primary axis of movement, as we send one touchmove after the first finger updates each frame, and another touchmove after they've both updated. This would

[2015-07-09 14:08] RByers commented on #9
Yep, that's the one - thanks.  When you say "current Chrome" you mean Chrome desktop, right?  It's fine on Android precisely because the OS does deliver the events in bundles per frame.

[2015-07-09 14:23] tdresser commented on #9
Sorry, you're right, its fine on Android.

[2015-07-09 16:03] tdresser commented on #9
[This](http://output.jsbin.com/kaguvu/quiet) version of the demo also works with pointer events. The output is very similar to Chrome desktop. This demo paints when receiving a pointer event, not on RAF.

[2015-07-09 16:18] smaug---- commented on #9
Doing more and more stuff around RAF postpones actual graphic updates, so that may not be good for UX. This is a generic issue with the platform.
https://www.w3.org/Bugs/Public/show_bug.cgi?id=28644
https://www.w3.org/Bugs/Public/show_bug.cgi?id=28876

It is not quite clear to me how that issue should be fixed.

[2015-07-09 16:40] RByers commented on #9
Whao, this version of the demo makes the difference between Android/iOS and pointer events glaringly obvious.  As expected, there's a huge bi-modal behavior of the distance between the fingers.

Jacob, how does the MSGesture implementation deal with this?  Does it buffer/postpone or smooth events?  Or does it have some internal hook to know about event bundles (when supported by the hardware)?

[2015-07-19 14:12] stuartpb opened #572 "Browser compliance (especially re: click)"
Could use some out-of-spec info/discussion regarding how close browsers are currently to complying with the spec in this WICG thread: http://discourse.wicg.io/t/ui-events-wd-compliance/933

[2015-08-10 14:58] RByers commented on #8
If we were to make all pointer events implicitly captured, what would we do about the compatibility mouse events?  Today mouse events are (almost) always delivered to the same node as the pointer events.  I think it would be problematic to break that.  But it would probably be a huge breaking change for the web if mouse events suddenly became implicitly captured.

Perhaps the only pragmatic way ou

[2015-08-10 15:28] patrickhlauke commented on #8
this seems appropriate to me as well. `touch` could have implicit capture, while `pen` (because of hovering stylus issues) and `mouse` would require explicit capture?

[2015-08-10 15:48] RByers commented on #8
`touch` and `mouse`, yes.  I'm less sure about `pen`.  Technically it's a direct-manipulation input device.  In chromium we're expecting to have two very different types of pen support.  On Android pen will continue to be 'touch-like' (dragging scrolls and fires touch events), while on Windows it'll be 'mouse-like' (dragging selects text and fires mouse events).  Perhaps the capture behavior shoul

[2015-08-10 16:23] patrickhlauke commented on #8
maybe philosophical, but is a stylus still a direct manipulation input when it's hovering (which still fires certain events, on supported devices)? because at that stage, your movements in the air are indirectly moving a separate cursor drawn on the screen...

[2015-08-10 16:24] patrickhlauke commented on #8
perhaps it should only implicitly capture once it makes contact with the surface, and require explicit capture otherwise? or is that getting too granular/magic?

[2015-08-10 16:38] dfleck commented on #8
And what about an opaque tablet? Not all “tablets” are on-screen.

[2015-08-10 16:42] RByers commented on #8
Oh yeah I've always expected "implicit capture" to take effect on contact only.  Personally I wish we had separate events for hover-move and drag-move, but it seems fine to me for hover-move to be  never-captured pointermove (as spec'd today) and drag-move to be implicitly-captured (but explicitly re/un-capturable) pointermove.

Big picture: there's nothing to capture to in hover scenarios.   I th

[2015-08-10 16:49] RByers commented on #8
@dfleck, right those are definitely indirect manipulation.

I think the only possible justification for the stylus drag behavior (scrolling or text selection) is consistency with platform conventions.  On Windows dragging an on-screen stylus doesn't scroll but on Android it does.  So we should not try to over-specify this in the PE spec - it's a property of the underlying platform.

So perhaps we

[2015-08-10 20:11] jacobrossi commented on #8
I'm just spitballing, but I think it's probably possible (e.g. compatible) to have implicit capture for pen (in contact) while still having the varied platform behavior for default actions (Android: scrolling, Windows: selection). Or put another way, it's probably no more incompatible than making touch suddenly have implicit capture (which I'm still worried about, honestly).

[2015-08-25 19:53] RByers commented on #9
Updating the summary to describe a concrete problem as exhibited by the demo.  Maybe it's OK for this to be implementation dependent, but that means that, say, a pinch implementation that works well on Chrome Android may be pretty ugly on Edge (and it's not clear to me how it should be made to behave well on Edge at all).

[2015-09-08 14:09] RByers opened #19 "Touch action processing model doesn't match IE/Edge behavior around zooming"
Hey,
The [touch-action processing model](https://w3c.github.io/pointerevents/#the-touch-action-css-property) says:

This makes sense for scrolling, but what about zooming?

In particular, we've been saying "use `touch-action: manipulation` to disable the click delay" but what if your page has scrollable divs?  Do you need to re-apply `touch-action manipulation` to each scroller to ensure the click

[2015-09-11 19:46] RByers commented on #19
@teddink said (on the list):

[2015-09-11 19:52] RByers commented on #19
No, sorry - it doesn't (sorry, I should have provided a concrete repro from the start).  For [this concrete test case](http://output.jsbin.com/tipure/), double tap inside the scroller.  The scroller satisfies the "nearest ancestor that has a default touch behavior" clause (because it can scroll), but Edge appears to not actually stop there.  Instead it takes the touch-action of it's ancestor into

[2015-09-18 15:03] RByers commented on #9
Note that iOS 9 [now does this by default too](https://developer.apple.com/videos/wwdc/2015/?id=233), just like Android (with a [`coalescedTouchesForTouch` API](https://developer.apple.com/library/prerelease/ios/samplecode/TouchCanvas/Listings/TouchCanvas_CanvasView_swift.html#//apple_ref/doc/uid/TP40016561-TouchCanvas_CanvasView_swift-DontLinkElementID_6) to get the raw un-aligned / uncoalesced i

[2015-09-18 15:11] RByers opened #22 "Add an API to get pre-coalesced points"
When a web app is slow, most browsers will coalesces multiple movement events into a single one (with the latest position only).  This is perfect for scenarios that care most about minimizing latency, but unfortunate for scenarios (like art applications) where maximum motion detail is required.  Similarly, many OSes will artificially align input to v-sync for maximum motion smoothness, but for dra

[2015-09-18 15:12] RByers commented on #9
Maybe we'd want to block doing anything here on adding an API for getting coalesced (un-aligned) points?  Filed #22.

[2015-09-20 09:02] patrickhlauke commented on #22
Purely from a layman's "I like to make funky things with JS" point of view, I'm intrigued by this. Presumably, I'd be easy to then iterate over the array in sequence (i.e. the array has a defined chronological order for each `PointerEvent` contained inside)?

[2015-09-20 11:08] RByers commented on #22
Yep, roughly instead of:

[code]

You'd have something like:

[code]

On a device with a 120hz touch scan rate (eg. Nexus 5) you'd get lines that have twice as many points.

[2015-09-20 11:10] RByers commented on #22
One risk here is that people would end up using this for other (more common) scenarios where it adds only wasted work (eg. dragging something around) and may decrease smoothness.  Perhaps we'd want to choose the API name carefully to help reduce the risk of this (maybe Android's "historical" term is better for this than iOS's more technically descriptive "coalesced").

[2015-10-06 22:48] garykac opened #599 "MouseEvent should have DOMString pseudoElement property like TransitionEvent"
Copied from W3C Bugzilla: https://www.w3.org/Bugs/Public/show_bug.cgi?id=22569
##### Elliott Sprehn 2013-07-03 23:53:52 UTC

Just like with TransitionEvent we should support pseudoElement on MouseEvent so when you click a ::before or ::after or ::backdrop the click event you get back tells you which pseudo element was clicked.

See: http://www.w3.org/TR/css3-transitions/

This is important for <di

[2015-10-06 22:52] garykac opened #585 "Expose ticks in wheel events"
Copied from W3C Bugzilla: https://www.w3.org/Bugs/Public/show_bug.cgi?id=23259
##### Gary Kacmarcik 2013-09-16 21:55:51 UTC

We should consider adding |ticks| to the wheel event.

There are many UX use cases where ticks are more appropriate than pixels, especially considering that pixel values vary from system-to-system (and can vary based on user preferences).

An example of when ticks are more a

[2015-10-07 03:54] garykac opened #600 "Proposal for UIEvent "role" property"
Copied from W3C Bugzilla: https://www.w3.org/Bugs/Public/show_bug.cgi?id=25655
##### caitp 2014-05-10 23:13:45 UTC

A modest proposal:

We have UIEvents, which should typically represent user interactions. These interactions get described in more detail in subclasses, such as MouseEvent, where some representation of the clicked button and coordinates are provided.

What I propose is that events ar

[2015-10-07 04:12] garykac opened #573 "Define that click doesn't fire on disabled elements"
Copied from W3C Bugzilla: https://www.w3.org/Bugs/Public/show_bug.cgi?id=26227
##### Ms2ger 2014-06-27 21:21:54 UTC

The HTML spec has:

It would be better if this was defined, or at least referenced, in the spec that actually fires these events.
##### Comment 1 Ms2ger 2014-07-29 10:10:44 UTC

Also for options at http://www.whatwg.org/html/#concept-option-disabled.
##### Comment 2 Arthur Barstow 2

[2015-10-07 04:27] garykac opened #601 "Specify MouseEvent.which"
Copied from W3C Bugzilla: https://www.w3.org/Bugs/Public/show_bug.cgi?id=27558
##### Philip Jägenstedt 2014-12-10 22:40:04 UTC

Every browser I tested supports this.

In Gecko it's simply button + 1.

In Blink/WebKit it's button + 1 except when button is 65535, in which case it's explicitly wrapped around to 0. This is odd and probably doesn't matter.

I suggest spec'ing the Gecko behavior.
#####

[2015-10-07 04:36] garykac opened #602 "Mouse coordinates represented in CSS pixels do not account for retina displays with window.devicePixelRatio > 1"
Copied from W3C Bugzilla: https://www.w3.org/Bugs/Public/show_bug.cgi?id=28029
##### Jukka Jylänki 2015-02-14 18:52:55 UTC

In e.g. the MouseEvent structure, the mouse xy coordinates are stored with the data type 'long', see here: http://www.w3.org/TR/DOM-Level-3-Events/#interface-MouseEvent .

There does not seem to be a clear documentation on how these coordinates relate to the value of window.d

[2015-10-07 09:59] foolip commented on #601
CC @rbyers @smaug---- @travisleithead (in case you didn't manually subscribe after the move)

[2015-10-07 15:01] patrickhlauke opened #23 "Explicit mention that `pan-x pan-y` is equivalent to `auto`?"
Currently, it's implict in the spec language that `touch-action: pan-x pan-y` essentially is equivalent to `touch-action: auto` with regards to default scroll handling. However, as I just had to delve into https://github.com/hammerjs/hammer.js/pull/855 and fix what seems to be a misunderstanding of those values, I'm wondering if we want an explicit informative note/boxout that says that. Happy to

[2015-10-07 17:46] mbrubeck commented on #23
I'm hesitant to say that these two values are "equivalent" since `touch-action: auto` may (and in practice does) allow more default actions than `touch-action: pan-x pan-y`.  Even with the "with regards to scroll handling" qualifier, it seems like this might confuse things more than clarify them.

However, maybe we can expand the definition of `auto` to explicitly say that it allows panning in bot

[2015-10-07 19:06] patrickhlauke commented on #23
I'd buy that for a dollar. Let me concoct something (as I was going to anyway for my http://patrickhlauke.github.io/getting-touchy-presentation/ presentation)

[2015-10-07 20:45] RByers commented on #23
Right, we were careful to avoid ANY "equivalent" legal touch-action values.  If there's confusion that  `pan-x pan-y` means "scrollable anywhere, but no zooming" we could consider adding a simple `pan` value (similar to how `pan-x` replaces `pan-left pan-right`).  But we of course then couldn't make `pan-x pan-y` illegal (without breaking existing sites).

[2015-10-14 00:31] travisleithead commented on #601
Note, we just moved `which`, `keyCode` and `charCode` up to UIEvent for Chrome interop (fixed a site issue).

[2015-10-14 09:50] smaug---- commented on #601
You moved keyCode and charCode o_O?  I don't see those in
UIEvent in Blink
https://code.google.com/p/chromium/codesearch#chromium/src/third_party/WebKit/Source/core/events/UIEvent.idl&q=UIEvent.idl&sq=package:chromium&type=cs

[2015-10-14 09:59] smaug---- commented on #601
Hmm, but
KeyboardEvent.prototype.hasOwnProperty("keyCode");
and
UIEvent.prototype.hasOwnProperty("keyCode");
both return true in Chrome.
Event.prototype.hasOwnProperty("keyCode");
is false.

Anyhow, could we please not start making interfaces more insane, but do some site evangelism.

[2015-10-14 15:39] RByers commented on #601
Yeah, moving `charCode` and `keyCode` up to `UIEvent` seems wrong to me too.  We just [removed them from UIEvent](https://code.google.com/p/chromium/issues/detail?id=508316) in Chrome 46 (which just went stable).  @travisleithead can you provide any details on the sites affected?  Unless there's substantial breakage, I expect we'll leave our impl as is and rely (as @smaug--- suggests) just on evan

[2015-10-14 23:34] RByers commented on #19
Ping @teddink @jacobrossi.  Note that WebKit is [implementing 'touch-action: manipulation'](https://bugs.webkit.org/show_bug.cgi?id=149854), I'd really like to clarify the expected behavior here and ensure chromium matches.

[2015-10-15 18:55] travisleithead commented on #601
The site is Zillow.com, and the issue is in the YUI framework that the site uses. Specifically, the site is doing:
`this.which = e.which || e.charCode ||`...
where the event object is a `touchevent` which shares the UIEvent interface in common. For Edge, `which`, `charCode`, etc., were on `MouseEvent`, and as a result, the value after this statemetn ended up being `undefined` which later breaks th

[2015-10-15 19:22] RByers commented on #601
Thanks Travis!  I filed [this bug](https://code.google.com/p/chromium/issues/detail?id=543785) to track attempting to remove `which` from `UIEvent` in blink, but it sounds like it may cause more pain than it's worth.

[2015-10-15 19:38] travisleithead commented on #601
Followup:
I didn't have the full picture before... Notes from the fellow who reduced this issue:

The YUI event wrapper has this code in its init function:

[code]

The key here is that if keycode or charcode are undefined, the `which` property of the wrapper will be undefined as well (`0 || undefined || undefined` resolves to undefined in js).

This will cause zillow’s logic to still get `undefin

[2015-10-16 10:09] foolip commented on #601
My take on this is that we should just standardize `UIEvent.which`, the benefit of successfully moving it to `KeyboardEvent` and `MouseEvent` respectively is so small that it's not worth taking very much risk at all.

[2015-10-16 19:51] jacobrossi commented on #19
I think the missing detail is that it's the nearest ancestor that has a default touch behavior _for the gesture being performed_, actually.  So in the case of double-tap the scroller isn't configured to handle that gesture so Edge keeps looking up the chain for more rules.  I'm not sure how we define that without getting into scope jail. But that's I think the missing nuance.

[2015-10-17 04:09] RByers commented on #19
Thanks, that's exactly what I expected.  I'll try to propose some text, but we should fix Chrome ASAP regardless /cc @dtapuska.

[2015-10-19 16:01] mikeconley opened #603 "Clarify what events are expected from <option> elements in <select> dropdowns"
I find it unclear what UI events are expected to be fired from the **option** element when the **select** that contains the **option** is in dropdown mode (for example, when the **select** is not being used for multiple selections, or when the size of the **select** is 1).

I'm particularly interested in mouse and keyboard events.

The major browsers seem to behave differently. [I've highlighted t

[2015-10-19 17:44] jdm commented on #603
This repository concerns the UIEvents spec at https://w3c.github.io/uievents/ .

[2015-10-19 17:47] mikeconley commented on #603
I apologize - I lazily copied verbatim from the issue I cross-filed from. Give me a few minutes to update this issue appropriately.

[2015-10-19 18:09] mikeconley commented on #603
Okay, hopefully I've made it more clear how (I think) this issue is applicable to the UIEvents spec.

[2015-10-20 06:47] annevk commented on #603
I think you're correct that this is the right place. Conceptually the UA gets a system UI interaction notification, performs hit testing, translates from layout box to node, creates a `MouseEvent`, and then dispatches the event at the located node. Something along this chain stops that from happening for dropdown controls in certain UAs.

[2015-10-28 15:19] skibulk opened #25 "Add additional digitizer/pen attributes: twist (rotation)"
Brush and Marker rotation is used by painters, calligraphers, and comic artists to achieve a variety of strokes. Stylus rotation is the digital equivalent, and is enabled by Wacom products, Adobe Photoshop. There are already numerous web apps which support drawing and painting. Lets extend their capabilities.

https://www.youtube.com/watch?v=2gm9lM7svaY
https://www.youtube.com/watch?v=ukXJQAY0caU

[2015-10-28 15:23] skibulk opened #26 "Add 3D Mice"
They can be used to navigate game environments or rotate 3d models.

https://www.youtube.com/watch?v=k2UMW2JH9o0
https://www.youtube.com/watch?v=9pAMne1eeTQ

[2015-10-28 15:33] RByers commented on #25
Thanks for the suggestion.  Can you point me at the existing native APIs for determining rotation?

On Windows 8+ I see [PointerPointProperties.Orientation](https://msdn.microsoft.com/en-us/library/windows/apps/windows.ui.input.pointerpointproperties.orientation) and [PointerPointProperties.Twist](https://msdn.microsoft.com/en-us/library/windows/apps/windows.ui.input.pointerpointproperties.twist).

[2015-10-28 15:36] RByers commented on #26
What's the native API support like here?  Does any OS support such devices natively, or do you need to use vendor-specific APIs to program for such a device?  This might be a niche use case where a lower level extensibility API (like raw USB HID access) would make more sense than extending pointer events - not sure.

[2015-10-28 15:43] skibulk commented on #26
I only know web languages. Sorry I can't help with anything specific to the system / device drivers. I think it would be useful to provide some kind of Raw HID access to developers - so that pretty much any device could be handled by pointer events. There are lots of devices out there with custom programmable buttons. There's no way you could cover them all using pointer events - except with raw d

[2015-10-28 15:51] patrickhlauke commented on #25
Don't have a device at hand to test right now, but isn't a barrel rotation going to already result in the tiltX/tiltY changing (as I'm assuming the tilt will reference some idealised "zero position" of the pen, so rotating it will result in a different set of angles)?

[2015-10-28 15:52] patrickhlauke commented on #25
Also, Surface pen doesn't support tilt as far as I know, only pressure (and no, nothing specific about rotation either)

[2015-10-28 15:55] RByers commented on #25
I don't think so.  There's three axis of movement possible here.  Eg. imagine the pen pointing straight up and down so tiltX and tiltY are fixed.  Now roll the pen between your fingers - rotation changes without changing either tilt.

Oh sorry, I was thinking your stylus video (showing tilt) was with a Surface.  What device was that again?  I guess I better get one too.

[2015-10-28 15:59] patrickhlauke commented on #25
Ah yes, i can see how rotation is independent (though can interact with, when at an angle) from tiltX/tiltY. Not sure if there's a clean API for that which can be hooked into...

Regarding my demo: using a Wacom Intuos Pro (has to be Pro, as the cheaper models have limited/no tilt support)

[2015-10-28 16:35] RByers commented on #26
Filed reillyeon/webusb#29 to discuss whether extentions to WebUSB may be a long-term path forward for niche cases like this.

[2015-10-28 16:44] patrickhlauke commented on #26
This reminds me of some of the discussions I've tangentially seen for the Controller API - similar issue of defining API for controllers that can potentially have all sorts of configurations, sensors, buttons, potentiometers, etc.

[2015-10-28 18:37] RByers commented on #25
On [public-pointerevents, Dave Fleck (Wacom) replied](https://lists.w3.org/Archives/Public/public-pointer-events/2015OctDec/0026.html):

[2015-10-28 18:38] patrickhlauke commented on #25
Excellent. I'd definitely be in favor of adding this to PE as well, in that case.

[2015-10-28 18:57] skibulk commented on #25
Wacom has an airbrush pen too. It has a wheel on the shaft which can be used to control strokes - like traditional airbrush flow mechanisms. It would be cool to see support for this as well. Maybe it is already handled like a normal mouse wheel, I don't know. Photoshop recognizes it as a "stylus wheel".

[2015-10-28 22:09] dfleck commented on #25
The wheel is in the HID “Barrel Pressure” field (HID Usage 0x31) - sometimes referred to as “Tangential Pressure” (Mac OS). Painter and Photoshop use this.

Two more missing data elements are the Secondary Barrel Switch (HID Usage 0x5A) and Transducer Serial Number (HID Usage 0x5B). Both of these have application support (Painter uses the Serial Number to store settings on a per stylus basis and P

[2015-10-29 01:31] cynthia commented on #26
The one in the youtube video is simply a triple axis analog stick at the input data level. Technically, it can be used to implement a pointer in 3d space, but modeling the web API around such a model doesn't sound like a good idea.

HID could in theory work, but I think the best bet would be to expose it as a triple axis joystick.

[2015-10-29 01:31] cynthia commented on #26
...summarized, I personally don't think this belongs in PE.

[2015-10-29 09:55] patrickhlauke commented on #26
Yes, as I don't think PE want to (currently) touch on the 3rd dimension (unless the Z info would only be an additional parameter, like pressure), I'd tend to agree with @cynthia here

[2015-10-29 10:36] AFBarstow commented on #26
I don't see this feature as being explicitly in scope in [PEWG's current charter](http://www.w3.org/2012/pointerevents/charter/#scope) and that is relevant vis-à-vis IP commitments).

(Don't know if the [GamePad API](https://w3c.github.io/gamepad/) could be relevant. It has some [v2 feature requests](https://github.com/w3c/gamepad/blob/gh-pages/FeatureRequests.md).)

[2015-10-29 13:16] patrickhlauke commented on #26
...and of course, when i said "Controller API" above, i meant the GamePad API. doh!

[2015-10-31 00:47] AFBarstow opened #27 "Figures should be directly linkable"
The figures in the spec should have id's so they can be directly referenced.

[2015-11-03 16:27] RByers commented on #7
From 11/3/15 conf call, Edge team says they use the 'gesture' model whenever touch events are enabled (i.e. on mobile), the currently documented model otherwise.

[2015-11-03 19:47] AFBarstow commented on #27
Fixed via https://github.com/w3c/pointerevents/commit/0353cd71bd198d8356506976367f5a2215f2c973 and https://github.com/w3c/pointerevents/commit/396726e244dbaf6adb3f5287a9d9309f4b947da0

[2015-11-03 19:47] #27 closed, assigned to nobody

[2015-11-12 15:45] lorenbrichter opened #586 "Expose 'direction-inversion' in wheel events"
Split from https://github.com/w3c/uievents/issues/56

Current DOM 'wheel' events only expose bare-minimum data (deltaX, deltaY) that don't fully capture how modern scrollwheels and trackpads behave. Exposing additional bits of information would greatly improve the possibilities for interesting and important custom event handling.

Users may "invert" the direction of scrolling (conceptually the "pa

[2015-11-12 15:46] lorenbrichter opened #587 "Expose 'inertial scrolling state' in wheel events"
Split from https://github.com/w3c/uievents/issues/56

Current DOM 'wheel' events only expose bare-minimum data (deltaX, deltaY) that don't fully capture how modern scrollwheels and trackpads behave. Exposing additional bits of information would greatly improve the possibilities for interesting and important custom event handling.

For example, on many modern trackpads, "throwing" your fingers resu

[2015-11-17 22:41] patrickhlauke opened #28 "equivalent of rotationAngle from Touch Events?"
Though hardware support doesn't seem all too great (I had to go on the hunt for a second-hand Nexus 10 in order to test/add this to my tracker demo), wondering if there's mileage in spec-ing something equivalent to Touch Events' `rotationAngle` in version 2?

![tracker-touch-radius-rotation-force-hud](https://cloud.githubusercontent.com/assets/895831/11227078/d824d470-8d7b-11e5-989f-f9131de9e0fc.j

[2015-11-18 07:03] RByers commented on #28
I'd rather not conflate this with #25 myself, they're not really the same thing.  For one, touch contact geometry has a range of 180° where pen rotation has a range of 360°.

I'm not opposed to adding this, but given that hardware and OS support is so rare I don't personally think it's worth it (AFAIK Android Nexus 10 would be the only platform that would benefit).  If hardware support were to inc

[2015-11-18 13:23] lorenbrichter commented on #587
On second thought, I'm not sure this is sufficient. I'm thinking through the case where the user is two-finger scrolling on a trackpad and you need to determine the moment that they lift their fingers (could be interpreted as "letting go" of something on-screen).

Out of band 'gesture-phase' events might be a more flexible solution. The idea would be that scroll events could be "bracketed" by othe

[2015-12-01 15:58] smaug---- opened #574 "Firing of click event after mousedown/up has two different definitions"
(1) "The click event MAY be preceded by the mousedown and mouseup events on the same element, disregarding changes between other node types (e.g., text nodes)."

(2) "Each implementation will determine the appropriate hysteresis tolerance, but in general SHOULD fire click and dblclick events when the event target of the associated mousedown and mouseup events is the same element with no mouseout o

[2015-12-04 03:30] RByers commented on #19
Good enough for now...

[2015-12-04 03:30] #19 closed, assigned to RByers

[2015-12-04 03:37] RByers commented on #586
I agree this is worth doing and should be relatively straight forward.  We'd probably implement this in blink if other vendors were interested too.  One scenario where this can be really valuable is when using `wheel` events to drag an element around the screen.  When I built [this demo](http://output.jsbin.com/qiyaseza/1) for that, I had to provide an option for the user to invert the vertical di

[2015-12-04 03:45] RByers commented on #587
Two bracketing events are really equivalent to two boolean bits on the event, eg. `isEnding` (for detecting the scrolling-inertia-end) and `isInertialScrolling` for detecting the `scrolling-inertia-begin`.  I think this mostly comes down to a matter of style.

I (from blink's perspective) have a bit of a preference for the latter because it's a smaller API and it avoids problems / unnecessary over

[2015-12-04 03:50] RByers commented on #587
I support adding this and we'd probably implement it in blink if it was being implemented in at least one other engine.  For MacOS we already have [this information](https://code.google.com/p/chromium/codesearch#chromium/src/third_party/WebKit/public/web/WebInputEvent.h&l=378).  Windows may be more challenging - or at least we probably would have meaningful values only for the new breed of high pr

[2015-12-04 12:04] lorenbrichter commented on #587
@RByers True, I agree (easier on the app side to consume a single event stream too). Suppose the spec should just make clear exactly when the `isEnding` flag should be set (i.e. on a trackpad: not when fingers stop moving, but when they lift, and regardless of whether it's followed by synthetic events).

Excited that WebKit (https://github.com/w3c/uievents/issues/56#issuecomment-155845719) and Bli

[2015-12-04 15:01] patrickhlauke commented on #7
Does this mean that the v2 spec needs to explicitly state that some UAs may choose to NOT follow the event sequence in certain situations? Or is the current wording (making it optional, using MAY, etc) enough https://w3c.github.io/pointerevents/#compatibility-mapping-with-mouse-events ?

[2015-12-04 15:15] RByers commented on #7
If the Edge team believes that's the right model for browsers that support touch events, then I think it's the one we should primarily document (I wouldn't event experiment with anything different in blink).  So to me the question is do we update the spec to refer ONLY to that model (possibly with some sort of note indicating that some UAs sometimes use a different model) or do we explicitly descr

[2015-12-07 22:53] masayuki-nakano commented on #586
How to implement this on Windows? At least Synaptics's touchpad, it has "invert scrolling direction" feature in its option. However, of course, it causes inverted WM_MOUSE*WHEEL events. So, applications cannot detect the information. Even if browsers read its registry, browsers cannot distinguish if received WM_MOUSE*WHEEL message came from Synaptics's device.

I'm afraid that browsers provide dif

[2015-12-08 05:15] lorenbrichter commented on #586
Interesting. Perhaps if it's indeterminate on the platform the property could simply be `undefined`. I think it's worth thinking about consistency from the perspective of a single person as well (whom we can usually assume is sitting in front of a single computer running a single operating system). If (for example) Mac apps behave in a certain way with regard to scroll events, I think it's reasona

[2015-12-10 01:40] RByers commented on #586
I agree we wouldn't want to have this feature if it would be a lie on some
platforms.  Having an unknown value for platforms where it's not
(currently) supported seems reasonable, especially if there is interest in
someday exposing such a thing on that platform.  Eg. For Windows it's
probably fine to consider all vendor-specific touchpads as legacy and ask
only if this can be implemented on Win10

[2015-12-10 23:43] teddink commented on #7
I can confirm that the Edge team indeed believes that using the click-based (aka "gesture") model when touch events are enabled and the currently documented model otherwise is the best approach for interoperability.

[2016-01-04 15:58] patrickhlauke commented on #28
Closing this, as I'd rather see a proper implementation of #25 than TouchEvents' half-baked (in my opinion) `rotationAngle`

[2016-01-04 15:58] #28 closed, assigned to nobody

[2016-01-13 23:04] RByers opened #29 "Add explicit control over pinch-zoom to touch-action"
Consider a common scenario like a long web page with an image carousel .  Our guidance to developers would be to put something like 'touch-action: pan-y' on the carousel to permit custom horizontal event handling without disabling scrolling.  But this can be an accessibility issue - if the user can pinch-zoom elsewhere in the document, shouldn't they be able to pinch-zoom on the carousel as well?

[2016-01-13 23:04] RByers opened #565 "Add explicit control over pinch-zoom to touch-action"
Consider a common scenario like a long web page with an image carousel .  Our guidance to developers would be to put something like 'touch-action: pan-y' on the carousel to permit custom horizontal event handling without disabling scrolling.  But this can be an accessibility issue - if the user can pinch-zoom elsewhere in the document, shouldn't they be able to pinch-zoom on the carousel as well?

[2016-01-13 23:19] RByers commented on #586
If we don't want to clutter `WheelEvent` with this, it may make sense to put on [`InputDeviceCapabilities`](http://rbyers.github.io/InputDevice/) instead.  I think the semantics and outcome would be identical.

[2016-01-13 23:19] patrickhlauke commented on #29
or simply `zoom` ?

[2016-01-13 23:19] patrickhlauke commented on #565
or simply `zoom` ?

[2016-01-13 23:31] RByers commented on #29
The problem is we don't want it to imply double-tap zoom ;-)

[2016-01-13 23:31] RByers commented on #565
The problem is we don't want it to imply double-tap zoom (and the associated click delay)  ;-)

[2016-01-13 23:32] RByers commented on #29
But yeah, simpler names are better.  `zoom` might be OK if we clarify it to be just "continuous zooming" in the spec text (I mean, it's not like I'm that worried about people accidentally DISABLING the click delay <grin>).

[2016-01-13 23:32] RByers commented on #565
But yeah, simpler names are better.  `zoom` might be OK if we clarify it to be just "continuous zooming" in the spec text (I mean, it's not like I'm that worried about people accidentally DISABLING the click delay <grin>).

[2016-01-13 23:33] jacobrossi commented on #586
As mentioned, I don't believe this information is exposed on the standard Windows APIs. Proprietary touchpad vendors may expose this otherwise, but that will lead to variations across devices, which is bad.  I imagine the intent is for this to be something the user is in control of. The user decides which way is "up" and the application isn't given the opportunity to re-invert that so that user ex

[2016-01-13 23:34] jacobrossi commented on #586
Tagging in @teddink for his thoughts

[2016-01-13 23:38] RByers commented on #586
I agree it's important to make sure this API doesn't need to lie.  But at the same time, I'd hate to hold back the experience on the web on some devices due to design limitations of just one OS ;-).   Would a tri-state property (maybe `true`, `false` and `undefined`) address your concern here?

Then again, if the only people who will really ever benefit from this API are MacOS, ChromeOS and Linux

[2016-01-13 23:49] jacobrossi commented on #586
Are there examples of this property being used outside the web that we think are valuable?  I haven't seen any examples that amount to "holding back the web" aside from your dragging one, which I'm not sure is practical for users or desired by developers. E.g. what's the native app that can't come to the web because of this?

[2016-01-13 23:51] RByers commented on #586
I don't know offhand where Mac apps are using this today, but I'm sure I can find examples if it would help.  One use case I was just looking at is the volume slider in YouTube.  It's incredibly un-intuitive that swiping right on my touchpad makes the volume slider move left, but when I have "invert direction" turned off it feels like a nice feature.

[2016-01-14 00:38] jacobrossi commented on #586
Huh, I'd say it's incredibly un-intuitive that the two-finger swipe controls volume in this context -- I wonder if that was deliberate design on YouTube's part or if they'd actually prefer it do nothing. Tap + drag seems what's desirable here.

[2016-01-14 00:48] RByers commented on #586
They tell me it's deliberate, but it sounds like they're re-evaluating the decision (in case you haven't guessed, this is coming up in the context of [passive wheel listeners](https://github.com/RByers/EventListenerOptions/blob/gh-pages/explainer.md) - YouTube's use of wheel listeners [can have a big impact on scroll perf](https://code.google.com/p/chromium/issues/detail?id=565470) for us today.

[2016-01-14 03:38] lorenbrichter commented on #586
@jacobrossi: I agree that inconsistency across devices isn't great, but I'd argue that inconsistency within a single device is even worse (think: a single person experiencing different behavior between a native app vs. the web). And the vast majority of users are going to be feeling inconsistencies of that sort. There are already plenty of cross-platform inconsistencies that are considered "good"

[2016-01-18 10:10] patrickhlauke commented on #23
having sat on this for a while, i think we're actually good as we are now...so just going to close this :)

[2016-01-18 10:10] #23 closed, assigned to patrickhlauke

[2016-01-21 02:51] RByers opened #30 "Spec implies mice can't support pressure"
The spec says:

Which implies it's impossible for a mouse to support pressure.  Force-touch touchpads on Mac OS are a real-world example that violates this, and I think we should plumb force out to `PointerEvent.pressure` on Mac OS.

Can we just remove the "including but not limited to mouse"?  Or replace it with "(for example, most mice)"?

[2016-01-21 10:11] patrickhlauke commented on #30
proposing "(such as most traditional mouse and trackpad inputs)"

using "inputs" here because i find "mice", though of course correct plural form, somehow weird when talking about the computer hardware (and possibly not immediately understandable to non-native english speakers)

[2016-01-21 14:12] scottgonzalez commented on #30
I'm not sure that the reference is needed at all, so I'm in favor of just removing it.

[2016-01-21 15:23] RByers commented on #30
Thanks Patrick.  Either option is fine with me.

[2016-01-22 22:25] RByers commented on #30
Let's land Patrick's PR for now as a step in the right direction, but keep this issue open until there is consensus...

[2016-01-23 00:33] patrickhlauke commented on #30
i can see @scottgonzalez' point that it's perhaps redundant to even list examples of hardware that doesn't support pressure as it's implicit. then again, it kind of makes this more immediately clear to me (and now part of me also want to crowbar in traditional touchscreens ;) )

[2016-01-23 01:30] scottgonzalez commented on #30
My main concern with this wording is that over time this statement may become meaningless to new developers. We already have legacy references in HTML with `<input type="radio">` which has absolutely no implicit meaning to a large portion of developers. Input devices are changing fairly rapidly and the "traditional mouse" could easily become a relic while still being referenced in this spec.

[2016-01-26 20:17] NavidZ opened #32 "When are lost/gotpointercapture delayed until the next pointer event?"
Looking at this
https://www.w3.org/TR/pointerevents/#process-pending-pointer-capture
and
https://www.w3.org/TR/pointerevents/#setting-pointer-capture

It seems that user agent should not fire gotpointercapture right after setPointerCapture and instead fire it right before the next pointer event with the captured id. But in this example I can see Edge doesn't do that and instead fires gotpointercap

[2016-01-26 20:55] navidzolghadr commented on #32
I accidentally deleted a plus sign in that given sample. This would be better.
https://jsbin.com/muliginepe/edit?html,output

[2016-01-26 20:56] RByers commented on #32
I agree Edge (and IE 11) do not appear to be matching the spec here.  Digging into [the history](https://www.w3.org/Bugs/Public/show_bug.cgi?id=24971#c5) I see this logic was added by @jacobrossi in an effort to describe IE's implementation (at least at the time - April 2014).  Perhaps there's a detail of IE's implementation he missed?  The Edge behavior does seem potentially (slightly) superior t

[2016-01-31 22:30] bethge opened #33 "Value of button attribute for pointermove event"
We have noticed an inconsistency when it comes to the `button` attribute of a `pointermove` event (https://github.com/jquery/PEP/pull/267).

In IE 11 and Edge, any `pointermove`, that does not express a button state transition, has `button: -1`.

In OSX and Win - FF 44 (with flag) a `pointermove`'s `button` attribute mirrors the `mousemove`'s `button` attribute, with the extension of `button: -1`,

[2016-02-01 02:57] RByers commented on #33
I agree the spec doesn't seem entirely clear here.  In my reading, `pointermove`'s `button` should be -1 when no buttons are pressed, and the previous value otherwise (as for `mousemove`).  So it seems like an Edge bug.  @teddink WDYT?

But yes, the -1 on `pointermove` vs. 0 on `mousemove` difference is intentional.

[2016-02-01 03:00] RByers commented on #33
I should add that as far as I can see this property doesn't matter much one way or the other - there's not much value in reading the `button` value of a `pointermove` event (should probably be using `buttons` instead for any real use case).  So I'd personally also be happy to update the spec to match Edge's behavior and ask Mozilla to change.

Did you have a particular use case in mind?

[2016-02-01 14:09] bethge commented on #33
I have mulled it over some more and I feel like I now fully grasp the implications of this line:

Iiuc, since chorded button interactions do not trigger `pointerdown` and `pointerup` events, a pointerevent `e` with `e.button > -1` would be the only way to identify a button state transition (without using external state).
When mirroring `mousemove`, I cannot see a way to tell apart a button state t

[2016-02-01 22:50] teddink commented on #33
Upon consultation with the developer that owns this area for Edge, I believe bethge gets it with his last response. When a pointerevent is triggered by a button change, event.button will have that value.

So for non-chorded case, pointerdown/pointerup will have the button that was pressed/lifted, but when the mouse is moved while the button is down, the button doesn’t trigger those events, so butt

[2016-02-01 23:03] patrickhlauke commented on #33
is there a need for some further clarification in the wording of the spec, do we feel?

[2016-02-01 23:08] smaug---- commented on #33
But if button is -1, you need to track the actual button state somewhere.
Feels really odd behavior to me.

(I feel like I'm misunderstanding something here)

[2016-02-01 23:56] RByers commented on #33
Ah, that makes sense @bethge / @teddink, thanks.

Why?  Isn't that what `buttons` is for?  It makes sense to me that `button` describes state transitions, and `buttons` describes the current state.  The combination of the two (with button=-1 for EVERY pointermove where there is no button state change) let you fully understand the current state and any state transitions without tracking any additio

[2016-02-02 00:39] smaug---- commented on #33
So the meaning of  pointermove starts to drift away from the 'move' case towards something like "move" or "button state change". I guess I could live with that, even though it is not too pretty API.
Sounds like .button + move event is used for something like pointerbuttonchange here.

[2016-02-02 00:59] patrickhlauke commented on #33
wasn't `pointermove` already more of a "something changed", as it's also fired if `pressure`, `tiltX`/`tiltY` or `width`/`height` changes?

[2016-02-02 01:41] smaug---- commented on #33
it is fired for those changes, but those keep the changed value in the events fired after the change. Those properties represent a part of the state in which the pointer is.
.button is (assuming we have -1 after the initial event) this unusual property that it doesn't indicate any state. It just tells if there was a change since the previous event.

When .buttons was added to mouseevents it was su

[2016-02-02 03:32] RByers commented on #33
Yeah, we had a bikeshed at one point about renaming `pointermove` to `pointerchange` since that was more accurate, but agreed that consistency with what IE shipped probably trumped that relatively minor concern.  These chorded scenarios are pretty niche already, I think most developers are better served by not having to really worry about them most of the time (in contrast to mouse events).  Still

[2016-02-04 22:05] RByers commented on #29
@jacobrossi / @teddink I think this is ultimately a question for you.  I think it's important for accessibility that we add something here.  Ideally I'd rather just match what Edge has already shipped: 'pinch-zoom`, even just as a token which we define using the more general spec language about "continuous zooming".  But if using that token is a scope issue and Edge is willing to ship a 2nd token

[2016-02-04 22:05] RByers commented on #565
@jacobrossi / @teddink I think this is ultimately a question for you.  I think it's important for accessibility that we add something here.  Ideally I'd prefer to just match what Edge has already shipped for this: `pinch-zoom`, even just as a token which we define using the more general spec language about "continuous zooming".

But if using that token is a scope issue and Edge is willing to ship

[2016-02-23 20:40] NavidZ opened #35 "Compatibility mouse transition events should reflect a single logical mouse pointer"
@RByers @mustaqahmed

Looking at this example:

https://output.jsbin.com/bupaluf

Step 1. Move the mouse into the green box and leave it there.
Step 2. Touch the blue box and release.
Step 3. Now slightly move the mouse.

Here is the sequence in case it is hard to test it on Edge:

---- Step 1 ----
pointerover (id=1) on green
mouseover on green
pointerenter (id=1) on green
mouseenter on green
----

[2016-02-23 21:50] RByers commented on #35
This is a really interesting question, thanks @navidz!

Basically I'd summarize this as:
1. We'd want pointer events to represent a consistent enter/leave sequence per pointer ID
2. For compatibility, mouse events should always present a self-consistent sequence
3. But multiple different pointer IDs all map to mouse events
4. And the spec implies there should be a 1:1 mapping from each pointer eve

[2016-02-25 03:31] foolip commented on #586
FWIW, the precedent for when the value can be unavailable is nullable attributes, like on [`DeviceOrientationEvent`](http://w3c.github.io/deviceorientation/spec-source-orientation.html#deviceorientation) and friends. So `true`, `false`, `null`, in that case.

[2016-03-04 22:48] teddink commented on #35
Appears that we have a bug in Edge - thanks for the discussion.

The behavior should be #1 as stated above, which translates to:

---- Step 1 ----
pointerover (id=1) on green
mouseover on green
pointerenter (id=1) on green
mouseenter on green
---- Step 2 ----
pointerover (id=134) on blue
mouseover on blue
pointerenter (id=134) on blue
mouseenter on blue
pointerout (id=134) on blue
mouseout on blue

[2016-03-05 02:57] NavidZ commented on #35
But here if one only looks at the mouse events they have some events missing too. How come while mouse was on green on step 1 then all of a sudden blue div gets the mouseover/enter without green getting any out/leave in step 2?

[2016-03-05 04:00] NavidZ commented on #35
How about something like this event sequence:

---- Step 1 ----
pointerover (id=1) on green
mouseover on green
pointerenter (id=1) on green
mouseenter on green
---- Step 2 ----
mouseout on green
mouseleave on green
pointerover (id=134) on blue
mouseover on blue
pointerenter (id=134) on blue
mouseenter on blue
pointerout (id=134) on blue
mouseout on blue
pointerleave (id=134) on blue
mouseleave on

[2016-03-05 11:07] patrickhlauke commented on #35
unless i'm misunderstanding, i'd say that it's important that pointer events are consistent in the sequence of events they dispatch, but that it would require quite a bit of extra work to somehow define that the compat mouse events also need to have a self contained mapping. fundamentally, you're trying to shoehorn the concept of mouse (a single pointer device) into a multi-pointer environment. it

[2016-03-05 11:45] patrickhlauke commented on #11
Bumping this ... mainly to ask if anybody has experience in setting this sort of thing up.

[2016-03-05 12:50] patrickhlauke commented on #33
@bethge do the changes from #34 address your original concern, i.e. do they close this issue?

[2016-03-05 12:51] patrickhlauke commented on #4
Do #33 and #34 resolve this?

[2016-03-05 12:57] patrickhlauke commented on #30
Personally, I think the danger of obsolescence here (particularly as the term isn't used for an attribute name or value) is fairly low. For how do we feel then about the change made in #31 versus removing the parenthetical bit altogether? I have no major strong feelings either way.

[2016-03-05 13:10] bethge commented on #33
Yes, very much so, appreciate it. Feel free to close this issue.

[2016-03-05 13:23] patrickhlauke commented on #33
Super, thank you :)

[2016-03-05 13:23] #33 closed, assigned to RByers

[2016-03-07 02:34] cynthia commented on #11
Setting this up is trivial, but needs to be done by W3C staff or at least someone with admin rights to the repo. I guess @shepazu is the person we should nudge?

[2016-03-07 05:17] garykac commented on #601
Can I confirm the consensus here?

It sounds like:
Edge recently moved `which` up to `UIEvent`.
Blink recently copied `which` from UIEvent down into Keyboard/Mouse (shadowing the one on UIEvent)
Gecko and WebKit have `which` on `UIEvent`

I presume that the Blink will remove it from Keyboard/Mouse and then all major browsers will have it only on UIEvent.

Which means I should make the following ch

[2016-03-07 06:33] foolip commented on #601
That sounds good. I added `which` to `KeyboardEvent` and `MouseEvent` in Blink only to be able to measure the remaining usage of `which` on `UIEvent`, but it sounds like simply leaving `which` on `UIEvent` will be safer. As soon as the spec says this, I'll remove it from `KeyboardEvent` and `MouseEvent` again.

[2016-03-07 15:40] NavidZ commented on #35
I agree with you Patrick. But in this spec we did mention mouseover/enter/out/leave events explicitly to be fired after corresponding pointer events. If you agree firing these events may already cause some inconsistency in the mouse event stream and to make them consistent we need more effort how about not mentioning those events in this spec at all.

Looking at this section:
https://www.w3.org/TR

[2016-03-08 15:23] mustaqahmed commented on #35
While waiting for more informed comments on the impact on developers, here are my two cents.

So far we have seen two possible solutions here:
**Solution A** Maintain strict 1:1 mapping between pointer & legacy mouse events, but break the enter/leave/over/out consistency within legacy mouse events (as in @teddink's event sequence above).
**Solution B** Make legacy mouse events consistent among the

[2016-03-08 15:32] scottgonzalez commented on #30
I'd still prefer just removing the parenthetical, but I don't have very strong feelings either.

[2016-03-08 16:39] RByers commented on #30
Either way is fine with me.

[2016-03-08 16:42] patrickhlauke commented on #30
At two "whatever" and one "remove" (and nobody else appearing to have any opinion on it either way either), I'll make a PR to remove it :)

[2016-03-08 16:45] #30 closed, assigned to nobody

[2016-03-08 16:48] patrickhlauke commented on #26
I think the overall feeling in the WG here is to close this, right?

[2016-03-08 16:53] patrickhlauke commented on #25
That feels slightly out-of-scope to me, edging close to the discussion in #26 about gamepad/webusb. Thoughts?

Would that not be exposed as part of `button`/`buttons` ?

Again, that feels out-of-scope here (though perhaps, leaving it up to implementations, it "could" be used to ensure that the pointer relating a particular pen always gets the same `pointerId` ?

[2016-03-08 17:54] skibulk commented on #26
I still like the idea of providing "Raw HID Access" so that developers can handle edge case devices if they want to. I can re-name this issue accordingly, if you'd like.

[2016-03-08 18:16] RByers commented on #25
This seems different to than the 3d mice case to me in that it's really about art stylus scenarios which pointer events is trying to address.  That said I'd consider it lower priority than pen rotation (since fewer stylus devices support it) so perhaps we should move discussion of this to a separate GitHub issue?  That said, I'd be fine with adding a `tangentialPressure` field defined similarly to

[2016-03-08 18:25] RByers opened #38 "Consider adding API to get predicted points"
Some platforms have built-in prediction algorithms which apps would ideally handle differently from confirmed points (eg. a painting app would use predicted points only temporarily).  We could have an API directly similar to #22 but in the opposite time direction (instead of the past points, it's the future ones).

[2016-03-08 18:46] dfleck commented on #25
---

Living on Earth is expensive, but it does include a free trip around the sun.

[2016-03-08 19:01] NavidZ opened #39 "Incorrect order of the events in process pending pointer capture section"
@RByers, @mustaqahmed, @jacobrossi

Looking at this section:

https://w3c.github.io/pointerevents/#process-pending-pointer-capture
- It seems weird that firing pointerleave/out happens after firing gotpointercapture. As the other places in the spec mentioned, if a pointer is captured by some element no other element should get those boundary transition events. The same thing happens for pointerent

[2016-03-08 19:48] mustaqahmed commented on #39
Thanks Navid. In summary, there are two problems with the spec:
**Problem 1.** Current spec wording misses the firing of out/leave events when the capturing directly "moves" from one element to another. Edge fires the events in a logical manner, not following the spec (from step 5 to end).
**Problem 2'.** Before "blue" receives pointermove in step 22, it should receive pointerover/enter. Spec is s

[2016-03-08 20:02] mustaqahmed commented on #39
Correction to **Problem 2'** above: This is similar to **Problem 1** but not covered in Navid's repro since mouse never actually entered blue. So my comment about "Edge following the spec" could be wrong here.

[2016-03-08 20:05] RByers commented on #39
I agree we should just fix this in the spec.

Why do you say blue should receive pointerover/enter?  Even when captured, I thought an element should get over/enter only when the cursor has crossed into the bounds of the element.

I agree that seems more logical.  The implications in practice aren't clear to me though - are there scenarios that would work better or worse given this change?

[2016-03-08 20:09] RByers commented on #26
That probably ultimately belongs to some other repo, but whatever it is it probably doesn't exist yet, and would probably involve many of the same people that are here.  So I'm OK keeping an issue in this group for this, as a feature request that someone here will hopefully drive in the WICG or another group.  Alternately, maybe it belongs in UIEvents?

[2016-03-08 20:18] patrickhlauke commented on #26
I think UIEvents is the more appropriate upstream place for this in the first instance, as raw HID data isn't specific to pointers (mouse, pen, touch) but more generally all human interface devices (including gamepads etc) that fire events.

[2016-03-08 20:26] RByers commented on #38
See "reducing latency" [here](https://www.raywenderlich.com/121834/apple-pencil-tutorial) for a concrete example of where this really matters in another platform.

[2016-03-08 20:29] patrickhlauke commented on #25
and I didn't say there was. What I'm saying is that within the definition of what we're concerned with in this working group/with this specification, this doesn't seem to fit.

I'd say let's open a new issue for that specifically. Also, clarify if this is not catered for in the current spec https://w3c.github.io/pointerevents/#the-button-property (which already covers left, middle, right, x1, x2).

[2016-03-08 21:07] mustaqahmed commented on #39
You are right, I corrected my mistake after posting it, sorry.

I don't have any concrete use-case, but in general, if a web API can avoid pitfalls, it should because there is no way to correct copied JS snippets on the web. Here is why I think Problem 3 can be called a pitfall:

While got/lostpointercapture provide the ideal way to argue about "capture state" in JS, web developers (or software en

[2016-03-11 20:19] NavidZ commented on #39
@jacobrossi, @teddink

What do you think about this one? Do you think the proposed way of sending the events makes the event sequence better?

[2016-03-13 08:41] patrickhlauke opened #41 "touch-action - incorrect values in note for pull-to-refresh?"
Currently in "9.1 The touch-action CSS property" we have

Shouldn't the first value (for scroll position 0) be `pan-x pan-up`, as you'd want to handle the down movement yourself for the pull to refresh?

[2016-03-13 08:49] patrickhlauke opened #42 "clarify what happens if touch-action is changed dynamically"
It's probably implicit in the prose for "9.1 The touch-action CSS property", but: what should happen if, on `pointerdown`, the `touch-action` for the element is changed dynamically (for instance, from `auto` to `none`, based on the document's scroll position, for a naive pull-to-refresh implementation)? I assume that at that point, it's already too late and the user agent determined what to do (wh

[2016-03-13 10:02] patrickhlauke commented on #41
thinking out loud...or is this a "natural scroll" (where you'd drag down) vs "traditional scroll behavior" (where you'd drag up) thing? on touchscreens/for touch, the natural behavior is likely the most prevalent.

[2016-03-13 13:58] patrickhlauke commented on #42
Guessing this sentence (as part of the note for the direction-specific pan values) is, essentially, what I'd like to see generalised as a separate note?

So in essence, that it's not possible to change the behavior of any "gesture" (if that's the most appropriate word) after it has already started (either being handled by browser, or passed on to be handled by JS)

[2016-03-14 19:33] RByers commented on #42
Yep, that's right.  I remember bikeshedding about the wording way back.  There's a few places this makes it in, but I agree it could be stronger:

If you want to also add an explicit note about this, that's fine with me.

[2016-03-14 19:36] RByers commented on #41
This is always confusing.  Here's the spec language designed to clarify this today:

IIRC we debated a bit at the time about which interpretation to use but found this one was more consistent with other APIs (there's probably some GitHub issue / pull request history here if you want to go digging - we fixed this only a few months ago IIRC).

[2016-03-14 20:11] patrickhlauke commented on #41
Ah, gotcha, I missed that clarification. It feels unnatural to me, but I guess if it does indeed provide more consistency, so be it.

I wonder though if the wording could be tweaked to make it a tad more explicit, and to tie in with the pull-to-refresh example further down. Something like:

[2016-03-14 20:21] RByers commented on #41
You mean replace the `pan-right` example with this similar `pan-up` example in order to tie into the p2r example?  That's fine with me.  Having both would be feel redundant etc (since it's just an example of the general rule).

[2016-03-14 20:33] patrickhlauke commented on #41
Yup, that was my thinking. Also, quite unscientifically thinking (because of pull-to-refresh being a very commonly known paradigm/thing) that this example may be more grokkable and relatable. Will PR in a moment...

[2016-03-14 20:57] #42 closed, assigned to nobody

[2016-03-15 15:47] RByers opened #45 "Should the spec really reference tracker anymore?"
The spec status currently says:

Can we just officially say GitHub issue are our only source of tracking now?  If we want to do that, someone probably needs to go through the [open tracker items](https://www.w3.org/2012/pointerevents/track/) and make sure anything still relevant has a GitHub issue.

[2016-03-15 16:55] patrickhlauke commented on #45
Referencing GitHub would be my preference, too - unless that breaks W3C protocol somehow @shepazu ?

[2016-03-15 16:57] patrickhlauke commented on #45
Can we even just drop that whole sentence? looking quite unscientifically at other drafts like https://w3c.github.io/webcomponents/spec/custom/ I think they don't even have that...

[2016-03-15 17:03] RByers commented on #45
I'd be happy to drop the sentence, but only after we've filed GitHub issues for any outstanding work we shouldn't forget about from tracker.

[2016-03-15 21:19] patrickhlauke commented on #4
Referenced in https://www.w3.org/2012/pointerevents/track/actions/151

[2016-03-17 00:30] #41 closed, assigned to nobody

[2016-03-17 10:02] patrickhlauke opened #46 "Respec's "Latest published version""
Looking at https://w3c.github.io/pointerevents/, respec currently generates the following

Obviously, the "Latest published version" URL currently 404s. Anybody versed enough in the dark arts of respec know how this can be fixed (taking inspiration, perhaps, from the markup used for http://w3c.github.io/touch-events/) ?

[2016-03-17 10:36] patrickhlauke commented on #46
Just changing

[code]

to

[code]

would do the job, but is it...semantically correct?

[2016-03-22 04:58] RByers commented on #29
Here's an idea for a term that is both highly descriptive yet refers only to the effect (not the input): "Positioned Incrementally and Naturally Continuously Handled zoom".  This is obviously too long for a CSS token, so we'd abbreviate it `pinch-zoom`.  Oh, look at that, Edge already shipped this name, that's a happy coincidence!

Seriously, inventing a new token that's more confusing to develope

[2016-03-22 04:58] RByers commented on #565
Here's an idea for a term that is both highly descriptive yet refers only to the effect (not the input): "Positioned Incrementally and Naturally Continuously Handled zoom".  This is obviously too long for a CSS token, so we'd abbreviate it `pinch-zoom`.  Oh, look at that, Edge already shipped this name, that's a happy coincidence!

Seriously, inventing a new token that's more confusing to develope

[2016-03-23 15:59] tdresser commented on #38
This appears to be extremely important for painting applications.

[Here](https://drive.google.com/file/d/0B7mjRvOU-oG-UHE1c1NFYU41N3M/view?usp=sharing)'s a comparison of OneNote (which uses Windows' predicted points API) and Edge, which doesn't expose predicted points.

Sorry for the terrible resolution video.

Based on some rough frame counting, OneNote has an effective end-to-end latency of 2 f

[2016-03-24 08:13] patrickhlauke opened #48 "What happens when an isPrimary pointer is removed?"
Currently the spec does not explain what would happen if an isPrimary pointer is removed.
The scenario would be: imagine more than one touch pointer in the document, one of which isPrimary; the user lifts the primary finger, and that pointer disappears. Should the touch that came after the isPrimary one be promoted to now being the new primary?
My hunch would be that no, as at the start of the ges

[2016-03-24 08:21] patrickhlauke opened #49 "Determining the primary pointer - note about mice?"
Currently https://w3c.github.io/pointerevents/#determining-the-primary-pointer makes an implicit assumption that there will never be more than one concurrent mouse input

This of course reflects the current reality where no OS allows for 2 or more mice to be active (in most cases, it seems the OS simply "combines" more than one mouse/trackpad - any relative movement on those multiple mice is simpl

[2016-03-24 15:43] NavidZ commented on #48
I agree that there is no explicit statement about this. However, this section
https://w3c.github.io/pointerevents/#dfn-the-primary-pointer

implies that for example for touch:
A pointer representing touch input is considered the primary touch input if its pointerdown event was dispatched when no other active pointers representing touch input existed.

which I guess prevents the promotion of any ex

[2016-03-29 06:23] cvrebert opened #604 "Explain that mousedown focuses form controls"
Refs https://html.spec.whatwg.org/#activation:dom-click-2

Nor is it discussed anywhere else in HTML. UI Events doesn't currently seem to cover this either, but I think it would be the logical place for it.

[2016-03-29 16:24] RByers commented on #46
IIRC @jacobrossi and I discussed this when the spec was renamed.  I think the conclusion was that leaving it as-is was semantically correct, despite the broken link (there have not been any "published" versions of "pointer events level 2" yet).  Should be able to find the history of this discussion somewhere....

[2016-03-29 16:33] patrickhlauke commented on #46
wondering then if there's some extra setting/incantation in respec to suppress the "latest published version" ... some way of saying that at this stage there's only an editor's draft, and no actual published version. i'm sure there must be something...

[2016-03-29 18:37] shepazu commented on #46
We could solve this by doing a FPWD for http://www.w3.org/TR/pointerevents-level-2/.

Do we think we could do this sometime soon?

[2016-03-29 18:40] patrickhlauke commented on #46
@shepazu

If you let me know what's needed, from an organisational standpoint, my gut feeling would be that we could... (he said naively)

[2016-03-29 19:01] shepazu commented on #46
How about a telcon? https://lists.w3.org/Archives/Public/public-pointer-events/2016JanMar/0169.html

[2016-03-31 01:53] garykac commented on #600
https://github.com/w3c/uievents/commit/d656fdc517ad2aec365562dc2eec20eecaaea995 fixes bug 21 in the uievents-key repo, not this one.

[2016-04-01 17:40] NavidZ opened #51 "PREVENT MOUSE EVENT flag is not well defined when multiple pointer types are active"
Consider the following sequence of events:
1. pointerdown(type=mouse)
2. pointerdown(type=pen)
3. pointermove(type=mouse)
4. pointer move(type=pen)
5. pointerup(type=mouse)
6. pointerup(type=pen)

If js calls prevent default on the first step what should be the compatibility mouse events?

The way it's defined in the spec now with PREVENT MOUSE EVENT being sort of global, agent should fire one sin

[2016-04-01 17:48] patrickhlauke commented on #51
It would be my understanding that the flag is per pointer type

[2016-04-01 18:34] #51 closed, assigned to nobody

[2016-04-05 07:47] cvrebert opened #605 "MouseEvent.fromElement/toElement"
Consider either spec'ing ~~or trying to kill~~ `MouseEvent.fromElement` & `MouseEvent.toElement`. Here's the current (in)compatibility situation:

| Events | Chrome+Safari | EdgeHTML | Firefox |
| --- | --- | --- | --- |
| `mouseenter`/<br>`mouseleave`/<br>`mouseover`/<br>`mouseout` | `fromElement` & `toElement` | `fromElement` & `toElement` | Neither |
| `click` | `toElement` only | Neither | Nei

[2016-04-12 19:15] #48 closed, assigned to nobody

[2016-04-12 19:18] patrickhlauke commented on #49
/cc @rbyers @jacobrossi

[2016-04-14 18:17] NavidZ opened #52 "Pointer Id across different iframes"
There is no indication of whether the user agent is allowed to use different ids for the same pointer across multiple iframe or not.
It seems that what Edge uses as pointer id somewhat comes from the OS it is kind of unique.

I was wondering if that was the intention and if so is it worth to add a note to make sure the id of the same pointer is preserved across different iframes?

[2016-04-14 18:26] patrickhlauke commented on #52
i don't believe - at least from my reading/understanding of the spec - that the intention is for `id` to be consistent across documents/iframes. are there scenarios where it would make a developer's life difficult if the `id` isn't kept the same (something like dragging from a parent to a child iframe, for instance...though i don't think that's easily achievable anyway at this stage)?

[2016-04-14 18:30] NavidZ commented on #52
I vaguely recall that @RByers was saying that if the iframes talk with each other say with postmessage api about one pointer event they should have a way to talk about the same pointer event. If the ids are different then that use case seems impossible.

[2016-04-14 20:38] RByers commented on #52
Yeah I think there could be scenarios.  I've seen some crazy examples of co-ordination between script running in iframes and their parent frame and doing some co-ordination around input (Eg. capture handoff) is not impossible.  If the ID is consistent across frames in Edge, then I'd say we should just put that into the spec - it's a better design IMHO.

[2016-04-14 21:40] patrickhlauke commented on #52
frames/iframes, or are we going further and recommend/suggest it's consistent across documents (e.g. two separate browser windows, side by side. are there further implications, such as a pointer leaving the document and then returning, and making sure that the same `id` is maintained in those scenarios as well, etc?

[2016-04-14 23:23] RByers commented on #52
That's a good question, though less likely to matter in practice.  @NavidZ I forget, we do ID remapping inside of blink, right?  If so providing this same-ID property across different tabs would be broken, and even across different frames in the OOPIF case.

[2016-04-15 01:04] NavidZ commented on #52
Yes. That is right. As of now we do it in Blink but I believe we can always move it up in the stack to have it more broader. However, the question is that whether we would like to support such a feature or not.
If we decide not to it might be better to also not have the consistent ids across any iframes to make sure developers don't make any assumptions based on a few samples they may see. What do

[2016-04-25 14:07] RByers commented on #49
Yeah I think this is a good idea.  Although it's rare, there [are environments](https://wiki.archlinux.org/index.php/Multi-pointer_X) with multiple mouse cursors and there's no good reason for PE to prohibit that IMHO.

[2016-04-25 14:46] RByers commented on #32
Ping @teddink / @jacobrossi, can you guys propose a spec change to more precisely match the Edge behavior here (and/or link to a Edge bug that tracks changing behavior to match the spec)?

[2016-04-25 14:48] RByers commented on #52
I think the least surprising thing for developers is if the IDs are completely consistent (they will think of them as a property of the actual input, not the particular browsing context).  If this is already how Edge behaves and it's not much work to make blink match, then I suggest we just put that into the spec.  As always, minimizing the risk of developer confusion is more important that simpli

[2016-04-25 14:53] patrickhlauke opened #54 "Incorrect definition for primary pen (and possibly touch)"
https://w3c.github.io/pointerevents/#determining-the-primary-pointer currently states

at least for pen, this seems incorrect (assuming that the implementation in Edge on Surface 3 with Pen is correct) - pen input becomes primary as soon as it is detected by the digitizer (hovering stylus/pen) in this scenario, while the spec text implies it would only be promoted to primary once `pointerdown` is

[2016-04-25 15:21] RByers commented on #16
The IDs for touch are often small and monotonically increasing in Edge (and it's of course a constant for mouse), so I think there is a legitimate attack possible here (eg. could probably even try calling `setPointerCapture` on thousands of possible IDs on every RAF tick).  @NavidZ do you want to see if you can write a proof-of-concept for this and try it on Edge?  Eg. even having some cross-origi

[2016-04-25 15:35] RByers commented on #35
In practice I suspect either option will be fine for web compat.  There are already other ways the mouse event sequence can be violated (eg. window covered temporarily or window moved, many browsers don't properly report mouse state transitions).  I agree that solution B is cleaner, but it's more different from what Edge has already shipped.  If Edge folks have a reason to prefer solution A that's

[2016-04-25 19:47] NavidZ commented on #16
In the Edge implementation (I tested with IE11) another frame can indeed steal the input from the outer frame. Particularly in this sample you can see that another iframe is stealing the mouse input (knowing the id is always 1 for mouse or I guess it could have randomly tests thousands ids as you suggested) from the outer frame in IE 11.

http://output.jsbin.com/nadoxi

All you need to do is click

[2016-04-26 15:54] jacobrossi commented on #35
@rbyers here's a link to the bug https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/6773357/

[2016-04-26 19:11] RByers opened #55 "Only people with push access can have issues assigned to them"
It's annoying that users with push access are the only ones who can have issues assigned to them (eg. see isaacs/github#100).  It would help me co-ordinate Google's work if I could assign issues to people  (eg. @navidz, @mustaqahmed, @dtapuska) even though they won't be pushing changes directly.  I propose we just make such people collaborators in the repo and just ask them to continue to rely on

[2016-04-26 19:13] patrickhlauke commented on #55
if it's an easy setting to change, i'd be all in favor to change it (having just had a similar issue in another group, where i first had to be made group member manually by an admin)

[2016-04-26 19:41] RByers commented on #16
We [discussed this today](https://www.w3.org/2016/04/26-pointerevents-minutes.html#item04) on the call.

It sounds like there's agreement that at a minimum sandboxed iframes shouldn't permit capture from outside their frame in order to prevent user annoyance, in the same way that they [don't permit pointer lock](https://html.spec.whatwg.org/multipage/browsers.html#attr-iframe-sandbox-allow-pointer

[2016-04-26 19:47] RByers commented on #52
Discussed [on the call](https://www.w3.org/2016/04/26-pointerevents-minutes.html#item04) today.

We agreed that the IDs should at least be consistent for a given top-level browsing context (tab) as this could be valuable in some scenarios.  @NavidZ is going to prepare a spec PR for this.

It's an open question whether it's worth trying to define consistency on a broader scope.  Eg. it's possible t

[2016-04-26 19:56] shepazu commented on #55
Okay by me, though I confess I don't know how to do this. If you know
how and need me to do something, let me know what to do.

Doug

On 4/26/16 3:13 PM, Patrick H. Lauke wrote:

[2016-04-26 20:08] RByers commented on #35
Thanks!  Notes from discussion on the call today [are here](https://www.w3.org/2016/04/26-pointerevents-minutes.html#item05).

Our main concern is the potential for broken-looking UX when switching between mouse and touch input devices on a website designed only for mouse events (not at all an uncommon scenario).  Eg. move the mouse over one hover menu then tap on another as in [this example](http

[2016-04-26 20:10] patrickhlauke commented on #55
ah, i thought it was something that can be done with a setting, but it seems the only way here is to explicitly add folks as collaborators. so process would be for rick (and anybody else from other orgs/members) to feel free to suggest collaborators to be added, with the understanding that only editors will merge PRs (or give green light for user to merge their own PR). i guess @shepazu or mike co

[2016-04-26 20:12] RByers commented on #55
@shepazu Yep, it's easy for anyone with `pointerevents` admin access.  Just go to the [collaborators setting](https://github.com/w3c/pointerevents/settings/collaboration) and give these people (and probably also @teddink) write access.

[2016-04-29 17:24] RByers opened #58 "Convert spec IDL to "contiguous" style"
ReSpec now generates a warning saying:

Perhaps it's time to finally rewrite using the preferred syntax?  Note that we looked at this for TE at one point: w3c/touch-events#31.

/cc @NavidZ @mustaqahmed in case either of you are interested in picking this up.

[2016-04-29 17:42] RByers opened #59 "Should pointer IDs be unique even across different top-level browsing contexts?"
In Edge the pointer ID is provided by the OS and so is global across the entire system.  In #52 we agreed to require the ID to be unique the top-level browsing context, but it's possible an application could depend on it being unique even across different top-level browsing contexts.  Eg. two instances of an app (in different windows) could maybe be communicating via a server and supporting drag-a

[2016-04-29 17:42] RByers commented on #52
Filed #59 for the harder (but less important) question of what to do across different top-level browsing contexts.

[2016-04-29 18:59] #49 closed, assigned to patrickhlauke

[2016-04-29 20:01] mustaqahmed opened #60 "Change the reference label for UI Events Specification"
The label used here to refer to UI Events Specification is "DOM-LEVEL-3". "DOM-LEVEL-3" is the old name for that spec, seems confusing now at HTML source. We should change the label to something like "UIEVENTS".

[2016-05-03 17:17] #52 closed, assigned to nobody

[2016-05-04 17:52] RByers opened #61 "Should a captured pointer send boundary events by default?"
Edge and the spec send `pointerleave`/`pointerout` when a captured pointer moves outside the bounds of an element (and it's descendants), and `pointerenter`/`pointerover` whenever it moves back in.

There's been some discussion in various places about the implications of this and whether it should change, so [I offered](https://www.w3.org/2016/05/04-pointerevents-minutes.html#item04) to file a ded

[2016-05-04 17:52] RByers opened #566 "Should a captured pointer send boundary events by default?"
Edge and the spec send `pointerleave`/`pointerout` when a captured pointer moves outside the bounds of an element (and it's descendants), and `pointerenter`/`pointerover` whenever it moves back in.

There's been some discussion in various places about the implications of this and whether it should change, so [I offered](https://www.w3.org/2016/05/04-pointerevents-minutes.html#item04) to file a ded

[2016-05-04 17:58] RByers commented on #35
On [the call](https://www.w3.org/2016/05/04-pointerevents-minutes.html#item02) we agreed that this high-level direction was good.  We'll need to write some good web-platform-tests to cover this behavior change, and @teddink says the Edge team is looking into how hard it will be to implement the changes (so may need to come back with implementation-motivated tweaks).  But we're comfortable moving i

[2016-05-04 18:06] RByers commented on #39
On [the call](https://www.w3.org/2016/05/04-pointerevents-minutes.html#item04) it seemed this issue was largely blocked on the big fundamental question of what the right model for transition events during capture is.  Filed w3c/pointerevents#566 to try to get consensus on that.

If we want to move forward in parallel with that, it seems there was agreement that:
1. Firing transition events at one

[2016-05-05 13:46] dmethvin commented on #61
Hit testing and calling `elementFromPoint` inside the event handler itself are likely of equivalent cost? Both need to work from a clean layout. If you could push hit testing off to be handled for the rare cases where it is actually desired, rather than taking a constant penalty for it to generate transition events, that sounds like a good thing. It also avoids the need to worry about strange case

[2016-05-05 13:46] dmethvin commented on #566
Hit testing and calling `elementFromPoint` inside the event handler itself are likely of equivalent cost? Both need to work from a clean layout. If you could push hit testing off to be handled for the rare cases where it is actually desired, rather than taking a constant penalty for it to generate transition events, that sounds like a good thing. It also avoids the need to worry about strange case

[2016-05-05 14:53] RByers commented on #61
Thanks Dave!

Yes.  However it's possible that manual use of `elementFromPoint` could trigger an extra layout (if you're not careful to order your DOM reads/writes) that (depending on if/how the browser aligns input with the document lifecycle) might be avoidable in the built-in hit-testing case.  In the real pathological cases it's often the layout that's really expensive, not the hit-test itself

[2016-05-05 14:53] RByers commented on #566
Thanks Dave!

Yes.  However it's possible that manual use of `elementFromPoint` could trigger an extra layout (if you're not careful to order your DOM reads/writes) that (depending on if/how the browser aligns input with the document lifecycle) might be avoidable in the built-in hit-testing case.  In the real pathological cases it's often the layout that's really expensive, not the hit-test itself

[2016-05-05 18:38] scottgonzalez commented on #61
This actually just came up with a PEP user (unrelated to the transition events during capture though): https://github.com/jquery/PEP/issues/280

I think there will be a lot of work to educate developers about properly throttling DOM manipulation. The tools are available, but the community as a whole still has a long way to go. But this is a much broader issue than what's being discussed here.

[2016-05-05 18:38] scottgonzalez commented on #566
This actually just came up with a PEP user (unrelated to the transition events during capture though): https://github.com/jquery/PEP/issues/280

I think there will be a lot of work to educate developers about properly throttling DOM manipulation. The tools are available, but the community as a whole still has a long way to go. But this is a much broader issue than what's being discussed here.

[2016-05-06 16:34] NavidZ opened #62 "While pointer is captured the boundary of the capturing element should be itself and all its children"
Looking at this example:
https://output.jsbin.com/xidupe

It shows that the hover state is active even if the mouse is over one of the children and not on the element itself. To mimic the same behavior while pointer is captured to an element if the mouse enters one of its children element it should be considered on the capturing element. Basically when the pointer is captured the meaning of pointe

[2016-05-08 20:16] patrickhlauke commented on #54
Closed by https://github.com/w3c/pointerevents/pull/53

[2016-05-08 20:16] #54 closed, assigned to patrickhlauke

[2016-05-09 17:51] NavidZ opened #64 "How removing target in pointer event handler affects compat mouse event target"
There is this paragraph in the spec:

Unless otherwise noted, the target of any mapped mouse event should be the same target as the respective pointer event unless the target is no longer participating in its ownerDocument's tree. In this case, the mouse event should be fired at the **original target's nearest ancestor node (at the time it was removed from the tree) that still participates in its

[2016-05-09 18:14] scottgonzalez commented on #64
Since that's not the easiest thing to follow with all the output, I'll paste the output for the sanity of everyone else that looks at this issue (please do this in the future):

[code]

I assume that by "reparents the target" you mean if the node is appended to a different element. Moving the node requires two steps: removing the node, then inserting the node. The spec already makes it clear that

[2016-05-09 18:41] NavidZ commented on #64
Sure.
My confusion was that from the js point of view you can just call one single API like appendChild and move a node from a its current parent to another one. I was reading a bit further and looking at the appendChild documentation it does mention that it gets removed first and gets added to the new node as you mentioned.

[2016-05-11 16:22] RByers commented on #61
We discussed this on [the call today](https://www.w3.org/2016/05/11-pointerevents-minutes.html) and nobody present could explain why the button scenario would want capture at all, it's most easily implemented by not using capture and having only a `click` listener and CSS `:hover` styling.

I argued there are 3 consistency principles we're trying to uphold here:
1. CSS hover matches poitnerenter/p

[2016-05-11 16:22] RByers commented on #566
We discussed this on [the call today](https://www.w3.org/2016/05/11-pointerevents-minutes.html) and nobody present could explain why the button scenario would want capture at all, it's most easily implemented by not using capture and having only a `click` listener and CSS `:hover` styling.

I argued there are 3 consistency principles we're trying to uphold here:
1. CSS hover matches pointerenter/p

[2016-05-11 18:12] RByers commented on #61
@scottgonzalez / @smaug---- suggest using the term "boundary events" to avoid confusion with [transition events](https://drafts.csswg.org/css-transitions/#transition-events).

[2016-05-11 18:12] RByers commented on #566
@scottgonzalez / @smaug---- suggest using the term "boundary events" to avoid confusion with [transition events](https://drafts.csswg.org/css-transitions/#transition-events).

[2016-05-11 18:20] #64 closed, assigned to nobody

[2016-05-11 18:27] NavidZ opened #65 "Default width/height attribute for mouse"
Spec is sort of silence about the default value of width and height property of devices that are not reporting the actual geometry of the pointer particularly mouse.

"The width (magnitude on the X axis), in CSS pixels (see [CSS21]), of the contact geometry of the pointer. This value may be updated on each event for a given pointer. For devices which have a contact geometry but the actual geometry

[2016-05-11 19:53] scottgonzalez commented on #65
I would expect the value to be 1 for mice.

[2016-05-11 19:57] teddink commented on #65
Adding a note is fine - like Scott I would expect the value to be one for mice and pen and trackpad, unless of course the HW device reports something more specific and granular.

[2016-05-11 20:04] patrickhlauke commented on #65
Not sure where we'd put the note though. As part of the definition of `width`, of `height`, of both, or - very disconnected - after all the interface definitions?

Personally, I think authors would simply expect a value of 1 for `width` and `height` in the case of a mouse and stylus...not sure it needs spelling out explicitly.

[2016-05-12 17:49] mustaqahmed commented on #4
Section 5.1.1.2 and Section 5.1.1.3 (added through #34) fixes the main problem in this issue. We still don't explicitly mentioning that <code>buttons</code> is a bitmask. I think it would clarify the term "current state" in Section 5.1.1.3. I will create a PR now.

[2016-05-12 18:26] mustaqahmed commented on #65
I agree that adding a note could be a bit tricky here. But what about changing the default value to 1 (from 0)?

A device which doesn't know about the contact geometry still must report a pointer coordinate that essentially "points" to a CSS pixel---I guess this is why we easily agreed that mouse/pen/trackpad should have default 1.

[2016-05-12 19:15] #4 closed, assigned to RByers

[2016-05-12 19:36] patrickhlauke commented on #65
I guess the difference here is: if I query the property and get 0, this clearly means that the hardware/OS/UA had no idea what the width/height were and did not even attempt to make a guess (which, depending on what pointer type this came from, can tell the author that they need to do their own guessing/choosing a value for whatever their code does). If we standardise to 1, it may be a device that

[2016-05-12 19:45] NavidZ commented on #65
So with this discussion should we maybe set the width and height of mouse pointers to 0 as well and let the author decide what to do with that?

[2016-05-12 21:15] patrickhlauke commented on #65
i would say no. for mouse the browser DOES know (or rather, it can strongly infer it) that it's 1x1 pixels, and is free to report it having `width` and `height` of 1 if it so desires. my concern, however, is that if we define the default/fallback in general (for all pointer types) as 1, then in situations where i as an author receive a touch pointer with reported 1x1, how can i be sure if it's jus

[2016-05-13 16:55] mustaqahmed commented on #65
Just realized that the current wording for the default value ("_Otherwise_, the value must be 0") also covers the case when the geometry is _undefined_, e.g. for a hovering stylus. This is another strong argument to rule out my suggestion to change the default value :-(

I think we need a note to highlight the hovering stylus case (in addition to fixing the main issue here) since it is easy to mis

[2016-05-13 17:29] patrickhlauke commented on #65
is there a need to differentiate between "the hardware doesn't capture geometry info, and the browser didn't want to fake it, so the value is 0" and "the hardware DOES capture geometry, and it's really a hovering pointer (i'm including hovering touches here as well, a la https://blogs.msdn.microsoft.com/msr_er/2016/04/28/enhanced-virtual-reality-among-new-microsoft-research-advances-at-chi-2016/)"

[2016-05-13 17:34] teddink commented on #65
That is indeed an interesting use case - in the end Edge relies on the HW and the OS Platform to report that information to us. In the case of Windows Phone the OS tells us that width and height are 0 for touch input, so that is what we plumb through. Similarly, at least on my touchscreen enabled desktop, we get and report 26 for the width and height for touch input. I am not sure what the OS repo

[2016-05-13 18:04] dmethvin commented on #65
It seems like 26 is a somewhat bogus answer that isn't dependent on the actual width of pointer contact. I get 26 on my Lenovo X1 Carbon in Edge and 21 in IE11, regardless of the fatness of the finger I use. :smile: Also, if the screen is zoomed by a double-tap the value becomes a constant 14 on both browsers. :question:

http://jsbin.com/fefise/edit?html,js,console,output

If this value is going

[2016-05-13 18:35] teddink commented on #65
Updated info - here is what we are seeing in practice:

**Surface Book**
Pen Hover = 1, 1
Pen in Contact = 1, 1
Touch = ~50, ~50 (varies based on the size and shape of your finger)

**Surface Pro 4**
Pen Hover = 1, 1
Pen in Contact = 1, 1
Touch = ~50, ~50 (varies based on the size and shape of your finger)

[2016-05-13 18:49] patrickhlauke commented on #65
I would expect these to be, in the first instance, similar to hovering stylus/pen pointer events `pointerType == "touch"`,  `pressure == 0`, `width == 0` and `height == 0`. and then yes, a new property `elevation` on the pointer event object

[2016-05-13 18:57] patrickhlauke commented on #65
So removing this, basically?

Incidentally, for Touch Events, I seem to recall that some browsers do the same "fake" estimation of `radiusX`/`radiusY` (and on some devices, use these values to fake `force` even on non-pressure-sensitive touchscreens). however, http://w3c.github.io/touch-events/#widl-Touch-radiusX seems more specific that UAs should simply report 0 here and not approximate anything

[2016-05-13 18:59] RByers commented on #65
I agree that Mouse/Pen have a definite size (1,1) (although you could argue that on some HighDPI systems it might be (0.5,0.5) etc.).  I also agree that we want to differentiate that definite size from unknown.  Navid, did you see this difference affecting some size behavior in practice?

For TouchEvents we've worked to only expose `radius` values when we're supplied with values we trust from the

[2016-05-13 19:01] patrickhlauke commented on #65
are there any potential scenarios (current or future) where a system may have a different `width`/`height` somehow for mice? some kind of "fat mouse" setting (which allows users more coarse pointing, and uses same sort of averaging/smoothing/heuristics [ed: as touch] to determine what they actually did want to activate when they click the mouse button)? it's...conceivable? if so, i'd rather not wr

[2016-05-13 19:06] patrickhlauke commented on #65
On my Surface 3 (which does detect touch geometry), using http://patrickhlauke.github.io/touch/tracker/multi-touch-tracker-pointer-hud.html Chrome seems to consistently fake a `radiusX` and `radiusY` of 25

[2016-05-13 19:10] patrickhlauke commented on #65
having said that, I guess in those scenarios the OS itself would handle the heuristics of determining what the user _actually_ wanted to activate/hover over/etc, and would then simply send 1x1 "points" on to the application layer...

[2016-05-13 19:16] patrickhlauke commented on #65
so next question: can we conceive of a situation where a stylus/pen might have variable geometry? like having a fat rubber/erase type end where you could just touch on an edge and have a very small contact, or use the flatter part for a larger contact?

otherwise, we could probably define that:
- if it's an input device type that can have variable geometry (touch), the value of `width` and `height

[2016-05-13 21:04] dmethvin commented on #65
:+1:

I guess the spec doesn't have to preclude the existence of a "fat mouse" but a typical mouse could still be 1x1.

If not 1 then some fixed value representing its hotspot if you still want fat mice.

[2016-05-14 00:03] #45 closed, assigned to nobody

[2016-05-14 17:39] RByers commented on #22
Note we discussed this back in 2014 [here](https://lists.w3.org/Archives/Public/public-pointer-events/2014AprJun/0055.html)

[2016-05-17 21:18] teddink commented on #32
I will propose a spec change to match the Edge behavior, which is what we intended, but perhaps did not communicate well in the spec.

[2016-05-17 21:20] RByers commented on #32
Thanks.  Even better than just a spec change would be some new tests to cover the expected behavior and help us to confirm we are interoperable here.

[2016-05-18 23:57] teddink commented on #61
Here is a short video of the Windows 10 built in "modern" Mail app: [Mail App Video](https://1drv.ms/v/s!AjqY3A8n3XjcrfMMltLo7R5kzGSvZg) Notice how the pointer gets captured to the button that the is first touched, then no other buttons or anywhere else on the screen is getting pointer events. When the finger is returned to the original button and released, then the action for the button is comple

[2016-05-18 23:57] teddink commented on #566
Here is a short video of the Windows 10 built in "modern" Mail app: [Mail App Video](https://1drv.ms/v/s!AjqY3A8n3XjcrfMMltLo7R5kzGSvZg)
Notice how the pointer gets captured to the button that the is first touched, then no other buttons or anywhere else on the screen is getting pointer events. When the finger is returned to the original button and released, then the action for the button is comple

[2016-05-19 00:16] patrickhlauke commented on #61
that is essentially what I was talking about in the last call (when mentioning also how this provides the ability for users to change their mind after they started to put their finger on the button, but then don't want to execute).

i think it was scott who then said that you wouldn't really do this with pointer events and capture, but just listen for click (for the action itself, which will only

[2016-05-19 00:16] patrickhlauke commented on #566
that is essentially what I was talking about in the last call (when mentioning also how this provides the ability for users to change their mind after they started to put their finger on the button, but then don't want to execute).

i think it was scott who then said that you wouldn't really do this with pointer events and capture, but just listen for click (for the action itself, which will only

[2016-05-19 02:28] NavidZ commented on #61
Although that particular UI seems weird to me but I guess that's just me and I totally agree we should make it possible for a developer to implement that UI.
@teddink, let me ask you this question regarding the boundary events in the case of that button since I got a bit confused how much of it is automated. Do you expect the developers to change the style of the button based on pointerleave/enter

[2016-05-19 02:28] NavidZ commented on #566
Although that particular UI seems weird to me but I guess that's just me and I totally agree we should make it possible for a developer to implement that UI.
@teddink, let me ask you this question regarding the boundary events in the case of that button since I got a bit confused how much of it is automated. Do you expect the developers to change the style of the button based on pointerleave/enter

[2016-05-19 12:57] scottgonzalez commented on #61
As far as I can tell, Edge doesn't implement that behavior for native `<button>` elements (there's no implicit capture). So this would be a custom implementation anyway, which gets us to the question that @NavidZ asks: is it important to have the browser do hit testing for you when you can do it yourself? The logic is extremely similar to drag and drop scenarios where you want to capture on the dr

[2016-05-19 12:57] scottgonzalez commented on #566
As far as I can tell, Edge doesn't implement that behavior for native `<button>` elements (there's no implicit capture). So this would be a custom implementation anyway, which gets us to the question that @NavidZ asks: is it important to have the browser do hit testing for you when you can do it yourself? The logic is extremely similar to drag and drop scenarios where you want to capture on the dr

[2016-05-19 15:01] NavidZ commented on #65
There were 2 points that were mentioned regarding possibility of a mouse not having a width=height=1. One is some kind of a "fat mouse" and the other one is in the high DPI systems that the point is event smaller than 1,1. So the question I'm having here is that why would ask the browser to do any guessing at all for the width and height of a device that doesn't report any? Basically if an app rea

[2016-05-19 23:37] RByers commented on #65
I think I remember talking with @jacobrossi about this back in the day and the argument for 1 was that it makes it easier to write code that wants to just use width/height without having to provide a default case.  I can also see the argument for being able to differentiate the unsupported case.  But this is all pretty niche, not worth a lot of effort or compat risk IMHO.

I'd suggest we should ju

[2016-05-20 12:08] patrickhlauke commented on #65
i was going to initially argue back with some concepts of purity etc...but you know what, I can actually live with making `width` and `height` default to `1` under some form of philosophical understanding that by this we mean that a "pointer" always needs to point somewhere, so has to have at least 1x1 CSS pixel size.

happy to draft up a PR for this later today...

[2016-05-20 14:43] patrickhlauke commented on #65
PR #69 for review, which i believe captures the overall feeling here of making `1` the new default value (with explicit mention of mouse/stylus), and removing the UA guessing/faking game...

[2016-05-20 21:32] teddink commented on #61
@scottgonzalez - Correct, Edge does not implement an implicit capture on the <button> elements.

Regarding the hit testing aspects of the discussion - I do not have any tests or data, but I do wonder if the UA can make more optimizations in its hit testing than the web developer can in JavaScript. To put it another way, I am questioning whether a hit testing loop in JavaScript is really equivalent

[2016-05-20 21:32] teddink commented on #566
@scottgonzalez - Correct, Edge does not implement an implicit capture on the `<button>` elements.

Regarding the hit testing aspects of the discussion - I do not have any tests or data, but I do wonder if the UA can make more optimizations in its hit testing than the web developer can in JavaScript. To put it another way, I am questioning whether a hit testing loop in JavaScript is really equivale

[2016-05-21 12:02] patrickhlauke commented on #65
while i'm in that area, a nitpick

[code]

isn't this the wrong way around? isn't it that if the geometry changes, it will fire an event? or am i splitting hairs?

[2016-05-23 12:58] patrickhlauke commented on #65
answering my own question - yes, i'm probably splitting semantic hairs here, i think the meaning here is clear enough for now

[2016-05-23 13:01] patrickhlauke commented on #55
has this been done? (not hassling @shepazu, just wondering if this can be closed, as i can't verify it)

[2016-05-23 13:11] patrickhlauke opened #70 "Add additional digitizer/pen attributes: barrel pressure (tangential pressure)"
this issue splits out the discussion around https://github.com/w3c/pointerevents/issues/25#issuecomment-193898076 - adding a barrel pressure / tangential pressure attribute (implemented as a scroll-wheel or similar on airbrush digitizers), maps to HID digitizer 0x31

[2016-05-23 13:13] patrickhlauke commented on #25
split out the barrel pressure discussion into its own issue. refocusing this issue to be specifically only about rotation / twist (HID digitizer 0x41). i'd be in favor of adding this if we can get a sense of what values we get (presumably something that denotes the angle 0-359)

[2016-05-23 13:26] patrickhlauke commented on #26
Closing this, since - as discussed in the thread already - this feels more like a use case for the GamePad API, UIEvents and WebUSB

[2016-05-23 13:26] #26 closed, assigned to nobody

[2016-05-23 13:30] patrickhlauke commented on #11
I think as we've been doing fine without it (and any github activity is fired to the mailing list), we can probably close this...

[2016-05-23 13:30] #11 closed, assigned to nobody

[2016-05-23 13:33] patrickhlauke commented on #6
Is this actually implemented now? Or are we thinking theoretical demos?

[2016-05-24 12:28] dfleck commented on #25
On Windows it’s 0.0 to 360.0 degrees of a pen device around its own major axis (such as when the user spins the pen in their fingers) with a default of 0.0

Dave

---

With the blood in the ink of the headlines
And the sound of the crowd in my ear
You might ask what it takes to remember
When you know that you've seen it before
Where a government lies to a people
And a country is drifting to war
--

[2016-05-25 13:48] RByers commented on #6
It's implemented in Chrome behind the enable-experimental-web-platform-features flag.

[2016-05-25 13:48] RByers commented on #11
Yeah SGTM, thanks.

[2016-05-25 13:50] RByers commented on #55
No, it hasn't.  You can verify by trying to assign an issue to @teddink, @navidz, etc.

[2016-05-25 13:51] RByers commented on #65
I agree, if the geometry is updated the UA MUST fire a `pointermove` to indicate that.

[2016-05-25 13:55] shepazu commented on #55
Done. Sorry for the delay.

[2016-05-25 14:02] RByers commented on #61
To summarize, I think we're all on the same page wrt. the use case, the debate is just centering around how easy/hard the different ways to implement that use case are:

1. Using pointer capture and boundary events (what works in Edge today but this issue is questioning) with custom click-detection logic
2. Using pointer capture and explicit hit testing (`elementFromPoint`) with custom click-detec

[2016-05-25 14:02] RByers commented on #566
To summarize, I think we're all on the same page wrt. the use case, the debate is just centering around how easy/hard the different ways to implement that use case are:
1. Using pointer capture and boundary events (what works in Edge today but this issue is questioning) with custom click-detection logic
2. Using pointer capture and explicit hit testing (eg. `elementFromPoint` or simple bounds chec

[2016-05-25 14:16] RByers commented on #55
Thanks @shepazu.  I see @mustaqahmed now, but not @navidz, @teddink or @dtapuska.  Are they all added?

[2016-05-25 14:22] RByers opened #71 "ReSpec error: "A custom SotD paragraph is required for your type of document.""
ReSpec is reporting: "A custom SotD paragraph is required for your type of document".  I don't know if something changed in the spec to trigger this, or if respec has changed to have a new rule.  Regardless we should figure out what we should do to eliminate the error.

[2016-05-25 14:28] shepazu commented on #55
Yes, I added all of them, but I don't think all of them have yet accepted the invitation.

[2016-05-25 14:30] RByers commented on #55
Ah of course, thanks.

[2016-05-25 14:40] smaug---- commented on #61
But you could optimize out most of the hit testing if you detected the relevant area in compositor side.

[2016-05-25 14:40] smaug---- commented on #566
But you could optimize out most of the hit testing if you detected the relevant area in compositor side.
(however, I don't have a strong opinion what the spec should say about this.)

[2016-05-25 15:49] RByers commented on #7
On today's call @teddink said it was their intention to have Edge's behavior match this PR but it'll take them some time to try coding it up and understand the full impact in practice.

[2016-05-25 16:03] #65 closed, assigned to nobody

[2016-05-25 16:20] patrickhlauke commented on #25
In the call today (https://www.w3.org/2016/05/25-pointerevents-minutes.html) the question about actual devices that support rotation came up. This Wacom art pen (compatible with Intuos Pro) https://us-store.wacom.com/Product/Art-Pen-S01 supports rotation.

[2016-05-25 16:21] patrickhlauke commented on #70
In the call today (https://www.w3.org/2016/05/25-pointerevents-minutes.html) the question about actual devices that support rotation came up. This Wacom airbrush pen (compatible with Intuos Pro) https://us-store.wacom.com/Product/Airbrush-Pen-black-S01 supports barrel pressure.

[2016-05-25 16:35] RByers commented on #25
Oh right, we do have one of those.  If it's easy to get this value from the underlying OS, I doubt we'd have any hesitation to exposing it in Chrome (just a little bit of plumbing).

[2016-05-25 16:38] RByers commented on #35
Spec is updated, leave the issue open pending some new / updated tests?

[2016-05-25 16:39] #55 closed, assigned to nobody

[2016-05-25 16:43] RByers commented on #6
Next step here is to write a demo (eg. of the carousel case interacting reasonably with panning while pinch-zoomed).  @dtapuska, @NavidZ any interest?

[2016-05-25 17:31] dtapuska commented on #6
I had written a [carousel](http://dtapuska.github.io/touch-action/carousel.html) before; I guess the viewport isn't scalable.

[2016-05-25 18:13] patrickhlauke commented on #71
caused by https://github.com/w3c/pointerevents/pull/67 most likely. wonder what custom content we should have there though...thoughts?

[2016-05-25 18:24] RByers commented on #6
Oh I forgot you wrote that, sorry!  I think it demonstrates the essential point here (a carousel inside something else that scrolls - doesn't really matter if that's a pinch viewport or some other scroller).

With `pan-right`/`pan-left` support you can swipe all the way to the end of the carousel (49), lift, then drag to scroll the container to the right.  Without `pan-right` and `pan-left` I don'

[2016-05-25 19:32] patrickhlauke commented on #25
Note that this is not the pen that comes with the Intuos Pro by default (the picture seems incorrect, as the description states "This cordless, battery-free Art Pen features a broad, chisel-shaped pen tip"). If I had a slush fund, I'd purchase this one and the airbrush for testing... (nudge nudge ;) )

[2016-05-25 19:33] patrickhlauke commented on #25
I guess this also answers the question/concern that @teddink had about it needing to be supported in Windows. And possibly even @shepazu's suggestion that this may be "at risk", as it's actually available in the wild (though granted not very common)?

[2016-05-25 20:15] patrickhlauke commented on #25
@dfleck mentioned to me on email just now that it should be straightforward to get this from the underlying OS on Windows at least - see https://msdn.microsoft.com/en-us/library/windows/apps/windows.ui.input.pointerpointproperties.twist?f=255&MSPPError=-2147217396

[2016-05-25 20:21] RByers commented on #71
[respec docs](https://www.w3.org/respec/#section) say:

Running the [PubRules checker](http://services.w3.org/xslt?xmlfile=http%3A%2F%2Fservices.w3.org%2Ftidy%2Ftidy%3FdocAddr%3Dhttps%253A%252F%252Fw3c.github.io%252Fpointerevents%252F&xslfile=http%3A%2F%2Fservices.w3.org%2Fxslt%3Fxmlfile%3Dhttp%3A%2F%2Fwww.w3.org%2F2005%2F07%2Fpubrules%253Fuimode%253Dchecker_full%2526year%253D0001%2526docstatus%25

[2016-05-25 20:43] smaug---- commented on #25
Is the feature supported on any other platform?
Does anyone know how common the relevant devices are?

[2016-05-26 19:56] patrickhlauke commented on #25
In the case of the Wacom tablet and art pen, assuming the correct drivers are installed, it is supported (and it's a standard USB HID feature).

As for the "how common" question: considering that `tiltX` and `tiltY` support is also not very common (for instance only the "Pro" Wacom Intuos supports it, while all cheaper tablets in that range don't; also, Surface Pen has no tilt support), but it's i

[2016-05-26 20:17] smaug---- commented on #25
Well, in general we can't add web API for all the possible existing devices. And we (== web API designers) tend to add new APIs too easily and then later realize that we did something wrong and need to fix our mistakes. So that is why I'm just asking whether we think there will be use for these new attributes. But sounds like there might be enough use cases and device and OS support.

(I'm assumin

[2016-05-26 22:51] skibulk commented on #25
On the other hand, having software support for a feature encourages
manufactures to fall in line.

On Thu, May 26, 2016 at 4:17 PM, smaug---- notifications@github.com wrote:

[2016-05-31 20:46] scottgonzalez commented on #61
Implementations of various approaches to the button capture use case:

* boundary events: http://jsbin.com/zegubuyabi/1/edit?js,output
* elementFromPoint: http://jsbin.com/yeyiyawici/1/edit?js,output
* bounding box: http://jsbin.com/gatenotaba/1/edit?js,output

The bounding box example doesn't work properly in Edge, `event.offsetX` and `event.offsetY` seem to be incorrect. I couldn't figure out ho

[2016-05-31 20:46] scottgonzalez commented on #566
Implementations of various approaches to the button capture use case:
- boundary events: http://jsbin.com/zegubuyabi/1/edit?js,output
- elementFromPoint: http://jsbin.com/yeyiyawici/1/edit?js,output
- bounding box: https://jsbin.com/havubim/edit?js,output

<del>The bounding box example doesn't work properly in Edge, `event.offsetX` and `event.offsetY` seem to be incorrect. I couldn't figure out ho

[2016-05-31 21:16] NavidZ commented on #61
Maybe using clientX/Y is better for that? I don't know if there is a case that this one missing
https://jsbin.com/havubim/edit?html,css,js,output

[2016-05-31 21:16] NavidZ commented on #566
Maybe using clientX/Y is better for that? I don't know if there is a case that this one missing
https://jsbin.com/havubim/edit?html,css,js,output

[2016-05-31 22:20] scottgonzalez commented on #61
That works. I've updated the links in my previous comment. Thanks.

[2016-05-31 22:20] scottgonzalez commented on #566
That works. I've updated the links in my previous comment. Thanks.

[2016-06-01 11:20] patrickhlauke commented on #71
Looks good to me, though I'd also add something about fixing minor bugs/inconsistencies and adding clarifications. Something like:

Would be interested in comments from other WG members on this proposed SotD

[2016-06-01 12:15] patrickhlauke opened #73 "Preparation for FPWD publication of Pointer Events Level 2"
Meta-issue for FPWD publication:
- [x] Update revision history
- [x] Make SotD descriptive of changes in Level 2 relative to Level 1
- [x] Send email requesting FPWD publication

[2016-06-01 12:16] patrickhlauke commented on #73
Update to revision history: https://github.com/w3c/pointerevents/pull/72

[2016-06-01 12:16] patrickhlauke commented on #73
SotD: https://github.com/w3c/pointerevents/issues/71

[2016-06-01 14:39] RByers commented on #71
Your text is better than mine, thanks!

[2016-06-01 14:55] RByers commented on #61
Thanks Scott.  For the captured w/ boundary events case we also need a bit of custom logic to handle clicks, right?  I guess it's just a click handler that bails out if the active class isn't applied?

[2016-06-01 14:55] RByers commented on #566
Thanks Scott.  For the captured w/ boundary events case we also need a bit of custom logic to handle clicks, right?  I guess it's just a click handler that bails out if the active class isn't applied?  It's having to ignore some click events that makes using capturing feel a little hacky to me (the button doesn't _really_ want all events, it just doesn't want anyone else to get them).

[2016-06-01 14:58] scottgonzalez commented on #61
If you press down on button A, move to button B, and release, you shouldn't get a click on either of the buttons.

[2016-06-01 14:58] scottgonzalez commented on #566
If you press down on button A, move to button B, and release, you shouldn't get a click on either of the buttons.

[2016-06-01 15:18] RByers commented on #59
Agreed on today's call that it's unlikely anyone will come to depend on the IDs being consistent between top-level browsing contexts.  We'll add a note to the spec saying this isn't guaranteed, but not worry about the fact that some browsers (Edge) will provide this behavior and other will not.  If we later find evidence that some developer was depending on this, we'll revisit.  @teddink says they

[2016-06-01 15:23] teddink commented on #71
A minor point - please make an edit to call the browser "Microsoft Edge" - that is the "official" public name for the browser that Microsoft now ships. We can (and do) all colloquially call it just Edge, but it would be better to have the official name in a spec document.

[2016-06-01 15:59] RByers commented on #14
In our call today @scottgonzalez argued that the simplest thing is to treat stylus like mouse - send `pointerdown` / `pointerup` on hovering button press.  We'd update the spec for this by removing the "pen contact" conditions in [chorded button interactions](https://w3c.github.io/pointerevents/#chorded-button-interactions).  Some devices / OSes may not support such hovering button presses, and th

[2016-06-01 16:00] RByers commented on #14
Action: @teddink to check with Jacob (and Windows pen folks) to see if this behavior would be OK to them.  @scottgonzalez to add any details I missed in his proposal.

[2016-06-01 17:04] scottgonzalez commented on #14
I believe that is a complete description, and it's such a small change :-)

[2016-06-01 17:52] RByers commented on #61
Oh, right - IMHO that violates the spec for `click` (which is defined to go to the common ancestor of the `mousedown` and `mouseup` targets.  @NavidZ has been looking at that and will file a separate issue.  In the "capturing alters hit-testing" model we're advocating, I would expect a `click` event on the captured node, regardless of where the pointer moves to (but we could define it as a special

[2016-06-01 17:52] RByers commented on #566
Oh, right - IMHO that violates the spec for `click` (which is defined to go to the common ancestor of the `mousedown` and `mouseup` targets.  @NavidZ has been looking at that and will file a separate issue.  In the "capturing alters hit-testing" model we're advocating, I would expect a `click` event on the captured node, regardless of where the pointer moves to (but we could define it as a special

[2016-06-01 17:57] scottgonzalez commented on #61
Assuming you're in a sane scenario where the pointer is captured to an element that received `pointerdown`. In that case, both `pointerdown` and `pointerup` will occur on the captured element, regardless of where the pointer is actually positioned. As a result, you *should* get a `click` event without any changes to the spec.

[2016-06-01 17:57] scottgonzalez commented on #566
Assuming you're in a sane scenario where the pointer is captured to an element that received `pointerdown`. In that case, both `pointerdown` and `pointerup` will occur on the captured element, regardless of where the pointer is actually positioned. As a result, you _should_ get a `click` event without any changes to the spec.

[2016-06-01 19:52] patrickhlauke commented on #58
for reference, details for the contiguous IDL have been moved to https://www.w3.org/respec/examples/webidl-contiguous.html

[2016-06-01 20:08] patrickhlauke commented on #71
Expanded the above slightly (to mention the other interoperable/independent implementations in pre-release builds of Firefox/Chrome, to swap emphasis on addressing design criticism rather than wider browser adoption, and to add "Microsoft" to the canonical product name for Edge). Feedback on #74 welcome, but barring any major disagreement keen to push this out later tonight.

[2016-06-01 20:33] NavidZ opened #75 "Click event while a pointer event is captured"
Consider these scenarios and their outputs in the [following page](https://output.jsbin.com/zuwiwep).

The output of Edge (and it is the same in current Chrome canary with pointer event flags on):

**1. Mousedown on blue. Mouseup on blue.**
blue pointerdown
Set pointer capture to blue div
blue gotpointercapture
blue pointerup
blue click
blue lostpointercapture

**2. Mousedown on green. Mouseup on

[2016-06-02 20:32] #71 closed, assigned to patrickhlauke

[2016-06-03 00:20] scottgonzalez commented on #75
Only scenario 2 was unexpected to me.

The relative order of `pointerup` and `lostpointercapture` is defined in the spec, but the relative order of `lostpointercapture` and `click` is undefined, so I'm inclined to ignore the fact that this specific implementation fires `lostpointercapture` after `click`. With that in mind, here's why only scenario 2 was unexpected:

A click occurs when a button is

[2016-06-03 01:36] NavidZ commented on #75
Why scenario 3 is correct? blue is getting pointerdown as well as pointerup. So how come grey is getting the click?

Also in scenario 4 which is related to your first paragraph, I think either click
1. should be suppressed
2. be sent to grey after the lostpointercapture
3.  be excluded from the capturing mechanism saying that click can go to the element that doesn't have capture

So I was not sure

[2016-06-03 02:04] scottgonzalez commented on #75
Sorry, I missed that after going back up and reading the summary. Scenario 3 should have blue as the target.

Well, given that the relative order of `lostpointercapture` and `click` is undefined, I don't think 2 can be specified unless we start defining the order of events that we don't define the behavior of. I'm not sure what 3 means since click is already excluded from the capturing mechanism.

[2016-06-03 02:25] NavidZ commented on #75
I modified the original issue to have the outputs right after each scenario to make it more clear.

So basically in 3, what I'm saying is that if click is defined as an event that will be fired to the first common ancestor of pointerdown and pointerup targets then scenario 4 makes sense. However from my understanding of the current spec no event should be fired to an element that doesn't have capt

[2016-06-03 02:39] scottgonzalez commented on #75
Even with the current spec, boundary events are not sent to other elements. What we're discussing removing is the boundary events that are sent to the captured element.

But the spec says "Immediately after firing the pointerup or pointercancel events, a user agent must run the steps as if the releasePointerCapture() method has been called with an argument equal to the pointerId property of the po

[2016-06-03 12:52] RByers commented on #585
There's a good [discussion](https://discourse.wicg.io/t/additional-use-cases-for-inputdevicecapabilities/1138/9?u=rickbyers) of the need for this on WICG, based around [this use case](https://github.com/Leaflet/Leaflet/issues/4538).

Key question is: how should this API behave on continuous scrolling devices, and can we identify those devices reliably on all OSes?  On Windows I think we'd just wan

[2016-06-03 15:19] IvanSanchez commented on #585
Related: https://github.com/Leaflet/Leaflet/issues/4592, https://github.com/Leaflet/Leaflet/issues/4538

The current implementations rely on accumulating pixel deltas and using `WHEEL_DELTA` as a threshold - the main problem being that `WHEEL_DELTA` is not consistent across browsers (it might depend on the browser vendor, user's configuration and viewport geometry).

[2016-06-06 20:59] teddink commented on #75
I am in agreement with Scott on this one. Scenario 2 seems like a bug to me - the click should follow the spec and move to grey as the first common ancestor. Also, Scenario 3 also seems like a bug - since blue experienced both the pointerdown and pointerup, blue should get the click.

Regarding the ordering of click and lostpointercapture - I agree from the cleanliness and logical perspective that

[2016-06-06 21:07] teddink commented on #61
Similar to my comment on #75, if an element gets both `pointerdown` and `pointerup`, I would expect that element to get the `click` event as well.

[2016-06-06 21:07] teddink commented on #566
Similar to my comment on w3c/pointerevents#75, if an element gets both `pointerdown` and `pointerup`, I would expect that element to get the `click` event as well.

[2016-06-06 22:15] teddink commented on #32
I now understand the behavior that Edge (and IE11) currently has. Edge will immediately fire `gotpointercapture` ONLY when `setpointercapture` was called as a result of `pointerdown`. The code does NOT do anything special for `lostpointercapture` - so `lostpointercapture` continues to follow the spec as written. I will also comment on PR #76 by @NavidZ.

We made this change quite a while ago in re

[2016-06-07 14:45] NavidZ commented on #32
There is one more thing. Edge does send a pointer move after about 3 seconds when I press mouse button and don't move at all. That causes the lostpointercapture or gotpointercapture be dispatched by that time at least once. I don't know what the origin of that synthetic event is. But Chrome or FF doesn't send that event. Do you think that might create some other compat issues that lost/gotpointerc

[2016-06-08 09:06] patrickhlauke opened #82 "tabs vs spaces (sorry)"
At the risk of starting a holy war...current spec markup uses both, and it's confusing. Can we normalize this to either tabs or spaces? I'm not particularly fussed about which one (if you have strong opinions, voice them here now...)

[2016-06-08 13:37] RByers commented on #75
I agree that scenario 2 seems like a bug - click should be on grey (common ancestor of the target of pointerdown and pointerup).

But if we agree on that, then what about scenario 3?  Following the same principle, the pointerdown and pointerup targets are both `blue` so click should go to `blue` right?  This, I think, is the most important question here, and the one directly related to the debate

[2016-06-08 13:42] RByers commented on #82
Yes please.  Spaces offer the least opportunity for confusion IMHO.

[2016-06-08 14:22] scottgonzalez commented on #75
@RByers it seems like @teddink and I were both in agreement that blue should get the `click` event in scenario 3. I think this _is_ what developers will expect and I doubt it would cause compatibility issues, though I don't have any data for compatibility.

[2016-06-08 14:23] RByers commented on #75
Whoops sorry, I see that now - thanks.  Great, that really makes for the most consistent model I think!  We should give that a try in Chrome and see how it goes.

[2016-06-08 14:50] #59 closed, assigned to NavidZ

[2016-06-08 17:40] mustaqahmed commented on #75
It seems we have all agreed that the nearest common ancestor of pointerdown & pointerup should receive the click event, right?

We shouldn't fire click for non-primary buttons, so we can restrict the events to primary buttons only ("pointerdown with button=0" and "pointerup with button=0" instead). This would cover the chorded buttons case but won't fire a click when the primary button doesn't cau

[2016-06-08 21:29] #25 closed, assigned to nobody

[2016-06-08 22:32] RByers commented on #70
Looks like MacOS has a standard API for this: [NSEvent tangentialPressure](https://developer.apple.com/library/mac/documentation/Cocoa/Reference/ApplicationKit/Classes/NSEvent_Class/#//apple_ref/occ/instp/NSEvent/tangentialPressure).  This passes my "at least one major OS must have built-in API support test", so I support adding this.

[2016-06-08 23:34] patrickhlauke opened #85 "Moving "Firing events..." and "Process Pending Pointer Capture""
Should "Firing events using the PointerEvent interface" and "Process Pending Pointer Capture" logically come under "5.1 PointerEvent Interface" rather than "5.2 Pointer Event Types"

[2016-06-08 23:37] patrickhlauke opened #86 ""Pointer Event Types" misleading/inappropriate section heading?"
Currently we have "5.2 Pointer Event Types", which has no content other than "List of Pointer Events" and then sibling headings for all events. Would it be more logical to drop "Pointer Event Types" and promote "List of Pointer Events" one hierarchical level up, so that the following headings then come under it?

[2016-06-08 23:37] #73 closed, assigned to patrickhlauke

[2016-06-09 00:02] #82 closed, assigned to nobody

[2016-06-09 18:18] mustaqahmed commented on #35
Closing this since the spec issue is now resolved. I will create a new issue in w3c/web-platform-tests.

[2016-06-09 18:18] #35 closed, assigned to mustaqahmed

[2016-06-10 17:00] RByers commented on #86
SGTM

[2016-06-10 17:03] RByers commented on #85
They don't seem to fit super-well in either section IMHO.  Maybe they should be two new sub-sections of section 5?  Regardless they should show up in the table of contents - they're pretty significant sections IMHO.

[2016-06-10 22:46] #70 closed, assigned to nobody

[2016-06-11 13:08] patrickhlauke opened #88 "illustration for "twist" ?"
`tiltX` and `tiltY` have some snazzy illustrations in https://w3c.github.io/pointerevents/#pointerevent-interface - wonder if we could get a similar one for the new `twist` property too? i guess @jacobrossi @teddink might know how the original images were created, and whether it's possible to either get the source images, 3D model, or whatever else may be needed to add new ones?

[2016-06-13 14:28] RByers commented on #88
meh.  It's an obscure feature and pretty self explanatory IMHO.  Sure it would be nice though if someone can produce / update the image easily.  But it's not where I'd personally spend my effort.

[2016-06-13 17:41] patrickhlauke commented on #88
well i wasn't expecting this to be an onerous thing to create. more for completeness' sake...

[2016-06-13 18:13] #85 closed, assigned to nobody

[2016-06-13 18:14] patrickhlauke commented on #86
Closed via #89

[2016-06-13 18:14] #86 closed, assigned to nobody

[2016-06-13 18:24] patrickhlauke commented on #46
Closing, as this will be resolved as soon as the FPWD is published

[2016-06-13 18:24] #46 closed, assigned to nobody

[2016-06-13 19:49] patrickhlauke opened #90 "repo cleanup?"
In the interest of keeping the repo lean and mean...do we need to keep `dc.html` and the `publish` folder? I guess they're more a historical curiosity, particularly as we move ahead now with FPWD?

[2016-06-14 05:30] teddink commented on #32
Regarding the erroneous pointermove with touch - the tracking bug for Edge is here: [https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/6866566/](url)

[2016-06-14 13:18] NavidZ commented on #32
@teddink how about the proposed solution? Did you guys agree with the way it is phrased? Do you see any edge cases that it does not cover?

[2016-06-20 03:43] hayatoito opened #91 "Support Event.composed in Pointer Events"
The context: w3c/webcomponents#513

Could someone give me advice how we should update Pointer Events specification so it considers Event.composed?

Is a Pull Request a recommended way to reflect the conclusion at w3c/webcomponents#513
?

[2016-06-20 12:52] patrickhlauke commented on #90
Any thoughts? Or should I just go ahead and remove the above?

[2016-06-20 12:54] patrickhlauke commented on #91
Yes, a PR (with a bit of explanation in the description) would be great, thanks.

[2016-06-21 03:46] hayatoito commented on #91
Thanks. I have sent a PR: https://github.com/w3c/pointerevents/pull/92

[2016-06-21 15:14] mustaqahmed commented on #75
For the original problem stated here (click target with capturing), I think the current spec wording is fine because we agreed to the UI Event spec definition of click target (= the nearest common ancestor of down & up events). Do we still need a note?

(The other problem I mentioned in the last post is orthogonal to capturing, so I will create a new issue to cover that.)

[2016-06-21 15:19] RByers commented on #75
Yeah I think the current spec text is fine, but we need a test for this case and a bug filed against Edge for that test failing.

[2016-06-21 15:40] mustaqahmed opened #93 "Clarify click event firing for chorded buttons"
The UI Event Spec [says](https://www.w3.org/TR/DOM-Level-3-Events/#event-type-click):

We need to clarify what it means for chorded buttons. For example, should we fire a click in any of these sequences?
1. L-button-down (=> pointerdown),
   M-button-down (=> pointermove),
   L-button-up (=> pointermove),
   M-button-up (=> pointerup).
2. M-button-down (=> pointerdown),
   L-button-down (=> pointe

[2016-06-21 15:48] mustaqahmed commented on #35
Added the following web-platform-tests issue for the missing test:
[Need tests for compat mouse events for multiple pointers](https://github.com/w3c/web-platform-tests/issues/3156).

[2016-06-21 17:15] teddink commented on #75
Edge bug for tracking: [https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/7951882/](https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/7951882/)

[2016-06-21 23:02] pguerrant commented on #29
+1 for adding `pinch-zoom` to the spec.  It is imperative that developers are given a mechanism for disabling browser scroll without affecting the ability to pinch-to-zoom the viewport.  This is not only true when using single-directional scrolling but also when disabling native scrolling completely.

A common use case for this is an element that has its own custom handling of the pan-x and pan-y

[2016-06-21 23:02] pguerrant commented on #565
+1 for adding `pinch-zoom` to the spec.  It is imperative that developers are given a mechanism for disabling browser scroll without affecting the ability to pinch-to-zoom the viewport.  This is not only true when using single-directional scrolling but also when disabling native scrolling completely.

A common use case for this is an element that has its own custom handling of the pan-x and pan-y

[2016-06-22 11:37] patrickhlauke commented on #93
does PE need to define this, or is a reference (or maybe even a non-normative note quoting that extract) to the UI Event Spec sufficient? just asking because `click` itself isn't necessarily part of PE itself, to my mind. and if the UI Event Spec isn't saying anything directly about chorded buttons, should that spec be nudged to do it for us? (i.e. submit a comment/patch/PR to UI Event Spec to inc

[2016-06-22 13:49] mustaqahmed commented on #93
You are right that <code>click</code> is not a core part of PE. But since "chorded buttons" is a PE-specific concept, and the cases I mentioned above involve both <code>click</code> and "chorded buttons", I don't see a way to refer to UI Event Spec to clarify them. On the other hand, since the PE Spec overrides parts of the UI Event Spec, it is logical to override the <code>click</code> definition

[2016-06-22 14:19] RByers commented on #90
I have no idea what those were for - part of the publishing process presumably?  Unless @shepazu has a reason we should keep them, I'd say delete them (can always get them from history of course).

[2016-06-22 14:31] staktrace commented on #29
I'm a little unclear on what it means to allow pinch-zoom without allowing pan-x and pan-y. Most if not all UAs that support pinch-zooming also allow panning around while both fingers are down - would this be disallowed?

Pinch-zooming inherently changes the scroll position, and may do so differently depending on what the focus point of the pinch gesture is. This aspect of pinch-zooming could be c

[2016-06-22 14:31] staktrace commented on #565
I'm a little unclear on what it means to allow pinch-zoom without allowing pan-x and pan-y. Most if not all UAs that support pinch-zooming also allow panning around while both fingers are down - would this be disallowed?

Pinch-zooming inherently changes the scroll position, and may do so differently depending on what the focus point of the pinch gesture is. This aspect of pinch-zooming could be c

[2016-06-22 14:48] RByers commented on #29
@pguerrant I agree this is important, thanks for the articulation!

@staktrace that's exactly right - once a pinch zoom has started, then all panning/zooming is permitted until the fingers lift.  It could certainly be clearer (though possibly not without upsetting lawyers) but I believe it's covered by the definition of touch-action as applying a the "start" of an action.

[2016-06-22 14:48] RByers commented on #565
@pguerrant I agree this is important, thanks for the articulation!

@staktrace that's exactly right - once a pinch zoom has started, then all panning/zooming is permitted until the fingers lift.  It could certainly be clearer (though possibly not without upsetting lawyers) but I believe it's covered by the definition of touch-action as applying a the "start" of an action.

[2016-06-22 15:15] RByers commented on #14
In call today @teddink confirmed that treating the pen as we would a mouse in this case is reasonable.  Mustaq will write a PR for the [tweaks discussed](https://github.com/w3c/pointerevents/issues/14#issuecomment-223039867).

[2016-06-22 15:16] RByers commented on #75
Agreed on the call https://www.w3.org/2016/06/22-pointerevents-minutes.html that we can now close this, remainder of the work is tracked elsewhere (Edge bug and WPT change).

[2016-06-22 15:19] RByers commented on #93
Agreed on the call that we should add a note for this, and that either option is probably OK.  To @teddink to test what Edge does and confirm they're happy with the behavior.  Absent other arguments, we can just spec what Edge is already doing.

[2016-06-22 16:04] RByers commented on #16
Summary: it sounds like everyone agrees that the security risk is pretty low but that sandboxed iframes should have some mitigation to prevent user annoyance due to malicious (eg. attention grabbing) iframes.  So the outstanding question is, is there a minimal mitigation we can apply that doesn't break any reasonable use case that we should just apply universally rather than need to special case s

[2016-06-22 16:14] RByers opened #94 "Add feature detection section"
Discussed on the call today that we should add a non-normative section about suggested feature detection.  Perhaps something like this?

[code]

@patrickhlauke says he'll write up a PR to discuss further.

[2016-06-22 16:27] pguerrant commented on #29
@staktrace @RByers to clarify, yes some panning can occur during a `pinch-zoom` action, but it can only change the scroll position of the viewport, and does not affect the scroll position of any elements below it that are scrollable by virtue of having `overflow:auto` or `overflow:scroll`, i.e. no "scroll chaining" occurs as does during a normal scroll.  As such, I think it makes sense to view suc

[2016-06-22 16:27] pguerrant commented on #565
@staktrace @RByers to clarify, yes some panning can occur during a `pinch-zoom` action, but it can only change the scroll position of the viewport, and does not affect the scroll position of any elements below it that are scrollable by virtue of having `overflow:auto` or `overflow:scroll`, i.e. no "scroll chaining" occurs as does during a normal scroll.  As such, I think it makes sense to view suc

[2016-06-22 17:23] RByers commented on #29
@pguerrant I agree completely - thanks!

[2016-06-22 17:23] RByers commented on #565
@pguerrant I agree completely - thanks!

[2016-06-22 20:02] #90 closed, assigned to nobody

[2016-06-22 20:35] shepazu commented on #90
👍

[2016-06-23 16:59] mustaqahmed commented on #14
ptal. The change in "active button state" needs a careful look: I think I covered all corner cases, but there could be some subtleties.

[2016-06-26 09:40] NekR commented on #94
If v2 will be different than v1 (incompatibilities), how can one detect the new version without UA checks?

[2016-06-26 09:52] patrickhlauke commented on #94
As v1 is only really implemented in IE11 and early versions of Edge, and v2 is effectively a realignment of what Edge does now and what Chrome and Mozilla are targetting, I don't think this will be a huge problem.

[2016-06-26 09:53] patrickhlauke commented on #94
(sorry, accidentally closed this issue by accident)

[2016-06-26 15:15] NekR commented on #94
Okay, just to clear some things.
Imagine my website has support of both mouse and touch events. Now I wan't to add Pointer Events (v2) support because it's better, simpler, etc. So I am doing this:

[code]

Question is: will my Pointer Events v2 implementation be _fully_ compatible with old Pointer Events v1 (IE11/earl Edge) without any hacks/changes?

[2016-06-26 16:03] patrickhlauke commented on #94
As Edge is evergreen, it likely then comes down to: will my code work in IE11. In which case: if the code does rely on anything substantively different as per https://w3c.github.io/pointerevents/#revision-history then you will likely have issues (unless it's one of the changes to the spec that are more clarifications of things that even IE11 already did differently from the nominal Level 1 spec).

[2016-06-27 15:13] RByers commented on #94
Since we don't yet know exactly what breaking changes Level 2 will have, I think it's premature to try to account for this here.  Any breaking changes will be around edge cases, so we almost certainly wouldn't want any sort of master versioned feature detect (not "if (PE Level 2) else if (PE Level 1) ...)".

Instead I think we should discuss feature detection of _specific_ breaking changes along w

[2016-06-27 16:02] teddink commented on #94
I agree with Rick - we have not made any breaking changes yet and it would be easier to discuss them specifically rather than in the abstract. In general, we would certainly seek to avoid them whenever we can.

Microsoft Edge is indeed evergreen and will be the platform and browser application that will receive all functional updates as time marches on. It would be best to think of IE11 as in main

[2016-06-28 09:14] patrickhlauke opened #97 "strange/interesting results for Wacom Intuos Pro hovering clicks"
related to https://github.com/w3c/pointerevents/pull/96/files/a08c5e40f4e3fc537eeebe3cf49f12707e083294#r68673045 i've had a little play with the Wacom Intuos Pro and my demo https://patrickhlauke.github.io/touch/tracker/multi-touch-tracker-pointer-hud.html (which now also includes `button` and `buttons` in the HUD display).

remapping the second barrel button (using Wacom's settings app) to be a "

[2016-06-28 17:04] dfleck commented on #97
“Click” means Left Click.

There’s a reason for the full pressure. If you double click the word Click at the tip of the pen image in the control panel a menu pops up. This allows the tip to be disabled for physically challenged users (tremors causing unwanted tip clicks). They then set a side switch to be the left click (Click). If the tip is disabled then there’s no pressure available, so a Click

[2016-06-28 17:18] scottgonzalez commented on #6
We don't have any cases within jQuery UI where we would need these values, but I've discussed this with @arschmitz (jQuery Mobile lead) and we both think this would be a useful addition.

[2016-06-28 19:17] patrickhlauke commented on #97
@dfleck

Ah, that makes sense.

Yeah I'm putting this down to the settings/driver and how it's mapped in the OS, and whatever the default are set to. Will have to dig a bit deeper into the various options and document which ones have which effect.

I got more where that came from ;) https://patrickhlauke.github.io/touch/ (e.g. https://patrickhlauke.github.io/touch/pen-tracker/ https://www.youtube.

[2016-06-28 19:18] patrickhlauke commented on #97
Closing this as it's not necessarily a PE issue, in hindsight.

[2016-06-28 19:18] #97 closed, assigned to nobody

[2016-06-30 07:12] #91 closed, assigned to nobody

[2016-07-04 14:44] NavidZ opened #98 "What should be the 'detail' property of pointer events?"
From the UI Event spec, mouse events should have 'detail' property set to the click count. Do we expect the same for the pointer events?
Currently both Edge and Chrome set this property to 0 all the time.
I believe either way we need a note to define the value of this property somewhere.

[2016-07-04 14:48] patrickhlauke commented on #98
noob question: what does this `detail` property even mean? click count? (as in what's meant by "click count"?)

(i'm guessing as PE extends mouse events, it doesn't necessarily need to define everything, since it doesn't define all the various `clientX`, `clientY`, `pageX`, `pageY` etc attributes that come from mouse event either)

[2016-07-04 14:57] NavidZ commented on #98
That is correct. It is click count. Alternatively we can say 'detail' is always zero and we can add another property 'clickcount' to pointerevents to make it more clear.

The way it is defined in UI Event is that the particular events like "mousedown", "mouseup", ... and stuff like that have this definition of detail. So although pointerevent is the child of mouseevent structure we still might nee

[2016-07-04 15:05] RByers commented on #98
There's two different types of compat competing here:
1. Compat with Edge's existing behavior: it's possible, thought unlikely, that by setting `detail` to non-zero it could break some websites.
2. Compat between `PointerEvent` and `MouseEvent`: it's possible that having detail=0 is breaking some code originally designed for `MouseEvent`.  Since Edge has presumably always had this behavior, I'm as

[2016-07-04 15:14] patrickhlauke commented on #98
Does Edge actually set anything sensible for `details` in the case of real mouse events? Reading the UI spec, it does smell of a fairly hacky attribute, and I agree that it's doubtful any new code targetting PE would also rely on this attribute (but I might be wrong), so I'd simply quietly ignore it/not mention it.

[2016-07-04 17:52] RByers commented on #98
Yes, Edge appears to match Chrome in this regard.  Eg. on a double tap you get mousedown/mouseup with `detail=1` and then with `detail=2`.

[2016-07-05 15:48] RByers commented on #7
See related tests added in https://github.com/w3c/web-platform-tests/commit/1b243414ac2e98b12bf7f38a65130b015d5f3396

[2016-07-05 21:12] teddink commented on #98
Based on what history we have available to us, we just considered event.detail to be a legacy property, so we matched chrome’s interop of support for mousedown, mouseup, click, dblclick events but didn’t extend further.

We are open to doing the same for pointerup/pointerdown if we think that there is any value to it (which we doubt). We are also open to adding a clickcount property, pending some

[2016-07-05 21:28] RByers commented on #98
Thanks Ted.  Yeah let's not perpetuate the confusing use of `detail` any further.  I do think there are legitimate uses for looking at the click count on `click` today (eg. I worked with one developer trying to detect double-tap - I really didn't want them relying on their own timer).

So let's plan on specifying a new `clickCount` property to replace `detail`, but this can safely be low priority

[2016-07-06 04:54] teddink commented on #93
Here is my sample: [http://output.jsbin.com/yimako](http://output.jsbin.com/yimako)

**TEST 1** - In the blue box, perform the following:
Left click
Middle click
Left release
Middle release

Results on Edge -

pointerdown with button = 0 buttons = 1
pointermove with button = 1 buttons = 5
pointermove with button = 0 buttons = 4
click with button = 0 buttons = 4
pointerup with button = 1 buttons =

[2016-07-06 09:46] patrickhlauke commented on #98
So should we say anything directly in PE Lvl2 about `detail` ? Or just quietly leave it unmentioned?

[2016-07-06 14:17] RByers commented on #98
I think we should explicitly say it should have the value 0 (otherwise it's reasonable to think there's a bug in the existing implementations).

[2016-07-06 14:54] RByers commented on #16
I'm now convinced that, although we should probably do something here, it's probably not urgent.  Likely worst case is user annoyance, and so this only really becomes urgent if frames start abusing this.  Removing the v2-blocking label.

[2016-07-06 15:21] RByers commented on #32
Discussed in the call today.  We'll land this PR (with any minor wording / editorial changes as needed), and Navid will file a new issue tracking the (now smaller) outstanding difference between Edge behavior and the spec.  There are a bunch of subtle details here that we'll continue to iterate on, but this is a step in the right direction (perhaps the minimum change necessary for Chrome to ship a

[2016-07-06 16:15] RByers commented on #93
Discussed on the call today.  We agree this is out of scope of Pointer Events. PE shouldn't be modifying the semantics of when click fires - that's up to UI Events.  @NavidZ is going to file an issue for UI Events saying that it should perhaps add a note clarifying that changes in other (non-primary) buttons is irrelevant.

Note that Chrome still has [a long outstanding bug](https://bugs.chromium.

[2016-07-06 16:15] #93 closed, assigned to teddink

[2016-07-06 17:36] scottgonzalez commented on #29
We now have a bug filed against jQuery UI because of the pinch zoom behavior not working inside a draggable element that uses `touch-action: none`: https://bugs.jqueryui.com/ticket/14993

[2016-07-06 17:36] scottgonzalez commented on #565
We now have a bug filed against jQuery UI because of the pinch zoom behavior not working inside a draggable element that uses `touch-action: none`: https://bugs.jqueryui.com/ticket/14993

[2016-07-06 17:38] RByers commented on #29
Yes, I think this issue is bigger than just direction-specific scenarios.  I think there are scenarios like this where you really want `touch-action: pinch-zoom` instead of `touch-action: none`.  I'll put up a PR that attempts to add this.

[2016-07-06 17:38] RByers commented on #565
Yes, I think this issue is bigger than just direction-specific scenarios.  I think there are scenarios like this where you really want `touch-action: pinch-zoom` instead of `touch-action: none`.  I'll put up a PR that attempts to add this.

[2016-07-06 17:42] teddink commented on #29
Great - thanks Rick. We are still having discussions with our friends that have Esquire in their titles. Hopefully we will have more insights by the facet of face in a couple of weeks. We will also have to take a look at our current charter, which has some exclusions related to this topic in it today.

[2016-07-06 17:42] teddink commented on #565
Great - thanks Rick. We are still having discussions with our friends that have Esquire in their titles. Hopefully we will have more insights by the face to face in a couple of weeks. We will also have to take a look at our current charter, which has some exclusions related to this topic in it today.

[2016-07-06 17:45] RByers commented on #29
Understood.  I'll do my best to word this in a way that doesn't formally invoke anything new.

[2016-07-06 17:45] RByers commented on #565
Understood.  I'll do my best to word this in a way that doesn't formally invoke anything new.

[2016-07-06 18:34] RByers commented on #29
Note that the existing support in Edge doesn't appear to work the way I'd expect to address this issue.  Filed [this bug](https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/8094788/).

[2016-07-06 18:34] RByers commented on #565
Note that the existing support in Edge doesn't appear to work the way I'd expect to address the above issues.  Filed [this bug](https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/8094788/).

[2016-07-06 18:40] teddink commented on #93
I put in this Edge bug for tracking the work to match the Chrome intended implementation: [https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/8095809/](https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/8095809/)

[2016-07-06 23:30] RByers commented on #6
Here's a [different demo](http://jsbin.com/dahaga) designed to be a ultra-simplistic version of what twitter.com is doing for pull-to-refresh in Chrome via touch events.  To do the same thing with pointer events, you really need `touch-action: pan-down`.

[Video of the effect from twitter](https://rbyers.github.io/twitter-p2r.gif)

[2016-07-07 19:39] RByers opened #100 "Should "click", "dblclick" and "contextmenu" events be PointerEvents?"
@dtapuska just noticed that Edge sends `click` as an instance of `PointerEvent`, not just `MouseEvent`.  I think we've agreed before that this was a good idea, but I don't think we've talked about speccing it.

I think we can just add a short section to the PE spec "upgrading" `click` to `PointerEvent`.  Also `dblclick` and `contextmenu`.  @teddink, that's it right?  I didn't check drag events or

[2016-07-07 19:42] RByers commented on #100
By the way, for context: The main reason we've said this is desirable it that sometimes it's useful to know the `pointerType` of a click / contextmenu.  This is similar to, but subtly distinct from, wanting to know [whether the source devices also fires touch events](https://wicg.github.io/InputDeviceCapabilities/) (`sourceCapabilities.firesTouchEvents`).

[2016-07-07 19:43] dtapuska commented on #100
In Edge I tested dragstart and the event fired has a drag prototype and the drag prototype is a mouse event prototype.

[2016-07-07 19:50] NekR commented on #100
I agree, it sounds good to have `click` as a PointerEvent. It'll provide only benefits to web devs.

[2016-07-07 20:20] mustaqahmed commented on #35
@RByers, @teddink: ptal at the PR for a new test.

[2016-07-07 20:55] RByers commented on #35
Test landed here: https://github.com/w3c/web-platform-tests/pull/3276

[2016-07-07 21:08] patrickhlauke commented on #35
Just to check, this whole discussion is the reason why on Android, with a paired bluetooth mouse and Chrome 53 Dev with enabled PE, I get some "interesting" results, right? (or is this a separate weirdness, due to the fact that a mouse on Android also "fakes" touch events?)

https://patrickhlauke.github.io/touch/tests/results/#mobile-tablet-keyboard-mouse-events

moving mouse to my test button: `p

[2016-07-07 21:38] RByers commented on #35
I think it may be related, but it's not the only issue you're seeing.  We also just have a couple (what we've now decided are definitely) [bugs](https://bugs.chromium.org/p/chromium/issues/detail?id=587550) on Chrome for Android with how we [handle mouse](https://bugs.chromium.org/p/chromium/issues/detail?id=468806).  Once we've got those bugs fixed, we should retest this scenario to make sure we

[2016-07-07 22:02] smaug---- commented on #100
contextmenu can be triggered also using keyboard, and click can be the default action for certain key events and click() dispatches MouseEvent click.
So need to define what pointerType should be in each of those cases. Default is "", I guess we could use that for now.

And HTML spec needs a change for click(), somewhere https://html.spec.whatwg.org/multipage/webappapis.html#fire-a-click-event or h

[2016-07-07 22:07] smaug---- commented on #100
Changing HTML spec might be a tiny bit controversial. Other option is to add a hook to the HTML spec where other specs could extends/re-define what kinds of events should be fired for click.

[2016-07-07 22:37] patrickhlauke commented on #100
Does Edge only "upgrade" `click` to a PointerEvent if it was the result of a pointer interaction? And if so, can it perhaps be defined in PE as an extension to the regular click event (leaving the HTML spec untouched)?

[2016-07-07 22:41] smaug---- commented on #100
Would be rather odd to have platform dispatching 'click' as MouseEvent in some cases but as PointerEvent in some other cases. And error prone - event listeners couldn't trust the event to have the same properties each time.

[2016-07-11 15:12] mustaqahmed opened #102 "Current draft: the definitions of tiltY and twist is not visible""
See the definitions of <code>tiltY</code> and <code>twist</code> around Figure 3 [here](https://w3c.github.io/pointerevents/#pointerevent-interface).

I suspect some problem with HTML tags.

[2016-07-11 15:15] mustaqahmed opened #103 "Current draft: the definitions of tiltY and twist are "hidden"!"
The definitions of <code>tiltY</code> and <code>twist</code> around [Figure 3 here](https://w3c.github.io/pointerevents/#pointerevent-interface) are gone even though the text is there in the html source.

Some problem with HTML tags/styles?

[2016-07-11 15:17] patrickhlauke commented on #102
urgh, well spotted. yes, must be some problem in the markup which re-spec then mangles further. i'll have a look

[2016-07-11 15:34] #102 closed, assigned to nobody

[2016-07-11 18:30] teddink commented on #61
I have some initial data that we can analyze more deeply. Here is what I did - I grabbed the top 200 sites form our usetracker data that use pointer events. I then did static analysis from crawler data to find sites that had the text `setpointercapture`, `gotpointercapture`, and `lostpointercapture`. I then did searches across the usertrackerdata to figure out what sites both used pointer events A

[2016-07-11 18:30] teddink commented on #566
I have some initial data that we can analyze more deeply. Here is what I did - I grabbed the top 200 sites form our usetracker data that use pointer events. I then did static analysis from crawler data to find sites that had the text `setpointercapture`, `gotpointercapture`, and `lostpointercapture`. I then did searches across the usertrackerdata to figure out what sites both used pointer events A

[2016-07-11 18:32] teddink commented on #61
Oops - did not mean to close the issue - reopening.

[2016-07-11 18:32] teddink commented on #566
Oops - did not mean to close the issue - reopening.

[2016-07-12 18:43] mustaqahmed commented on #103
Ooops, looks like I somehow created the same issue twice! See #102.

[2016-07-12 18:43] #103 closed, assigned to nobody

[2016-07-12 18:53] patrickhlauke commented on #88
randomly... @teddink any idea how the original images were created? 3DSMax, other?

[2016-07-12 18:56] teddink commented on #88
Nope - well before my time. @jacobrossi perhaps?

[2016-07-13 01:54] #58 closed, assigned to nobody

[2016-07-13 08:25] #14 closed, assigned to mustaqahmed

[2016-07-13 15:19] RByers commented on #7
Discussed in the call today - getting the wording of this right within the charter of PEWG is difficult.  Since we're talking about a behavior that's present only when `TouchEvent` is supported, let's put the actual definition into the TouchEvent spec instead (w3c/touch-events#70).  Then this issue tracks adding a non-normative note to the PE spec to link to the TouchEvent spec.

[2016-07-13 15:42] RByers opened #106 "Should DragEvent be upgraded to a PointerEvent?"
Split off from #100.  Unlike `click` etc., Edge still uses `MouseEvent` for `dragstart` etc.

[2016-07-13 15:42] RByers commented on #100
[Looks like](https://msdn.microsoft.com/en-ca/library/ms536914%28v=vs.85%29.aspx) IE has had some version of this back to IE11.  After some discussion it sounds like the design we think makes the most sense is:
- All UA-generated `click`, `dblclick`, `contextmenu` events would be of type `PointerEvent`, with properties that match the corresponding pointer events (eg. `pointerType`, `isPrimary`).
-

[2016-07-13 16:03] smaug---- commented on #106
MouseEvent for dragstart? Are you sure about that? Wouldn't dnd be rather broken if DragEvent wasn't used.
Isn't upgrading existing events actually a bit regression risky. That changes the prototype chain.
Though, I guess we want to support dnd somehow using touch.

[2016-07-13 16:14] RByers commented on #32
In the call today @NavidZ raised a good question: what should the `PointerEvent` properties be for these events?  Using the values from the previous pointer event could make sense, but would be problematic - eg. the client/page co-ordinates may be inconsistent with the current scroll offset (which may have changed since the last event was generated).  Options I see:
1. All pointer properties other

[2016-07-13 16:16] RByers commented on #106
Sorry, what I meant to say is that `DragEvent` inherits just from `MouseEvent`, not `PointerEvent`.

Yes, there's definitely some compat risk here.  Is it much worse than in #100 though (which apparently Edge has already shipped without issue)?

[2016-07-14 00:58] jacobrossi commented on #100
I think this is roughly what we implemented yes.  I think we also want PointerEvent for your "auxclick" proposal which currently uses MouseEvent (e.g. https://github.com/NavidZ/auxclick/issues/6).

[2016-07-14 01:07] jacobrossi commented on #100
FYI - here's the old thread on this http://lists.w3.org/Archives/Public/public-pointer-events/2013JanMar/0081.html

:-)

[2016-07-14 02:54] RByers commented on #100
Nice, thanks! I thought this was just something we chatted about.  I assume you never took that step of proposing spec changes?

[2016-07-14 13:54] RByers commented on #8
@mustaqahmed just had a good suggestion.  If we do implicit pointer capture in some cases, we should define it such that when an explicit `setPointerCapture` occurs during a `pointerdown` listener (the common capture case), there ends up being only a single `gotpointercapture` event (not one `got` for the implicit, then a `lost` and `got` for the explicit).

[2016-07-14 14:02] scottgonzalez commented on #8
I hadn't thought through that scenario, but the suggestion makes sense and is definitely what I would have expected as a user of the API.

[2016-07-14 14:46] NavidZ commented on #32
Regarding the attributes of lost/gotpointercapture and the behavior of Edge here is what I found:
lostpointercapture attributes are always set to default except the pointerId. Even an attribute like primary is set to false for a mouse device.

gotpointercapture is always set to the pointerdown attributes if it was fired right after pointerdown.
If it is fired right before the synthetic pointermove

[2016-07-14 15:52] jacobrossi commented on #88
Pretty sure it was SketchUp.  Will search for the originals.

[2016-07-14 16:57] teddink commented on #8
Makes perfect sense to me - having multiple events would be confusing and could cause other issues for interop if the implementations diverge for a time while we wait for ship vehicles and ship dates.

[2016-07-14 17:47] mustaqahmed opened #107 "PointerEvents should have fractional coordinates"
PointerEvent spec doesn't override the [MouseEvent spec definition](https://www.w3.org/TR/DOM-Level-3-Events/#interface-MouseEvent) of <code>(clientX, clientY)</code> and <code>(screenX, screenY)</code> coordinates: all of them are integers. In Edge, PointerEvents (and not MouseEvents) have fractional client coordinates even though screen coordinates are always integers.

Chrome follows the spec b

[2016-07-14 17:55] scottgonzalez commented on #107
+1 for all fractional values

[2016-07-14 18:19] patrickhlauke commented on #107
i'd be for changing those to `float`, unless there's some compat risk? @teddink ?

[2016-07-14 22:32] teddink commented on #107
I agree with changing them to float for consistency reasons. I am not overly concerned about compat risks since we have had fractional values for those devices that support it for `deviceX/Y` for quite some time.

On the other hand, we are fairly sure that the underlying system does not provide fractional values for `screenX/Y`.

What's happening is that `screenX` directly takes the value passed t

[2016-07-15 12:34] staktrace commented on #107
I'm in favor of making everything (including screenX/Y) float where feasible, for the simple reason that it's easy to always provide int values even if the type is spec'd as float, but not so the other way around. Also for example on some Firefox OS devices we had hardware actually reporting subpixel-valued touch events, and if we ever want to expose that level of precision to content then it make

[2016-07-19 09:04] DavidMacDonald opened #109 "typo"
pontermove

in note in section 5.1.1.2

[2016-07-19 09:13] #109 closed, assigned to nobody

[2016-07-19 09:16] DavidMacDonald opened #111 "typo"
pontermove

in note in section 5.1.1.2

[2016-07-19 09:20] DavidMacDonald opened #112 "Red text on dark blue background hard to see"
It has a colour contrast of 1.3:1 Consider putting  white behind it or something.

![2016-07-19_5-18-36](https://cloud.githubusercontent.com/assets/2365411/16944858/74437974-4d70-11e6-926a-30a2203cb298.png)

[2016-07-19 10:05] patrickhlauke commented on #111
duplicate of https://github.com/w3c/pointerevents/issues/109

[2016-07-19 10:05] #111 closed, assigned to nobody

[2016-07-19 13:54] scottgonzalez commented on #112
I believe this is a change that needs to be made in ReSpec, not in this repo.

[2016-07-19 14:52] patrickhlauke commented on #112
indeed, those styles come from/are injected by respec - filed https://github.com/w3c/respec/issues/877

[2016-07-19 14:52] #112 closed, assigned to nobody

[2016-07-20 20:02] mustaqahmed commented on #100
Any chance click coordinates could be an issue if PointerEvent coordinates are all fractional (#107)? Any idea how frequent is coordinate-equality-checks with integers, like <code>if (e.clientX == 20) ...</code>?

[2016-07-21 16:39] mustaqahmed opened #113 "Attributes of lost/gotpointercapture events fired immediately on set/release capture"
This is blocked on #32. I am creating this new issue because @NavidZ's [comment](https://github.com/w3c/pointerevents/issues/32#issuecomment-232687047) there needs a bit more attention.

Since Edge is not delaying <code>lostpointercapture</code>/<code>gotpointercapture</code> in some cases and Chrome will be following a similar approach soon, the attribute values for, say, <code>button</code> or <

[2016-07-22 17:33] staktrace opened #115 "Clarify what touch-action allows with rotated scrollable elements"
I think the spec is unclear on what the intended behaviour is for elements which have rotation transforms on them. For example on [this test page](https://people.mozilla.org/~kgupta/examples/w3c-pe-114.html) Chrome allows scrolling while your finger is moving in the "x" direction, even though that means the element is scrolling vertically (the scrollTop value is changing). While that's a reasonabl

[2016-07-22 20:36] patrickhlauke commented on #115
The spec currently says

wondering if dropping the "In the case..." bit, and simply stating that "The direction..." relates to the (document-level?) screen co-ordinate space, would help clarify the situation here? (this, would then also explain Chrome's behavior)

[2016-07-25 01:02] RByers commented on #100
Sure, there's a chance it could be an issue.  What does Edge do?  In the absence of any known issue, I'd just say we should try it.

[2016-07-25 01:23] RByers commented on #115
Thanks for reporting this!  We discussed this a bit [here](https://lists.w3.org/Archives/Public/public-pointer-events/2015AprJun/0048.html) but I was sloppy.  There's two things being conveyed by this sentence:
1. All directions should be interpreted relative to the "screen" co-ordinate space.
2. Up/down/left/right represent the opposite direction of finger travel (i.e. typically the direction in

[2016-07-25 14:26] RByers commented on #8
For reference this automatic capturing behavior is defined for **iOS** [here](https://developer.apple.com/library/ios/documentation/EventHandling/Conceptual/EventHandlingiPhoneOS/event_delivery_responder_chain/event_delivery_responder_chain.html), in particular:

**Android** is more complex and less well documented. The best overview I've been able to find is [here](https://newcircle.com/s/post/15

[2016-07-26 14:34] RByers commented on #98
Let's leave this open until the tests have also been updated.

[2016-07-26 14:38] NavidZ commented on #98
Yup. I'm working on the test in this issue.
https://github.com/w3c/web-platform-tests/issues/3349

[2016-07-26 14:40] RByers commented on #98
Ah, thanks.  IMHO it's not worth opening separate issues in web-platform-test, we should just get in the habit of having a single issue here for spec+test changes.

[2016-07-26 14:41] NavidZ commented on #98
Sure. I'll do that for the future tests.

[2016-07-26 16:02] staktrace commented on #115
I guess we can discuss it F2F but I just tried this on Edge as well and it does the same thing that FF does (i.e. different from Chrome).

[2016-07-26 19:09] RByers opened #117 "Update tap event order list for single logical mouse pointer"
For #35 I think we didn't update the note in [section 11.3](https://w3c.github.io/pointerevents/#mapping-for-devices-that-do-not-support-hover).  Eg. I think:
- pointerover
- mouseover
- pointerenter
- mouseenter

Should be replaced with:
- pointerover
- pointerenter
- mouseover
- mouseenter

[2016-07-26 23:35] RByers commented on #100
Andrew (Edge team) says that they had to special case `click` for pointerType=mouse to work around an issue with a Microsoft Ajax framework.  See discussion in [hackathon notes](https://docs.google.com/document/d/1b8aJOJcGXakstFJslKl87QwvlFHhHwGbQfJwnUTBBHg/edit#).  But happy to try and see if we can get away without this hack.

Repro from original Edge bug:
- Open https://pptform.state.gov/ in Sp

[2016-07-26 23:41] RByers commented on #107
Discussed in the hackathon that Edge's behavior with `screenX/Y` is a bug - it's using physical pixels instead of CSS px units.  Andrew (Edge) has a bug to fix this, then it will be fractional too.

[2016-07-26 23:59] RByers opened #118 "Clarify duration of pointer event suppression during a touch action"
[The spec](https://w3c.github.io/pointerevents/#the-touch-action-css-property) says:

Edge implements this by suppressing all pointer events as long as the touch-action is in progress, including momentum that follows (so repeated flicks on the same element don't send additional pointerdown).  Chrome implements this only until the next time a finger goes down.  Consider something like "subsequent t

[2016-07-27 00:05] RByers commented on #29
Discussed at the hackathon - the bug was mobile-specific, works fine in desktop.

[2016-07-27 00:05] RByers commented on #565
Discussed at the hackathon - the bug was mobile-specific, works fine in desktop.

[2016-07-27 04:38] RByers commented on #6
blink [Intent-to-ship](https://groups.google.com/a/chromium.org/forum/#!topic/blink-dev/bcD93CiIJHE).

I think all that's left for this bug is to add some web platform tests to validate the behavior (both parsing and automated input).  @dtapuska can you own, or find someone else to own that?  It may be simpler to write some new more concise touch-action tests to replace the existing ones, or we ca

[2016-07-27 05:45] RByers commented on #118
Andrew points out that the Edge behavior also generally results in a better user experience.  When you're doing a sequence of many flicks, if you happen to accidentally hit a touch-action:none region you really don't expect the scroll to grind to a stop.

[2016-07-27 05:46] RByers commented on #118
[Blink bug to match Edge behavior](https://bugs.chromium.org/p/chromium/issues/detail?id=631899).

[2016-07-27 11:03] patrickhlauke commented on #117
does this also affect the out/leave events in light of https://github.com/w3c/pointerevents/pull/56 ?

[2016-07-27 23:26] RByers commented on #32
Discussed this at the hackathon and Alexander (Edge dev) said that he'd prefer they just try to rip out their "bug fix" that caused immediate gotpointercapture.  The principle here is that it doesn't matter who has capture until another input event arrives, so the simplest design would be to just always delay.  Although we'd probably still want to say that `lostpointercapture` fires immediately in

[2016-07-27 23:58] RByers commented on #113
Discussed this at the hackathon.  We agree it probably doesn't really matter, but assuming we go with the delayed design (#32) then the simplest / least surprising thing to do is to just copy all the properties from the pointer event that triggered the sending of the lost/got event.  There may still be some cases where a `pointercancel` event has default values, and those get copied into the `lost

[2016-07-28 02:46] NavidZ commented on #32
That sounds perfect to me. As I told you before having the delay all the time is the cleanest solution. As long as Edge folks agree that developers may not expect the immediate signal for these two and particularly that special case in Edge we should be good. So I guess there are a few tests (at least their description) we need to update to reflect this.

[2016-07-28 14:56] NavidZ commented on #113
Sounds good. Do you like to explicitly call that out about got/lostpointercapture in the spec that their attributes need to be the same as the PointerEvent that caused them to be processed? Note that currently Edge doesn't do that for lostpointercapture. Were the Edge folks okay with this to change lostpointercapture?

[2016-07-28 15:43] RByers commented on #8
Here's a summary of the argument and data I presented on this at the [implementation hackathon](https://docs.google.com/document/d/1b8aJOJcGXakstFJslKl87QwvlFHhHwGbQfJwnUTBBHg/edit#):

We (Chrome team) feel apps being able to deliver reliable 60fps JS-driven dragging on mobile devices is essential for the web to effectively compete with native mobile platforms.  In such scenarios there's 16ms per

[2016-07-28 16:02] RByers opened #120 "Explore unifying web-platform-test automation logic"
Each PointerEvent implementation relies on it's own set of scripts that define how to automate the "manual" web-platform-tests.  From discussion at [the hackathon](https://docs.google.com/document/d/1b8aJOJcGXakstFJslKl87QwvlFHhHwGbQfJwnUTBBHg/edit) there is interest in trying to define a standard API to unify these and make these tests truly automated without needing per-vendor scripts.
- [chromi

[2016-07-28 16:04] RByers commented on #113
Yes, I think we should call this out in the spec and include testing for it.  Edge devs indicated it was a reasonable change for them to make.

[2016-07-28 16:06] RByers commented on #32
Thanks.  Yep, we need to add the language for the `pointerup`/`pointercancel` case to fire `lostpointercapture` immediately, and update some tests.  Sorry that I was arguing firing immediately was better, Alex convinced me there really should not be any need.  They dug some more into the bug that caused them to do that for `pointerdown` and believe it shouldn't apply anymore (probably was some Win

[2016-07-28 16:11] RByers commented on #8
Also we discussed at the hackathon that the best way to proceed on this was probably to create a spec branch that includes the changes we want for this (implicit capture for touch and the "capture circumvents hit-testing" in w3c/pointerevents#566).  We have some PRs all ready, but it'll be easiest to discuss / tweak if we just keep these changes in a branch in this repo for now (with the same revi

[2016-07-28 16:33] RByers commented on #107
Note that [CSS OM View already updates MouseEvent](https://drafts.csswg.org/cssom-view/#extensions-to-the-mouseevent-interface) to define the co-ordinates as fractional.  Once implementations have aligned on this, I'm sure we can get it moved into the UI Events spec.  If, for web compat, we have to say that `mouse*` events always truncate, that's fine - then our spec can clarify that `pointer*` ev

[2016-07-28 16:53] RByers commented on #6
Note that we [discussed this feature at the hackathon](https://docs.google.com/document/d/1b8aJOJcGXakstFJslKl87QwvlFHhHwGbQfJwnUTBBHg/edit).   Although it'll probably be over a year before Edge can implement, they're [OK with the design](https://developer.microsoft.com/en-us/microsoft-edge/platform/status/touchactionpanuppandownpanleftpanrightcssproperties).

We noticed a subtle difference with w

[2016-07-28 17:33] RByers opened #121 "Add Element.hasPointerCapture API"
As [discussed at the hackathon](https://docs.google.com/document/d/1b8aJOJcGXakstFJslKl87QwvlFHhHwGbQfJwnUTBBHg/edit#), if  we end up going with the reduced hit-test model (#8) then there may be scenarios where some library will want behave differently depending on whether the pointer has been captured, without actually changing the capture itself.

For example, some analytics libraries track "use

[2016-07-28 20:22] teddink commented on #32
I added the following bug for tracking this in Edge: [https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/8315531/](https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/8315531/)

[2016-07-28 20:28] teddink commented on #113
I added this bug for Edge tracking: [https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/8315611/](https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/8315611/)

[2016-07-29 00:56] RByers opened #123 "Standardize CSS pseudoclass behavior for touch"
`:hover`/`:active` CSS pseudoclasses are well defined and mostly interoperable for mouse input.  But behavior differs radically for touch.

Scenarios that should perhaps be supported across all pointer types with some style:
1. Will the element be clicked on lift.   This is `:hover:active` in Chrome today and in Edge when touch events are disabled, no built-in solution on Edge with touch events en

[2016-07-29 01:21] RByers opened #124 "How to determine when a tap is impossible"
Some sites rely on the first `touchmove` event as an indicator that a tap is no longer possible and scrolling is about to begin.  Eg. to clear a depressed state on a button from JS, or to drive custom scrolling without triggering accidentally on tap.

I see that Edge sends `pointermove` events during a tap when there is a little wiggle.  This must mean that pointer-event-driven carousels would som

[2016-07-29 04:29] #7 closed, assigned to NavidZ

[2016-07-29 05:39] RByers commented on #115
We discussed this at the hackathon, and realized that the Edge/Gecko behavior really is necessary.  Imagine a page with a carousel that must allow horizontal dragging (so `pan-y`) hosted in a rotated iframe.  The carousel will no longer work.  So screen co-ordinate space really is wrong.

What is the right co-ordinate space then, is it client?  I.e. should a CSS rotated DIV also behave like a rota

[2016-07-29 05:43] RByers commented on #115
Note that fully supporting this behavior (eg. arbitrary angle rotation) will be hard in Chrome's architecture (I don't think we handle non-axis-aligned scrolling well at all).  In particular, we filter our gestures for touch-action in the browser process before we know anything about the content under the finger.  But I think we could probably do a quick hack for the 90/180/270 rotation cases (tak

[2016-07-29 08:08] patrickhlauke commented on #115
document perhaps? (assuming that the iframe's content counts as its own document)

I'd say no, but I can see how that may be confusing. But if we said that it's document, it should be clear (maybe with extra clarification) that this is unaffected by any rotation etc.

[2016-07-29 09:04] patrickhlauke commented on #123
IANAL, but wondering out loud if any of this is somehow bogged down in proprietary implementation/IPR issues

[2016-07-29 14:31] staktrace commented on #115
I would rather be consistent between divs and iframes, so use "client" coordinate space. I'm not sure if there's any value to allowing off-kilter scrolling (i.e. what Chrome does now if you have a div rotated to 45 degrees). Also, the argument for iframes (that a carousel hosted in a rotated iframe should behave sanely) applies to divs as well, in that somebody might be using a library to build a

[2016-07-29 17:05] RByers commented on #121
I think the precise definition of this should be (roughly): "if the pending pointer capture target override for this pointerId is set and equals the element on which this method was invoked, return true.  Otherwise return false".

In particular, we want "pending" because:
- Implicit capture should behave the same as an explicit capture in a pointerdown handler (eg. we want only one `gotpointercapt

[2016-07-29 17:17] RByers opened #125 "Could we ever do implicit capture for all pointer types?"
In #8 we're discussing doing implicit capture for touch.  At the hackathon we discussed the "crazy" idea of doing implicit capture for all pointer types and agreed it would almost certainly be too breaking to change long-standing mouse event behavior (and any other option we could think of would be fraught with problems).

But I'm still wondering if there might still be some long-term path here (i

[2016-07-29 17:18] RByers commented on #8
Split the discussion of changing mouse behavior out to w3c/pointerevents#125 - if we take a long-term approach to that (as opposed to this v2-blocking bug) then maybe it's only a little insane?

[2016-07-29 17:23] NavidZ commented on #121
That sounds good. One thing I couldn't quite understand was the usecase of this. Regarding the hit-testing on pointermove I believe they can always add move handlers to the document and then they will always get that pointermove and they can do their own hit-testing.
For the other scenario how would one library get that pointerId in the first place? I guess this is discussed in more detail during

[2016-07-29 17:28] RByers commented on #121
The use case is certainly week - we're not sure this is high value, but we thought it might help reduce the risk of having implicit capture for some pointers and not others, and was simple and straight forward enough that there seemed little harm.

But let me try to explain the case I came up with a little better.  Yes such a library would have `pointermove` handlers on the document where they'd w

[2016-07-29 19:23] patrickhlauke commented on #125
not tried the extension, but: would this sort of thing not break UA behavior like dragging a link to the desktop on windows to create a shortcut and similar?

[2016-07-29 19:24] patrickhlauke commented on #8
happy to have it done in a branch, yes...would help to be able to see the proposed stuff in context

[2016-07-29 19:32] RByers commented on #125
Not necessarily, I think we could have the built-in drag-and-drop still work when captured.  More challenging is perhaps HTML5 DnD APIs.  [That](http://www.html5rocks.com/en/tutorials/dnd/basics/)  appears to still work with the extension, but probably only because we still have the boundary events (not yet modifying hit-test during capture for mouse).

Here's one possible compromise that's more r

[2016-07-29 19:33] scottgonzalez commented on #121
That sounds correct to me as well.

[2016-07-29 19:39] teddink commented on #125
We would have to do the same for touch drag and drop as well - Edge now support touch based cross process drag and drop as well.

[2016-07-29 19:41] RByers commented on #125
Yep but you need a long press gesture to trigger that, right?  Just dragging with touch is not enough to trigger drag and drop.

[2016-07-29 19:50] teddink commented on #125
Yep - true enough - long press is needed before the draggable item is "captured" to the touch point for dragging.

[2016-08-01 13:57] RByers opened #126 "How best to inflate hit targets for touch?"
What's our best advice / sample for how to make the hit targets for touch larger than that for mouse?

I'm working with an internal Google customer whose doing this already for `touch`+`mouse` events, it's not clear how much harder `pointer` events make this.  I'll add more details later once I better understand the scenario.  It's also possible that the main problem here is that we don't do any "

[2016-08-01 14:09] patrickhlauke commented on #126
Unless I'm missing something, this doesn't feel like a spec issue, but more a specific implementation (for the web content author, not UA authors)? i.e. integrating things like [what-input.js](https://github.com/ten1seven/what-input) and adapting target sizes?

or is this about spec'ing explicitly how UAs can fake/retarget coarse pointer input automagically? personally, i'm not a fan of automagic

[2016-08-01 14:58] RByers commented on #126
Yeah I'm not sure we'd make much change to the spec for this.  I was thinking maybe we might want an option in the future for explicitly inflating hit targets for touch (maybe as an `eventListenerOption`), but that's out of scope of our charter so this probably isn't the right group.  But I do think our group should have an opinion (perhaps a sample) on the advice we'd give people for how to write

[2016-08-02 15:12] #121 closed, assigned to RByers

[2016-08-02 18:42] RByers commented on #8
Created the [reduce-hit-tests branch](https://github.com/w3c/pointerevents/tree/reduce-hit-tests) and wrote an initial PR for it: w3c/pointerevents#129.  Once this PR lands, I'll update the main README.md to mention the branch and contain a link to that version as well.

[2016-08-04 11:28] patrickhlauke commented on #88
though it's super low priority...i've got sketchup all installed and ready to go ;)

[2016-08-05 04:30] mingchou commented on #32
In the case that captures pointers when pointerdown, releases pointer capture when receiving gotpointercapture, and then user click the element, the expected event sequence shall be
    pointerdown
    gotpointercapture
    pointerup
    lostpointercapture
Is my understanding correct?

[2016-08-05 14:21] NavidZ commented on #32
Yes. We also have a test for this scenario
https://github.com/w3c/web-platform-tests/blob/master/pointerevents/pointerevent_lostpointercapture_is_first-manual.html

however, the test currently matches the old expectation and we need to update it to match what you said.

[2016-08-05 17:50] NavidZ opened #131 "Incorrect movementX/Y in PointerEvents"
It seems that non of the implementations of Chrome and Edge conforms with the definition of movementX/Y attributes and they are always 0 in those implementations for PointerEvents as oppose to compat MouseEvents.

https://developer.mozilla.org/en-US/docs/Web/API/MouseEvent/movementX
https://w3c.github.io/pointerlock/#widl-MouseEvent-movementX

I was wondering since PointerEvents are MouseEvents do

[2016-08-05 17:50] NavidZ opened #567 "Incorrect movementX/Y in PointerEvents"
It seems that non of the implementations of Chrome and Edge conforms with the definition of movementX/Y attributes and they are always 0 in those implementations for PointerEvents as oppose to compat MouseEvents.

https://developer.mozilla.org/en-US/docs/Web/API/MouseEvent/movementX
https://w3c.github.io/pointerlock/#widl-MouseEvent-movementX

I was wondering since PointerEvents are MouseEvents do

[2016-08-05 19:09] #94 closed, assigned to patrickhlauke

[2016-08-05 19:26] patrickhlauke commented on #131
i think the larger (and more philosophical) question is: what's the relationship between Pointer Events and the Pointer Lock API. can pointer events be locked this way? Only pointer events of `pointerType="mouse"` (as touch and stylus are still bound by the physical boundaries of the screen/digitizer, so unlike mouse can't be moved indefinitely/arbitrarily)? Or does it just apply to the compat mou

[2016-08-05 19:26] patrickhlauke commented on #567
i think the larger (and more philosophical) question is: what's the relationship between Pointer Events and the Pointer Lock API. can pointer events be locked this way? Only pointer events of `pointerType="mouse"` (as touch and stylus are still bound by the physical boundaries of the screen/digitizer, so unlike mouse can't be moved indefinitely/arbitrarily)? Or does it just apply to the compat mou